Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'

clarifying table title for image differences, threshold
  jwst/regtest/st_fitsdiff.py
Labels: regression_testing

TST: No more Invalid interval warnings for these tests
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/msaflagopen/tests/test_msa_open.py
Labels: testing, msa_flagging

Turn all invalid interval warning into error.
  jwst/msaflagopen/msaflag_open.py
  pyproject.toml
Labels: installation, msa_flagging

Add change log
  changes/9412.msaflagopen.rst
Labels: none

Set stpipe dependence to github main now that PR making standalone steps run by default has been merged
  pyproject.toml
Labels: installation

[SCSB-205] `project.license.file` -> `project.license-files`
  pyproject.toml
Labels: installation

Add tests for problems, some small cleanup per Melanie review
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
Labels: testing

update make_empty_recarray
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
Labels: testing

move to datamodels
  jwst/datamodels/flat_multispec.py
  jwst/datamodels/tests/test_flat_multispec.py
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
Labels: testing, datamodels

Fix default dtypes and make_empty_recarray improvements
  jwst/datamodels/utils/__init__.py
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
Labels: testing, datamodels

Integrate changes to utils into calwebb_spec3
  jwst/datamodels/utils/__init__.py
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: testing, datamodels, pipeline, spec3 pipeline

improving table report
  jwst/regtest/st_fitsdiff.py
Labels: regression_testing

Adding support for BUNIT!=MJy/sr to tso_photometry
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

Properly handling GainModel for subarrays
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

Tweaking bunit_data handling in tso_photometry
  jwst/tso_photometry/tso_photometry.py
Labels: tso_photometry

Change all call structures to work with is_vector
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
Labels: testing, datamodels

Implementing STFITSDiff for our regression tests instead of FITSDiff to improve reports.
  changes/9414.regression_testing.rst
Labels: none

typo
  jwst/datamodels/utils/flat_multispec.py
Labels: datamodels

Delete changes/9414.regression_testing.rst
  changes/9414.regression_testing.rst
Labels: none

Implementing STFITSDiff for our regression tests instead of FITSDiff to improve reports.
  changes/9414.regtest.rst
Labels: none

Delete changes/9414.regtest.rst
  changes/9414.regtest.rst
Labels: none

Implementing STFITSDiff for our regression tests instead of FITSDiff to improve reports.
  changes/9414.general.rst
Labels: none

Add unit copying utility + test
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
Labels: testing, datamodels

JP-3858-scripts (#9290)
  .pre-commit-config.yaml
  .ruff.toml
  jwst/scripts/__init__.py
  jwst/scripts/adjust_wcs.py
  jwst/scripts/asn_edit.py
  jwst/scripts/asn_gather.py
  jwst/scripts/asn_make_pool.py
  jwst/scripts/collect_pipeline_cfgs.py
  jwst/scripts/pointing_summary.py
  jwst/scripts/schemadoc.py
  jwst/scripts/set_telescope_pointing.py
  jwst/scripts/set_velocity_aberration.py
  jwst/scripts/stfitsdiff.py
  jwst/scripts/v1_calculate.py
  jwst/scripts/world_coords.py
  pyproject.toml
Labels: installation, FGS

Add unit handling
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
  jwst/pipeline/calwebb_spec3.py
Labels: testing, datamodels, pipeline, spec3 pipeline

fourth round of review updates
  jwst/associations/asn_edit.py
  jwst/associations/asn_gather.py
  jwst/associations/association.py
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/load_as_asn.py
  jwst/associations/main.py
  jwst/associations/tests/data/__init__.py
Labels: testing, associations

bugfix
  jwst/regtest/st_fitsdiff.py
Labels: regression_testing

bugfix
  jwst/scripts/stfitsdiff.py
Labels: none

Ensure exposures with fewer sources have fewer rows
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: testing, pipeline, spec3 pipeline

Handle default table values
  jwst/pipeline/calwebb_spec3.py
Labels: pipeline, spec3 pipeline

Add basic unit test for c1d save
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: testing, pipeline, spec3 pipeline

Index by exposure_number instead of by filename
  jwst/extract_1d/extract.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: testing, extract_1d, pipeline, spec3 pipeline

try to exclude py files in data, delete nbs
  jwst/associations/lib/tests/__init__.py
  jwst/associations/tests/data/asn_rules_set1.py
  jwst/associations/tests/data/asn_rules_set2.py
  jwst/associations/tests/data/dms_rules.py
  jwst/associations/tests/data/rules_basic.py
  jwst/associations/tests/data/rules_level3_set1.py
  jwst/associations/tests/data/rules_level3_set2.py
  jwst/associations/tests/notebooks/all_exp_types.ipynb
  jwst/associations/tests/notebooks/ami.ipynb
  jwst/associations/tests/notebooks/asn_from_list.ipynb
  jwst/associations/tests/notebooks/background.ipynb
  jwst/associations/tests/notebooks/callbacks.ipynb
  jwst/associations/tests/notebooks/case.ipynb
  jwst/associations/tests/notebooks/constraints.ipynb
  jwst/associations/tests/notebooks/fix_columns.ipynb
  jwst/associations/tests/notebooks/force_asns_from_pools.ipynb
  jwst/associations/tests/notebooks/imprint.ipynb
  jwst/associations/tests/notebooks/io.ipynb
  jwst/associations/tests/notebooks/level3_candidates.ipynb
  jwst/associations/tests/notebooks/list_constraints.ipynb
  jwst/associations/tests/notebooks/lv2_candidates.ipynb
  jwst/associations/tests/notebooks/lv2_v1_to_v2.ipynb
  jwst/associations/tests/notebooks/make_tests.ipynb
  jwst/associations/tests/notebooks/mapreduce.ipynb
  jwst/associations/tests/notebooks/nod_background.ipynb
  jwst/associations/tests/notebooks/orphaned.ipynb
  jwst/associations/tests/notebooks/performance.ipynb
  jwst/associations/tests/notebooks/product_name_refactor.ipynb
  jwst/associations/tests/notebooks/random_debugging.ipynb
  jwst/associations/tests/notebooks/test_tests.ipynb
  jwst/associations/tests/notebooks/validity.ipynb
  jwst/associations/tests/notebooks/wfsc.ipynb
  jwst/associations/tests/notebooks/wfss.ipynb
Labels: testing, associations, Wide Field Slitless Spec (WFSS)

Add filename, exposure number to output metadata
  jwst/pipeline/calwebb_spec3.py
Labels: pipeline, spec3 pipeline

Add JP-3751 keywords to output models
  jwst/extract_1d/extract.py
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: testing, extract_1d, pipeline, spec3 pipeline

JP-3986 - Add tests for persistence step
  jwst/persistence/tests/test_persistence.py
Labels: testing, persistence

Mark test for bigdata so unit tests don't run it
  jwst/regtest/test_nircam_persistence.py
Labels: regression_testing, NIRCAM

WIP: Add regression test for persistence step
  jwst/regtest/test_nircam_persistence.py
Labels: regression_testing, NIRCAM

JP-3986: Add regression test for persistence step
  jwst/regtest/test_nircam_persistence.py
Labels: regression_testing, NIRCAM

Add changelog
  changes/9419.persistence.rst
Labels: none
