Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

Delete jwst/lib/tests/stp_v1.py
  jwst/lib/tests/stp_v1.py
Labels: testing

Revert addition of G004
  .ruff.toml
Labels: none

JP-3912: Modify some tests for steps that are skipped by default
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise_step.py
  jwst/emicorr/tests/test_emicorr.py
Labels: testing

Remove unused datamodel from test
  jwst/emicorr/tests/test_emicorr.py
Labels: testing

updates to unit tests
  jwst/cube_build/cube_build.py
  jwst/cube_build/tests/test_configuration.py
  jwst/cube_build/tests/test_cube_build_step.py
Labels: testing, cube_build

updates
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

update to unit tests
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/tests/test_cube_build_step.py
  jwst/cube_build/tests/test_miri_cubepars.py
  jwst/cube_build/tests/test_nirspec_cubepars.py
  jwst/cube_build/tests/test_wcs.py
Labels: testing, cube_build, MIRI, NIRSPEC

updates
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

updates from code style changes
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/tests/test_configuration.py
  jwst/cube_build/tests/test_cube_build_step.py
Labels: testing, cube_build

updates
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

update
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

first round of changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/cube_build/__init__.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

add change log
  changes/9347.cube_build.rst
Labels: none

updates to files
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/src/cube_dq_utils.c
Labels: cube_build

fix forming filename
  jwst/cube_build/data_types.py
Labels: cube_build

add doc info
  jwst/cube_build/ifu_cube.py
Labels: cube_build

TST: Add RELAX_TOL for regtests devdeps
  jwst/regtest/conftest.py
Labels: regression_testing

Relax dont do it
  jwst/regtest/conftest.py
Labels: regression_testing

One more warning from oldestdeps
  jwst/wfss_contam/tests/test_observations.py
Labels: testing, wfss_contam, Wide Field Slitless Spec (WFSS)

One more regtest warning
  jwst/regtest/test_miri_mrs_tso.py
Labels: regression_testing, MIRI

Revert temp changes
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

regtest warnings, almost there maybe
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_miri_mrs_spec2.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_nirspec_lamp_fs_spec2.py
  jwst/regtest/test_nirspec_mos_movingtarget.py
  jwst/regtest/test_nirspec_mos_spec2.py
  jwst/regtest/test_nirspec_mos_spec2_steps.py
Labels: regression_testing, coron3 pipeline, spec2 pipeline, spec3 pipeline, MIRI, NIRSPEC, NIRCAM, NIRISS

More regtests warnings, fix typo
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_miri_mrs_badpix_selfcal.py
  jwst/regtest/test_nirspec_mos_spec2.py
Labels: regression_testing, spec2 pipeline, MIRI, NIRSPEC

WIP: Moar regtest warnings
  jwst/pipeline/tests/test_calwebb_image2.py
  jwst/regtest/test_miri_coron3.py
  jwst/regtest/test_niriss_ami3.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_ifu_spec3.py
  jwst/regtest/test_nirspec_ifu_spec3_emsm.py
  jwst/regtest/test_nirspec_ifu_spec3_moving_target.py
  jwst/regtest/test_nirspec_ifu_spec3_pixelreplace.py
  jwst/regtest/test_nirspec_lamp_ifu_spec2.py
  jwst/regtest/test_nirspec_masterbackground.py
Labels: testing, regression_testing, pipeline, coron3 pipeline, image2 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, MIRI, NIRSPEC, NIRISS

I went down the rabbit hole
  jwst/assign_mtwcs/tests/data/__init__.py
  jwst/assign_mtwcs/tests/test_mtwcs.py
  jwst/assign_wcs/tests/data/__init__.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/assign_wcs/tests/test_util.py
  jwst/assign_wcs/tests/test_wfss.py
  jwst/associations/tests/test_dms.py
  jwst/associations/tests/test_generate.py
  jwst/background/tests/data/__init__.py
  jwst/datamodels/tests/data/__init__.py
  jwst/datamodels/tests/test_open_association.py
  jwst/extract_2d/tests/data/__init__.py
  jwst/extract_2d/tests/test_grisms.py
  jwst/stpipe/tests/data/__init__.py
  jwst/stpipe/tests/test_asdf_parameters.py
  jwst/stpipe/tests/test_input.py
  jwst/stpipe/tests/test_step.py
  jwst/stpipe/tests/util.py
  jwst/tweakreg/tests/data/__init__.py
  jwst/tweakreg/tests/test_multichip_jwst.py
  jwst/tweakreg/tests/test_utils.py
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wfss_contam/tests/data/__init__.py
  jwst/wfss_contam/tests/test_observations.py
Labels: testing, assign_mtwcs, assign_wcs, associations, background, datamodels, extract_2d, tweakreg, wavecorr, wfss_contam, stpipe, NIRSPEC, Wide Field Slitless Spec (WFSS)

Localize warning handling
  jwst/background/tests/test_background.py
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/emicorr/tests/test_emicorr.py
  jwst/master_background/tests/test_master_background.py
  jwst/msaflagopen/tests/test_msa_open.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/pipeline/tests/test_calwebb_image3.py
  jwst/resample/tests/test_resample_step.py
  tox.ini
Labels: testing, background, master_background, msa_flagging, outlier_detection, resample, pipeline, image3 pipeline

Fix typo
  jwst/regtest/test_miri_mrs_spec2.py
Labels: regression_testing, spec2 pipeline, MIRI

WIP: handle warnings in regtests
  jwst/regtest/test_fgs_guider.py
  jwst/regtest/test_miri_lrs_slitless.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/regtest/test_nirspec_masterbackground.py
  jwst/regtest/test_nirspec_mos_fs_spec2.py
  jwst/regtest/test_nirspec_mos_movingtarget.py
  jwst/regtest/test_nirspec_mos_spec2.py
Labels: regression_testing, spec2 pipeline, spec3 pipeline, FGS, MIRI, NIRSPEC

Fix typo
  jwst/regtest/test_miri_image.py
Labels: regression_testing, MIRI

Dig self out from hole
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/dark_current/tests/test_dark_sub.py
  jwst/emicorr/tests/test_emicorr.py
  jwst/extract_2d/tests/test_grisms.py
  jwst/master_background/tests/test_master_background_mos.py
  jwst/pipeline/tests/test_calwebb_spec2.py
  jwst/tweakreg/tests/data/mosaic_long_i2d_gwcs.asdf
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wfs_combine/tests/test_wfs_combine_step.py
  jwst/wfss_contam/tests/test_observations.py
  pyproject.toml
Labels: installation, testing, dark_current, extract_2d, master_background, tweakreg, wavecorr, wfs_combine, wfss_contam, pipeline, spec2 pipeline, Wide Field Slitless Spec (WFSS)

Catch one more warning from regtest
  jwst/regtest/test_miri_image.py
Labels: regression_testing, MIRI

Warnings I cannot see locally but shows up in CI
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/emicorr/tests/test_emicorr.py
  jwst/regtest/test_fgs_pointing.py
  jwst/stpipe/tests/test_step.py
Labels: testing, regression_testing, stpipe, FGS

Exorcism commences
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/tests_devdeps.yml
  jwst/dark_current/tests/test_dark_sub.py
  jwst/master_background/tests/test_master_background_mos.py
  pyproject.toml
Labels: installation, automation, testing, dark_current, master_background

Disable custom override when using RELAX_TOL
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_niriss_image.py
Labels: regression_testing, NIRCAM, NIRISS

This last one shorten my life by 6 months
  jwst/regtest/test_miri_residual_fringe.py
Labels: regression_testing, MIRI

TST: localized relaxation
  jwst/regtest/conftest.py
  jwst/regtest/regtestdata.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_nircam_wfss_spec2.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_niriss_soss.py
  jwst/regtest/test_niriss_wfss.py
  jwst/regtest/test_nirspec_irs2_detector1.py
Labels: regression_testing, spec2 pipeline, detector1, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

Not sure why these 2 changed ... I hope there is no random component in regtest
  jwst/regtest/test_niriss_wfss.py
  jwst/regtest/test_nirspec_irs2_detector1.py
Labels: regression_testing, detector1, NIRSPEC, NIRISS, Wide Field Slitless Spec (WFSS)

update readme for new regtests
  README.md
Labels: none

Only check mrs_imatch step is skipped by default, don't run it.
  jwst/mrs_imatch/tests/test_configuration.py
Labels: testing, mrs_imatch

Setting wavelength extension for LRS slit in assign_wcs
  jwst/assign_wcs/assign_wcs.py
Labels: assign_wcs

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'
