Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'

flatfield inverse var_flat now zeroes instead of None
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_flatfield.py
Labels: testing, flatfield

Apply suggestions from code review
  jwst/saturation/saturation.py
Labels: saturation

update reg test
  jwst/regtest/test_miri_mrs_straylight.py
Labels: regression_testing, MIRI

updated docs
  docs/jwst/references_general/references_general.rst
  docs/jwst/saturation/description.rst
  docs/jwst/saturation/reference_files.rst
Labels: none

fix table
  docs/jwst/references_general/references_general.rst
Labels: none

add ending whitespace
  docs/jwst/saturation/reference_files.rst
Labels: none

modifying superbias reference
  docs/jwst/saturation/reference_files.rst
Labels: none

style changes
  jwst/background/background_sub_wfss.py
Labels: background, Wide Field Slitless Spec (WFSS)

Remove unused niriss_bounding_box function from assign_wcs
  jwst/assign_wcs/niriss.py
Labels: assign_wcs, NIRISS

style changes
  jwst/scripts/collect_pipeline_cfgs.py
  jwst/scripts/stfitsdiff.py
  jwst/scripts/world_coords.py
Labels: FGS

improving clarity in docs
  docs/jwst/saturation/description.rst
Labels: none

point pyproject toml back to stcal main
  pyproject.toml
Labels: installation

update from review
  jwst/spectral_leak/spectral_leak_step.py
Labels: none

updates from review
  jwst/spectral_leak/spectral_leak.py
  jwst/spectral_leak/spectral_leak_step.py
Labels: none

Update code style for spectral_leak step
  .pre-commit-config.yaml
  .ruff.toml
  jwst/spectral_leak/__init__.py
  jwst/spectral_leak/spectral_leak.py
  jwst/spectral_leak/spectral_leak_step.py
Labels: none

updates to unit tests
  jwst/cube_build/cube_build.py
  jwst/cube_build/tests/test_configuration.py
  jwst/cube_build/tests/test_cube_build_step.py
Labels: testing, cube_build

updates from review
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

updates
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

add doc info
  jwst/cube_build/ifu_cube.py
Labels: cube_build

updates
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

updates from review
  changes/9347.cube_build.rst
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

add change log
  changes/9347.cube_build.rst
Labels: none

next round of updates from review
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

update to unit tests
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/tests/test_cube_build_step.py
  jwst/cube_build/tests/test_miri_cubepars.py
  jwst/cube_build/tests/test_nirspec_cubepars.py
  jwst/cube_build/tests/test_wcs.py
Labels: testing, cube_build, MIRI, NIRSPEC

updates to files
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/src/cube_dq_utils.c
Labels: cube_build

updates
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

updates
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_utils.c
Labels: cube_build

fix forming filename
  jwst/cube_build/data_types.py
Labels: cube_build

updates
  jwst/cube_build/ifu_cube.py
Labels: cube_build

updates after review
  jwst/cube_build/cube_build.py
  jwst/cube_build/data_types.py
Labels: cube_build

partial update to recent review
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_utils.c
Labels: cube_build

first round of changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/cube_build/__init__.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

updates from code style changes
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/tests/test_configuration.py
  jwst/cube_build/tests/test_cube_build_step.py
Labels: testing, cube_build

update
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

update cube_match_sky_driz.c code description
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: cube_build

move parameter description
  jwst/cube_build/ifu_cube.py
Labels: cube_build

updates to cube_utils.c
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_utils.c
Labels: cube_build

Save x1d, c1d in single-file flat format for wfss modes
  jwst/extract_1d/extract.py
  jwst/pipeline/calwebb_spec3.py
Labels: extract_1d, pipeline, spec3 pipeline

Update docs to reflect correct definition for pixel scale ratio
  changes/9403.resample.rst
  docs/jwst/resample/arguments.rst
  jwst/assign_wcs/util.py
  jwst/resample/resample_step.py
Labels: assign_wcs, resample

Update inconsistent pixscale definition in resample spec
  jwst/resample/resample_spec.py
Labels: resample
