Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

Allow warnings in regtests but not CI
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Labels: installation, automation, testing

Undo blind RuntimeWarning ignore but put a FIXME note for future.
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/dark_current/tests/test_dark_sub.py
  jwst/regtest/test_fgs_guider.py
  jwst/regtest/test_miri_coron3.py
  jwst/regtest/test_miri_lrs_slitless.py
  jwst/regtest/test_miri_mrs_badpix_selfcal.py
  jwst/regtest/test_miri_mrs_spec2.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/regtest/test_miri_mrs_tso.py
  jwst/regtest/test_miri_residual_fringe.py
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_niriss_ami3.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_ifu_spec3.py
  jwst/regtest/test_nirspec_ifu_spec3_emsm.py
  jwst/regtest/test_nirspec_ifu_spec3_moving_target.py
  jwst/regtest/test_nirspec_ifu_spec3_pixelreplace.py
  jwst/regtest/test_nirspec_lamp_fs_spec2.py
  jwst/regtest/test_nirspec_lamp_ifu_spec2.py
  jwst/regtest/test_nirspec_masterbackground.py
  jwst/regtest/test_nirspec_mos_fs_spec2.py
  jwst/regtest/test_nirspec_mos_movingtarget.py
  jwst/regtest/test_nirspec_mos_spec2.py
  jwst/regtest/test_nirspec_mos_spec2_steps.py
  jwst/resample/tests/test_resample_step.py
  jwst/tweakreg/tests/test_tweakreg.py
Labels: testing, regression_testing, dark_current, resample, tweakreg, coron3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS

Fix failures
  jwst/dark_current/tests/test_dark_sub.py
  jwst/resample/tests/test_resample_step.py
Labels: testing, dark_current, resample

Revert changes to CI workflow and save it for different PR
  .github/workflows/ci.yml
Labels: automation, testing

Don't do diffs for AtocaSpectra
  jwst/regtest/test_niriss_soss.py
Labels: regression_testing, NIRISS

add code style changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/linearity/__init__.py
  jwst/linearity/linearity.py
  jwst/linearity/linearity_step.py
Labels: linearity

add saving shower_model
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: straylight

updates to only save primary
  jwst/straylight/straylight.py
Labels: straylight

update docs
  docs/jwst/straylight/arguments.rst
Labels: none

rebase error
  jwst/associations/lib/rules_level2b.py
Labels: associations

added reg test for straylight step
  jwst/regtest/test_miri_mrs_straylight.py
Labels: regression_testing, MIRI

update change log
  changes/9378.straylight.rst
Labels: none

Update code style for spectral_leak step
  .pre-commit-config.yaml
  .ruff.toml
  jwst/spectral_leak/__init__.py
  jwst/spectral_leak/spectral_leak.py
  jwst/spectral_leak/spectral_leak_step.py
Labels: none

update test
  jwst/straylight/tests/test_straylight.py
Labels: testing, straylight

TST: Enable CI for backport PR
  .github/workflows/ci.yml
Labels: automation, testing

Be more specific on release branch names
  .github/workflows/ci.yml
Labels: automation, testing

TST: Enable CI for backport PR (#9392)
  .github/workflows/ci.yml
Labels: automation, testing

BUG: Fix err and var for inverse steps for photom and flatfield.
  changes/9356.flatfield.rst
  changes/9356.photom.rst
  docs/jwst/flatfield/arguments.rst
  docs/jwst/photom/arguments.rst
  jwst/flatfield/flat_field.py
  jwst/photom/photom.py
Labels: flatfield, photom

TST: Add new tests for photom and flatfield inverse.
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_clean_wl.py
  jwst/flatfield/tests/test_combine_fast_slow.py
  jwst/flatfield/tests/test_flatfield.py
  jwst/flatfield/tests/test_interpolate_flat.py
  jwst/photom/tests/test_photom.py
Labels: testing, flatfield, photom

Add changelog
  changes/9391.general.rst
Labels: none

update from review
  docs/jwst/straylight/arguments.rst
  jwst/regtest/test_miri_mrs_straylight.py
  jwst/straylight/straylight.py
Labels: regression_testing, straylight, MIRI

updates to only save primary
  jwst/straylight/straylight.py
Labels: straylight

update docs
  docs/jwst/straylight/arguments.rst
Labels: none

added reg test for straylight step
  jwst/regtest/test_miri_mrs_straylight.py
Labels: regression_testing, MIRI

update change log
  changes/9378.straylight.rst
Labels: none

add saving shower_model
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: straylight

update test
  jwst/straylight/tests/test_straylight.py
Labels: testing, straylight

updated unit test
  jwst/straylight/tests/test_straylight_step.py
Labels: testing, straylight

update test
  jwst/straylight/tests/test_straylight_step.py
Labels: testing, straylight

update shower test
  jwst/straylight/tests/test_straylight_step.py
Labels: testing, straylight

updates from review
  jwst/regtest/test_miri_mrs_straylight.py
  jwst/straylight/straylight.py
Labels: regression_testing, straylight, MIRI

updates from review
  jwst/linearity/linearity_step.py
Labels: linearity

add code style changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/linearity/__init__.py
  jwst/linearity/linearity.py
  jwst/linearity/linearity_step.py
Labels: linearity

fix typo
  jwst/linearity/linearity.py
Labels: linearity

fix typo
  jwst/straylight/straylight.py
Labels: straylight

Fix input ERR test data so it roundtrips
  jwst/flatfield/tests/test_flatfield.py
Labels: testing, flatfield

TST: Add new tests for photom and flatfield inverse.
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_clean_wl.py
  jwst/flatfield/tests/test_combine_fast_slow.py
  jwst/flatfield/tests/test_flatfield.py
  jwst/flatfield/tests/test_interpolate_flat.py
  jwst/photom/tests/test_photom.py
Labels: testing, flatfield, photom

BUG: Fix err and var for inverse steps for photom and flatfield.
  changes/9356.flatfield.rst
  changes/9356.photom.rst
  docs/jwst/flatfield/arguments.rst
  docs/jwst/photom/arguments.rst
  jwst/flatfield/flat_field.py
  jwst/photom/photom.py
Labels: flatfield, photom

Set var_flat to None on flatfield inverse and update test
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_flatfield.py
Labels: testing, flatfield

Math is math
  jwst/flatfield/flat_field.py
Labels: flatfield

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'
