Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'

Remove unneeded test parameters
  jwst/mrs_imatch/tests/test_configuration.py
Labels: testing, mrs_imatch

Update README.md
  README.md
Labels: none

Update version table
  README.md
Labels: none

Update citation file
  CITATION.cff
Labels: none

Update changelog
  CHANGES.rst
Labels: none

merge rc changelogs
  CHANGES.rst
Labels: none

Revert "Backport PR #9301 on branch release/1.18.x (JP-3686: Test using sourc…"
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
  jwst/tweakreg/tweakreg_step.py
Labels: regression_testing, tweakreg, NIRCAM

Revert "Backport PR #9301 on branch release/1.18.x (JP-3686: Test using source catalog output as tweakreg abs_refcat)" (#9375)
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
  jwst/tweakreg/tweakreg_step.py
Labels: regression_testing, tweakreg, NIRCAM

Update version table
  README.md
Labels: none

Update changelog
  CHANGES.rst
Labels: none

Update citation file
  CITATION.cff
Labels: none

merge rc changelogs
  CHANGES.rst
Labels: none

remove reverted PR entry
  CHANGES.rst
Labels: none

remove reverted PR entry
  CHANGES.rst
Labels: none

track miri image resources
  jwst/regtest/test_miri_image.py
  pyproject.toml
Labels: installation, regression_testing, MIRI

can't code after hours
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_niriss_soss.py
Labels: regression_testing, coron3 pipeline, NIRCAM, NIRISS

missing pytestmark
  jwst/regtest/test_miri_image.py
Labels: regression_testing, MIRI

add more trackers for breadth
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_niriss_soss.py
  jwst/regtest/test_nirspec_mos_spec3.py
Labels: regression_testing, coron3 pipeline, spec3 pipeline, NIRSPEC, NIRCAM, NIRISS

no not that tracker
  jwst/regtest/test_nirspec_mos_spec3.py
Labels: regression_testing, spec3 pipeline, NIRSPEC

Metadata for release 1.18.0 (#9374)
  CHANGES.rst
  CITATION.cff
  README.md
Labels: none

Update requirements-sdp.txt
  requirements-sdp.txt
Labels: installation

Metadata release 1.18.0 (sdp) (#9379)
  requirements-sdp.txt
Labels: installation

style changes
  jwst/background/background_sub.py
  jwst/background/background_sub_wfss.py
  jwst/background/subtract_images.py
Labels: background, Wide Field Slitless Spec (WFSS)

JP-3775: Test ci_watson resource_tracker implementation (#9357)
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_niriss_soss.py
  jwst/regtest/test_nirspec_mos_spec3.py
  pyproject.toml
Labels: installation, regression_testing, coron3 pipeline, spec3 pipeline, MIRI, NIRSPEC, NIRCAM, NIRISS

Add change log
  changes/9376.background.rst
  changes/9376.clean_flicker_noise.rst
Labels: none

Update SOSS data to run faster
  jwst/regtest/test_niriss_soss.py
Labels: regression_testing, NIRISS

Do sums and means with float64
  jwst/background/background_sub_wfss.py
Labels: background, Wide Field Slitless Spec (WFSS)

Use float64 for stats
  jwst/clean_flicker_noise/clean_flicker_noise.py
Labels: none

MNT: Forward-port of PR 9374 and PR 9379 (Metadata release 1.18.0)
  CHANGES.rst
  CITATION.cff
  README.md
  changes/9326.barshadow.rst
  changes/9337.resample.rst
  changes/9338.ramp_fitting.rst
  requirements-sdp.txt
Labels: installation

DOC: RC be-gone
  README.md
Labels: none

Address review comments . Also style changes to new code from main.
  changes/9283.pipeline.rst
  jwst/lib/dispaxis.py
  jwst/lib/engdb_direct.py
  jwst/lib/exposure_types.py
  jwst/lib/pipe_utils.py
  jwst/lib/pointing_summary.py
  jwst/lib/reffile_utils.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/signal_slot.py
  jwst/lib/suffix.py
  jwst/lib/tests/test_pipe_utils.py
Labels: testing, engdb_tools

Style checks on lib
  .pre-commit-config.yaml
  .ruff.toml
  jwst/lib/__init__.py
  jwst/lib/basic_utils.py
  jwst/lib/catalog_utils.py
  jwst/lib/dispaxis.py
  jwst/lib/engdb_direct.py
  jwst/lib/engdb_lib.py
  jwst/lib/engdb_mast.py
  jwst/lib/engdb_tools.py
  jwst/lib/exposure_types.py
  jwst/lib/file_utils.py
  jwst/lib/pipe_utils.py
  jwst/lib/pointing_summary.py
  jwst/lib/progress.py
  jwst/lib/reffile_utils.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/set_velocity_aberration.py
  jwst/lib/siafdb.py
  jwst/lib/signal_slot.py
  jwst/lib/suffix.py
  jwst/lib/v1_calculate.py
  jwst/lib/wcs_utils.py
Labels: engdb_tools

Fix docstring for args and kwargs in signal_slot
  jwst/lib/signal_slot.py
Labels: none

MNT: Forward-port of PR 9374 and PR 9379 (Metadata release 1.18.0) (#9382)
  CHANGES.rst
  CITATION.cff
  README.md
  changes/9326.barshadow.rst
  changes/9337.resample.rst
  changes/9338.ramp_fitting.rst
  requirements-sdp.txt
Labels: installation

remove `requirements-sdp.txt`
  .github/workflows/build.yml
  requirements-sdp.txt
Labels: installation, automation

remove sdpdeps toxenv
  tox.ini
Labels: testing

remove reference to requirements-sdp.txt from dependabot config
  .github/dependabot.yml
Labels: automation

BUG: Fix is_nrs_msaspec_flatlamp and remove redundant if-else in gs_position_acq
  jwst/lib/exposure_types.py
  jwst/lib/set_telescope_pointing.py
Labels: none

remove `requirements-sdp.txt` (#9386)
  .github/dependabot.yml
  .github/workflows/build.yml
  requirements-sdp.txt
  tox.ini
Labels: installation, automation, testing

JP-3861: Persistence style updates
  .pre-commit-config.yaml
  .ruff.toml
  jwst/persistence/__init__.py
  jwst/persistence/persistence.py
  jwst/persistence/persistence_step.py
Labels: persistence
