Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

updates
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_utils.c
Labels: cube_build

updates
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

add doc info
  jwst/cube_build/ifu_cube.py
Labels: cube_build

update to unit tests
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/tests/test_cube_build_step.py
  jwst/cube_build/tests/test_miri_cubepars.py
  jwst/cube_build/tests/test_nirspec_cubepars.py
  jwst/cube_build/tests/test_wcs.py
Labels: testing, cube_build, MIRI, NIRSPEC

updates
  jwst/cube_build/cube_build_step.py
Labels: cube_build

move parameter description
  jwst/cube_build/ifu_cube.py
Labels: cube_build

update
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

updates to docs
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
  jwst/cube_build/src/cube_utils.c
Labels: cube_build

add change log
  changes/9347.cube_build.rst
Labels: none

updatews from review
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
Labels: cube_build

updates from review
  changes/9347.cube_build.rst
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

updates
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

first round of changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/cube_build/__init__.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

update cube_match_sky_driz.c code description
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: cube_build

next round of updates from review
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

updates
  jwst/cube_build/ifu_cube.py
Labels: cube_build

another round of changes from review
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

close to the end
  changes/9347.cube_build.rst
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

added clarification for x_irs2.py docs
  jwst/saturation/x_irs2.py
Labels: saturation

third round of review comments
  .ruff.toml
  jwst/associations/lib/keyvalue_registry.py
  jwst/associations/lib/member.py
  jwst/associations/lib/process_list.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/lib/tests/test_update_path.py
  jwst/associations/lib/utilities.py
  jwst/associations/load_as_asn.py
  jwst/associations/load_asn.py
  jwst/associations/main.py
  jwst/associations/registry.py
  jwst/associations/tests/helpers.py
Labels: testing, associations

last round of updates
  jwst/saturation/saturation_step.py
  jwst/saturation/x_irs2.py
Labels: saturation

update docs
  .pre-commit-config.yaml
  .ruff.toml
  jwst/straylight/__init__.py
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: straylight

update docs
  jwst/straylight/straylight.py
Labels: straylight

Add handling of c1d with metadata
  jwst/pipeline/calwebb_spec3.py
Labels: pipeline, spec3 pipeline

try removing attributes docstring entry
  docs/jwst/associations/lib_dmsbase.rst
  jwst/associations/lib/dms_base.py
Labels: associations

attempt docs on callbackregistry
  jwst/associations/lib/callback_registry.py
Labels: associations

Constrain metadata to only what used to be in x1d files
  jwst/pipeline/calwebb_spec3.py
Labels: pipeline, spec3 pipeline

change stdatamodels dependency
  pyproject.toml
Labels: installation

move dmsbasemixin attr comment
  jwst/associations/lib/dms_base.py
Labels: associations

enhancement of table reports
  jwst/regtest/st_fitsdiff.py
Labels: regression_testing

adding max values to report
  jwst/regtest/st_fitsdiff.py
Labels: regression_testing

fix par1, par2 setup
  jwst/cube_build/cube_build.py
Labels: cube_build

more changes
  jwst/cube_build/cube_build.py
Labels: cube_build

remove comments
  jwst/cube_build/cube_build.py
Labels: cube_build

Split utils out of calwebb_spec3 and add unit tests
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/pipeline/calwebb_spec3.py
Labels: testing, pipeline, spec3 pipeline

Add pipe utils and tests
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
Labels: testing

Update pyproject.toml and fix test
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  pyproject.toml
Labels: installation, testing

Remove dependency on new wfss datamodels
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  pyproject.toml
Labels: installation, testing

implementing table report for image differences and allowing ext numbers from command line
  jwst/regtest/st_fitsdiff.py
  jwst/scripts/stfitsdiff.py
Labels: regression_testing

cleaning up unused scripts
  pyproject.toml
Labels: installation

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'
