Repository spacetelescope/jwst, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, regression_testing, ami, assign_mtwcs, assign_wcs, associations, background, bar shadow, combine_1d, cube_build, cube_skymatch, dark_current, datamodels, dq_init, engdb_tools, exp_to_source, extract_1d, extract_2d, firstframe, flatfield, fringe, gain_scale, group_scale, guider_cds, imprint, ipc, jump, lastframe, linearity, master_background, mrs_imatch, msa_flagging, outlier_detection, path loss, persistence, photom, ramp_fitting, refpix, resample, reset, residual_fringe, rscd, saturation, skymatch, source catalog, source type, straylight, superbias, timeconversion, transforms, tso_photometry, tweakreg, wavecorr, wfs_combine, wfss_contam, white_light, stpipe, pipeline, coron3 pipeline, image2 pipeline, image3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, tso3 pipeline, detector1, FGS, MIRI, NIRSPEC, NIRCAM, NIRISS, Wide Field Slitless Spec (WFSS)

Reverting changes to requirements-sdp.txt
  requirements-sdp.txt
Labels: installation

JP-3953: Extrapolate barshadow correction to cover wavelength gaps (#9326)
  changes/9326.barshadow.rst
  jwst/barshadow/bar_shadow.py
Labels: bar shadow

Backport PR #9326: JP-3953: Extrapolate barshadow correction to cover wavelength gaps
  changes/9326.barshadow.rst
  jwst/barshadow/bar_shadow.py
Labels: bar shadow

First working photometry autocentroiding
  jwst/pipeline/calwebb_tso3.py
  jwst/tso_centroiding/__init__.py
  jwst/tso_centroiding/tso_centroiding_step.py
  jwst/tso_centroiding/tso_photometry_centroiding.py
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry, pipeline, tso3 pipeline

Update ci.yml
  .github/workflows/ci.yml
Labels: automation, testing

fix bug
  jwst/resample/resample_spec.py
Labels: resample

Revise phrasing for specific reviews in PR task list (#9328)
  .github/pull_request_template.md
Labels: automation

add change log
  changes/9337.resample.rst
  jwst/resample/resample_spec.py
Labels: resample

Fix inadvertent removal of __all__
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Changelog entry
  changes/9338.ramp_fitting.rst
Labels: none

Improved formatting in changelog
  changes/9338.ramp_fitting.rst
Labels: none

Backport PR #9338: Fix inadvertent removal of __all__
  changes/9338.ramp_fitting.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Fix inadvertent removal of __all__ (#9338)
  changes/9338.ramp_fitting.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Backport PR #9326 on branch release/1.18.x (JP-3953: Extrapolate barshadow correction to cover wavelength gaps) (#9335)
  .github/workflows/ci.yml
  changes/9326.barshadow.rst
  jwst/barshadow/bar_shadow.py
Labels: automation, testing, bar shadow

Backport PR #9338 on branch release/1.18.x (Fix inadvertent removal of __all__) (#9339)
  changes/9338.ramp_fitting.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Remove a few TODOs based on Rachel and Anand comments
  jwst/ami/ami_average_step.py
  jwst/ami/lg_model.py
  jwst/ami/tests/test_utils.py
Labels: testing, ami

Remove reference to ERR in ramp docs
  docs/jwst/data_products/science_products.rst
Labels: none

fix bug
  jwst/resample/resample_spec.py
Labels: resample

updated change record
  changes/9337.resample.rst
Labels: none

add change log
  changes/9337.resample.rst
  jwst/resample/resample_spec.py
Labels: resample

Backport PR #9337: JP-3947 Fix MIRI LRS Flux error
  changes/9337.resample.rst
  jwst/resample/resample_spec.py
Labels: resample

JP-3947 Fix MIRI LRS Flux error (#9337)
  changes/9337.resample.rst
  jwst/resample/resample_spec.py
Labels: resample

Backport PR #9337 on branch release/1.18.x (JP-3947 Fix MIRI LRS Flux error) (#9344)
  changes/9337.resample.rst
  jwst/resample/resample_spec.py
Labels: resample

Backport PR #9301: JP-3686: Test using source catalog output as tweakreg abs_refcat
  changes/9301.tweakreg.rst
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
  jwst/tweakreg/tweakreg_step.py
Labels: regression_testing, tweakreg, NIRCAM

Backport PR #9301 on branch release/1.18.x (JP-3686: Test using source catalog output as tweakreg abs_refcat) (#9346)
  changes/9301.tweakreg.rst
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
  jwst/tweakreg/tweakreg_step.py
Labels: regression_testing, tweakreg, NIRCAM

Clarify when to use closes in PR template
  .github/pull_request_template.md
Labels: automation

Hide closes as comment
  .github/pull_request_template.md
Labels: automation

Improve logging and clarify loop intent for fit_fringes_all
  jwst/ami/lg_model.py
  jwst/ami/nrm_core.py
Labels: ami

Update tests for NIRSpec FS spec3 product names
  jwst/associations/tests/test_level3_product_names.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: testing, associations

Update docstring
  jwst/associations/lib/rules_level2_base.py
Labels: associations

Fix spec3 name collision and spec2 background members for target groups
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
Labels: associations

Add change note
  changes/8943.associations.rst
Labels: none

Add change log entry
  changes/9037.refpix.rst
Labels: none

JP-3834: Update default values for the source finding in tweakreg to match the algorithm (#9036)
  changes/9036.tweakreg.rst
Labels: none

Metadata updates for 1.17.1 (#9043)
  changes/9036.tweakreg.rst
  changes/9037.refpix.rst
  requirements-sdp.txt
Labels: installation

Adding support for BUNIT!=MJy/sr to tso_photometry
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

Reverting changes to requirements-sdp.txt
  requirements-sdp.txt
Labels: installation

Fix code style
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

Update README.md
  README.md
Labels: none

Update changelog for 1.18.0rc2
  CHANGES.rst
  changes/9301.tweakreg.rst
  changes/9326.barshadow.rst
  changes/9337.resample.rst
  changes/9338.ramp_fitting.rst
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
    - all-globs-to-any-file: ['*.rst', '!CHANGES.rst']
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.readthedocs.yaml'
      - 'LICENSE'

installation:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.*'
      - 'requirements-*.txt'
      - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.bandit.yaml'
      - '.codecov.yml'
      - 'Jenkinsfile*'

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '.github/workflows/ci*.yml'
      - 'conftest.py'
      - 'tox.ini'

regression_testing:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/regtest/**'
      - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

ami:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ami/**'

assign_mtwcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_mtwcs/**'

assign_wcs:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/assign_wcs/**'

associations:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/associations/**'

background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/background/**'

bar shadow:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/barshadow/**'

combine_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/combine_1d/**'

cube_build:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_build/**'

cube_skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/cube_skymatch/**'

dark_current:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dark_current/**'

datamodels:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/datamodels/**'

dq_init:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/dq_init/**'

engdb_tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lib/engdb_*'

exp_to_source:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/exp_to_source/**'

extract_1d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_1d/**'

extract_2d:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/extract_2d/**'

firstframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/firstframe/**'

flatfield:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/flatfield/**'

fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/fringe/**'

gain_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/gain_scale/**'

group_scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/group_scale/**'

guider_cds:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/guider_cds/**'

imprint:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/imprint/**'

ipc:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ipc/**'

jump:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/jump/**'

lastframe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/lastframe/**'

linearity:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/linearity/**'

master_background:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/master_background/**'

mrs_imatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/mrs_imatch/**'

msa_flagging:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/msaflagopen/**'

outlier_detection:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/outlier_detection/**'

path loss:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pathloss/**'

persistence:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/persistence/**'

photom:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/photom/**'

ramp_fitting:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/ramp_fitting/**'

refpix:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/refpix/**'

resample:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/resample/**'

reset:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/reset/**'

residual_fringe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/residual_fringe/**'

rscd:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/rscd/**'

saturation:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/saturation/**'

skymatch:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/skymatch/**'

source catalog:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/source_catalog/**'

source type:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/srctype/**'

straylight:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/straylight/**'

superbias:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/superbias/**'

timeconversion:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/timeconversion/**'

transforms:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/transforms/**'

tso_photometry:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tso_photometry/**'

tweakreg:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/tweakreg/**'

wavecorr:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wavecorr/**'

wfs_combine:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfs_combine/**'

wfss_contam:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/wfss_contam/**'

white_light:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/white_light/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/stpipe/**'

pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/pipeline/**'

coron3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/coron/**'
      - 'jwst/pipeline/calwebb_coron3.py'
      - 'jwst/**/*coron*'
      - 'jwst/**/*coron*/**'

image2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image2*'
      - 'jwst/**/*image2*/**'

image3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*image3*'
      - 'jwst/**/*image3*/**'

spec2 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec2*'
      - 'jwst/**/*spec2*/**'

spec3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*spec3*'
      - 'jwst/**/*spec3*/**'

ami3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*ami3*'
      - 'jwst/**/*ami3*/**'

tso3 pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*tso3*'
      - 'jwst/**/*tso3*/**'

detector1:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*detector1*'
      - 'jwst/**/*detector1*/**'

# --------------------------------------- instruments ---------------------------------------

FGS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*fgs*'
      - 'jwst/**/*fgs*/**'

MIRI:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*miri*'
      - 'jwst/**/*miri*/**'

NIRSPEC:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nirspec*'
      - 'jwst/**/*nirspec*/**'

NIRCAM:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*nircam*'
      - 'jwst/**/*nircam*/**'

NIRISS:
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*niriss*'
      - 'jwst/**/*niriss*/**'

Wide Field Slitless Spec (WFSS):
  - changed-files:
    - any-glob-to-any-file:
      - 'jwst/**/*wfss*'
      - 'jwst/**/*wfss*/**'
