Repository spacetelescope/jwst, pull requests merged in 2018-05, with the labels that each got.

#1964 Fix a minor bug in tweakreg due to a copy/paste error
  jwst/tweakreg/wcsimage.py
Labels: bug, tweakreg

#1959 Nirspec bug fixes
  jwst/assign_wcs/nirspec.py
  jwst/transforms/models.py
Labels: NIRSPEC, assign_wcs, transforms

#1956 CubeModel bbox should be 2D
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
Labels: FGS, NIRCAM, NIRISS, assign_wcs

#1967 Allow one or two of the NIRSpec flat fields to be missing.
  jwst/flatfield/flat_field.py
  jwst/flatfield/flat_field_step.py
Labels: flatfield

#1972 Update association documentation for asn_from_list [ci skip]
  docs/jwst/associations/asn_from_list.rst
  docs/jwst/associations/index.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/level3_asn_technical.rst
Labels: associations, documentation

#1976 Add CubeModel to assign_wcs imports
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/niriss.py
Labels: assign_wcs, bug

#1979 Fix both MSA Spec2 tests
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2.py
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2b.py
Labels: testing

#1982 Strip abspath from ASNTABLE keyword value
  jwst/datamodels/container.py
Labels: associations, datamodels

#1989 Keyword updates
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/ifucube.schema.yaml
Labels: datamodels

#1991 Move initial Step logging to beginning of run
  jwst/stpipe/step.py
Labels: stpipe, task

#1992 Add more checks for TSO-like observations
  jwst/lib/__init__.py
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/pipeline/tests/notebooks/image2_propersave.ipynb
  jwst/pipeline/tests/notebooks/spec2_propersave.ipynb
  jwst/pipeline/tests/notebooks/spec3_propersave.ipynb
Labels: bug, spec2 pipeline

#1993 The extract_1d step should copy data from the integration times table
  jwst/datamodels/schemas/cube.schema.yaml
  jwst/datamodels/schemas/image.schema.yaml
  jwst/datamodels/schemas/int_times.schema.yaml
  jwst/datamodels/schemas/multislit.schema.yaml
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/datamodels/schemas/slit.schema.yaml
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
Labels: extract_1d

#1925 Update ramp_fit slope variances
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: error propagation, ramp_fitting

#1887 update to stray-light algorithm
  docs/jwst/straylight/arguments.rst
  docs/jwst/straylight/main.rst
  docs/jwst/straylight/reference.rst
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: MIRI, documentation, straylight

#2008 fixed method comment
  jwst/straylight/straylight_step.py
Labels: bug, straylight

#2000 Update MIRI LRS reg test file names
  jwst/tests_nightly/general/pipelines/test_miri_lrs_slit_1b.py
Labels: testing

#2006 Pathloss 2d
  jwst/datamodels/schemas/ifuimage.schema.yaml
  jwst/pathloss/path_loss.py
Labels: NIRSpec IFU, bug, path loss

#2010 Fix straylight typo in log message
  jwst/straylight/straylight_step.py
Labels: straylight

#1955 add model blender
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/ifu_cube.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/pipeline/cube_build.cfg
Labels: blend headers, cube_build

#2016 For extract_1d, find nod/dither offset from xoffset and yoffset
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract1d.py
Labels: extract_1d

#2017 Only extract an 80x80 subarray, if input is full-frame
  docs/jwst/ami/main.rst
  jwst/ami/NRM_consts.py
  jwst/ami/__init__.py
  jwst/ami/ami_analyze.py
  jwst/ami/ami_average.py
  jwst/ami/ami_normalize.py
  jwst/ami/leastsqnrm.py
  jwst/ami/webb_psf.py
Labels: ami

#2019 Fix some model_blender issues in cube_build
  jwst/cube_build/ifu_cube.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_band.schema.yaml
  jwst/datamodels/schemas/keyword_filter.schema.yaml
  jwst/datamodels/schemas/keyword_grating.schema.yaml
Labels: bug, cube_build, datamodels

#2021 Restore inadvertent changes to AMI docs
  docs/jwst/ami/main.rst
Labels: ami, documentation

#2024 Use models to call blendmodels
  jwst/cube_build/ifu_cube.py
  jwst/resample/resample.py
Labels: blend headers, cube_build, enhancement, resample

#2025 Update Jenkins CRDS_CONTEXT to 456
  JenkinsfileRT
Labels: testing

#2029 Fix using models
  jwst/model_blender/blendmeta.py
Labels: blend headers, bug

#2033 In find_dispaxis, regard wavelength = 0 as invalid
  jwst/extract_1d/extract.py
Labels: extract_1d

#2032 Redefine write method to allow override
  jwst/datamodels/model_base.py
Labels: datamodels

#2038 Update Jenkins CRDS_CONTEXT to 460
  JenkinsfileRT
Labels: testing

#2037 Change NRC_GRISM to NRC_WFSS
  docs/jwst/assign_wcs/exp_types.rst
  docs/jwst/background/description.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/outlier_detection/outlier_detection_step.rst
  docs/jwst/pipeline/description.rst
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/nircam.py
  jwst/background/background_step.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_exptype.schema.yaml
  jwst/datamodels/schemas/keyword_pexptype.schema.yaml
  jwst/datamodels/wcs_ref_models.py
  jwst/extract_2d/extract_2d.py
  jwst/extract_2d/grisms.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/photom/photom.py
  jwst/pipeline/calwebb_spec2.py
Labels: NIRCAM, Wide Field Slitless Spec (WFSS)

#2040 Updated first frame and last frame steps so if NGROUPS < 4, skip firs…
  jwst/firstframe/firstframe_step.py
  jwst/firstframe/firstframe_sub.py
  jwst/lastframe/lastframe_step.py
  jwst/lastframe/lastframe_sub.py
  jwst/ramp_fitting/ramp_fit.py
Labels: MIRI, firstframe, lastframe, ramp_fitting

#2041 In find_dispaxis, regard wavelength = 0 as invalid
  jwst/extract_1d/extract.py
Labels: extract_1d

#2043 Fix test_nrs_msa_spec2 regression test
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2.py
Labels: bug, spec2 pipeline, testing

#2045 Fix NIRISS WFSS spec2 regression test
  jwst/pipeline/calwebb_image3.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_tso3.py
  jwst/tests_nightly/general/pipelines/test_nis_wfss_spec2.py
Labels: Wide Field Slitless Spec (WFSS), bug, image2 pipeline, spec2 pipeline, testing, tso3 pipeline

#2046 Updated docs to reflect code updates for PR #1925 'Update ramp_fit sl…
  docs/jwst/ramp_fitting/main.rst
Labels: error propagation, ramp_fitting

#2053 Reorder multislit extensions for NIRISS WFSS spec2 test
  jwst/tests_nightly/general/pipelines/test_nis_wfss_spec2.py
Labels: NIRISS SOSS, Wide Field Slitless Spec (WFSS), spec2 pipeline, testing

#2056 Prevent BACKGROUND candidates from creating Level3 associations
  jwst/associations/__init__.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-a3001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-a3001_spec3_002_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-c1000_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-c1001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o002_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o003_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o003_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o003_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o004_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o004_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o004_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o005_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o005_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o005_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o006_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o006_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o006_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o007_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o007_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o007_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o008_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-a3001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-a3001_spec3_002_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-c1000_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-c1001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o002_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o003_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o003_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o003_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o004_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o004_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o004_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-a3001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-c1000_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-o001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-o002_spec2_001_asn.json
  jwst/associations/tests/test_main.py
  jwst/associations/tests/test_standards.py
Labels: associations, bug

#2060 A few small edits and clarifications (see PR #1925).
  docs/jwst/ramp_fitting/main.rst
Labels: documentation, error propagation, ramp_fitting

#2065 fix test
  jwst/tests_nightly/general/miri/test_miri_ifu_wcs.py
Labels: assign_wcs, testing

#2015 Define an input API
  docs/jwst/introduction.rst
  docs/jwst/stpipe/devel_io_design.rst
  jwst/pipeline/calwebb_ami3.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/tests/test_calwebb_spec2.py
  jwst/pipeline/tests/test_nis_ami3.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/steps/__init__.py
  jwst/stpipe/tests/test_input.py
  jwst/stpipe/tests/test_saving.py
  jwst/stpipe/tests/util.py
Labels: :fire:, DO NOT MERGE, associations, pipeline

#2072 A few more minor edits
  docs/jwst/ramp_fitting/main.rst
Labels: documentation, error propagation, ramp_fitting

#2074 Add test for NRS TSO3 data
  jwst/pipeline/tests/test_nrs_tso3.py
Labels: NIRSPEC, testing, tso3 pipeline

#2075 Add NRC_WFSS as an exposure type
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level3_base.py
Labels: Wide Field Slitless Spec (WFSS), associations

#2052 fixed error on FASTGRPAVE data
  jwst/rscd/rscd_step.py
  jwst/rscd/rscd_sub.py
Labels: MIRI, rscd

#2073 Handle MSA metadata file only in assign_wcs step using Step.input_dir
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/nirspec.py
  jwst/datamodels/schemas/slitdata.schema.yaml
  jwst/extract_2d/nirspec.py
  jwst/flatfield/flat_field.py
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2.py
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2b.py
Labels: assign_wcs, datamodels, flatfield

#2081 extract_1d should not repeat log messages for every integration
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/pipeline/extract_1d.cfg
Labels: extract_1d

#2067 Ensure ami_avg products are saved as default
  jwst/pipeline/calwebb_ami3.cfg
  jwst/pipeline/collect_pipeline_cfgs.py
  jwst/pipeline/tests/test_nis_ami3.py
  scripts/collect_pipeline_cfgs
Labels: ami3 pipeline

#2082 Remove absolute file paths from ASNTABLE keyword and assocation tables
  jwst/pipeline/calwebb_ami3.py
  jwst/pipeline/calwebb_coron3.py
  jwst/wfs_combine/wfs_combine_step.py
Labels: ami3 pipeline, coron3 pipeline, wfs_combine

#2085 Set slit_nt to None for non-MSA data.
  jwst/flatfield/flat_field.py
Labels: flatfield

#2086 Make association reader level 3 for wfs_combine_step
  jwst/wfs_combine/wfs_combine_step.py
Labels: wfs_combine

#2087 refactor TSO rules into one rule
  jwst/associations/__init__.py
  jwst/associations/lib/constraint.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/notebooks/constraints.ipynb
  jwst/associations/tests/test_generate.py
  jwst/associations/tests/test_main.py
Labels: associations, enhancement

#2088 For flat_field, process 2-D NRS_BRIGHTOBJ data
  jwst/flatfield/flat_field.py
Labels: flatfield

#2089 Consolidate tso3 regression tests; enable MRS spec3 regression tests
  jwst/tests_nightly/general/pipelines/test_mrs_spec3.py
  jwst/tests_nightly/general/pipelines/test_nrc_tso3_2.py
  jwst/tests_nightly/general/pipelines/test_tso3.py
Labels: MIRI MRS, spec3 pipeline, testing, tso3 pipeline

#2084 Improve skymatch documentation
  docs/jwst/skymatch/README.rst
Labels: documentation, skymatch

#2092 Clean up some warning messages
  jwst/firstframe/firstframe_sub.py
  jwst/group_scale/group_scale_step.py
  jwst/lastframe/lastframe_sub.py
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/rscd/rscd_step.py
Labels: enhancement, firstframe, group_scale, lastframe, ramp_fitting, rscd

#2083 Add regression test info to README.md
  README.md
Labels: testing

#2096 Filter out background and imprint images from level3 associations
  jwst/associations/__init__.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-a3001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-a3001_spec3_002_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-c1000_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-c1001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o002_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o003_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o003_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o003_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o004_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o004_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o004_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o005_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o005_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o005_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o006_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o006_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o006_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o007_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o007_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o007_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_009_spec_miri_lv2bkg-o008_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-a3001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-a3001_spec3_002_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-c1000_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-c1001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o002_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o003_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o003_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o003_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o004_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o004_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_010_spec_nirspec_lv2bkg-o004_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-a3001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-c1000_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-o001_spec3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_011_spec_miri_lv2bkg_lrs-o002_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_017_spec_nirspec_lv2imprint-o001_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_017_spec_nirspec_lv2imprint-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_017_spec_nirspec_lv2imprint-o001_spec3_001_asn.json
  jwst/associations/tests/test_main.py
  jwst/associations/tests/test_standards.py
Labels: Requirement, associations

#2091 Switched CRDS_CONTEXT in JenkinsfileRT to jwst-edit
  JenkinsfileRT
Labels: testing

#2103 Ignore requests to skip test suite execution for regression tests.
  JenkinsfileRT
Labels: bug, testing

#2106 update docstrings and comments
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/util.py
Labels: assign_wcs
