Repository spacetelescope/jwst, pull requests merged in 2018-12, with the labels that each got.

#2853 Unpin pytest=3.8.2 and numpy=1.15.2 to pick up latest
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#2916 fix nirspec cubepars schema
  jwst/datamodels/schemas/nirspec_ifucubepars.schema.yaml
Labels: cube_build, datamodels

#2911 Improve support for WFSS data.
  CHANGES.rst
  jwst/datamodels/schemas/slitdata.schema.yaml
  jwst/extract_1d/extract.py
Labels: datamodels, extract_1d

#2922 Filter out ERFA warnings for times far into the future in engdb test
  jwst/lib/tests/test_engdb_mock.py
Labels: engdb_tools, testing

#2917 Updates and fixes for ramp fitting for recent PRs and Issues.
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: error propagation, ramp_fitting

#2923 Fix mistake in the time to read one detector pixel.
  CHANGES.rst
  docs/jwst/refpix/description.rst
Labels: IRS2 readout, documentation, refpix

#2946 Use double-precision in AMI analyze and pipeline
  jwst/ami/ami_analyze.py
  jwst/ami/nrm_consts.py
  jwst/ami/nrm_model.py
  jwst/ami/utils.py
  jwst/ami/webb_psf.py
  jwst/pipeline/calwebb_ami3.py
  jwst/tests_nightly/general/niriss/test_niriss_steps.py
  jwst/tests_nightly/general/niriss/test_niriss_steps_single.py
Labels: ami, ami3 pipeline

#2905 Add unit tests for saturation step
  jwst/saturation/tests/test_saturation.py
Labels: saturation, testing

#2909 Add unit tests for superbias step
  jwst/superbias/tests/__init__.py
  jwst/superbias/tests/test_bias_sub.py
Labels: superbias, testing

#2939 Fix a bug when creating WCSImageGroups from empty catalogs
  jwst/tweakreg/wcsimage.py
Labels: bug, tweakreg

#2948 Use PyArray_SimpleNew instead of deprecated PyArray_FromDims
  src/tweakreg/carrutils.c
Labels: tweakreg

#2820 Fix for Issue #2756 and #2790 Wrong Units for Readnoise Variance
  jwst/ramp_fitting/compare_cr_navg_files.py
  jwst/ramp_fitting/compare_crs.py
  jwst/ramp_fitting/gls_fit.py
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: bug, ramp_fitting

#2955 fix doc warnings
  .rtd-environment.yml
  docs/conf.py
  docs/jwst/assign_wcs/index.rst
  docs/jwst/datamodels/attributes.rst
  docs/jwst/model_blender/blender_rules.rst
  docs/jwst/model_blender/index.rst
  docs/jwst/references_general/camera_reffile.rst
  docs/jwst/references_general/collimator_reffile.rst
  docs/jwst/references_general/disperser_reffile.rst
  docs/jwst/references_general/distortion_reffile.rst
  docs/jwst/references_general/explain_rmaps.rst
  docs/jwst/references_general/extract1d_reffile.rst
  docs/jwst/references_general/filteroffset_reffile.rst
  docs/jwst/references_general/fore_reffile.rst
  docs/jwst/references_general/fpa_reffile.rst
  docs/jwst/references_general/ifufore_reffile.rst
  docs/jwst/references_general/ifupost_reffile.rst
  docs/jwst/references_general/ifuslicer_reffile.rst
  docs/jwst/references_general/msa_reffile.rst
  docs/jwst/references_general/ote_reffile.rst
  docs/jwst/references_general/regions_reffile.rst
  docs/jwst/references_general/specwcs_reffile.rst
  docs/jwst/skymatch/README.rst
  docs/jwst/stpipe/devel_io_design.rst
  docs/jwst/tweakreg/README.rst
  jwst/datamodels/wcs_ref_models.py
  jwst/dq_init/dq_init_step.py
  jwst/model_blender/blendrules.py
Labels: documentation, reference files

#2969 Update help and CRDS_CONTEXT info
  README.md
  docs/jwst/introduction.rst
  setup.cfg
  setup.py
Labels: documentation

#2972 Add back NRC_GRISM as allowed EXP_TYPE
  jwst/assign_wcs/nircam.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_exptype.schema.yaml
  jwst/datamodels/schemas/keyword_pexptype.schema.yaml
Labels: datamodels

#2983 Use float64 in coron3 pipeline
  jwst/coron/imageregistration.py
  jwst/coron/klip.py
  jwst/coron/klip_step.py
  jwst/coron/stack_refs.py
  jwst/tests_nightly/general/nircam/test_coron3_1.py
Labels: coron3 pipeline

#2984 Don't rename failed test outputs; segregate truth files in test dir
  jwst/tests/compare_outputs.py
Labels: testing

#2985 Initialize PyArrayObject in carrutils.c
  src/tweakreg/carrutils.c
Labels: tweakreg

#2986 collect_pipeline_cfgs now won't import all pipeline steps
  jwst/pipeline/collect_pipeline_cfgs.py
Labels: pipeline

#2973 Add note to indicate reset step not currently used
  docs/jwst/reset/description.rst
Labels: documentation, reset

#2992 Update README.md with RT test running info
  README.md
Labels: testing

#2977 make sure grism_object passed as given
  jwst/extract_2d/extract_2d.py
Labels: Wide Field Slitless Spec (WFSS), bug, extract_2d

#2993 Add ci_watson back to README.md
  README.md
Labels: testing

#2891 update docs conf to conform to pygments change
  docs/conf.py
Labels: documentation

#2971 Update ModelContainer to accept already open associations
  jwst/datamodels/container.py
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/util.py
  jwst/lib/file_utils.py
  jwst/lib/tests/test_file_utils.py
  jwst/tests/helpers.py
Labels: associations, datamodels

#2988 Move update of meta info to the MultiSlitModel instead of the SlitModels it contains
  CHANGES.rst
  jwst/extract_2d/grisms.py
Labels: Wide Field Slitless Spec (WFSS), bug, extract_2d

#2996 remove xfail from wfss nightly test
  jwst/tests_nightly/general/niriss/test_nis_wfss_spec2.py
Labels: Wide Field Slitless Spec (WFSS), testing

#2980 refactor subarray transform
  CHANGES.rst
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/tests/test_util.py
  jwst/assign_wcs/util.py
Labels: assign_wcs, bug

#2998 Array should be filled after pointer validity check, not before
  src/tweakreg/carrutils.c
Labels: bug, tweakreg
