Repository spacetelescope/jwst, pull requests merged in 2018-02, with the labels that each got.

#1736 Add association candidate to asn_from_list
  jwst/associations/__init__.py
  jwst/associations/asn_from_list.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_asn_from_list.py
Labels: associations, bug

#1739 Modify a few model blender rules
  jwst/datamodels/schemas/core.schema.yaml
  jwst/model_blender/tests/test_blend.py
Labels: blend headers, datamodels

#1748 Fix resample_spec output model
  jwst/resample/resample_spec.py
Labels: bug, resample

#1734 some steps need to work with SlitModel instead of ImageModel
  jwst/datamodels/multiexposure.py
  jwst/datamodels/slit.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_2d/extract_2d.py
  jwst/extract_2d/nirspec.py
  jwst/photom/photom_step.py
Labels: datamodels, exp_to_source, extract_1d, extract_2d, photom

#1749 set attributes and compute s_region on SlitModel
  jwst/extract_2d/nirspec.py
  jwst/flatfield/flat_field.py
Labels: NIRSPEC, extract_2d

#1750 Update photom for NIRCam WFSS
  jwst/photom/photom.py
Labels: NIRCAM, Wide Field Slitless Spec (WFSS), photom

#1670 First diff fix
  jwst/jump/tests/test_twopoint_difference.py
  jwst/jump/twopoint_difference.py
Labels: jump

#1741 Straylight2
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/ifu_cube.py
  jwst/datamodels/schemas/ifucube.schema.yaml
  jwst/pipeline/straylight.cfg
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: MIRI MRS, cube_build, straylight

#1755 Re-add testing notebooks
  jwst/associations/tests/notebooks/make_tests.ipynb
  jwst/associations/tests/notebooks/test_tests.ipynb
Labels: associations

#1758 New noise model
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_scaled_step.py
  jwst/outlier_detection/outlier_detection_stack_step.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/resample/resample_utils.py
Labels: enhancement, outlier_detection

#1762 DOC: Fix Sphinx build on Travis CI
  setup.py
Labels: documentation, testing

#1764 Implementing a bug fix for the LG fit orientation; the fit will now b…
  jwst/ami/NRM_Model.py
  jwst/ami/ami_analyze.py
  jwst/ami/ami_normalize_step.py
  jwst/ami/analyticnrm2.py
  jwst/ami/hexee.py
  jwst/ami/leastsqnrm.py
  jwst/ami/utils.py
Labels: ami, bug

#1761 Initial corrections for background subtraction
  jwst/outlier_detection/outlier_detection.py
  jwst/resample/resample.py
  jwst/tweakreg/tweakreg_step.py
Labels: outlier_detection, resample, tweakreg

#1760 Remove hard-coded dqflag use from resample
  jwst/outlier_detection/outlier_detection.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
Labels: outlier_detection

#1772 Fix problem with no background values
  jwst/outlier_detection/outlier_detection.py
Labels: bug, outlier_detection
