Repository spacetelescope/jwst, pull requests merged in 2018-03, with the labels that each got.

#1773 use 1-based cooridnates with the NRS WCS
  jwst/assign_wcs/tools/nirspec/compute_world_coordinates.py
  jwst/extract_2d/nirspec.py
Labels: :fire:, bug, extract_2d

#1774 Update schemas for GRATING and SUBARRAY names
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/subarray.schema.yaml
Labels: datamodels

#1775 Change gain_scale warning to info
  jwst/gain_scale/gain_scale_step.py
Labels: gain_scale

#1769 Use CRPIX values as the target location for TSO imaging
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

#1776 Revise how to append planes to CON array
  jwst/resample/gwcs_drizzle.py
Labels: bug, resample

#1778 Raise Exception in make_output_wcs
  jwst/resample/resample_utils.py
Labels: enhancement, resample

#1779 Move photometry keywords to SCI header
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/cube.schema.yaml
  jwst/datamodels/schemas/drizproduct.schema.yaml
  jwst/datamodels/schemas/ifucube.schema.yaml
  jwst/datamodels/schemas/ifuimage.schema.yaml
  jwst/datamodels/schemas/image.schema.yaml
  jwst/datamodels/schemas/level1b.schema.yaml
  jwst/datamodels/schemas/miri_ramp.schema.yaml
  jwst/datamodels/schemas/multiexposure.schema.yaml
  jwst/datamodels/schemas/multiproduct.schema.yaml
  jwst/datamodels/schemas/photometry.schema.yaml
  jwst/datamodels/schemas/quad.schema.yaml
  jwst/datamodels/schemas/ramp.schema.yaml
  jwst/datamodels/schemas/slitdata.schema.yaml
  jwst/photom/photom.py
  jwst/photom/photom_step.py
Labels: datamodels, photom

#1783 Add the option to use a reference image for extract_1d
  jwst/datamodels/__init__.py
  jwst/datamodels/extract1dimage.py
  jwst/datamodels/multiextract1d.py
  jwst/datamodels/schemas/extract1dimage.schema.yaml
  jwst/datamodels/schemas/multiextract1d.schema.yaml
  jwst/extract_1d/extract.py
Labels: extract_1d

#1785 Photom bug fix for #1779
  jwst/photom/photom.py
Labels: bug, photom

#1787 Update logic to correctly flag as skipped
  jwst/outlier_detection/outlier_detection_step.py
Labels: bug, outlier_detection

#1786 updated the nircam specwcs grism mode
  jwst/datamodels/schemas/specwcs_nircam_grism.schema.yaml
Labels: bug

#1789 Replace NaNs and DO_NOT_USE in science data with 0.
  jwst/extract_1d/extract.py
Labels: extract_1d

#1790 Blend actual input models instead of blended products
  jwst/pipeline/calwebb_ami3.py
Labels: ami3 pipeline, bug

#1792 NIRSpec WCS input coordinates are 1-based (flat_field)
  jwst/flatfield/flat_field.py
Labels: flatfield

#1796 NIRSpec WCS input coordinates are 1-based (extract_1d)
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
Labels: extract_1d

#1799 Move the docs to the release stsci_rtd_theme instead of the local hack
  .rtd-environment.yml
  .travis.yml
  docs/_static/c1
  docs/_static/css/custom.css
  docs/_static/stsci_pri_combo_mark_white.png
  docs/conf.py
Labels: documentation, enhancement

#1808 Added test for single file input to calwebb_image3
  jwst/pipeline/tests/test_nrc_image3.py
Labels: image3 pipeline, testing

#1813 Truncate arrays where wavelength is NaN.
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
Labels: extract_1d

#1811 Update reference file gain_factor schema, #1810
  jwst/datamodels/schemas/dark.schema.yaml
  jwst/datamodels/schemas/keyword_gainfact.schema.yaml
  jwst/datamodels/schemas/linearity.schema.yaml
  jwst/datamodels/schemas/readnoise.schema.yaml
  jwst/datamodels/schemas/saturation.schema.yaml
  jwst/datamodels/schemas/superbias.schema.yaml
  jwst/gain_scale/gain_scale_step.py
  jwst/ramp_fitting/ramp_fit_step.py
Labels: datamodels, gain_scale, ramp_fitting

#1797 Add TUNIT to table-based products
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
  jwst/photom/photom.py
Labels: enhancement, extract_1d, photom

#1791 Update outlier docs
  docs/jwst/outlier_detection/index.rst
  docs/jwst/outlier_detection/outlier_detection.rst
  docs/jwst/outlier_detection/outlier_detection_ifu.rst
  docs/jwst/outlier_detection/outlier_detection_spec.rst
  docs/jwst/outlier_detection/outlier_detection_step.rst
  docs/jwst/resample/resample.rst
  docs/jwst/resample/resample_step.rst
  jwst/resample/resample_utils.py
Labels: documentation, outlier_detection

#1818 Fix output path naming
  jwst/outlier_detection/outlier_detection_ifu.py
Labels: bug, outlier_detection

#1828 Re-introduce patch for IFUModelImage
  jwst/pipeline/tests/test_calwebb_spec3_mir_mrs_dither.py
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

#1829 Fix input path for test
  jwst/pipeline/tests/test_calwebb_spec3_mir_mrs_dither.py
Labels: testing

#1830 Add WfssBkgModel data model
  jwst/datamodels/__init__.py
  jwst/datamodels/schemas/wfssbkg.schema.yaml
  jwst/datamodels/wfssbkg.py
Labels: datamodels, enhancement

#1831 fix computation of prism refraction index
  jwst/transforms/models.py
Labels: NIRSPEC, assign_wcs

#1833 Update to reflect changes to default ASDF history format
  jwst/datamodels/fits_support.py
Labels: ASDF, datamodels

#1836 Fix resample output frame offset
  jwst/model_blender/blendmeta.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_utils.py
Labels: resample

#1821 Updates to calwebb_guider processing
  jwst/datamodels/guidercal.py
  jwst/datamodels/guiderraw.py
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
  jwst/dq_init/dq_init_step.py
  jwst/dq_init/dq_initialization.py
  jwst/flatfield/flat_field.py
  jwst/guider_cds/guider_cds.py
  jwst/guider_cds/guider_cds_step.py
  jwst/pipeline/calwebb_guider.py
Labels: FGS, datamodels, dq_init, enhancement, flatfield, guide star pipeline, guider_cds

#1841 Fix warnings when running tests, consolidate conftests
  .gitignore
  conftest.py
  jwst/conftest.py
Labels: testing

#1839 Implement more robust TSO checking
  jwst/lib/pipe_utils.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/tests/test_nrs_spec2_bright_obj.py
Labels: bug, spec2 pipeline, time series observations (TSO)

#1843 Update photom docs for PIXAR_nn handling
  docs/jwst/photom/main.rst
  docs/jwst/photom/reference_files.rst
Labels: documentation, photom

#1842 Outlier
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_cloud.py
  jwst/cube_build/data_types.py
  jwst/cube_build/ifu_cube.py
Labels: bug, cube_build

#1849 OutlierDetection returns input rather than a copy of input for singletons
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection

#1852 fix custom frame serialization
  jwst/assign_wcs/pointing.py
  jwst/assign_wcs/tests/test_wcs.py
Labels: assign_wcs

#1851 Core schema updates
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_exptype.schema.yaml
  jwst/datamodels/schemas/subarray.schema.yaml
Labels: datamodels

#1834 Nirspec: 1- vs 0- based pixel coordinates
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/assign_wcs/tools/nirspec/compute_world_coordinates.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
  jwst/extract_2d/nirspec.py
  jwst/flatfield/flat_field.py
Labels: :fire:, assign_wcs, extract_1d, extract_2d, flatfield

#1854 Update test data used for image2 testing
  jwst/pipeline/tests/test_calwebb_image2.py
Labels: testing
