Repository spacetelescope/jwst, pull requests merged in 2018-11, with the labels that each got.

#2823 Update persistence reffile docs
  docs/jwst/persistence/index.rst
  docs/jwst/persistence/persat_selection.rst
  docs/jwst/persistence/reference_files.rst
  docs/jwst/persistence/trapdensity_selection.rst
  docs/jwst/persistence/trappars_selection.rst
Labels: documentation, persistence, reference files

#2688 Add missing reference file keywords to reffile schemas
  jwst/datamodels/reference.py
  jwst/datamodels/schemas/nirspec_flat.schema.yaml
  jwst/datamodels/schemas/superbias.schema.yaml
Labels: datamodels, reference files

#2776 Update Jenkinsfile to rely on CI utils library
  Jenkinsfile
Labels: testing

#2830 Don't use numpy 1.15.3 in testing
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/nirspec.py
  jwst/csv_tools/csvconvert.py
  jwst/datamodels/schema_editor.py
  jwst/datamodels/tsophot.py
  jwst/emission/emission.py
  jwst/lib/suffix.py
  jwst/pipeline/calwebb_spec2.py
  jwst/tests_nightly/general/nircam/test_nrc_image3_1.py
  jwst/transforms/models.py
Labels: testing

#2818 Make mkdata.py a function instead of a script
  jwst/stpipe/tests/data/mkdata.py
Labels: stpipe, testing

#2793 Add sphinx docs building instructions to README.md
  README.md
Labels: documentation

#2782 Updated lastframe unit test to test NIR data
  jwst/lastframe/tests/test_lastframe.py
Labels: MIRI, NIRCAM, lastframe, testing

#2834 Fixed bug in which the number of segments returned exceeds the number…
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit.py
Labels: ramp_fitting

#2841 Updated to fix IndexError: Compound model CompoundModel56 does not ha…
  jwst/wfs_combine/wfs_combine.py
Labels: wfs_combine

#2842 Only list numpy once in Jenkinsfile conda dependencies
  Jenkinsfile
Labels: :fire:, testing

#2803 Make skymatch not fail in match mode when images do not overlap
  CHANGES.rst
  jwst/skymatch/skyimage.py
  jwst/skymatch/skymatch.py
  jwst/skymatch/skymatch_step.py
Labels: enhancement, skymatch

#2855 Remove NRS_BOTA from dms_base
  jwst/associations/lib/dms_base.py
Labels: associations

#2814 Remove soon-to-be-deprecated usage of AsdfFile.open
  docs/jwst/assign_wcs/asdf-howto.rst
  jwst/assign_wcs/niriss.py
  jwst/datamodels/model_base.py
Labels: ASDF, datamodels

#2856 Associations docstring/document update & cleanup
  docs/jwst/associations/asn_from_list.rst
  docs/jwst/associations/asn_generate.rst
  docs/jwst/associations/association.rst
  docs/jwst/associations/association_api.rst
  docs/jwst/associations/association_reference.rst
  docs/jwst/associations/commands.rst
  docs/jwst/associations/design.rst
  docs/jwst/associations/generator.rst
  docs/jwst/associations/index.rst
  docs/jwst/associations/jwst_conventions.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/level3_asn_rules.rst
  docs/jwst/associations/level3_asn_technical.rst
  docs/jwst/associations/overview.rst
  docs/jwst/associations/pool.rst
  docs/jwst/associations/registry.rst
  docs/jwst/associations/technote_sdp_workflow.rst
  docs/jwst/datamodels/index.rst
  jwst/associations/__init__.py
  jwst/associations/association.py
  jwst/associations/generate.py
  jwst/associations/lib/process_list.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/main.py
  jwst/associations/pool.py
  jwst/associations/registry.py
Labels: associations, documentation

#2783 New firstframe unit test added
  jwst/firstframe/tests/test_firstframe.py
Labels: MIRI, firstframe, testing

#2865 Update README.md
  README.md
Labels: task

#2862 Update of association docstring-part deux
  CHANGES.rst
  docs/jwst/associations/asn_from_list.rst
  docs/jwst/associations/association_reference.rst
  docs/jwst/associations/generator.rst
  docs/jwst/associations/jwst_conventions.rst
  docs/jwst/associations/level3_asn_rules.rst
  docs/jwst/associations/level3_asn_technical.rst
  docs/jwst/associations/rules_level2.rst
  docs/jwst/associations/rules_level3.rst
  docs/jwst/associations/technote_sdp_workflow.rst
  jwst/associations/__init__.py
  jwst/associations/asn_edit.py
  jwst/associations/association.py
  jwst/associations/association_io.py
  jwst/associations/generate.py
  jwst/associations/lib/acid.py
  jwst/associations/lib/callback_registry.py
  jwst/associations/lib/constraint.py
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/format_template.py
  jwst/associations/lib/keyvalue_registry.py
  jwst/associations/lib/log_config.py
  jwst/associations/lib/lv2_v1_to_v2.py
  jwst/associations/lib/member.py
  jwst/associations/lib/process_list.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/lib/update_path.py
  jwst/associations/lib/utilities.py
  jwst/associations/load_as_asn.py
  jwst/associations/load_asn.py
  jwst/associations/main.py
  jwst/associations/mkpool.py
  jwst/associations/pool.py
  jwst/associations/registry.py
  jwst/associations/tests/data/asn_standards/pool_018_all_exptypes-o050_image2_001_asn.json
  jwst/associations/tests/test_main.py
Labels: associations, documentation, ready-for-final-review

#2852 Define pytest_plugins in top level conftest.py
  conftest.py
  jwst/conftest.py
  setup.cfg
Labels: testing

#2851 Support asdf flags when creating a new datamodel
  jwst/datamodels/container.py
  jwst/datamodels/fits_support.py
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_models.py
Labels: ASDF, datamodels

#2864 Add tests for dq_init step
  jwst/dq_init/tests/test_dq_init.py
Labels: dq_init, testing

#2876 Fix RSCD column name bug in schema
  jwst/datamodels/schemas/rscd.schema.yaml
  jwst/datamodels/util.py
Labels: datamodels, rscd

#2822 Updated doc strings for persistence. See issue #2681.
  CHANGES.rst
  jwst/ipc/ipc_corr.py
  jwst/ipc/ipc_step.py
  jwst/ipc/x_irs2.py
  jwst/persistence/persistence.py
  jwst/persistence/persistence_step.py
Labels: persistence

#2871 Update photom step reference file docs
  docs/jwst/photom/area_selection.rst
  docs/jwst/photom/photom_selection.rst
  docs/jwst/photom/reference_files.rst
Labels: documentation, photom, reference files

#2877 Update reffile docs for refpix and rscd
  docs/jwst/refpix/description.rst
  docs/jwst/refpix/reference_files.rst
  docs/jwst/refpix/refpix_selection.rst
  docs/jwst/rscd/README
  docs/jwst/rscd/reference_files.rst
  docs/jwst/rscd/rscd_selection.rst
Labels: documentation, reference files, refpix, rscd

#2879 Filter out reffile keyword validation warnings out of dq_init tests
  jwst/dq_init/tests/test_dq_init.py
Labels: dq_init, testing

#2880 Update ref file docs for straylight and superbias
  docs/jwst/saturation/reference_files.rst
  docs/jwst/straylight/reference_files.rst
  docs/jwst/straylight/straymask_selection.rst
  docs/jwst/superbias/reference_files.rst
  docs/jwst/superbias/superbias_selection.rst
Labels: documentation, reference files, straylight, superbias

#2801 Added velocity correction to WFSS and Nircam TSO
  CHANGES.rst
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
Labels: Wide Field Slitless Spec (WFSS), assign_wcs, time series observations (TSO)

#2889 Describe IRS2 refpix correction
  CHANGES.rst
  docs/jwst/refpix/description.rst
Labels: documentation, refpix

#2787 Update doc strings for cube_build
  docs/jwst/cube_build/index.rst
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_cloud.py
  jwst/cube_build/cube_overlap.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build, documentation

#2894 create v2v3 frame in the LRS pipeline
  jwst/assign_wcs/miri.py
Labels: MIRI LRS, assign_wcs

#2897 Remove soon-to-be-deprecated usage of AsdfFile.open
  docs/jwst/assign_wcs/asdf-howto.rst
  jwst/assign_wcs/niriss.py
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_open.py
Labels: ASDF, datamodels

#2794 Remove dask dependency
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#2896 Enable test data from failed RT tests to be uploaded to Artifactory
  jwst/tests/base_classes.py
  jwst/tests/compare_outputs.py
Labels: testing
