Repository spacetelescope/jwst, pull requests merged in 2018-06, with the labels that each got.

#2110 skip assign_wcs if the MSAMETFL keyword is not populated correctly
  jwst/assign_wcs/assign_wcs_step.py
Labels: NIRSPEC MSA, assign_wcs

#2115 update the _separable attribute of models
  jwst/transforms/models.py
  jwst/transforms/tpcorr.py
Labels: transforms

#2116 docstrings in jwst.transforms
  docs/jwst/transforms/index.rst
  jwst/transforms/models.py
Labels: documentation, transforms

#2114 extract_2d docs
  docs/jwst/extract_2d/main.rst
  jwst/extract_2d/extract_2d.py
  jwst/extract_2d/extract_2d_step.py
  jwst/extract_2d/nirspec.py
Labels: documentation, extract_2d

#2113 Divided median differences by the group time in the calculation of th…
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: error propagation, ramp_fitting

#2123 Divided readnoise by square root of number of frames per group, per G…
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: error propagation, ramp_fitting

#2126 check for valid fits msa metafile in function
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC MSA, assign_wcs

#2145 update README for release 0.9.6
  README.md
Labels: documentation

#2112 Update configobj as a bundled dependency for stpipe
  docs/jwst/stpipe/devel_step.rst
  docs/jwst/stpipe/user_pipeline.rst
  docs/jwst/stpipe/user_step.rst
  jwst/extern/__init__.py
  jwst/extern/configobj/__init__.py
  jwst/extern/configobj/configobj.py
  jwst/extern/configobj/validate.py
  jwst/stpipe/config_parser.py
  jwst/stpipe/log.py
  jwst/stpipe/pipeline.py
Labels: stpipe

#2134 NRS: fix input units to meters when filter=OPAQUE
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC, assign_wcs

#2149 Xfail test_nis_wfss_spec2 regression test
  jwst/tests_nightly/general/pipelines/test_nis_wfss_spec2.py
Labels: Wide Field Slitless Spec (WFSS), testing

#2155 white_light should handle segmented data and data with multiple orders
  jwst/extract_1d/extract.py
  jwst/white_light/white_light.py
Labels: extract_1d, white_light

#2157 Better guessing at input/output filenames when running steps from scripts
  jwst/stpipe/cmdline.py
  jwst/stpipe/step.py
Labels: stpipe, task

#2158 WIP: fix wavelength units of inverse transform
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC, assign_wcs

#2163 fix for NRS prism
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC, assign_wcs

#2168 Ensure calwebb_spec2 fails when `assign_wcs` fails or is skipped
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/tests/test_calwebb_spec2_nrs_msa.py
Labels: assign_wcs, spec2 pipeline

#2169 Fix NIS WFSS Level3 associations to use the cal files as members
  jwst/associations/__init__.py
  jwst/associations/lib/dms_base.py
  jwst/associations/tests/data/asn_standards/pool_019_niriss_wfss-o001_image2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_019_niriss_wfss-o001_image3_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_019_niriss_wfss-o001_spec2_001_asn.json
  jwst/associations/tests/data/asn_standards/pool_019_niriss_wfss-o001_spec3_001_asn.json
  jwst/associations/tests/data/jw96090_20160615t210324_mosaic_001_asn.json
  jwst/associations/tests/data/jw96090_20160615t210324_mosaic_002_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_ami3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_ami3_002_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_002_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_003_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_004_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_005_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_006_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_007_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_008_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_009_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_010_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_image3_011_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_spec3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_tso3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-a3001_tso3_002_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o004_image2_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o004_image3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o014_image2_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o014_image3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o029_ami3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o029_ami3_002_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o029_image2_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o029_image3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87600_20171108T042226_pool-o029_image3_002_asn.json
  jwst/associations/tests/data/sdp/asns/jw87800_20180412T163456_pool-o017_image2_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87800_20180412T163456_pool-o017_image3_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87800_20180412T163456_pool-o017_spec2_001_asn.json
  jwst/associations/tests/data/sdp/asns/jw87800_20180412T163456_pool-o017_spec3_001_asn.json
  jwst/associations/tests/helpers.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: Wide Field Slitless Spec (WFSS), associations, bug

#2166 process NRS_AUTOFLAT as a MOS observation
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/nirspec.py
  jwst/extract_2d/extract_2d.py
  jwst/extract_2d/nirspec.py
Labels: NIRSPEC, NIRSPEC MSA, assign_wcs

#2137 Purge unused dependencies
  .rtd-environment.yml
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#2171 Update data models and steps for the integration times table.
  jwst/datamodels/cube.py
  jwst/datamodels/level1b.py
  jwst/datamodels/multispec.py
  jwst/datamodels/ramp.py
  jwst/datamodels/schemas/image.schema.yaml
  jwst/datamodels/schemas/level1b.schema.yaml
  jwst/datamodels/schemas/multislit.schema.yaml
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/datamodels/schemas/ramp.schema.yaml
  jwst/datamodels/slit.py
  jwst/extract_1d/extract.py
  jwst/extract_2d/nirspec.py
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
  jwst/tso_photometry/tso_photometry.py
  jwst/white_light/white_light.py
Labels: datamodels, extract_1d, extract_2d, ramp_fitting, tso_photometry, white_light

#2172 Lower relative tolerance on fitsdiff for a few regression tests
  jwst/tests_nightly/general/niriss/test_ami_analyze.py
  jwst/tests_nightly/general/niriss/test_ami_pipeline.py
  jwst/tests_nightly/general/pipelines/test_coron3_1.py
  jwst/tests_nightly/general/pipelines/test_nrc_image3_1.py
Labels: ami, testing

#2173 Import logging.
  jwst/tso_photometry/tso_photometry.py
Labels: tso_photometry

#2178 Skip spectral extraction if dispaxis could not be determined
  jwst/extract_1d/extract.py
Labels: extract_1d

#2182 Fix AssociationPool.write to be compatible with jsviewer
  jwst/associations/__init__.py
  jwst/associations/pool.py
Labels: associations, task

#2175 Round S_REGION RA/Dec values to 9 decimal places
  jwst/assign_wcs/util.py
Labels: assign_wcs

#2100 Reference file specifications part I
  docs/jwst/ami/reference_files.rst
  docs/jwst/dq_init/reference_files.rst
  docs/jwst/flatfield/reference_files.rst
  docs/jwst/fringe/reference_files.rst
  docs/jwst/ipc/reference_files.rst
  docs/jwst/jump/reference_files.rst
  docs/jwst/linearity/reference_files.rst
  docs/jwst/ramp_fitting/reference_files.rst
  docs/jwst/refpix/reference_files.rst
  docs/jwst/reset/reference_files.rst
  docs/jwst/rscd/reference_files.rst
  docs/jwst/straylight/index.rst
  docs/jwst/straylight/reference_files.rst
  docs/jwst/superbias/reference_files.rst
Labels: documentation

#2187 Fix test_nrs_msa_spec2b
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2b.py
Labels: NIRSPEC MSA, testing

#2189 For extract_1d, find nod/dither offset from XOFFSET, YOFFSET
  jwst/extract_1d/extract.py
Labels: extract_1d

#2198 Fix tests for missing msametfl for updated msametfl handling
  jwst/pipeline/tests/test_calwebb_spec2_nrs_msa.py
Labels: NIRSPEC MSA, testing

#2193 Strip folder path from table and pool name keywords
  jwst/pipeline/calwebb_image2.py
Labels: bug, spec2 pipeline

#2154 Change 'build_mode' to 'name' to reflect CI utils update.
  Jenkinsfile
  JenkinsfileRT
Labels: enhancement

#2191 Remove deprecated photutils.properties_table
  jwst/source_catalog/source_catalog.py
Labels: source catalog
