Repository spacetelescope/jwst, pull requests merged in 2018-08, with the labels that each got.

#2319 Change iters to maxiters in source_catalog
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#2322 fix get_open_slits
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
Labels: NIRSPEC, assign_wcs, bug

#2298 Added annotation to embedded ASDF exception message
  jwst/datamodels/fits_support.py
Labels: datamodels

#2216 Ref specs ii
  docs/jwst/assign_wcs/reference_files.rst
  docs/jwst/flatfield/reference_files.rst
  docs/jwst/photom/reference_files.rst
  docs/jwst/saturation/index.rst
  docs/jwst/saturation/reference_files.rst
Labels: documentation, reference files

#2325 Slitlet dimension
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC, NIRSPEC MSA, assign_wcs, bug

#2346 fix PEP8 issues in assign_wcs, enable an IFU test again
  jwst/assign_wcs/__init__.py
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/tests/data/Trace_IFU_Slice_00_MON-COMBO-IFU-06_8410_jlab85.fits.gz
  jwst/assign_wcs/tests/data/Trace_IFU_Slice_00_SMOS-MOD-G1M-17-5344175105_30192_JLAB88.fits
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/assign_wcs/util.py
Labels: assign_wcs

#2284 Fix handling of default data array name
  jwst/datamodels/amilg.py
  jwst/datamodels/linearity.py
  jwst/datamodels/model_base.py
  jwst/datamodels/ndmodel.py
Labels: datamodels

#2342 Adjust TPCorr to work with V2, V3 angles in arcsec instead of degrees
  jwst/transforms/tpcorr.py
Labels: bug, tweakreg

#2364 fix footprint assignment in cube_build
  jwst/cube_build/cube_build_step.py
Labels: cube_build

#2367 PEP8 changes
  jwst/combine_1d/__init__.py
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/combine_1d_step.py
  jwst/combine_1d/temp_wcs.py
  jwst/extract_1d/__init__.py
  jwst/extract_1d/extract1d.py
  jwst/flatfield/__init__.py
  jwst/flatfield/flat_field.py
  jwst/flatfield/flat_field_step.py
  jwst/ipc/__init__.py
  jwst/persistence/__init__.py
  jwst/persistence/persistence.py
  jwst/persistence/persistence_step.py
Labels: combine_1d, extract_1d, flatfield, ipc, persistence

#2309 add setup classifiers
  CHANGES.rst
  CODEOWNERS.md
  setup.py
Labels: installation

#2372 Fix PEP8 issues in model_blender
  jwst/model_blender/blendmeta.py
  jwst/model_blender/tests/test_blend.py
Labels: blend headers, in_progress

#2355 Remove version and PEP8 fixes
  jwst/source_catalog/__init__.py
  jwst/source_catalog/source_catalog.py
  jwst/tso_photometry/__init__.py
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: source catalog, tso_photometry

#2366 Fix slits ordering
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC, NIRSPEC MSA, assign_wcs, bug

#2373 Remove arrays.py from datamodels. fixes #2354
  jwst/datamodels/arrays.py
Labels: datamodels

#2376 remove version, fix flake8
  jwst/assign_wcs/__init__.py
  jwst/assign_wcs/tools/nirspec/compute_world_coordinates.py
  jwst/assign_wcs/tools/nirspec/nirspec_fs_ref_tools.py
  jwst/transforms/__init__.py
  jwst/transforms/jwextension.py
  jwst/transforms/jwst_types.py
  jwst/transforms/models.py
  jwst/transforms/tags/__init__.py
  jwst/transforms/tags/jwst_models.py
  jwst/transforms/tags/tests/__init__.py
  jwst/transforms/tags/tests/test_models.py
  jwst/transforms/tests/__init__.py
  jwst/transforms/tpcorr.py
Labels: assign_wcs, transforms

#2302 Update Reference file description
  docs/jwst/cube_build/reference.rst
Labels: cube_build, documentation

#2377 Pep8 changes for straylight step
  jwst/straylight/__init__.py
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: straylight

#2381 PEP8 cleanup for background, coron, dark_current, emission, outlier
  jwst/background/__init__.py
  jwst/coron/__init__.py
  jwst/coron/align_refs_step.py
  jwst/coron/stack_refs_step.py
  jwst/dark_current/__init__.py
  jwst/emission/__init__.py
  jwst/emission/emission.py
  jwst/emission/emission_step.py
  jwst/outlier_detection/__init__.py
  jwst/outlier_detection/outlier_detection_scaled.py
  jwst/outlier_detection/outlier_detection_spec.py
Labels: background, dark_current, emmission, outlier_detection

#2386 fix ifupost schema
  jwst/datamodels/schemas/ifupost.schema.yaml
Labels: NIRSpec IFU, assign_wcs, datamodels

#2384 Barshadow nan fix
  CHANGES.rst
  jwst/barshadow/bar_shadow.py
Labels: bar shadow, bug

#2348 Add build_interpolated_output_wcs() method to resample_spec
  jwst/resample/__init__.py
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2.py
  jwst/tests_nightly/general/pipelines/test_nrs_msa_spec2b.py
Labels: ready-for-final-review, resample

#2359 Update utc_to_tdb to also update VELOSYS.
  jwst/lib/utc_to_tdb.py
Labels: timeconversion

#2382 update pyparsing
  CHANGES.rst
  jwst/assign_wcs/pointing.py
  jwst/fits_generator/input_file_types.py
  jwst/fits_generator/pyparsing.py
  jwst/fits_generator/template.py
  jwst/fits_generator/util.py
  scripts/move_wcs.py
Labels: fits_generator

#2388 Pep8 cubebuild
  jwst/cube_build/__init__.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_cloud.py
  jwst/cube_build/cube_overlap.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/spaxel.py
Labels: cube_build

#2404 create wcs frames in tweakreg
  jwst/tweakreg/wcsimage.py
Labels: tweakreg

#2405 Update for current usage of make_output_path
  jwst/outlier_detection/outlier_detection_spec.py
Labels: bug, outlier_detection, ready-for-final-review

#2403 Fix error in tso_photometry
  jwst/tso_photometry/tso_photometry.py
Labels: bug, tso3 pipeline, tso_photometry

#2402 Final ifu cube error
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_cloud.py
Labels: bug, cube_build

#2350 Wavetab
  jwst/assign_wcs/pointing.py
  jwst/datamodels/ifucube.py
  jwst/datamodels/schemas/ifucube.schema.yaml
  jwst/datamodels/schemas/wcsinfo.schema.yaml
Labels: assign_wcs, wcs

#2393 Datamodels has a new info method, similar to astropy fits [#2268]
  CHANGES.rst
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_models.py
Labels: datamodels, enhancement

#2401 Add warning message to datamodels.open when model_type not found [#2248]
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/util.py
Labels: datamodels, enhancement

#2410 Move no model type warning in datamodels
  CHANGES.rst
  jwst/datamodels/util.py
Labels: datamodels

#2385 First updates to the reference files documentation
  docs/jwst/introduction.rst
  docs/jwst/reference-file-formats-documentation.rst
Labels: documentation, reference files

#2365 Updated test for firstframe step.
  jwst/firstframe/tests/test_firstframe.py
Labels: firstframe, testing

#2411 Add a calimage3 regression test that includes tweakreg
  jwst/tests_nightly/general/pipelines/test_nrc_image3_2.py
Labels: image3 pipeline, testing, tweakreg

#2414 Keyword definition updates
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_coronmsk.schema.yaml
  jwst/datamodels/schemas/keyword_exptype.schema.yaml
  jwst/datamodels/schemas/keyword_grating.schema.yaml
  jwst/datamodels/schemas/wcsinfo.schema.yaml
Labels: datamodels

#2419 pep8 updates for firstframe, rscd, reset step
  jwst/firstframe/__init__.py
  jwst/firstframe/firstframe_sub.py
  jwst/firstframe/tests/test_firstframe.py
  jwst/reset/__init__.py
  jwst/reset/reset_sub.py
  jwst/rscd/__init__.py
Labels: firstframe, reset, rscd

#2421 Fix failing NIRISS SOSS spec2 reg test
  jwst/tests_nightly/general/niriss/test_nirisssoss2_pipeline.py
Labels: spec2 pipeline, testing

#2422 Fix bug in resample_spec wavelength reverse lookup table
  CHANGES.rst
  jwst/resample/resample_spec.py
Labels: resample

#2425 Fix typo in regression test
  jwst/tests_nightly/general/niriss/test_nirisssoss2_pipeline.py
Labels: testing

#2429 Explicitly define suffixes for the gain_scale output
  jwst/pipeline/calwebb_detector1.py
  jwst/tests_nightly/general/miri/test_gain_naming.py
  jwst/tests_nightly/notebooks/gain_naming.ipynb
Labels: bug, detector1, in_progress, jira

#2424 Enable resample_spec on MIR_LRS-FIXEDSLIT data in spec2 pipeline
  CHANGES.rst
  jwst/pipeline/calwebb_spec2.py
Labels: resample, spec2 pipeline

#2412 Added lastframe unit tests
  jwst/lastframe/tests/test_lastframe.py
Labels: lastframe, testing

#2423 PEP8 fixes for pipeline package
  jwst/pipeline/__init__.py
  jwst/pipeline/calwebb_ami3.py
  jwst/pipeline/calwebb_coron3.py
  jwst/pipeline/calwebb_dark.py
  jwst/pipeline/calwebb_detector1.py
  jwst/pipeline/calwebb_guider.py
  jwst/pipeline/calwebb_image2.py
  jwst/pipeline/calwebb_image3.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/calwebb_tso3.py
  jwst/pipeline/linear_pipeline.py
  jwst/pipeline/tests/helpers.py
  jwst/pipeline/tests/test_calwebb_image2.py
  jwst/pipeline/tests/test_calwebb_spec2.py
  jwst/pipeline/tests/test_calwebb_spec2_nrs_msa.py
  jwst/pipeline/tests/test_calwebb_spec3_mir_lrs_fixedslit.py
  jwst/pipeline/tests/test_calwebb_spec3_mir_mrs.py
  jwst/pipeline/tests/test_calwebb_spec3_mir_mrs_dither.py
  jwst/pipeline/tests/test_calwebb_spec3_nrs_msa.py
  jwst/pipeline/tests/test_nis_ami3.py
  jwst/pipeline/tests/test_nis_soss_tso3.py
  jwst/pipeline/tests/test_nrc_coron3.py
  jwst/pipeline/tests/test_nrc_detector1.py
  jwst/pipeline/tests/test_nrc_image3.py
  jwst/pipeline/tests/test_nrc_tso3.py
  jwst/pipeline/tests/test_nrs_spec2_bright_obj.py
  jwst/pipeline/tests/test_nrs_tso3.py
  jwst/pipeline/tests/test_wfs_combine.py
Labels: pipeline

#2441 Return special exit status when an exposure has no science in it.
  docs/jwst/introduction.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/util.py
  jwst/associations/tests/test_main.py
  jwst/pipeline/calwebb_spec2.py
  jwst/tests_nightly/general/nirspec/test_spec2.py
  scripts/strun
Labels: Requirement, assign_wcs, ready-for-final-review, sdp, stpipe

#2315 Revamped refpix to be more efficient
  jwst/refpix/reference_pixels.py
Labels: enhancement, refpix
