Repository spacetelescope/jwst, pull requests merged in 2019-03, with the labels that each got.

#3197 Add exit code to set_bary_helio_times script
  CHANGES.rst
  scripts/move_wcs.py
  scripts/runjwpsf.py
  scripts/set_bary_helio_times.py
  scripts/set_velocity_aberration.py
  scripts/stspec
Labels: timeconversion

#3195 Remove conda from Travis CI build
  .travis.yml
  jwst/ami/nrm_model.py
Labels: testing

#3202 Option to invoke extract_1d by calling do_extract1d
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract1d.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
Labels: extract_1d, master background

#3200 Pull test data inputs_root and results_root values from pytest config.
  jwst/tests/base_classes.py
  setup.cfg
  setup.py
Labels: testing

#3219 Fix .travis.yml
  .travis.yml
Labels: testing

#3220 Changes to the combine_1d step
  CHANGES.rst
  docs/jwst/combine_1d/arguments.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/combine_1d_step.py
  jwst/pipeline/combine_1d.cfg
Labels: combine_1d, master background

#3233 Check for ref_dict is None in extract_1d
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#3225 Change VALUE datatype in dq_def schema to uint
  jwst/datamodels/schemas/dq_def.schema.yaml
Labels: datamodels

#3237 prepare change log for 0.13.2
  CHANGES.rst
Labels: documentation

#3240 Update README for 0.13.1 delivery [skip ci]
  README.md
Labels: documentation

#3234 improve the Travis test matrix
  .travis.yml
Labels: testing

#3241 Pin CRDS_CONTEXT=jwst_0500.pmap
  JenkinsfileRT
Labels: testing

#3242 Modify unit tests for expand_to_2d
  CHANGES.rst
  jwst/master_background/tests/test_expand_to_2d.py
Labels: master background

#3109 Master background regression tests
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: master background, sprint 20190304, testing

#3201 SpecModel.wcs
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/temp_wcs.py
  jwst/combine_1d/tests/__init__.py
  jwst/extract_1d/spec_wcs.py
  jwst/extract_1d/tests/test_wcs.py
Labels: combine_1d, extract_1d, sprint 20190304

#3244 Update to handle new pytest configurations
  jwst/tests_nightly/general/associations/test_sdp_pools.py
Labels: regression, testing

#3243 Publish conda env listing to Artifactory upon failure-free test run.
  JenkinsfileRT
Labels: testing

#3199 DOC: Add JupyterHub to README
  README.md
Labels: documentation

#3248 Convert CDELTn to degrees
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: bug, set_telescope_pointing

#3254 Fix jsonschema issue in regression tests
  JenkinsfileRT
Labels: testing

#3253 Use publicly released dependencies for regression tests
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#3265 Remove spaces from Jenkins build names
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#3255 Fix void pointer arithmetic in tweakreg
  src/tweakreg/carrutils.c
Labels: bug, tweakreg

#3264 Revert "Merge pull request #1027 from bernie-simon/jit_container"
  CHANGES.rst
  jwst/datamodels/container.py
  jwst/mrs_imatch/mrs_imatch_step.py
  jwst/tweakreg/tweakreg_step.py
Labels: datamodels

#3258 Use reference image for IFU data
  CHANGES.rst
  docs/jwst/extract_1d/index.rst
  docs/jwst/extract_1d/reference_image.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
Labels: extract_1d, master background

#3274 Combine1DStep needed arrays of right ascension and declination
  CHANGES.rst
  jwst/combine_1d/combine1d.py
Labels: combine_1d, master background

#3252 Updates to calspec2 background step to check NIRSPEC GWA Tilt values
  CHANGES.rst
  jwst/background/background_step.py
Labels: background

#3263 Add control flow logic for master background step
  CHANGES.rst
  jwst/master_background/master_background_step.py
Labels: master background

#3249 Ignore contiguous leading groups in which all pixels have been flagged DO_NOT_USE.
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

#3276 Update reg tests to compare ecsv files
  jwst/tests_nightly/general/nircam/test_nrc_image3_1.py
  jwst/tests_nightly/general/nircam/test_tso3.py
Labels: testing

#3266 Keyword updates
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
  jwst/guider_cds/guider_cds.py
Labels: datamodels, keywords

#3268 Improve subarray slice error messages
  CHANGES.rst
  jwst/lib/reffile_utils.py
Labels: reffile_utils

#3279 Shorten test names so result dirs don't overwrite on Artifactory
  jwst/tests_nightly/general/miri/test_miri_steps.py
  jwst/tests_nightly/general/nircam/test_nircam_steps.py
  jwst/tests_nightly/general/niriss/test_niriss_steps.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps.py
  jwst/tests_nightly/general/nirspec/test_spec2pipelines.py
Labels: testing

#3275 Split input in master_background into source and background
  jwst/datamodels/container.py
  jwst/datamodels/filetype.py
  jwst/datamodels/util.py
  jwst/master_background/expand_to_2d.py
  jwst/master_background/master_background_step.py
  jwst/master_background/tests/test_master_background.py
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: datamodels, master background

#3281 Remove C code; Improve 2dhist pre-match shift computation
  CHANGES.rst
  jwst/tweakreg/matchutils.py
  jwst/tweakreg/tests/test_interface.py
  jwst/tweakreg/wcsimage.py
  setup.py
  src/tweakreg/carrutils.c
Labels: bug, enhancement, tweakreg

#3285 Unit tests for extract_1d for IFU data
  CHANGES.rst
  jwst/extract_1d/tests/test_ifu_image_ref.py
Labels: extract_1d, master background

#3286 Fix tweakreg bug for no source catalogs
  CHANGES.rst
  jwst/tweakreg/wcsimage.py
Labels: bug, tweakreg

#3289 Remove DataModel._extensions attribute
  jwst/datamodels/container.py
  jwst/datamodels/fits_support.py
  jwst/datamodels/model_base.py
  jwst/datamodels/util.py
Labels: datamodels

#3292 Fix a failure in tweakreg when catalogs contain sources outside WCS domain
  CHANGES.rst
  jwst/tweakreg/tweakreg_catalog.py
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg, tweakreg catalog

#3293 Update master_background docs
  docs/jwst/master_background/arguments.rst
  docs/jwst/master_background/description.rst
  docs/jwst/master_background/index.rst
Labels: documentation, master background

#3297 Change exception type for incorrect input
  CHANGES.rst
  jwst/tweakreg/tweakreg_catalog.py
Labels: bug, tweakreg catalog

#3296 Add master_background step to calspec3 pipeline
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
  jwst/master_background/master_background_step.py
  jwst/outlier_detection/outlier_detection_ifu.py
  jwst/pipeline/calwebb_spec3.py
Labels: master background, spec3 pipeline
