Repository spacetelescope/jwst, pull requests merged in 2019-05, with the labels that each got.

#3405 unit test for background
  jwst/background/tests/__init__.py
  jwst/background/tests/test_background.py
Labels: background, testing

#3400 Add unit tests for group scaling
  jwst/group_scale/tests/test_group_scale.py
Labels: group_scale, testing

#3393 Master_background regression test for nodded NIRSpec IFU observation
  jwst/master_background/tests/test_master_background.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: master background, testing

#3399 Updates for JP-525, list cal and x1d background files in jw0023-o002-…
  .gitignore
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
Labels: associations, spec3 pipeline

#3412 Modify extract_1d and combine_1d for change in units
  CHANGES.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/combine_1d_step.py
  jwst/datamodels/schemas/combinedspec.schema.yaml
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/datamodels/schemas/spec.schema.yaml
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
  jwst/extract_1d/tests/test_ifu_image_ref.py
  jwst/extract_1d/util.py
  jwst/master_background/expand_to_2d.py
  jwst/master_background/master_background_step.py
  jwst/master_background/tests/test_expand_to_2d.py
  jwst/pipeline/combine_1d.cfg
Labels: combine_1d, datamodels, extract_1d, master background, ready-for-final-review

#3430 Remove python 2 exception .message references
  jwst/associations/exceptions.py
  jwst/extract_1d/extract.py
Labels: associations, extract_1d

#3427 Apply barshadow, pathloss, and photom correction to VAR_FLAT
  CHANGES.rst
  docs/jwst/barshadow/description.rst
  docs/jwst/photom/main.rst
  jwst/barshadow/bar_shadow.py
  jwst/pathloss/pathloss.py
  jwst/photom/photom.py
Labels: bar shadow, flatfield, path loss, photom

#3068 make y-slit range an input parameter
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/pipeline/assign_wcs.cfg
Labels: NIRSPEC, assign_wcs, ready-for-final-review

#3419 Add gain_scale unit tests
  jwst/gain_scale/tests/test_gain_scale.py
Labels: gain_scale, testing

#3438 Treat each exposure in MultiExposure as a model using SourceContainer
  CHANGES.rst
  jwst/datamodels/source_container.py
  jwst/tests/base_classes.py
  jwst/tests/test_infrastructure.py
  jwst/tests_nightly/general/nirspec/test_nirspec_msa_spec3.py
Labels: exp_to_source, spec3 pipeline

#3439 Update TSO source_type handling
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/srctype/description.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_preadpatt.schema.yaml
  jwst/datamodels/schemas/keyword_readpatt.schema.yaml
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/pipeline/calwebb_tso-spec2.cfg
  jwst/srctype/srctype.py
  jwst/srctype/tests/test_srctype.py
Labels: keywords, source_type

#3447 Change the strings that describe the units for flux.
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#3443 Fix more artifactory globbing weirdness
  jwst/tests/base_classes.py
  jwst/tests/test_infrastructure.py
Labels: bug, testing

#3448 add dither_point_index and primary_source columns to msa meta file
  CHANGES.rst
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/data/msa_configuration.fits
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/assign_wcs/util.py
  jwst/extract_2d/nirspec.py
  jwst/msaflagopen/msaflag_open.py
  jwst/transforms/models.py
Labels: NIRSPEC, NIRSPEC MSA, assign_wcs, extract_2d, msa_flagging

#3453 fix attribute name
  jwst/assign_wcs/nirspec.py
  jwst/extract_2d/nirspec.py
  jwst/tests_nightly/general/nirspec/test_calwebb_spec2_nrs_msa.py
Labels: extract_2d, testing

#3463 Updates to schemas for NRSRAPIDD6 and MIRI Cross-dichroic
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_band.schema.yaml
  jwst/datamodels/schemas/keyword_pband.schema.yaml
  jwst/datamodels/schemas/keyword_preadpatt.schema.yaml
  jwst/datamodels/schemas/keyword_readpatt.schema.yaml
Labels: datamodels, keywords

#3464 Jp 664
  jwst/associations/lib/rules_level2b.py
Labels: associations

#3468 Fix bug in copy_background_to_flux for master background
  CHANGES.rst
  jwst/master_background/master_background_step.py
  jwst/master_background/tests/test_master_background.py
Labels: bug, master background

#3455 Update source_catalog step for non-detections
  jwst/source_catalog/source_catalog.py
  jwst/source_catalog/source_catalog_step.py
Labels: no-changelog-entry-needed, source catalog

#3476 Use the surf_bright column in master_background
  CHANGES.rst
  docs/jwst/master_background/description.rst
  docs/jwst/master_background/reference_files.rst
  jwst/master_background/create_master_bkg.py
  jwst/master_background/expand_to_2d.py
  jwst/master_background/master_background_step.py
  jwst/master_background/tests/test_create_master_bkg.py
  jwst/master_background/tests/test_expand_to_2d.py
  jwst/master_background/tests/test_master_background.py
Labels: master background

#3471 Fix pixeldq array transformation in refpix step
  CHANGES.rst
  jwst/refpix/reference_pixels.py
Labels: bug, refpix

#3478 Fix typo in NRS MSA missing test
  jwst/tests_nightly/general/nirspec/test_calwebb_spec2_nrs_msa.py
  jwst/tests_nightly/general/nirspec/test_pipelines.py
Labels: testing

#3475 Update photom to handle pixels with no flux cal
  CHANGES.rst
  docs/jwst/photom/main.rst
  jwst/photom/photom.py
Labels: photom

#3480 Allow blendmodels to ignore attributes in asdf tree not in schema
  CHANGES.rst
  jwst/model_blender/blendmeta.py
Labels: blend headers, bug

#3489 Fix bug in latest photom update
  CHANGES.rst
  jwst/photom/photom.py
Labels: bug, photom

#3473 fix -1 px off for NRS2 coordinates
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC

#3487 Fix AMI indentation bug
  CHANGES.rst
  jwst/ami/ami_analyze.py
  jwst/ami/nrm_model.py
Labels: ami, bug

#3491 Update masterbg test to use flux column
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: testing

#3490 Add unit tests for combine_1d
  CHANGES.rst
  docs/jwst/combine_1d/arguments.rst
  docs/jwst/combine_1d/description.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/tests/test_count_input.py
Labels: combine_1d

#3488 Implement NIRCam WFSS tests from proposal jw00624
  jwst/tests_nightly/general/associations/conftest.py
  jwst/tests_nightly/general/associations/sdp_pools_source.py
  jwst/tests_nightly/general/associations/test_sdp_pools.py
  jwst/tests_nightly/general/associations/test_standards.py
Labels: associations, sdp, testing

#3508 Bugfix for calls to create_flat_field()
  jwst/flatfield/flat_field.py
Labels: flatfield

#3509 Speed up twopoint_difference unit tests in jump step
  jwst/jump/tests/test_twopoint_difference.py
Labels: jump, testing

#3497 Truncate negative index to zero
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#2975 Fixing Generalized Least Square ramp fitting
  jwst/ramp_fitting/gls_fit.py
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/check_gls_stats.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: enhancement, ramp_fitting

#3513 Placate flake8 messages for #2552
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

#3440 Add multi-processing option to jump step
  CHANGES.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_detect_jumps.py
  jwst/jump/tests/test_jump_step.py
  jwst/jump/tests/test_twopoint_difference.py
  jwst/jump/twopoint_difference.py
  jwst/pipeline/jump.cfg
  setup.py
Labels: jump

#3495 Fix find_crs() in jump step to ignore groups set as DO_NOT_USE
  CHANGES.rst
  jwst/jump/tests/test_twopoint_difference.py
  jwst/jump/twopoint_difference.py
Labels: jump

#3512 Update MIRI Imager photom data model
  CHANGES.rst
  jwst/datamodels/photom.py
  jwst/datamodels/schemas/mirimg_photom.schema.yaml
Labels: datamodels, photom, reference files

#3520 Update ami_analyze rotation param default
  CHANGES.rst
  jwst/pipeline/ami_analyze.cfg
Labels: ami

#3514 JP-345 support data models as reference file overrides
  CHANGES.rst
  jwst/datamodels/model_base.py
  jwst/extern/configobj/validate.py
  jwst/stpipe/config_parser.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/test_overrides.py
Labels: crds interface, datamodels, stpipe

#3515 Setup catalog naming to use actual direct images instead of making stuff up
  CHANGES.rst
  jwst/associations/association.py
  jwst/associations/association_io.py
  jwst/associations/generate.py
  jwst/associations/lib/asn_schema_jw_level2b.json
  jwst/associations/lib/asn_schema_jw_level3.json
  jwst/associations/lib/constraint.py
  jwst/associations/lib/dictwithattrs.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/member.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/lib/tests/test_member.py
  jwst/associations/lib/utilities.py
  jwst/associations/tests/data/mega_pool.csv
  jwst/associations/tests/test_member.py
  jwst/tests_nightly/general/associations/test_generate.py
  jwst/tests_nightly/general/associations/test_main.py
  jwst/tests_nightly/general/associations/test_sdp_pools.py
  jwst/tests_nightly/general/associations/test_standards.py
Labels: Wide Field Slitless Spec (WFSS), associations, ready-for-final-review

#3536 Update aperture area for photutils API change
  jwst/extract_1d/ifu.py
  jwst/outlier_detection/outlier_detection_scaled.py
  jwst/tso_photometry/tso_photometry.py
Labels: extract_1d, outlier_detection, tso_photometry

#3539 Don't use pixels with wavelength = NaN
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#3544 JP-457 Prevent calwebb_image2 from sending 3D data to resample
  CHANGES.rst
  jwst/pipeline/calwebb_image2.py
Labels: image2 pipeline, resample

#3546 MIRI data to use RampModel instead of MIRIRampModel
  jwst/datamodels/schemas/ramp.schema.yaml
  jwst/datamodels/util.py
Labels: MIRI, datamodels

#3559 Fix CRDS_CONTEXT=jwst-edit Travis CI build
  .travis.yml
Labels: testing

#3556 move get_wavelengths to lib
  jwst/extract_1d/extract.py
  jwst/lib/wcs_utils.py
  jwst/master_background/expand_to_2d.py
  jwst/photom/photom.py
Labels: combine_1d, extract_1d, master background

#3417 Use 50% throughput MRS slice mask
  docs/jwst/references_general/regions_reffile.rst
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/tests/test_miri.py
Labels: MIRI, MIRI MRS, assign_wcs

#3561 Add test to make sure submodules are importable
  jwst/steps.py
  jwst/tests/test_infrastructure.py
Labels: testing

#3557 Fix crashes in skymatch when some footprints almost entirely overlap
  CHANGES.rst
  jwst/skymatch/skyimage.py
Labels: enhancement, skymatch
