Repository spacetelescope/jwst, pull requests merged in 2019-09, with the labels that each got.

#3981 Remove unnecessary string-to-string conversions
  jwst/datamodels/tests/test_fits.py
  jwst/datamodels/tests/test_schema.py
  jwst/datamodels/tests/test_storage.py
  jwst/extract_2d/grisms.py
Labels: no-changelog-entry-needed

#3976 Allow variable shape arrays in schemas for structured array fields
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
  jwst/datamodels/properties.py
  jwst/datamodels/schemas/ifucube.schema.yaml
  jwst/datamodels/tests/test_schema.py
Labels: bug, cube_build, datamodels

#3982 Fix deprecated call to photutils.detect_threshold
  CHANGES.rst
  jwst/tweakreg/tweakreg_catalog.py
Labels: tweakreg

#3871 [WIP]: Adding pathloss reference tests
  jwst/pathloss/tests/test_pathloss.py
Labels: path loss, testing

#3994 Fix deprecated Mapping import
  jwst/datamodels/properties.py
Labels: deprecation

#3995 Fix an issue in casting numpy arrays to structured array types
  CHANGES.rst
  jwst/datamodels/properties.py
  jwst/datamodels/tests/test_schema.py
Labels: bug, datamodels

#3997 JP-944 Disable a flat_field test
  CHANGES.rst
  jwst/flatfield/tests/test_flatfield.py
Labels: flatfield, regression

#4022 JP-622 Unit tests for photom have been added
  CHANGES.rst
  jwst/photom/tests/test_photom.py
Labels: photom, testing

#4030 Fix a bug in casting of structured arrays
  CHANGES.rst
  jwst/datamodels/properties.py
Labels: bug, datamodels

#4039 JP-1002: Add MIR_TACONFIRM to EXP_TYPE values
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_exptype.schema.yaml
  jwst/datamodels/schemas/keyword_pexptype.schema.yaml
Labels: datamodels, keywords

#4009 Unit tests for the utils module within the ami_analyze pipeline
  jwst/ami/tests/test_ami_analyze.py
Labels: ami, testing

#4041 Add syntax for installing extra dependencies from github
  README.md
Labels: documentation

#4048 Update README.md
  README.md
Labels: documentation

#4000 Add bandit for security auditing
  Jenkinsfile
Labels: testing

#3866 Allow jsonschema 3.0 as a dependency
  setup.py
Labels: ASDF

#3987 Jump median fix
  jwst/jump/tests/test_twopoint_difference.py
  jwst/jump/twopoint_difference.py
Labels: jump

#4042 step.call() should now behave like strun and use cfgs from crds
  jwst/ami/tests/test_ami_interface.py
  jwst/engdblog/tests/test_engdblog.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe

#4054 JP-737 Don't use PATTTYPE to check for IRS2 mode
  CHANGES.rst
  jwst/ipc/ipc_corr.py
  jwst/ipc/x_irs2.py
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/refpix/refpix_step.py
  jwst/saturation/saturation.py
  jwst/saturation/x_irs2.py
Labels: ipc, pipe_utils, refpix, saturation

#4063 Pin dependencies in requirements-sdp.txt for nightly regression test builds
  JenkinsfileRT
  requirements-sdp.txt
  setup.py
Labels: testing

#4068 Add exptype keywords to new imaging photom data models
  CHANGES.rst
  jwst/datamodels/schemas/fgsimg_photom.schema.yaml
  jwst/datamodels/schemas/mirimg_photom.schema.yaml
  jwst/datamodels/schemas/nisimg_photom.schema.yaml
  jwst/datamodels/schemas/nrcimg_photom.schema.yaml
Labels: datamodels, photom, reference files

#4070 JP-860: filter out asdf warnings related to extension version mismatch
  CHANGES.rst
  jwst/datamodels/fits_support.py
  jwst/datamodels/model_base.py
Labels: datamodels
