Repository spacetelescope/jwst, pull requests merged in 2019-01, with the labels that each got.

#3002 Allow undefined SIAF information
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: pointing

#3005 Reverse order of RELSENS arrays if the wavelength is not increasing
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/tests/test_interpolate_response.py
Labels: extract_1d

#3006 Set allow_default=True in set_telescope_pointing regression test
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: pointing, testing

#3008 Update command-line help for new environmental variable
  scripts/set_telescope_pointing.py
Labels: documentation, pointing

#3015 Rely on bounding_box when available
  jwst/tweakreg/wcsimage.py
Labels: enhancement, tweakreg

#3014 make bounding_box clearer
  CHANGES.rst
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/tests/test_util.py
  jwst/assign_wcs/util.py
  jwst/extract_2d/grisms.py
  jwst/extract_2d/nirspec.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_utils.py
Labels: assign_wcs, bug

#3016 More robust handling of ramps flagged as DO_NOT_USE
  jwst/ramp_fitting/ramp_fit.py
Labels: error propagation, ramp_fitting

#3017 Updating change log for ramp fitting updates since 11/15/18
  CHANGES.rst
Labels: ramp_fitting

#3022 Fix DB source logging issue and update default DB url
  jwst/lib/engdb_tools.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_engdb_tools.py
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: bug, pointing

#3024 fix log for 0.12.3 [skip ci]
  CHANGES.rst
Labels: 0.12.3 patch

#3000 WIP: Updates to and reorganization of docs for pipeline modules
  docs/jwst/ami/ami_analyze.rst
  docs/jwst/ami/ami_average.rst
  docs/jwst/ami/ami_normalize.rst
  docs/jwst/ami/index.rst
  docs/jwst/ami/main.rst
  docs/jwst/coron/align_refs.rst
  docs/jwst/coron/hlsp.rst
  docs/jwst/coron/index.rst
  docs/jwst/coron/klip.rst
  docs/jwst/coron/main.rst
  docs/jwst/coron/reference_files.rst
  docs/jwst/coron/stack_refs.rst
  docs/jwst/dq_init/description.rst
  docs/jwst/introduction.rst
  docs/jwst/pipeline/calwebb_ami3.rst
  docs/jwst/pipeline/calwebb_coron3.rst
  docs/jwst/pipeline/calwebb_dark.rst
  docs/jwst/pipeline/calwebb_detector1.rst
  docs/jwst/pipeline/calwebb_guider.rst
  docs/jwst/pipeline/calwebb_image2.rst
  docs/jwst/pipeline/calwebb_image3.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  docs/jwst/pipeline/calwebb_tso3.rst
  docs/jwst/pipeline/calwebb_wfs-image2.rst
  docs/jwst/pipeline/calwebb_wfs-image3.rst
  docs/jwst/pipeline/description.rst
  docs/jwst/pipeline/index.rst
  docs/jwst/pipeline/main.rst
  docs/jwst/references_general/psfmask_reffile.rst
  docs/jwst/references_general/throughput_reffile.rst
  docs/jwst/wfs_combine/arguments.rst
  docs/jwst/wfs_combine/index.rst
  docs/jwst/wfs_combine/main.rst
  docs/jwst/wfs_combine/reference_files.rst
  docs/jwst/wfs_combine/wfs_combine.rst
Labels: documentation, pipeline

#3032 Check for constant wavelengths
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#3036 Fix our RTD documentation builds
  .rtd-environment.yml
Labels: documentation

#3038 Update README for B7.2.1 patch release
  README.md
Labels: documentation

#3033 Revert to numpy.linalg for matrix inversion
  CHANGES.rst
  jwst/tweakreg/linearfit.py
Labels: enhancement, tweakreg

#2326 Implement package dependencies
  .rtd-environment.yml
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
  MANIFEST.in
  pyproject.toml
  requirements-dev.txt
  setup.py
Labels: installation, testing

#3040 Simplify transform_bbox_from_datamodel
  CHANGES.rst
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/tests/test_util.py
  jwst/assign_wcs/util.py
Labels: assign_wcs

#2953 Add linearity unit tests
  jwst/linearity/tests/test_linearity.py
Labels: linearity, testing

#2952 Adding refpix tests
  jwst/refpix/tests/test_refpix.py
Labels: refpix, testing

#3020 Update docstrings
  CHANGES.rst
  jwst/timeconversion/time_conversion.py
Labels: timeconversion

#3054 Clean up asn_edit tests
  jwst/associations/tests/test_asn_edit.py
Labels: associations, testing

#3049 Add MIRI ramp_fit unit tests
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: error propagation, ramp_fitting

#3057 Temporarily suppress benign arithmetic warnings in ramp fitting
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: ramp_fitting

#3062 Remove pytest as an install dependency
  jwst/associations/lib/keyvalue_registry.py
  jwst/associations/registry.py
  jwst/associations/tests/test_registry.py
  setup.cfg
  setup.py
Labels: associations, testing

#3064 Parameterize CRDS "observatory"
  jwst/stpipe/crds_client.py
  jwst/stpipe/step.py
Labels: crds interface, stpipe

#3065 Replace namedlist with namedtuple
  Jenkinsfile
  JenkinsfileRT
  jwst/lib/set_telescope_pointing.py
  setup.py
Labels: pointing

#3063 correct bounding box for subarray in MIRI LRS observations
  CHANGES.rst
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/niriss.py
Labels: MIRI LRS, assign_wcs

#3069 Update MIRI WCS regression tests to not overwrite their input
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: MIRI LRS, assign_wcs, testing

#3070 Remove namedlist from .travis.yml
  .travis.yml
Labels: testing
