Repository spacetelescope/jwst, pull requests merged in 2019-04, with the labels that each got.

#3310 Update srctype rules
  CHANGES.rst
  jwst/srctype/srctype.py
  jwst/srctype/tests/__init__.py
  jwst/srctype/tests/test_srctype.py
Labels: source_type

#3309 Fix issues with calspec3 use of split_container
  jwst/master_background/master_background_step.py
  jwst/pipeline/calwebb_spec3.cfg
  jwst/pipeline/calwebb_spec3.py
Labels: master background, spec3 pipeline

#3314 Guide star keyword updates
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
Labels: datamodels, keywords

#3313 Add a few more useful links to the association page
  docs/jwst/associations/overview.rst
Labels: associations, documentation

#3317 Fix note formatting and various spelling errors
  docs/jwst/associations/overview.rst
Labels: associations, documentation

#3319 Update barshadow step to apply correction
  CHANGES.rst
  docs/jwst/barshadow/description.rst
  jwst/barshadow/bar_shadow.py
Labels: bar shadow

#3316 Update set_telescope_pointing for null SIAF cdelt values
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/data/siaf.db
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: set_telescope_pointing, wcs

#3322 Add BUNIT to gain and readnoise schemas
  docs/jwst/jump/reference_files.rst
  docs/jwst/references_general/gain_reffile.inc
  docs/jwst/references_general/gain_selection.inc
  docs/jwst/references_general/gain_selection.rst
  docs/jwst/references_general/readnoise_reffile.inc
  docs/jwst/references_general/readnoise_reffile.rst
  docs/jwst/references_general/readnoise_selection.inc
  docs/jwst/references_general/readnoise_selection.rst
  jwst/datamodels/schemas/gain.schema.yaml
  jwst/datamodels/schemas/readnoise.schema.yaml
Labels: datamodels, documentation, keywords, reference files

#3318 Update README.md
  README.md
Labels: documentation

#3106 Update MIRI LRS distortion model for CDP-7
  jwst/assign_wcs/miri.py
  jwst/transforms/jwextension.py
  jwst/transforms/models.py
  jwst/transforms/tags/__init__.py
  jwst/transforms/tags/jwst_models.py
Labels: MIRI LRS, assign_wcs

#3298 Use sphinx-asdf to automatically generate schema documentation for transforms
  .gitignore
  docs/conf.py
  docs/jwst/transforms/index.rst
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/grating_equation-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/gwa_to_slit-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/logical-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/lrs_wavelength-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/miri_ab2slice-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/nircam_grism_dispersion-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/niriss_grism_dispersion-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/niriss_soss-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/refraction_index_from_prism-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/rotation_sequence-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/slit_to_msa-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/snell-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/tpcorr-0.7.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/v23tosky-0.7.0.yaml
  setup.py
Labels: documentation

#3331 add **kwargs to v23tosky model
  jwst/transforms/models.py
Labels: transforms, wcs

#3339 Backfill CHANGELOG for recent PR's [skip ci]
  CHANGES.rst
Labels: documentation

#3326 Flag Dq for wavelength outside range
  CHANGES.rst
  jwst/master_background/expand_to_2d.py
  jwst/master_background/master_background_step.py
Labels: master background

#3355 Remove pathloss_pointsource from ImageModel schema
  jwst/datamodels/schemas/image.schema.yaml
Labels: datamodels, path loss

#3349 Fix asdf_schema_tester for dev version of asdf
  conftest.py
  setup.cfg
Labels: ASDF, testing

#3360 fix spatial transform in lrs
  CHANGES.rst
  docs/jwst/transforms/index.rst
  jwst/assign_wcs/miri.py
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/lrs_wavelength-0.1.0.yaml
  jwst/transforms/schemas/stsci.edu/jwst_pipeline/lrs_wavelength-0.7.0.yaml
Labels: MIRI, MIRI LRS, assign_wcs

#3364 Change pembry link to plwishmaster link on README
  README.md
Labels: documentation, testing

#3366 Apply corrections to readnoise variance
  jwst/barshadow/bar_shadow.py
  jwst/pathloss/pathloss.py
Labels: bar shadow, path loss

#3367 Update set_telescope_pointing to convert FSMCORR units
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: set_telescope_pointing

#3369 Update NIRSpec FS master_background reg test
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: testing

#3371 Simplify MIRI LRS master background regression test
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: master background, testing

#3359 Update photom to apply calibration
  CHANGES.rst
  docs/jwst/photom/main.rst
  jwst/datamodels/cube.py
  jwst/datamodels/drizproduct.py
  jwst/datamodels/ifuimage.py
  jwst/datamodels/image.py
  jwst/datamodels/multiexposure.py
  jwst/datamodels/multiprod.py
  jwst/datamodels/multislit.py
  jwst/datamodels/schemas/cube.schema.yaml
  jwst/datamodels/schemas/drizproduct.schema.yaml
  jwst/datamodels/schemas/ifuimage.schema.yaml
  jwst/datamodels/schemas/image.schema.yaml
  jwst/datamodels/schemas/multiexposure.schema.yaml
  jwst/datamodels/schemas/multiproduct.schema.yaml
  jwst/datamodels/schemas/relsens.schema.yaml
  jwst/datamodels/schemas/slitdata.schema.yaml
  jwst/datamodels/slit.py
  jwst/datamodels/tests/test_models.py
  jwst/extract_1d/tests/test_interpolate_response.py
  jwst/photom/photom.py
  jwst/pipeline/tests/mock_steps.py
  jwst/resample/resample_spec.py
  jwst/tests_nightly/general/miri/test_miri_spec2pipeline.py
  jwst/tests_nightly/general/miri/test_mirilrs2_slitless.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps.py
Labels: photom

#3362 Use target coordinates to shift extraction location
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
Labels: extract_1d, master background

#3378 Fix bugs in updated photom
  docs/jwst/photom/main.rst
  jwst/photom/photom.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: photom

#3382 Fix failing NIRISS SOSS reg test module
  jwst/tests_nightly/general/niriss/test_niriss_steps_single.py
Labels: testing

#3383 Bump CRDS context to 502 for all tests
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#3385 Bump CRDS context to 503 for all test setups
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#3387 Update photom to handle NIRISS SOSS
  .travis.yml
  CHANGES.rst
  Jenkinsfile
  JenkinsfileRT
  jwst/master_background/expand_to_2d.py
  jwst/photom/photom.py
Labels: photom, wcs

#3389 allow failures in Travis jobs with dev dependences
  .travis.yml
Labels: testing

#3390 x_center and y_center were referenced before being defined
  CHANGES.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/references_general/extract1d_reffile.inc
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
Labels: extract_1d

#3391 Fix misspelling of MIR_LRS-SLITLESS in rule Asn_SpectralTarget
  jwst/associations/lib/rules_level3.py
  jwst/tests_nightly/general/associations/test_generate.py
  jwst/tests_nightly/general/associations/test_main.py
Labels: associations, bug

#3370 Master background regression tests for MIRI MRS and LRS
  jwst/tests/base_classes.py
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: master background, testing

#3388 change indexing of model parameters
  jwst/transforms/models.py
  jwst/transforms/tpcorr.py
Labels: transforms

#3386 Update 3 schemas in datamodels to comply with ASDF standard
  CHANGES.rst
  jwst/datamodels/schemas/cube.schema.yaml
  jwst/datamodels/schemas/dark.schema.yaml
  jwst/datamodels/schemas/darkMIRI.schema.yaml
  jwst/datamodels/schemas/dq_def.schema.yaml
  jwst/datamodels/schemas/extract1d.schema.yaml
  jwst/datamodels/schemas/flat.schema.yaml
  jwst/datamodels/schemas/fringe.schema.yaml
  jwst/datamodels/schemas/group.schema.yaml
  jwst/datamodels/schemas/int_times.schema.yaml
  jwst/datamodels/schemas/lastframe.schema.yaml
  jwst/datamodels/schemas/level1b.schema.yaml
  jwst/datamodels/schemas/linearity.schema.yaml
  jwst/datamodels/schemas/mask.schema.yaml
  jwst/datamodels/schemas/miri_ramp.schema.yaml
  jwst/datamodels/schemas/mirmrs_photom.schema.yaml
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/datamodels/schemas/nirspec_flat.schema.yaml
  jwst/datamodels/schemas/nirspec_quad_flat.schema.yaml
  jwst/datamodels/schemas/persat.schema.yaml
  jwst/datamodels/schemas/ramp.schema.yaml
  jwst/datamodels/schemas/reset.schema.yaml
  jwst/datamodels/schemas/saturation.schema.yaml
  jwst/datamodels/schemas/slit.schema.yaml
  jwst/datamodels/schemas/superbias.schema.yaml
  jwst/datamodels/schemas/trapdensity.schema.yaml
  jwst/datamodels/schemas/wfssbkg.schema.yaml
Labels: ASDF, datamodels

#3395 Update association docs to include the constraint modules
  docs/jwst/associations/index.rst
  docs/jwst/associations/lib_constraint.rst
  docs/jwst/associations/lib_dmsbase.rst
  jwst/associations/lib/constraint.py
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
Labels: associations, documentation

#3402 Exclude GuiderCalModel from flatfield error propogation
  jwst/flatfield/flat_field.py
Labels: flatfield

#3396 fix dimensions of array in variance schema
  jwst/datamodels/schemas/cube.schema.yaml
  jwst/datamodels/schemas/slitdata.schema.yaml
  jwst/datamodels/schemas/variance.schema.yaml
Labels: datamodels

#3406 Bump CRDS context for tests to 508
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#3407 Bump CRDS context to 513 for tests
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#3408 Loop over pixels in expand_to_2d.get_wavelengths
  CHANGES.rst
  jwst/master_background/expand_to_2d.py
  jwst/photom/photom.py
Labels: master background, photom

#3410 Specify pip<19.1 to avoid PEP 517 breakage
  Jenkinsfile
  JenkinsfileRT
Labels: packaging

#3404 resample_spec wcs
  jwst/resample/resample_spec.py
  jwst/resample/tests/test_resample_spec.py
Labels: resample
