Repository spacetelescope/jwst, pull requests merged in 2019-11, with the labels that each got.

#4193 JP-913 Update documentation for save-parameters
  docs/jwst/introduction.rst
  docs/jwst/stpipe/config_asdf.rst
  docs/jwst/stpipe/devel_io_design.rst
  docs/jwst/stpipe/user_step.rst
  jwst/stpipe/cmdline.py
Labels: documentation, stpipe

#4205 Remove/replace SUBPRISM in unit tests
  CHANGES.rst
  jwst/photom/tests/test_photom.py
  jwst/resample/tests/test_resample_spec.py
  jwst/rscd/rscd_sub.py
Labels: MIRI LRS, testing

#4208 Add CRDS CONTEXT 563 to README
  README.md
Labels: documentation, installation

#4210 Fix unit tests related to parameters-from-crds
  jwst/engdblog/tests/test_engdblog.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing

#4215 Jp 1103 get_pars returns all available parameters for a step and all sub-steps
  CHANGES.rst
  jwst/stpipe/config_parser.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/steps/__init__.py
  jwst/stpipe/tests/steps/jwst_generic_pars-makeliststep_0002.asdf
  jwst/stpipe/tests/steps/makelist_pipeline.cfg
  jwst/stpipe/tests/test_asdf_parameters.py
  jwst/stpipe/tests/test_step.py
Labels: bug, stpipe

#4216 Inputs outputs transforms
  CHANGES.rst
  docs/jwst/assign_wcs/asdf-howto.rst
  jwst/lib/tests/test_set_telescope_pointing.py
  jwst/transforms/models.py
  requirements-dev.txt
  requirements-sdp.txt
  setup.cfg
  setup.py
Labels: documentation, installation, set_telescope_pointing, transforms

#4234 JP-1127: Update allowed values for CORONMSK keyword
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_coronmsk.schema.yaml
Labels: datamodels, keywords

#4235 Streamline environment specification
  JenkinsfileRT
  requirements-sdp.txt
Labels: installation, testing

#4232 Jp 1120 list MIR_TACQ as target_acquisition in level 3 associations
  CHANGES.rst
  jwst/associations/lib/rules_level3_base.py
Labels: associations

#4236 Jp 1116 Only allow science members in step parameter reference call
  CHANGES.rst
  jwst/ami/tests/test_ami_interface.py
  jwst/stpipe/crds_client.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/test_step.py
  jwst/tests_nightly/general/niriss/test_nis_wfss_spec2.py
Labels: bug, stpipe

#4237 pick up the latest bug fixes in modeling
  requirements-sdp.txt
  setup.py
Labels: installation

#4242 Only calculate S_REGION if looking at the sky JP-1115
  jwst/extract_2d/nirspec.py
Labels: NIRSPEC, assign_wcs

#4247 Minor changes to MSA messages in assign_wcs
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC MSA, assign_wcs

#4253 JP-850: Remove the emission step
  CHANGES.rst
  docs/jwst/emission/index.rst
  docs/jwst/emission/main.rst
  docs/jwst/package_index.rst
  jwst/emission/__init__.py
  jwst/emission/emission.py
  jwst/emission/emission_step.py
  jwst/lib/suffix.py
  jwst/tests_nightly/general/miri/test_miri_steps.py
  jwst/tests_nightly/general/nircam/test_nircam_steps.py
Labels: emission

#4263 JP-1139: Fix photom bug for NIRSpec IFU data
  CHANGES.rst
  jwst/photom/photom.py
  jwst/tests_nightly/general/nirspec/test_nirspec_fs_spec3.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
  jwst/tests_nightly/general/nirspec/test_pipelines.py
  jwst/tests_nightly/general/nirspec/test_spec2pipelines.py
Labels: NIRSpec IFU, photom

#4256 Fix for JP-1008: White Light Step does not ignore NaNs in input.
  CHANGES.rst
  jwst/white_light/white_light.py
Labels: bug, white_light

#4270 Get the pixel area from the photom reference file
  CHANGES.rst
  docs/jwst/photom/main.rst
  jwst/photom/photom.py
Labels: photom

#4271 Update requirement for tweakwcs
  requirements-sdp.txt
Labels: packaging, tweakreg

#4272 Xfail test_nrs_fs_spec3
  jwst/tests_nightly/general/nirspec/test_nirspec_fs_spec3.py
Labels: NIRSPEC, testing

#4273 update asdf's hash
  requirements-sdp.txt
  setup.py
Labels: ASDF, packaging

#4280 Allow CRDS to retry on CI builds
  .travis.yml
  Jenkinsfile
Labels: testing

#4281 Move to RTD version 2 YAML
  .readthedocs.yml
  .rtd-environment.yml
Labels: documentation

#4285 Jp 1146 Update act_id format to allow base 36 values in product name
  CHANGES.rst
  jwst/associations/lib/rules_level3_base.py
Labels: associations

#3957 Regression test infrastructure redesign
  .travis.yml
  JenkinsfileRT
  jwst/regtest/conftest.py
  jwst/regtest/test_miri_image2.py
Labels: ready-for-final-review, testing

#4290 Fix bug in guider_cds tests
  jwst/guider_cds/tests/test_guider_cds.py
Labels: guider_cds, testing

#4294 Use bespoke data for data_glob testing from Artifactory
  jwst/tests/test_infrastructure.py
Labels: testing

#4295 Be explicit in .travis.yml about Python versions
  .travis.yml
Labels: testing

#4298 Jp 1130 Update to add level 3 asn table names to the products.
  CHANGES.rst
  jwst/master_background/master_background_step.py
  jwst/pipeline/calwebb_spec3.py
Labels: spec3 pipeline

#4309 Revision for flat fielding FGS Guider data (JP-1074).
  CHANGES.rst
  jwst/flatfield/flat_field.py
Labels: FGS, error propagation, flatfield
