Repository spacetelescope/jwst, pull requests merged in 2019-10, with the labels that each got.

#4084 Jp 1000 Have NRS_MIMF exposures processed as WFS observations
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level3_base.py
Labels: associations

#4075 Speed up ramp fit unit tests by using smaller arrays
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting, testing

#4060 Jp 948 Fix UTF-8 error in assocition_io module
  CHANGES.rst
  jwst/associations/load_as_asn.py
  jwst/pipeline/calwebb_image2.py
  jwst/pipeline/calwebb_spec2.py
Labels: associations

#4069 Added tests for the leastsqnrm module
  jwst/ami/tests/test_ami_analyze.py
Labels: ami, testing

#4093 Omit extern packages from coverage
  .coveragerc
Labels: testing

#4095 Unit tests for the hexee module within the ami_analyze pipeline
  jwst/ami/tests/test_ami_analyze.py
Labels: ami, testing

#4100 Jp 1036 Update number of associations in test_generate to match number after NRS_MIMF fix (JP1000)
  jwst/tests_nightly/general/associations/test_generate.py
Labels: associations

#4055 JP-629: Adding msaflagopen unit tests
  jwst/msaflagopen/tests/test_msa_open.py
Labels: msa_flagging, testing

#4104 Replace RELIC with setuptools_scm
  MANIFEST.in
  jwst/__init__.py
  jwst/stpipe/step.py
  pyproject.toml
  setup.cfg
  setup.py
Labels: installation

#4090 Jp 799 Integrate retrieval of Step parameters from CRDS
  CHANGES.rst
  docs/jwst/introduction.rst
  docs/jwst/references_general/explain_rmaps.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/stpipe/config_asdf.rst
  docs/jwst/stpipe/config_cfg.rst
  docs/jwst/stpipe/devel_step.rst
  docs/jwst/stpipe/index.rst
  docs/jwst/stpipe/user_step.rst
  jwst/ami/tests/test_ami_interface.py
  jwst/datamodels/__init__.py
  jwst/datamodels/schemas/steppars.schema.yaml
  jwst/datamodels/steppars.py
  jwst/engdblog/tests/test_engdblog.py
  jwst/lib/class_property.py
  jwst/stpipe/cmdline.py
  jwst/stpipe/config_parser.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/data/flat.fits
  jwst/stpipe/tests/data/miri_data.fits
  jwst/stpipe/tests/steps/__init__.py
  jwst/stpipe/tests/steps/jwst_generic_pars-makeliststep_0001.asdf
  jwst/stpipe/tests/steps/jwst_generic_pars-makeliststep_0002.asdf
  jwst/stpipe/tests/steps/jwst_generic_pars-tweakreg_0001.asdf
  jwst/stpipe/tests/steps/jwst_miri_pars-tweakreg_0001.asdf
  jwst/stpipe/tests/test_asdf_parameters.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe

#4108 Store pip `-e` source directory outside of tree
  Jenkinsfile
  JenkinsfileRT
Labels: testing

#4114 Update to StepParsModel and minor documentation tweaks
  jwst/datamodels/steppars.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
Labels: documentation

#4111 improve slit footprint computation
  CHANGES.rst
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/assign_wcs/util.py
  jwst/extract_2d/nirspec.py
Labels: extract_2d

#4122 Add BAND keyword to MirLrsPhotomModel
  jwst/datamodels/schemas/mirlrs_photom.schema.yaml
Labels: datamodels, photom, reference files

#4112 JP-1002 allow MIR-TACONFIRM to pass through assign_wcs
  jwst/assign_wcs/miri.py
Labels: assign_wcs

#4131 JP-1054: Fix mistake in calwebb_spec2 docs
  docs/jwst/pipeline/calwebb_spec2.rst
Labels: documentation, spec2 pipeline

#4133 Fix a bug in tweakreg step in how exception is re-raised
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg

#4134 Use python 3.7 in regtest builds
  CHANGES.rst
  JenkinsfileRT
  requirements-sdp.txt
  setup.py
Labels: installation, testing

#4121 Unit tests for the analyticnrm2 module within the ami_analyze pipeline
  jwst/ami/tests/test_ami_analyze.py
Labels: ami, testing

#4113 ccd-601 consolidate CRDS imports
  jwst/stpipe/crds_client.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
Labels: crds interface

#4136 Jp 972 Exclude mir_lrs-slitless calibration data from level 3 processing
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
Labels: associations

#4139 Fix master background regtests JP-1057
  jwst/stpipe/step.py
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: MIRI, master background, stpipe, testing

#4118 Modify the photom step to use new data models
  CHANGES.rst
  docs/jwst/photom/main.rst
  docs/jwst/references_general/photom_reffile.inc
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
Labels: photom

#4146 Switch jenkins regression to using CRDS JWST TEST
  JenkinsfileRT
  requirements-sdp.txt
Labels: crds interface, testing

#4149 JP 1055 Added mir_taconfirm to the target acquisition list
  CHANGES.rst
  jwst/associations/lib/dms_base.py
Labels: associations

#4117 JP-1035 JP-1041 Make properties pars and pars_models into methods
  CHANGES.rst
  jwst/lib/class_property.py
  jwst/stpipe/cmdline.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/test_step.py
Labels: documentation, stpipe

#4161 jp-1024 Fix config_file merging bug in Step.call
  CHANGES.rst
  jwst/stpipe/config_parser.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/steps/__init__.py
  jwst/stpipe/tests/steps/foo_pipeline.cfg
  jwst/stpipe/tests/steps/makelist.cfg
  jwst/stpipe/tests/test_asdf_parameters.py
Labels: stpipe

#4164 Add python 3.7.4 to SDP TravisCI test matrix
  .travis.yml
Labels: testing

#4168 JP-1063: Initial version of imaging APCORR ref file models
  CHANGES.rst
  jwst/datamodels/__init__.py
  jwst/datamodels/apcorr.py
  jwst/datamodels/schemas/fgsimg_apcorr.schema.yaml
  jwst/datamodels/schemas/mirimg_apcorr.schema.yaml
  jwst/datamodels/schemas/nisimg_apcorr.schema.yaml
  jwst/datamodels/schemas/nrcimg_apcorr.schema.yaml
Labels: apcorr, datamodels, reference files

#4172 Remove an unnecessary and invalid test for mrs_imatch
  jwst/mrs_imatch/tests/test_configuration.py
Labels: mrs background matching

#4174 JP-1053 Fix bugs in photom
  CHANGES.rst
  jwst/photom/photom.py
Labels: photom

#4175 JP-1085: Remove Straylight interface tests
  jwst/straylight/tests/test_straylight_step.py
Labels: straylight, testing

#4170 Read reference files directly from S3
  CHANGES.rst
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/niriss.py
  jwst/conftest.py
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/tests/test_open.py
  jwst/datamodels/util.py
  jwst/lib/s3_utils.py
  jwst/lib/tests/data/s3/data_model.asdf
  jwst/lib/tests/data/s3/data_model.fits
  jwst/lib/tests/data/s3/pars.asdf
  jwst/lib/tests/data/s3/test.txt
  jwst/lib/tests/helpers.py
  jwst/lib/tests/test_s3_utils.py
  jwst/stpipe/config_parser.py
  jwst/stpipe/crds_client.py
  jwst/stpipe/tests/test_config_parser.py
  jwst/stpipe/tests/test_crds.py
  setup.py
Labels: aws, datamodels

#4176 Added test for webb_psf module.
  CHANGES.rst
  jwst/ami/tests/test_ami_analyze.py
Labels: ami, testing

#4179 Incorrect model for NRS_BRIGHTOBJ data.
  CHANGES.rst
  jwst/photom/photom.py
Labels: photom

#4166 JP-1042 Clean up logging of step parameter CRDS retreival
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
  jwst/tests_nightly/general/miri/test_miri_spec2pipeline.py
Labels: ready-for-final-review, stpipe

#4181 Switch Jenkins regression testing back to CRDS production
  JenkinsfileRT
Labels: testing

#4184 Mark a bad NIRSpec reg test as xfail
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: testing

#4187 Add set_telescope_pointing test for NRC_TSGRISM
  CHANGES.rst
  jwst/lib/engdb_tools.py
  jwst/lib/set_telescope_pointing.py
  jwst/tests_nightly/general/nircam/test_nircam_steps_single.py
Labels: set_telescope_pointing, testing

#4190 Fix incorrect regtest names and data locations
  jwst/tests_nightly/general/niriss/test_niriss_steps_single.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
Labels: testing

#4173 JP-1053: Remove old photom data models
  CHANGES.rst
  docs/jwst/datamodels/attributes.rst
  docs/jwst/datamodels/new_model.rst
  docs/jwst/references_general/photom_reffile.inc
  jwst/datamodels/__init__.py
  jwst/datamodels/photom.py
  jwst/datamodels/schemas/fgs_photom.schema.yaml
  jwst/datamodels/schemas/miriimg_photom.schema.yaml
  jwst/datamodels/schemas/mirimrs_photom.schema.yaml
  jwst/datamodels/schemas/nircam_photom.schema.yaml
  jwst/datamodels/schemas/niriss_photom.schema.yaml
  jwst/datamodels/schemas/nirspec_photom.schema.yaml
  jwst/datamodels/schemas/nirspecfs_photom.schema.yaml
  jwst/datamodels/schemas/photom.schema.yaml
  jwst/datamodels/tests/data/nircam_photom.fits
  jwst/datamodels/tests/test_open.py
Labels: datamodels, documentation, photom

#4196 JP-1101: Add python3.8 build to TravisCI matrix
  .travis.yml
Labels: testing

#4194 JP-985: Update calwebb_spec3 for non-TSO NIRISS SOSS
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  jwst/pipeline/calwebb_spec3.cfg
  jwst/pipeline/calwebb_spec3.py
Labels: NIRISS SOSS, spec3 pipeline

#4202 Update README to avoid duplication of DMS snapshot installation procedure
  README.md
Labels: documentation, installation

#4203 Change crds dependency pin from hash to 7.4.1.2 in requirements-sdp.txt
  requirements-sdp.txt
Labels: installation
