Repository spacetelescope/jwst, pull requests merged in 2019-06, with the labels that each got.

#3564 JP-744 Fix bug NIRSpec fore-optics flat interpolation
  jwst/flatfield/flat_field.py
Labels: NIRSPEC, NIRSPEC MSA, bug, flatfield

#3574 Fix assign_wcs error handling in calspec2
  CHANGES.rst
  jwst/assign_wcs/niriss.py
  jwst/pipeline/calwebb_spec2.py
Labels: Wide Field Slitless Spec (WFSS), assign_wcs, spec2 pipeline

#3578 Update direct image name with actual Level3 name
  jwst/associations/lib/rules_level2b.py
Labels: associations, bug

#3579 fix MRS WCS test
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: assign_wcs, testing

#3573 Add MIRI unit tests for ramp fitting
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
Labels: MIRI, ramp_fitting, testing

#3572 Update MultiExposure model to include all slit arrays
  CHANGES.rst
  jwst/datamodels/multiexposure.py
  jwst/datamodels/schemas/multiexposure.schema.yaml
Labels: datamodels, exp_to_source

#3581 Fix base url handling for access to artifactory
  jwst/tests/base_classes.py
Labels: bug, testing

#3599 Update README.md
  README.md
Labels: documentation

#3601 Ensure target acquisition data is not treated as TSO or integrations
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/tests_nightly/general/associations/test_sdp_pools.py
Labels: associations, bug

#3608 Turn on crds log times
  jwst/stpipe/crds_client.py
Labels: crds interface, stpipe

#3554 JP-740 Add datetime rules
  CHANGES.rst
  docs/jwst/model_blender/blender_rules.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/model_blender/blendrules.py
Labels: blend headers, bug

#3542 JP-688 Additions to have MIRI MRS dedicated background targets listed in a science association
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
Labels: associations

#3563 JP-741 Customize reffile prefetch
  jwst/pipeline/calwebb_coron3.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
Labels: coron3 pipeline, stpipe

#3600 Remove psutil dependency. Use multiprocessing.cpu_count() instead.
  jwst/jump/jump.py
  setup.py
Labels: jump

#3612 revert code to not trim filter data.
  jwst/ami/ami_analyze.py
Labels: ami

#3615 Update change log for #3612
  CHANGES.rst
Labels: ami

#3613 Documentation updates
  docs/jwst/exp_to_source/exp_to_source.rst
  docs/jwst/exp_to_source/index.rst
  docs/jwst/exp_to_source/main.rst
  docs/jwst/group_scale/description.rst
  docs/jwst/outlier_detection/outlier_detection_ifu.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  jwst/outlier_detection/outlier_detection_step.py
Labels: documentation, group_scale, outlier_detection, spec3 pipeline

#3607 Add the fxd_slit keyword as the third optical component
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: associations, bug

#3614 Order the elements in Level3 naming in alphabetical order
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/tests/test_level3_product_names.py
  jwst/tests_nightly/general/associations/test_sdp_pools.py
  jwst/tests_nightly/general/associations/test_standards.py
Labels: associations, bug

#3616 Remove enum list for SUBPXPAT keyword
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels, keywords

#3603 JP-665 - fix spec2 processing of NRS_LAMP
  CHANGES.rst
  jwst/extract_2d/nirspec.py
  jwst/pipeline/calwebb_spec2.py
Labels: extract_2d, spec2 pipeline

#3580 JP-718 Remove astroconda-dev from our Jenkins CI/RT builds
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
  requirements-dev.txt
  setup.py
Labels: testing

#3625 Change MRS throughput threshold for assign_wcs
  jwst/assign_wcs/miri.py
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
Labels: MIRI MRS, assign_wcs

#3598 JP-651 Update MIRI MRS straylight step to use CDP-7 REGIONS files
  docs/jwst/references_general/references_general.rst
  docs/jwst/references_general/straymask_reffile.inc
  docs/jwst/references_general/straymask_selection.inc
  docs/jwst/straylight/main.rst
  docs/jwst/straylight/reference_files.rst
  jwst/straylight/__init__.py
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: MIRI MRS, straylight

#3629 Ensure that higher-order candidates only exist for Level2 associations
  CHANGES.rst
  jwst/associations/lib/diff.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/tests/test_diff.py
  jwst/associations/tests/test_level2_background.py
  jwst/tests_nightly/general/associations/test_standards.py
Labels: associations, bug, ready-for-final-review

#3634 Use yaml.safe_load instead of yaml.load
  jwst/associations/association_io.py
Labels: associations, deprecation

#3633 fixed errors for MIRI TSO Imaging
  CHANGES.rst
  jwst/pipeline/calwebb_tso3.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso3 pipeline

#3631 Do not, by default, merge Level 2 associations
  CHANGES.rst
  jwst/associations/main.py
  jwst/associations/tests/test_level2_candidates.py
  jwst/associations/tests/test_wfss.py
  jwst/tests_nightly/general/associations/test_generate.py
  jwst/tests_nightly/general/associations/test_main.py
Labels: associations, ready-for-final-review, task

#3642 Remove trailing spaces and fix indentation issues in schema files
  jwst/datamodels/schemas/container.schema.yaml
  jwst/datamodels/schemas/extract1dimage.schema.yaml
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
  jwst/datamodels/schemas/lev3_prod.schema.yaml
  jwst/datamodels/schemas/multiextract1d.schema.yaml
Labels: datamodels

#3643 fix exp_to_source test
  jwst/tests_nightly/general/nirspec/test_nirspec_fs_spec3.py
Labels: exp_to_source, testing

#3635 Update model blender to return strings instead of astropy Time objects
  docs/jwst/model_blender/blender_rules.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/model_blender/blendrules.py
  jwst/model_blender/tests/test_blend.py
Labels: blend headers, datamodels

#3611 JP-287 Remove exp_type="NIS_EXTCAL" from associations
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
Labels: associations

#3645 set source_id correctly in extract_2d
  jwst/assign_wcs/nirspec.py
  jwst/extract_2d/nirspec.py
Labels: assign_wcs, extract_2d, no-changelog-entry-needed

#3648 Confirm Completion Keyword Assignment for Flat Field Correction
  jwst/flatfield/tests/test_flatfield.py
Labels: flatfield, testing

#3632 Update WFSS slit names to use simple integer value (#3623) (JP-776)
  jwst/extract_2d/grisms.py
  jwst/extract_2d/tests/test_grisms.py
Labels: Wide Field Slitless Spec (WFSS), extract_2d

#3647 JP-767: Fix duplicate products due to item member bad checking
  CHANGES.rst
  jwst/associations/association.py
  jwst/associations/generate.py
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/tests/data/pool_011_spec_miri_lv2bkg_lrs.csv
  jwst/associations/tests/test_level3_image.py
  jwst/associations/tests/test_level3_product_names.py
  jwst/tests_nightly/general/associations/test_level3_product_names.py
  jwst/tests_nightly/general/associations/test_main.py
  jwst/tests_nightly/general/associations/test_sdp_pools.py
Labels: associations, bug

#3652 Update WFSS slit names to use simple integer value, and added accompa…
  CHANGES.rst
Labels: Wide Field Slitless Spec (WFSS)

#3646 JP-764 Do not use CRPIX in TSGRISM mode
  CHANGES.rst
  jwst/datamodels/schemas/wcsinfo.schema.yaml
  jwst/extract_2d/grisms.py
  jwst/extract_2d/tests/test_grisms.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/data/siaf.db
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: extract_2d, set_telescope_pointing

#3649 JP-785 Modify extract_1d to correctly handle SourceModelContainer
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
Labels: extract_1d, spec3 pipeline

#3659 Fix no-merge deprecation message to not appear on every run
  jwst/associations/main.py
Labels: associations

#3651 JP-464 Make outlier_detection avoid NaNs/masked values in weight image
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
  jwst/resample/gwcs_blot.py
  jwst/resample/resample_utils.py
Labels: outlier_detection

#3664 JP-784 For grism data, compute wavelengths and copy variance arrays
  CHANGES.rst
  jwst/extract_2d/grisms.py
Labels: extract_2d

#3666 JP-795 Temporarily overwrite DQ column
  CHANGES.rst
  jwst/combine_1d/combine1d.py
Labels: combine_1d

#3674 Re-sequencing Level 2 associations.
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
Labels: associations, bug, sdp

#3675 Reprocess all backgrounds for Level2 associations
  CHANGES.rst
  jwst/associations/generate.py
  jwst/associations/lib/rules_level2b.py
Labels: associations, bug

#3677 Ignore keywords/cols for fitsdiff of blender table
  jwst/tests_nightly/general/nircam/test_coron3_1.py
  jwst/tests_nightly/general/nircam/test_nrc_image3_1.py
Labels: coron3 pipeline, testing

#3676 Include backgrounds in MIRI MRS level 3 associations
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/tests_nightly/general/associations/test_main.py
Labels: DO NOT MERGE, MIRI MRS, associations

#3691 Loosen the WFSC constraints and only exclude NIS_EXTCAL
  jwst/associations/lib/rules_level2b.py
Labels: associations, bug

#3693 Remove the Lv2NRSLAMPImage rule
  jwst/associations/lib/rules_level2b.py
Labels: associations, task

#3680 Fix corruption of FITS tables with unsigned int columns on save and load
  jwst/combine_1d/combine1d.py
  jwst/datamodels/properties.py
  jwst/datamodels/tests/test_fits.py
  jwst/datamodels/util.py
Labels: combine_1d, datamodels

#3725 Skip really slow FGS detector1 regtest
  jwst/tests_nightly/general/fgs/test_fgs_sloper_1.py
Labels: testing

#3704 Add new unit tests for flat_field
  CHANGES.rst
  jwst/flatfield/tests/test_clean_wl.py
  jwst/flatfield/tests/test_find_dispaxis.py
  jwst/flatfield/tests/test_g_average.py
  jwst/flatfield/tests/test_interpolate_flat.py
  jwst/flatfield/tests/test_wl_interpolate.py
Labels: flatfield

#3714 Refactor extract_1d classes
  CHANGES.rst
  docs/jwst/extract_1d/description.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#3719 Jp 681
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: associations

#3705 Changes necessary to support jsonschema 3.x
  CHANGES.rst
  jwst/associations/lib/asn_schema_jw_level2b.json
  jwst/associations/lib/asn_schema_jw_level3.json
  jwst/datamodels/fits_support.py
Labels: datamodels

#3738 JP-656: Minor updates for group_scale step
  CHANGES.rst
  docs/jwst/group_scale/description.rst
  docs/jwst/pipeline/calwebb_detector1.rst
  jwst/group_scale/group_scale.py
  jwst/group_scale/group_scale_step.py
Labels: documentation, group_scale

#3744 Switch engineering database to D-string
  jwst/lib/engdb_tools.py
Labels: engdb_tools, set_telescope_pointing
