Repository spacetelescope/jwst, pull requests merged in 2020-05, with the labels that each got.

#4881 regtest: fix override abvegaoffset name
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_nircam_mtimage.py
Labels: testing

#4782 Refactor wcs_from_footprints to use gwcs.WCS objects instead of FITS keywords
  jwst/assign_wcs/util.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_fgs_pointing.py
  jwst/lib/tests/test_set_telescope_pointing.py
  jwst/resample/resample_utils.py
Labels: resample, wcs

#4766 JP-936 Calspec 3 for Resampling Multslit data
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
Labels: MIRI LRS, NIRSPEC MSA, resample

#4885 JP-1426: Updates for new SRCTYAPT keyword
  CHANGES.rst
  docs/jwst/datamodels/metadata.rst
  docs/jwst/srctype/description.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/datamodels/schemas/slitmeta.schema.yaml
  jwst/extract_1d/extract.py
  jwst/pipeline/calwebb_tso3.py
  jwst/srctype/srctype.py
  jwst/srctype/srctype_step.py
Labels: datamodels, source_type

#4886 Update CHANGES.rst for 0.16.0 release
  CHANGES.rst
Labels: Release

#4892 Revert "Temporarily disable macos build config (#4780)"
  JenkinsfileRT
Labels: testing

#4887 Update RT context and remove abvega overrides
  JenkinsfileRT
  JenkinsfileRT_dev
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_nircam_mtimage.py
Labels: testing

#4897 Update .travis.yml for syntax and python version for SDP
  .travis.yml
Labels: testing

#4898 Move apt-get installs to docs job in TravisCI
  .travis.yml
Labels: testing

#4906 Add additional concentration indices
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#4909 Revert RT setup back to using CRDS ops
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: testing

#4876 Update REFOUT dimensions in docs
  docs/jwst/data_products/nonscience_products.rst
  docs/jwst/data_products/science_products.rst
Labels: documentation

#4908 Update docs for source catalog
  docs/jwst/references_general/abvegaoffset_reffile.inc
  docs/jwst/references_general/abvegaoffset_selection.inc
  docs/jwst/references_general/references_general.rst
  docs/jwst/source_catalog/main.rst
  docs/jwst/source_catalog/reference_files.rst
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#4912 Fix CRDS_CONTEXT reporting in regtests
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: testing

#4911 Fix doctest jail dir behavoir for pytest-doctestplus>=0.5
  docs/conftest.py
Labels: testing

#4914 Fix CRDS_CONTEXT reporting in regtests
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: testing

#4915 Improve AssertionError reporting in diff_astropy_tables
  jwst/regtest/conftest.py
  jwst/regtest/test_infrastructure.py
Labels: testing

#4867 JP-1413 NIRSpec IFU level-3 ASNs to segregate obs based on the grating
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/product_utils.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
Labels: NIRSpec IFU, associations

#4916 Revert "Pin pytest<=5.3.5 because --basetemp is broken"
  setup.py
Labels: packaging, testing

#4926 Jp 1413 Updates to split grating observations into separate asns
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/product_utils.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_level3_basics.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: NIRSpec IFU, associations

#4929 JP-1440: Make source catalog background estimation more robust
  CHANGES.rst
  jwst/source_catalog/source_catalog.py
  jwst/source_catalog/source_catalog_step.py
Labels: source catalog

#4905 Support asdf 2.6.x
  CHANGES.rst
  jwst/datamodels/fits_support.py
  setup.py
Labels: ASDF, datamodels

#4937 JP-1448: Only load science/bkg members in calimage3
  CHANGES.rst
  jwst/pipeline/calwebb_image3.py
Labels: image3 pipeline

#4934 RSCD correction JP-1446
  CHANGES.rst
  jwst/rscd/rscd_sub.py
Labels: MIRI, rscd

#4925 JP-1433: Update core schema for recent JWSTKD changes
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels, keywords

#4940 JP-1444: Remove path from SCATFILE keyword for NIRISS WFSS in Spec2Pipeline
  CHANGES.rst
  jwst/pipeline/calwebb_spec2.py
  jwst/regtest/test_niriss_wfss.py
Labels: NIRISS, spec2 pipeline, wfss

#4944 JP-1450: Fix mrs_imatch call to sigma_clipped_stats
  CHANGES.rst
  jwst/mrs_imatch/mrs_imatch_step.py
Labels: mrs_imatch

#4943 JP-1447: Fix set difference bug in get_object_info
  CHANGES.rst
  jwst/assign_wcs/tests/data/step_SourceCatalogStep_cat.ecsv
  jwst/assign_wcs/util.py
  jwst/background/tests/data/test_cat.ecsv
  jwst/extract_2d/tests/data/step_SourceCatalogStep_cat.ecsv
  jwst/lib/catalog_utils.py
Labels: assign_wcs, source catalog

#4945 Update abmag error calculation
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#4599 Align to gaia jp 1184
  CHANGES.rst
  jwst/pipeline/tweakreg.cfg
  jwst/tweakreg/astrometric_utils.py
  jwst/tweakreg/tests/__init__.py
  jwst/tweakreg/tests/mosaic_long_i2d_gwcs.asdf
  jwst/tweakreg/tests/test_amutils.py
  jwst/tweakreg/tweakreg_step.py
  setup.py
Labels: tweakreg

#4946 JP-1451: Guidestar data models updates
  docs/jwst/data_products/nonscience_products.rst
  docs/jwst/data_products/science_products.rst
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_meta.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
Labels: FGS, datamodels, guider_data_products

#4948 JP-1454: Exit gracefully if APCORR data is missing
  jwst/source_catalog/source_catalog.py
  jwst/source_catalog/source_catalog_step.py
Labels: source catalog

#4949 Performance improvement in GAIA alignment and bug fix wcs name
  jwst/tweakreg/tweakreg_step.py
  requirements-sdp.txt
  setup.py
Labels: bug, no-changelog-entry-needed, tweakreg

#4951 Limit looping over FITS HDU's for schema arrays
  CHANGES.rst
  jwst/datamodels/fits_support.py
Labels: datamodels, optimization

#4936 Update minumum dependencies
  .gitignore
  .travis.yml
  jwst/tweakreg/tests/test_amutils.py
  requirements-dev.txt
  scripts/minimum_deps
  setup.py
Labels: packaging, testing

#4776 Update MIRI filteroffset to use generic model
  CHANGES.rst
  jwst/assign_wcs/miri.py
  jwst/datamodels/schemas/filteroffset.schema.yaml
Labels: MIRI IMAGER, datamodels, reference files

#4873 Populate meta.asn.table_name when association opened in ModelContainer
  CHANGES.rst
  jwst/datamodels/container.py
  jwst/datamodels/tests/data/association_w_cat.json
  jwst/datamodels/tests/test_open.py
Labels: datamodels

#4958 Refactor photom to also update multislit models' bunit keys
  CHANGES.rst
  jwst/photom/photom.py
Labels: photom

#4963 Update CHANGES.rst for 0.16.1 release
  CHANGES.rst
Labels: Release

#4959 JP-1151: Fix NIRSpec MOS PPS reference point bug.
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
Labels: NIRSPEC MSA, assign_wcs

#4969 Move Travis jwst-edit job to the SDP job
  .travis.yml
Labels: testing

#4970 JP-1462: Fix bug that results in obscure linear algebra error
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/extract1d.py
  jwst/extract_1d/tests/test_fit_background_model.py
Labels: extract_1d

#4968 JP-1294 Update coron3 for new outlier detection application
  CHANGES.rst
  docs/jwst/pipeline/calwebb_coron3.rst
  jwst/coron/stack_refs.py
  jwst/datamodels/cube.py
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_cube.py
  jwst/datamodels/tests/test_models.py
  jwst/pipeline/calwebb_coron3.py
  jwst/regtest/test_nircam_coron3.py
Labels: coron3 pipeline, klip, outlier_detection, stack_refs

#4976 Fix doc build warnings
  .travis.yml
  docs/Makefile
  docs/conf.py
  docs/jwst/references_general/references_general.rst
  jwst/ami/ami_analyze_step.py
  jwst/ami/ami_average_step.py
  jwst/ami/ami_normalize_step.py
  jwst/assign_mtwcs/assign_mtwcs_step.py
  jwst/assign_wcs/util.py
  jwst/associations/association.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/main.py
  jwst/associations/registry.py
  jwst/skymatch/skymatch.py
  jwst/wiimatch/lsq_optimizer.py
  jwst/wiimatch/match.py
Labels: documentation, testing

#4975 Clean up test warnings in datamodels
  .travis.yml
  jwst/assign_wcs/tests/test_wcs.py
  jwst/datamodels/fits_support.py
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/tests/test_schema.py
  jwst/datamodels/tests/test_wcs.py
Labels: testing

#4977 Remove packaging dependency; remove vendorized pyparsing
  jwst/datamodels/fits_support.py
  jwst/extern/pyparsing.py
  jwst/fits_generator/template.py
  setup.py
Labels: bug, datamodels, packaging

#4660 add info and search methods to models
  CHANGES.rst
  docs/jwst/datamodels/models.rst
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_models.py
Labels: datamodels

#4984 Fix step list for coron3 in the docs
  docs/jwst/pipeline/calwebb_coron3.rst
Labels: coron3 pipeline, documentation

#4986 JP-1148: Update diagrams to change sloper to detector1
  CHANGES.rst
  docs/jwst/associations/graphics/sources/workflow-generic.odg
  docs/jwst/associations/graphics/sources/workflow-wfss.odg
  docs/jwst/associations/graphics/workflow-generic.pdf
  docs/jwst/associations/graphics/workflow-generic.png
  docs/jwst/associations/graphics/workflow-wfss.pdf
  docs/jwst/associations/graphics/workflow-wfss.png
Labels: associations, documentation

#4989 [skip ci] Remove further sloper references
  CHANGES.rst
  docs/jwst/stpipe/devel_step.rst
Labels: documentation, stpipe

#4994 Update MT_RA/DEC keyword comments
  CHANGES.rst
  jwst/datamodels/schemas/wcsinfo.schema.yaml
Labels: datamodels, keywords

#4979 Verify install_requires in setup.py is up-to-date
  .travis.yml
  jwst/associations/lib/keyvalue_registry.py
  jwst/associations/lib/log_config.py
  jwst/ramp_fitting/mc_2d.py
  jwst/ramp_fitting/rotate_dataset.py
  jwst/ramp_fitting/rotate_utils.py
  scripts/verify_install_requires
Labels: testing

#4998 JP-1410 Add blend rule for detector
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: blend headers, bug, datamodels

#4990 JP-872: Refactor Image3Pipeline to use Step infrastructure
  CHANGES.rst
  jwst/pipeline/calwebb_image3.py
Labels: image3 pipeline

#4999 Fix skymatch and wiimatch docstrings
  jwst/skymatch/skymatch.py
  jwst/wiimatch/match.py
Labels: documentation

#5002 REGTEST: Simplify NIRSpec master background test
  jwst/regtest/test_nirspec_masterbackground.py
Labels: regression_testing
