Repository spacetelescope/jwst, pull requests merged in 2020-10, with the labels that each got.

#5371 JP-1679: Skip serializing None in datamodels
  CHANGES.rst
  jwst/datamodels/container.py
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_models.py
  jwst/dq_init/tests/test_dq_init.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
Labels: ASDF, datamodels

#5372 Clean up test_resample_spec
  jwst/resample/tests/test_resample_spec.py
Labels: resample_spec, testing

#5378 Use CRDS in serverless mode for nightly regression tests
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, testing

#5382 JP-1738 Implement full class deprecator decorator and use for MIRIRampModel
  CHANGES.rst
  jwst/datamodels/ramp.py
  jwst/datamodels/tests/test_open.py
  jwst/lib/basic_utils.py
Labels: bug, datamodels

#5390 JP-1549: AMI algorithm updates
  .travis.yml
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
  jwst/ami/ami_average.py
  jwst/ami/ami_normalize.py
  jwst/ami/analyticnrm2.py
  jwst/ami/find_affine2d_parameters.py
  jwst/ami/hexee.py
  jwst/ami/hextransformee.py
  jwst/ami/instrument_data.py
  jwst/ami/leastsqnrm.py
  jwst/ami/lg_model.py
  jwst/ami/mask_definitions.py
  jwst/ami/nrm_core.py
  jwst/ami/nrm_model.py
  jwst/ami/tests/test_ami_analyze.py
  jwst/ami/utils.py
  jwst/ami/webb_psf.py
  setup.cfg
Labels: ami_analyze

#5391 Fix ami bug in analyticnrm2.psf() call
  jwst/ami/lg_model.py
Labels: ami_analyze

#5384 Update ami analyze code and tests
  CHANGES.rst
Labels: ami_analyze

#5392 Update source_catalog argument list in step docs
  docs/jwst/source_catalog/arguments.rst
Labels: documentation, source catalog

#5395 JP-1423 Add exposure type NRS_VERIFY
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/tests/data/pool_006_spec_nirspec.csv
  jwst/datamodels/schemas/core.schema.yaml
  jwst/regtest/test_nirspec_verify.py
Labels: associations, datamodels, enhancement

#5394 Rework handling of NO_SAT_CHECK pixels in saturation step
  CHANGES.rst
  docs/jwst/saturation/description.rst
  jwst/saturation/saturation.py
  jwst/saturation/tests/test_saturation.py
Labels: saturation

#5402 Fix construction of int_times table in test
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: testing

#5401 JP-1308 coron3 pipeline align_refs updates
  docs/jwst/align_refs/description.rst
  jwst/coron/align_refs_step.py
  jwst/coron/median_replace_img.py
Labels: align_refs, coron3 pipeline

#5396 Set jump step minimum number of groups to 5
  CHANGES.rst
  docs/jwst/jump/description.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_jump_step.py
  jwst/jump/twopoint_difference.py
Labels: jump

#5403 JP-1747 Add nrs_verify to the exposure list
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/regtest/test_nirspec_verify.py
Labels: NIRSPEC, assign_wcs, bug

#5404 JP-1735: Reduce jump step memory usage
  CHANGES.rst
  jwst/jump/tests/test_detect_jumps.py
  jwst/jump/twopoint_difference.py
Labels: jump

#5409 JP-1748 Refactor DataTypes handling of ModelContainer
  CHANGES.rst
  jwst/cube_build/data_types.py
  jwst/datamodels/model_base.py
  jwst/regtest/test_miri_cubebuild.py
  jwst/regtest/test_miri_mrs.py
Labels: bug, cube_build

#5413 JP-1748 Remove logging from DataModel.close
  CHANGES.rst
  jwst/datamodels/model_base.py
Labels: datamodels

#5412 Add another jump unit test
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing

#5410 Fix warnings in datamodels
  jwst/datamodels/tests/data/collimator_fake.asdf
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/tests/test_open.py
Labels: datamodels

#5414 JP-1478: extract_1d enhancements for NRC_TSGRISM
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/references_general/extract1d_reffile.inc
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract1d.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/tests/test_extract_src_flux.py
  jwst/extract_1d/tests/test_fit_background_model.py
  jwst/extract_1d/tests/test_ifu_image_ref.py
  jwst/extract_1d/tests/test_wcs.py
  jwst/regtest/test_nircam_tsgrism.py
Labels: extract_1d

#5420 Split up some long-running regtest modules
  jwst/regtest/test_miri_mrs_spec2.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_steps_spec2.py
Labels: regression_testing

#5423 Allow skymatch/skysub for one image
  CHANGES.rst
  jwst/pipeline/calwebb_image3.py
Labels: enhancement, skymatch

#5389 JP-1400: Add pixel_scale_ratio parameter to resample
  CHANGES.rst
  docs/jwst/resample/arguments.rst
  jwst/assign_wcs/util.py
  jwst/datamodels/dqflags.py
  jwst/outlier_detection/outlier_detection_scaled.py
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_interface.py
  jwst/resample/tests/test_resample_spec.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, resample_spec

#5411 Simplify test setup fixture in jump detection
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing

#5428 Updates to extract_1d logging
  jwst/extract_1d/extract.py
Labels: extract_1d

#5406 Use Codecov carryforward flags
  .codecov.yml
  JenkinsfileRT
Labels: test_coverage, testing

#5431 Documentation update on ways to call the pipeline
  docs/jwst/introduction.rst
  docs/jwst/stpipe/call_via_call.rst
  docs/jwst/stpipe/call_via_run.rst
  docs/jwst/stpipe/index.rst
  docs/jwst/stpipe/user_step.rst
Labels: documentation, stpipe

#5437 JP-1764:Update ami_analyze to extract subarray from full-frame images
  CHANGES.rst
  jwst/ami/ami_analyze.py
Labels: ami_analyze

#5439 JP-1693: Fix extract_1d for SourceContainer with 1 slit
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#5443 JP-1765: Turn off RSCD step for MIRI TSO
  docs/jwst/pipeline/calwebb_detector1.rst
  jwst/pipeline/calwebb_tso1.cfg
Labels: detector1, rscd, time series observations (TSO)

#5444 Remove V1 readthedocs config file
  readthedocs.yml
Labels: documentation

#5446 JP-1766: Fixed a bug where NRS_LAMP IFU data caused an exception in flatfielding
  jwst/flatfield/flat_field.py
Labels: NIRSpec IFU, flatfield, lamp

#5440 Fix _apply_sky in skymatch for single group input
  CHANGES.rst
  jwst/skymatch/skyimage.py
  jwst/skymatch/skymatch.py
Labels: bug, skymatch

#5448 Remove rscd step from MIRI LRS slitless regtest
  jwst/regtest/test_miri_lrs_slitless.py
Labels: regression_testing
