Repository spacetelescope/jwst, pull requests merged in 2020-12, with the labels that each got.

#5501 Added min_wavelength and max_wavelength to white_light step parameter…
  CHANGES.rst
  docs/jwst/white_light/arguments.rst
  docs/jwst/white_light/description.rst
  jwst/white_light/white_light.py
  jwst/white_light/white_light_step.py
Labels: white_light

#5500 JP-1763: fix dq flag handling in wfs_combine
  CHANGES.rst
  jwst/wfs_combine/wfs_combine.py
Labels: wfs_combine

#5504 JP-1466 Restrict association creation based on optical path for NIRSpec Fixed-slit and IFU
  CHANGES.rst
  jwst/associations/asn_gather.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/pool_006_spec_nirspec.csv
  jwst/associations/tests/data/pool_017_spec_nirspec_lv2imprint.csv
  jwst/associations/tests/data/pool_024_nirspec_fss_nods.csv
  jwst/associations/tests/data/pool_025_nirspec_fss_nod_chop.csv
  jwst/associations/tests/test_asn_gather.py
  jwst/associations/tests/test_associations.py
  jwst/associations/tests/test_level3_basics.py
  jwst/associations/tests/test_level3_image.py
  jwst/associations/tests/test_level3_product_names.py
  jwst/associations/tests/test_level3_spectrographic.py
  jwst/associations/tests/test_level3_wfs.py
  jwst/associations/tests/test_main.py
  jwst/regtest/test_associations_sdp_pools.py
  jwst/regtest/test_associations_standards.py
Labels: NIRSPEC, associations

#5496 JP-1699 Add further constraints to rule Asn_Lv2NRSLAMPSpectral
  CHANGES.rst
  docs/jwst/associations/index.rst
  docs/jwst/associations/level2_asn_rules.rst
  jwst/associations/lib/constraint.py
  jwst/associations/lib/rules_level2b.py
Labels: associations, task

#5519 JP-1796: Fix wfs_combine bugs; add unit tests
  CHANGES.rst
  jwst/wfs_combine/tests/__init__.py
  jwst/wfs_combine/tests/test_wfs_combine.py
  jwst/wfs_combine/wfs_combine.py
  jwst/wfs_combine/wfs_combine_step.py
Labels: wfs_combine

#5484 Enable resample_spec for NIRSpec line lamp exposures
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/lib/exposure_types.py
  jwst/pipeline/calwebb_spec2.py
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_utils.py
Labels: assign_wcs, resample_spec, spec2 pipeline

#5525 JP-1802 Add new dither keyword subpxpts to constraints
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
  jwst/associations/tests/test_level2_background.py
Labels: associations, task

#5524 JP-1801: Update MIRI LRS slitless docs
  docs/jwst/pipeline/main.rst
Labels: documentation

#5533 JP 1559: Fix tso_photometry keywords for aperture location
  CHANGES.rst
  docs/jwst/tso_photometry/description.rst
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

#5531 JP-1807: Update FGS SUBARRAY enum lists
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_psubarray.schema.yaml
  jwst/datamodels/schemas/subarray.schema.yaml
Labels: datamodels

#5529 Fix units in tso photometry catalog
  CHANGES.rst
  jwst/tso_photometry/tests/test_tso_photometry.py
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: bug, tso_photometry

#5534 Update bandit specification
  .bandit.yaml
  .travis.yml
Labels: testing

#5507 JP-1347: Add SIP approximation to meta.wcsinfo for imaging modes
  CHANGES.rst
  docs/jwst/assign_wcs/main.rst
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/tests/test_wcs.py
  jwst/datamodels/schemas/wcsinfo.schema.yaml
  jwst/resample/tests/test_resample_step.py
  jwst/wfs_combine/tests/test_wfs_combine.py
Labels: assign_wcs

#5538 Update resample to handle SIP coeffs in input data
  jwst/resample/resample.py
  jwst/resample/tests/test_resample_step.py
Labels: assign_wcs, resample

#5540 Set_telescope_pointing to handle zero values for pointing mnemonics in engineering database
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
Labels: set_telescope_pointing

#5543 Fix bug in assign_wcs.util.bounding_box_from_subarray function
  CHANGES.rst
  jwst/assign_wcs/tests/test_util.py
  jwst/assign_wcs/util.py
Labels: assign_wcs

#5536 Remove deprecated method get_children from XML elements
  CHANGES.rst
  jwst/fits_generator/proposalparser.py
  jwst/fits_generator/templates/miri_imaging_dither_pattern.gen.inc
  jwst/fits_generator/templates/nircam_dither_pattern.gen.inc
  jwst/fits_generator/templates/nirspec_fss_dither_pattern.gen.inc
Labels: fits_generator

#5422 JP-1357: Code, tests, and docs to update saturation step to test for groups at the A/D floor (0 DN)
  CHANGES.rst
  docs/jwst/saturation/description.rst
  jwst/datamodels/dqflags.py
  jwst/saturation/saturation.py
  jwst/saturation/tests/test_saturation.py
Labels: saturation

#5554 NRS slits should be larger than 1 pixel
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
Labels: NIRSPEC, assign_wcs

#5558 JP-1803: Update CHEBY table extension schema
  CHANGES.rst
  jwst/datamodels/schemas/cheby.schema.yaml
Labels: datamodels

#5556 Set keyword ENGQLPTG in set_telescope_pointing
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/lib/set_telescope_pointing.py
Labels: datamodels, set_telescope_pointing

#5548 Update Ami analyze to input two new input parameters: JP-1742
  CHANGES.rst
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
Labels: ami_analyze

#5557 Constrain SIP approximation to use wcsinfo.crpix and simplify code
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/tests/test_wcs.py
  requirements-sdp.txt
  setup.cfg
Labels: assign_wcs, enhancement, no-changelog-entry-needed

#5560 Update CHANGES.rst for 0.18.0 release
  CHANGES.rst
  README.md
Labels: Release

#5567 Fix a crash in skymatch when using mode on 1 pixel
  CHANGES.rst
  jwst/skymatch/skyimage.py
Labels: bug, skymatch

#5499 JP-1788: Add tox as testing framework
  .bandit.yaml
  .coveragerc
  .gitignore
  .travis.yml
  MANIFEST.in
  setup.cfg
  tox.ini
Labels: testing

#5571 Add new extract_1d regtest for MIRI MRS
  jwst/regtest/test_miri_mrs_extract1d.py
Labels: MIRI MRS, extract_1d, regression_testing

#5569 Enable Github actions for CI
  .github/workflows/ci.yml
  .gitignore
  .travis.yml
  requirements-sdp.txt
  setup.cfg
  tox.ini
Labels: testing

#5574 JP-1834: remove defaults from cfg files
  CHANGES.rst
  jwst/pipeline/ami_analyze.cfg
  jwst/pipeline/assign_wcs.cfg
  jwst/pipeline/background.cfg
  jwst/pipeline/calwebb_ami3.cfg
  jwst/pipeline/calwebb_dark.cfg
  jwst/pipeline/calwebb_detector1.cfg
  jwst/pipeline/calwebb_image3.cfg
  jwst/pipeline/calwebb_tso-image2.cfg
  jwst/pipeline/calwebb_tso3.cfg
  jwst/pipeline/calwebb_wfs-image2.cfg
  jwst/pipeline/calwebb_wfs-image3.cfg
  jwst/pipeline/combine_1d.cfg
  jwst/pipeline/cube_build.cfg
  jwst/pipeline/extract_1d.cfg
  jwst/pipeline/hlsp.cfg
  jwst/pipeline/jump.cfg
  jwst/pipeline/klip.cfg
  jwst/pipeline/mrs_imatch.cfg
  jwst/pipeline/outlier_detection.cfg
  jwst/pipeline/outlier_detection_scaled.cfg
  jwst/pipeline/outlier_detection_stack.cfg
  jwst/pipeline/outlier_detection_tso.cfg
  jwst/pipeline/persistence.cfg
  jwst/pipeline/ramp_fit.cfg
  jwst/pipeline/refpix.cfg
  jwst/pipeline/skymatch.cfg
  jwst/pipeline/source_catalog.cfg
  jwst/pipeline/straylight.cfg
  jwst/pipeline/tweakreg.cfg
  jwst/pipeline/wfs_combine.cfg
Labels: source catalog

#5575 Add back codecov to dependencies for regtests
  requirements-sdp.txt
  setup.cfg
Labels: testing
