Repository spacetelescope/jwst, pull requests merged in 2020-09, with the labels that each got.

#5299 JP-1665 Remove unwarranted closing of datamodels in blendheaders
  CHANGES.rst
  jwst/datamodels/model_base.py
  jwst/model_blender/blendmeta.py
  jwst/regtest/test_nircam_image.py
Labels: blend headers, bug

#5302 JP-509 Implement NIRSpec MOS master background subtraction calwebb_spec2
  CHANGES.rst
  JenkinsfileRT
  jwst/barshadow/bar_shadow.py
  jwst/barshadow/barshadow_step.py
  jwst/combine_1d/combine1d.py
  jwst/exp_to_source/exp_to_source.py
  jwst/flatfield/flat_field.py
  jwst/flatfield/flat_field_step.py
  jwst/master_background/expand_to_2d.py
  jwst/master_background/nirspec_corrections.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_nirspec_corrections.py
  jwst/pathloss/pathloss.py
  jwst/pathloss/pathloss_step.py
  jwst/pathloss/tests/test_pathloss.py
  jwst/photom/photom.py
  jwst/photom/photom_step.py
  jwst/pipeline/calwebb_spec2.cfg
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_tso-spec2.cfg
  jwst/regtest/test_miri_mrs.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_image2.py
  jwst/regtest/test_nirspec_mos_spec2.py
  jwst/stpipe/step.py
Labels: NIRSPEC, enhancement, master background, spec2 pipeline

#5308 JP-1674: Check whether master background subtraction has already occurred.
  CHANGES.rst
  jwst/master_background/master_background_step.py
Labels: enhancement, master background, spec3 pipeline

#4858 JP-1416: Fix outlier_detection background subtraction bug
  CHANGES.rst
  jwst/assign_wcs/pointing.py
  jwst/assign_wcs/tests/test_wcs.py
  jwst/assign_wcs/util.py
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/resample/resample.py
Labels: assign_wcs, bug, outlier_detection

#5286 Remove old regtests and regtest infrastructure
  jwst/tests/base_classes.py
  jwst/tests/compare_outputs.py
  jwst/tests_nightly/general/__init__.py
  jwst/tests_nightly/general/associations/conftest.py
  jwst/tests_nightly/general/associations/sdp_pools_source.py
  jwst/tests_nightly/general/associations/test_generate.py
  jwst/tests_nightly/general/associations/test_io.py
  jwst/tests_nightly/general/associations/test_level3_product_names.py
  jwst/tests_nightly/general/associations/test_main.py
  jwst/tests_nightly/general/associations/test_sdp_pools.py
  jwst/tests_nightly/general/associations/test_standards.py
  jwst/tests_nightly/general/fgs/__init__.py
  jwst/tests_nightly/general/fgs/test_fgs_image2_1.py
  jwst/tests_nightly/general/fgs/test_fgs_sloper_1.py
  jwst/tests_nightly/general/fgs/test_guider_pipeline.py
  jwst/tests_nightly/general/miri/__init__.py
  jwst/tests_nightly/general/miri/test_image2pipeline_1.py
  jwst/tests_nightly/general/miri/test_miri_spec2pipeline.py
  jwst/tests_nightly/general/miri/test_miri_steps.py
  jwst/tests_nightly/general/miri/test_miri_steps_single.py
  jwst/tests_nightly/general/miri/test_mirilrs2_slitless.py
  jwst/tests_nightly/general/miri/test_mrs_spec3.py
  jwst/tests_nightly/general/miri/test_sloperpipeline.py
  jwst/tests_nightly/general/nircam/__init__.py
  jwst/tests_nightly/general/nircam/test_coron3_1.py
  jwst/tests_nightly/general/nircam/test_image2pipeline_2.py
  jwst/tests_nightly/general/nircam/test_image2pipeline_2b.py
  jwst/tests_nightly/general/nircam/test_nircam_steps.py
  jwst/tests_nightly/general/nircam/test_nircam_steps_single.py
  jwst/tests_nightly/general/nircam/test_nrc_image3_1.py
  jwst/tests_nightly/general/nircam/test_tso3.py
  jwst/tests_nightly/general/nircam/test_wfs_combine.py
  jwst/tests_nightly/general/niriss/__init__.py
  jwst/tests_nightly/general/niriss/test_niriss_steps.py
  jwst/tests_nightly/general/niriss/test_niriss_steps_single.py
  jwst/tests_nightly/general/niriss/test_nis_wfss_spec2.py
  jwst/tests_nightly/general/niriss/test_tso3.py
  jwst/tests_nightly/general/nirspec/__init__.py
  jwst/tests_nightly/general/nirspec/test_calwebb_spec2_nrs_msa.py
  jwst/tests_nightly/general/nirspec/test_nirspec_fs_spec3.py
  jwst/tests_nightly/general/nirspec/test_nirspec_msa_spec3.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps.py
  jwst/tests_nightly/general/nirspec/test_nirspec_steps_single.py
  jwst/tests_nightly/general/nirspec/test_nrs_ifu_wcs.py
  jwst/tests_nightly/general/nirspec/test_pipelines.py
  jwst/tests_nightly/general/nirspec/test_spec2.py
  jwst/tests_nightly/general/nirspec/test_spec2pipelines.py
  jwst/tests_nightly/notebooks/gain_naming.ipynb
  setup.cfg
Labels: regression_testing

#5313 Update pip install instructions in README
  README.md
Labels: installation

#5315 JP-1666: Include per-product tracebacks for failures in calwebb_spec2
  CHANGES.rst
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/tests/test_calwebspec2.py
Labels: spec2 pipeline

#5295 Fix for JP-1642: NIRSpec IFU failure in calwebb_spec2
  CHANGES.rst
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
Labels: NIRSpec IFU, cube_build

#5318 JP-1680: fix tso_photometry int times computation
  CHANGES.rst
  jwst/tso_photometry/tests/test_tso_photometry.py
  jwst/tso_photometry/tso_photometry.py
  jwst/tso_photometry/tso_photometry_step.py
Labels: tso_photometry

#5321 JP-1681: Fix empty int_times table in rateints products
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting

#5317 JP-891 Provide option to save the calculated master background in both 1D and 2D forms
  CHANGES.rst
  jwst/lib/suffix.py
  jwst/master_background/__init__.py
  jwst/master_background/master_background_nrs_slits_step.py
  jwst/master_background/master_background_step.py
  jwst/master_background/nirspec_utils.py
  jwst/pipeline/calwebb_spec2.cfg
  jwst/pipeline/calwebb_spec2.py
  jwst/regtest/test_nirspec_masterbackground.py
  jwst/stpipe/step.py
Labels: master background, spec2 pipeline, spec3 pipeline

#5284 JP-1663: NIRSpec MOS flat field DQ handling
  CHANGES.rst
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_interpolate_flat.py
Labels: NIRSPEC MSA, flatfield

#5312 JP-1549: AMI analyze algorithm updates
  jwst/ami/InstrumentData.py
  jwst/ami/LG_Model.py
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
  jwst/ami/analyticnrm2.py
  jwst/ami/find_affine2d_parameters.py
  jwst/ami/hextransformEE.py
  jwst/ami/leastsqnrm.py
  jwst/ami/mask_definitions.py
  jwst/ami/nrm_core.py
  jwst/ami/nrm_model.py
  jwst/ami/utils.py
  jwst/ami/webb_psf.py
  requirements-sdp.txt
  setup.py
Labels: NIRISS, ami_analyze

#5326 JP-1689: Fix level-3 IFU product names
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
  jwst/cube_build/ifu_cube.py
Labels: MIRI MRS, NIRSpec IFU, associations, cube_build

#5325 change METERS to METER
  jwst/cube_build/ifu_cube.py
Labels: NIRSpec IFU, cube_build

#5330 Fix ASN regtest input pool data
  jwst/associations/tests/data/pool_010_spec_nirspec_lv2bkg.csv
Labels: associations, regression_testing

#5334 Release 0.17.1 release notes for B7.6rc2
  CHANGES.rst
  README.md
Labels: Release

#5311 Pointing analysis tools
  CHANGES.rst
  jwst/conftest.py
  jwst/datamodels/util.py
  jwst/lib/pointing_summary.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/data/calc_deltas_truth.ecsv
  jwst/lib/tests/data/v1_calc_truth.ecsv
  jwst/lib/tests/data/v1_time_truth.ecsv
  jwst/lib/tests/test_pointing_summary.py
  jwst/lib/tests/test_v1_calculate.py
  jwst/lib/v1_calculate.py
  jwst/regtest/conftest.py
  scripts/pointing_summary
  scripts/v1_calculate
Labels: enhancement, pointing

#5345 Allow PurePath objects to initialize/open datamodels
  .travis.yml
  jwst/datamodels/model_base.py
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/tests/test_open.py
Labels: datamodels

#5346 Clean zeroframe code in Level1bModel; update .travis.yml
  .travis.yml
  jwst/datamodels/level1b.py
  jwst/datamodels/tests/test_level1b.py
Labels: datamodels, testing

#5347 jp-1690 calspec3 cube_build clean up
  CHANGES.rst
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
  jwst/outlier_detection/outlier_detection_ifu.py
Labels: cube_build, outlier_detection

#5353 JP-1668: Fix bug in extract_1d target coords
  CHANGES.rst
  README.md
  jwst/extract_1d/extract.py
Labels: NIRSPEC MSA, extract_1d

#5356 JP-1723: Flatfield fixes for NRS lamp exposures
  CHANGES.rst
  jwst/flatfield/flat_field.py
  jwst/ramp_fitting/ramp_fit_step.py
Labels: NIRSpec IFU, flatfield, ramp_fitting

#5359 Add NRS lamp regtests
  jwst/regtest/test_nirspec_lamp_fs_spec2.py
  jwst/regtest/test_nirspec_lamp_ifu_spec2.py
Labels: NIRSPEC, regression_testing

#5354 JP-1541 Implement memory check in resample to prevent huge arrays
  CHANGES.rst
  docs/jwst/datamodels/models.rst
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/resample/arguments.rst
  jwst/datamodels/tests/test_open.py
  jwst/datamodels/util.py
  jwst/lib/basic_utils.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/pipeline/calwebb_image3.py
  jwst/regtest/test_fgs_guider.py
  jwst/resample/resample.py
  jwst/resample/resample_step.py
  setup.cfg
Labels: datamodels, enhancement, outlier_detection, resample

#5363 Do not attempt prefetch on pipelines that are set to not allow prefetch
  CHANGES.rst
  jwst/stpipe/pipeline.py
  jwst/stpipe/tests/steps/__init__.py
  jwst/stpipe/tests/test_pipeline.py
Labels: bug, crds interface, stpipe

#5362 Clear out requirements-sdp.txt for post-B7.6 regression testing
  LICENSE
  requirements-sdp.txt
Labels: testing

#5367 JP-1731: Add DO_NOT_USE to pixels with all groups saturated
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: bug, ramp_fitting

#5370 JP-1732: NRS MOS updates for lamp exposures with no sources
  CHANGES.rst
  jwst/flatfield/flat_field.py
  jwst/master_background/master_background_nrs_slits_step.py
Labels: NIRSPEC, flatfield, master background
