Repository spacetelescope/jwst, pull requests merged in 2020-11, with the labels that each got.

#5442 JP-1734: Return correct DataModel subclass when reading an ASDF file
  jwst/datamodels/tests/test_open.py
  jwst/datamodels/util.py
Labels: ASDF, datamodels

#5460 JP-1774: Update datamodels to include flat and photom arrays
  CHANGES.rst
  jwst/datamodels/multiexposure.py
  jwst/datamodels/multislit.py
  jwst/datamodels/schemas/flatcorr.schema.yaml
  jwst/datamodels/schemas/pathlosscorr.schema.yaml
  jwst/datamodels/schemas/photomcorr.schema.yaml
  jwst/datamodels/schemas/slitdata.schema.yaml
  jwst/datamodels/slit.py
Labels: NIRSPEC, datamodels

#5464 Fix error NIRSpec flat-fielding
  jwst/flatfield/flat_field.py
Labels: flatfield

#5465 Another bug fix for flatfielding
  jwst/flatfield/flat_field.py
Labels: flatfield

#5463 JP-1776: Update photom to compute uniform and ps corrections
  CHANGES.rst
  docs/jwst/flatfield/main.rst
  docs/jwst/photom/main.rst
  jwst/lib/wcs_utils.py
  jwst/photom/photom.py
Labels: NIRSPEC, photom

#5466 JP-1777: NIRSpec Fixed-Slit master background corrections
  docs/jwst/master_background/description.rst
  jwst/master_background/expand_to_2d.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_nirspec_corrections.py
Labels: NIRSPEC, master background

#5419 JP-1438: Add NIRSpec unit tests comparing WCS to IDT model
  jwst/assign_wcs/tests/data/fixed_slits_functional_ESA_v4_20180618.txt
  jwst/assign_wcs/tests/data/ifu_grating_functional_ESA_v1_20180619.txt
  jwst/assign_wcs/tests/data/ifu_prism_functional_ESA_v1_20180619.txt
  jwst/assign_wcs/tests/data/msa_functional_ESA_v2_20180620.txt
  jwst/assign_wcs/tests/test_nirspec.py
Labels: assign_wcs, testing

#5471 Remove tests for fits_required, get_section, iteritems
  jwst/datamodels/tests/test_models.py
Labels: :fire:, datamodels, testing

#5473 Add Python 3.9 to Travis jobs
  .travis.yml
Labels: testing

#5472 JP-1745: Remove uncertainities dependency
  jwst/ami/leastsqnrm.py
  setup.cfg
Labels: ami

#5468 Add utility asn_gather
  CHANGES.rst
  docs/jwst/associations/asn_from_list.rst
  docs/jwst/associations/asn_gather.rst
  docs/jwst/associations/commands.rst
  jwst/associations/asn_gather.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/load_as_asn.py
  jwst/associations/tests/test_asn_gather.py
  scripts/asn_gather
Labels: associations, enhancement

#5482 Fix Travis dev dependencies job
  .travis.yml
Labels: testing

#5477 JP-1780: Clean up jwst.datamodels tests
  jwst/datamodels/tests/data/collimator_fake.asdf
  jwst/datamodels/tests/data/jwst_image.fits
  jwst/datamodels/tests/data/mask.fits
  jwst/datamodels/tests/test_fits.py
  jwst/datamodels/tests/test_models.py
  jwst/datamodels/tests/test_multislit.py
  jwst/datamodels/tests/test_open.py
  jwst/datamodels/tests/test_schema.py
  jwst/datamodels/tests/test_validation.py
  jwst/datamodels/tests/test_wcs.py
  jwst/datamodels/validate.py
Labels: datamodels, testing

#5486 Regtest: Remove superfluous test_miri_image_detector1
  jwst/regtest/test_miri_image_detector1.py
Labels: MIRI IMAGER, detector1, testing

#5489 JP-1755: Rename class RSCD_Step to preserve CRDS functionality. (#5424)
  jwst/lib/suffix.py
  jwst/pipeline/calwebb_dark.py
  jwst/pipeline/calwebb_detector1.py
  jwst/pipeline/rscd.cfg
  jwst/pipeline/tests/data/cfgs/rscd.cfg
  jwst/rscd/__init__.py
  jwst/rscd/rscd_step.py
Labels: rscd

#5475 JP-820: Add support for rshift fitting mode in tweakreg
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
  setup.cfg
Labels: enhancement, tweakreg

#5479 JP-1696 Asn_Lv3SpecAux: Add optical element constraint
  jwst/associations/lib/constraint.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/pool_009_spec_miri_lv2bkg.csv
  jwst/associations/tests/data/pool_015_spec_nirspec_lv2bkg_reversed.csv
  jwst/associations/tests/data/pool_016_spec_nirspec_lv2bkg_double.csv
  jwst/associations/tests/data/pool_025_nirspec_fss_nod_chop.csv
  jwst/associations/tests/test_constraints.py
  jwst/regtest/conftest.py
  jwst/regtest/test_associations_standards.py
Labels: associations, bug

#5492 Implement utility function all_steps and fix crds reference file retrieval for non-datamodels
  CHANGES.rst
  jwst/lib/suffix.py
  jwst/lib/tests/test_suffix.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/test_utilities.py
  jwst/stpipe/utilities.py
Labels: bug, enhancement, stpipe

#5495 Add logging of the found quaternion information to set_telescope_pointing
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  scripts/v1_calculate
Labels: set_telescope_pointing

#5494 Implement test for proper DQ handling
  jwst/combine_1d/tests/test_dq.py
Labels: combine_1d, testing
