Repository spacetelescope/jwst, pull requests merged in 2021-11, with the labels that each got.

#6422 JP-2306: New SOSS datamodel and core attributes for SOSS extraction parameters
  CHANGES.rst
  jwst/datamodels/__init__.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/sossextractmodel.schema.yaml
  jwst/datamodels/sossextractmodel.py
Labels: datamodels, NIRISS SOSS

#6416 AL-595: Add documentation for ramp fitting computation of VAR_POISSON
  CHANGES.rst
  docs/jwst/ramp_fitting/description.rst
Labels: ramp_fitting, documentation

#6440 Revert JP-2307: Remove explicit versioning of python, 3.10.0 now supported
  README.md
Labels: Python3

#6297 JP-2015: MIRI & NIRSpec 3D drizzling C extension
  CHANGES.rst
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/src/blot_median.c
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
  jwst/cube_build/src/cube_utils.c
  jwst/datamodels/ifucubepars.py
  jwst/datamodels/schemas/miri_ifucubepars.schema.yaml
  setup.py
Labels: cube_build

#6435 JP-2243: Implement MIRI LRS pathloss correction
  CHANGES.rst
  docs/jwst/barshadow/arguments.rst
  docs/jwst/flatfield/arguments.rst
  docs/jwst/pathloss/arguments.rst
  docs/jwst/pathloss/description.rst
  docs/jwst/photom/arguments.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/references_general/pathloss_reffile.inc
  docs/jwst/references_general/pathloss_selection.inc
  jwst/datamodels/__init__.py
  jwst/datamodels/pathloss.py
  jwst/datamodels/schemas/image.schema.yaml
  jwst/datamodels/schemas/mirlrs_pathloss.schema.yaml
  jwst/pathloss/pathloss.py
  jwst/pathloss/pathloss_step.py
  jwst/photom/photom.py
  jwst/pipeline/calwebb_spec2.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
Labels: MIRI LRS, path loss

#6448 JP-2327 Clean up ENGDB tests to account for permission and url changes and fix Jenkins environment
  JenkinsfileRT
  jwst/lib/engdb_tools.py
  jwst/lib/tests/test_engdb_mast.py
  jwst/lib/tests/test_engdb_mock.py
  jwst/lib/tests/test_engdb_tools.py
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: testing, engdb_tools

#6415 JP-579: Include logcfg keyword in docs where appropriate
  docs/jwst/introduction.rst
  docs/jwst/stpipe/call_via_call.rst
  docs/jwst/stpipe/user_logging.rst
  docs/jwst/stpipe/user_step.rst
Labels: documentation

#6450 JP-2304: Fix arguments to DarkCurrentStep's make_output_path
  CHANGES.rst
  jwst/dark_current/dark_current_step.py
  jwst/regtest/test_nircam_image.py
Labels: dark_current

#6368 JP-857: Add reference_order to guider schemas
  CHANGES.rst
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
Labels: datamodels, DO NOT MERGE

#6454 JP-2291: Fix bug in barshadow for off-center sources
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/barshadow/bar_shadow.py
Labels: bug, assign_wcs, NIRSPEC MSA, bar shadow

#6451 Update region.py in skymatch
  CHANGES.rst
  jwst/skymatch/region.py
Labels: bug, skymatch

#6453 Fix incorrect removal of PC and CDELT info from FITS WCS
  CHANGES.rst
  jwst/assign_wcs/assign_wcs_step.py
Labels: bug, assign_wcs

#6459 JP-2291: minor tweak to barshadow update
  CHANGES.rst
  jwst/barshadow/bar_shadow.py
Labels: NIRSPEC MSA, bar shadow

#6458 JP-2329 Add pysiaf to SDP dependency
  JenkinsfileRT
  setup.cfg
Labels: infrastructure

#6462 JP-2332: Ensure NRS_LAMP imaging data properly skips flatfielding
  CHANGES.rst
  jwst/flatfield/flat_field.py
Labels: bug, flatfield, Nirspec Image

#6464 JP-2333: Load level3 ASN using method rather than force-load with datamodels
  CHANGES.rst
  jwst/wfs_combine/wfs_combine_step.py
Labels: wfs_combine

#6465 JP-857: Reorder columns in guider schemas to match SDP structure
  CHANGES.rst
  jwst/datamodels/schemas/guider_cal.schema.yaml
  jwst/datamodels/schemas/guider_raw.schema.yaml
Labels: datamodels, guide star pipeline

#6457 JP-2103: Fix calculation of source_xpos in wavecorr
  CHANGES.rst
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
Labels: NIRSPEC, wavecorr

#6468 JP-2323: Test with Python 3.10
  .github/workflows/ci.yml
  tox.ini
Labels: testing

#6476 JP-2338 Fix various pointing tests to clean up regression errors
  jwst/lib/tests/test_v1_calculate.py
  jwst/lib/v1_calculate.py
  jwst/regtest/test_stp_jw00697013.py
  setup.cfg
Labels: regression_testing

#6478 JP-2331 Cube build footprint
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
  jwst/fits_generator/tests/dotfile/._05181.prop
Labels: cube_build, MIRI MRS
