Repository spacetelescope/jwst, pull requests merged in 2021-12, with the labels that each got.

#6482 JP-2339 Move setting of the default method to `calc_transforms`
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
Labels: set_telescope_pointing

#6485 JP-2334 updated moving target schema
  CHANGES.rst
  jwst/datamodels/schemas/moving_target.schema.yaml
Labels: datamodels, moving targets

#6495 Update migrate_data script for latest MT table changes
  scripts/migrate_data
Labels: migrate_data

#6487 Fix residual fringe data model name
  CHANGES.rst
  jwst/residual_fringe/residual_fringe.py
Labels: residual_fringe

#6497 fix test failure due to change in reference files
  jwst/wavecorr/tests/test_wavecorr.py
Labels: testing, wavecorr, no-changelog-entry-needed

#6499 JP-2347: Fix names of SOSS extraction keywords
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels, NIRISS SOSS

#6493 JP-2326: Adding changes to the change log due to changes in STCAL bug fix
  CHANGES.rst
Labels: ramp_fitting

#6501 JP-2348: Fix PATTTYPE enum values
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels, keywords

#6503 JP-1750: Update extract_1d to allow user-specified aperture center
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
  jwst/regtest/test_miri_mrs_extract1d.py
  setup.cfg
Labels: extract_1d, MIRI MRS, NIRSpec IFU

#6506 JP-2345 Update docstrings to match near-final TR
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_engdb_mast.py
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: documentation, set_telescope_pointing

#6517 Fix incorrect drizzling when inwht is 0
  CHANGES.rst
  setup.cfg
Labels: bug, resample

#6519 Temp fix for failing NRS lamp regtests
  jwst/regtest/test_nirspec_lamp_fs_spec2.py
  jwst/regtest/test_nirspec_lamp_ifu_spec2.py
Labels: NIRSPEC, regression_testing

#6520 Try restricting sphinx-automodapi
  setup.cfg
Labels: documentation

#6509 Update linearity test in jwst pipeline caused by changes in STCAL PR 65
  CHANGES.rst
  jwst/linearity/tests/test_linearity.py
Labels: linearity

#6522 DOC: Blender rules need __all__
  docs/jwst/model_blender/blender_rules.rst
  jwst/model_blender/blendrules.py
  setup.cfg
Labels: documentation

#6505 Making changes to move dark current code to STCAL.
  CHANGES.rst
  jwst/dark_current/dark_class.py
  jwst/dark_current/dark_current_step.py
  jwst/dark_current/dark_sub.py
  jwst/dark_current/tests/test_dark_sub.py
  setup.cfg
Labels: dark_current

#6529 Updates to resample and dark_current docs
  CHANGES.rst
  docs/jwst/dark_current/description.rst
  docs/jwst/resample/arguments.rst
Labels: dark_current, resample, documentation

#6527 rename photutils parameter
  CHANGES.rst
  jwst/source_catalog/source_catalog.py
  setup.cfg
Labels: source catalog

#6532 review oldest deps
  .github/workflows/ci.yml
  setup.cfg
  tox.ini
Labels: testing
