Repository spacetelescope/jwst, pull requests merged in 2021-02, with the labels that each got.

#5685 JP-1880: added source_type, x & y extraction center to extracted 1d spec for IFU data
  CHANGES.rst
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/extract_1d/ifu.py
Labels: extract_1d

#5694 JP-1706 added updating only PRIMARY header of output_file
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#5697 Break stpipe dependence on ModelContainer
  jwst/datamodels/container.py
  jwst/stpipe/jwst.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/steps/__init__.py
Labels: datamodels, stpipe

#5696 JP-1856: Trap zero-weight columns in extract_1d
  CHANGES.rst
  jwst/extract_1d/extract1d.py
Labels: bug, extract_1d

#5700 JP-1910: Fix ramp_fit handling of saturated ngroups=2 data
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
Labels: bug, ramp_fitting

#5728 JP-1886: Add '1LOS' to PATTTYPE enum
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels

#5721 JP-1903 Warn about duplicate product names and do not write duplicate associations
  CHANGES.rst
  jwst/associations/config.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/log_config.py
  jwst/associations/lib/product_utils.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/main.py
  jwst/associations/tests/data/jw00632_dups.csv
  jwst/associations/tests/test_dms.py
  jwst/associations/tests/test_level3_duplicate.py
Labels: associations, bug

#5723 Update stages.rst
  docs/jwst/data_products/stages.rst
Labels: documentation

#5734 TST: Remove custom CI skip
  .github/workflows/ci.yml
Labels: testing

#5737 Fix CRDS_CONTEXT setting in CI workflow
  .github/workflows/ci.yml
  conftest.py
  jwst/conftest.py
  tox.ini
Labels: testing

#5730 JP-1778: Output segmentation map for source catalog in Image3
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/regtest/test_nircam_image.py
  jwst/source_catalog/source_catalog_step.py
Labels: source catalog

#5740 JP-1876: Add new Lvl2 association rule for NRSLAMPImage
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
Labels: associations

#5745 JP-1874: Add 'IMAGE' to OPMODE enum list
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels

#5749 Add calwebb_tso1 to data products docs
  docs/jwst/data_products/product_types.rst
Labels: documentation

#5532 JP-1795 Asn_Lv2WFSS: Add segmentation map exposure
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
  jwst/associations/tests/test_wfss.py
Labels: associations, enhancement

#5754 JP-1906: Fix handling of SRCTYPE for MOS
  CHANGES.rst
  jwst/srctype/srctype.py
Labels: source_type

#5722 Enable cross-dichroics in cube_build
  CHANGES.rst
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/datamodels/schemas/miri_ifucubepars.schema.yaml
Labels: MIRI MRS, cube_build

#5752 move output_ext to jwst.Step
  CHANGES.rst
  jwst/datamodels/util.py
  jwst/stpipe/core.py
Labels: stpipe

#5758 JP-1907 Allow assign_mtwcs to work with MultiSlit models
  CHANGES.rst
  jwst/assign_mtwcs/assign_mtwcs_step.py
  jwst/assign_mtwcs/moving_target_wcs.py
  jwst/assign_mtwcs/tests/__init__.py
  jwst/assign_mtwcs/tests/data/__init__.py
  jwst/assign_mtwcs/tests/data/test1_cal.fits
  jwst/assign_mtwcs/tests/data/test_mt_asn.json
  jwst/assign_mtwcs/tests/test_mtwcs.py
  jwst/cube_build/ifu_cube.py
Labels: assign_mtwcs, moving targets

#5759 JP-1841: Add source id to combine1d extension headers
  CHANGES.rst
  jwst/combine_1d/combine1d.py
  jwst/datamodels/schemas/combinedspec.schema.yaml
  jwst/datamodels/schemas/multicombinedspec.schema.yaml
Labels: combine_1d, datamodels

#5760 Reorganize NIRSpec MOS spec2 regression tests
  jwst/regtest/test_nirspec_mos_spec2.py
  jwst/regtest/test_nirspec_mos_spec2_steps.py
Labels: NIRSPEC MSA, regression_testing

#5761 JP-1919: Fix photom handling of NRS IFU extended sources
  CHANGES.rst
  jwst/photom/photom.py
  jwst/regtest/test_nirspec_ifu_spec2.py
Labels: photom

#5602 JP-1762: Add VA correction to WCS
  CHANGES.rst
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/pointing.py
  jwst/assign_wcs/tests/test_nircam.py
  jwst/assign_wcs/tests/test_niriss.py
  jwst/assign_wcs/tests/test_pointing.py
  setup.cfg
Labels: assign_wcs, velocity_aberration, wcs

#5753 Remove hard-coded MRS outlier detection parameters
  CHANGES.rst
  jwst/outlier_detection/outlier_detection_ifu.py
Labels: outlier_detection

#5692 JP-1805 Fix premature model closing in group_scale_step
  CHANGES.rst
  jwst/group_scale/group_scale.py
  jwst/group_scale/group_scale_step.py
  jwst/group_scale/tests/test_group_scale.py
  jwst/regtest/test_miri_dark.py
Labels: bug, datamodels, group_scale

#5767 Silence traceback of associations diff test helpers
  jwst/associations/lib/diff.py
Labels: associations, testing

#5765 JP-1931: Add/Rename V2-V3 frame axes names
  CHANGES.rst
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs

#5769 JP-1914: Remove references to deprecated numpy globals
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/background/background_sub.py
  jwst/coron/imageregistration.py
  jwst/coron/tests/test_coron.py
  jwst/cube_skymatch/cube_skymatch_step.py
  jwst/cube_skymatch/skycube.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/spec_wcs.py
  jwst/flatfield/flat_field.py
  jwst/ipc/x_irs2.py
  jwst/jump/tests/test_jump_step.py
  jwst/mrs_imatch/mrs_imatch_step.py
  jwst/outlier_detection/outlier_detection.py
  jwst/photom/tests/test_photom.py
  jwst/ramp_fitting/create_cube.py
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/check_gls_stats.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/utils.py
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/tests/test_clobber_ref.py
  jwst/regtest/test_infrastructure.py
  jwst/saturation/x_irs2.py
  jwst/skymatch/skyimage.py
  jwst/skymatch/skymatch.py
  jwst/transforms/models.py
  jwst/tweakreg/tweakreg_catalog.py
  jwst/wfs_combine/wfs_combine.py
  jwst/wiimatch/lsq_optimizer.py
  jwst/wiimatch/match.py
  jwst/wiimatch/utils.py
Labels: deprecation

#5757 JP-1828 cube_build creating NIRSPEC lamp mode IFU data
  CHANGES.rst
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

#5780 JP-1936 Ignore duplicate product names while handling Level 2 associations
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/regtest/test_associations_sdp_pools.py
  jwst/regtest/test_associations_standards.py
Labels: associations, bug

#5771 JP-1923 tsgrism and wfss coordinate frames improvement
  CHANGES.rst
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/tests/test_nircam.py
  jwst/extract_2d/grisms.py
Labels: Wide Field Slitless Spec (WFSS), assign_wcs, extract_2d, time series observations (TSO)

#5781 JP-1918: Remove errant background exposures from Coron3 associations
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
Labels: associations

#5743 JP-1563: sigma-clip master background
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
  jwst/master_background/master_background_step.py
Labels: extract_1d

#5782 Streamline FGS image2 pipeline regtest
  jwst/regtest/test_fgs_image2.py
Labels: FGS, image2 pipeline, regression_testing

#5738 JP-1657: Make ivm default weight_type for resample
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  jwst/datamodels/schemas/core.schema.yaml
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_scaled.py
  jwst/outlier_detection/outlier_detection_scaled_step.py
  jwst/outlier_detection/outlier_detection_spec.py
  jwst/outlier_detection/outlier_detection_stack_step.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
  jwst/resample/tests/test_utils.py
Labels: resample

#5790 Update README and CHANGES for release
  CHANGES.rst
  README.md
Labels: Release

#5792 Open CHANGES.rst for post-1.1.0 development
  CHANGES.rst
Labels: Release

#5786 JP-1671: Fix level-2b WFSS ASN rules for direct images
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
Labels: Wide Field Slitless Spec (WFSS), associations

#5727 Add dev dependencies workflow as weekly cron
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
Labels: testing

#5796 JP-1908 Update optional components description
  CHANGES.rst
  docs/jwst/data_products/file_naming.rst
Labels: documentation
