Repository spacetelescope/jwst, pull requests merged in 2021-07, with the labels that each got.

#6160 Open specwcs reffile with context manager
  CHANGES.rst
  jwst/assign_wcs/niriss.py
Labels: assign_wcs

#6178 JP-844: Update extract_1d docs
  docs/jwst/extract_1d/description.rst
  docs/jwst/references_general/extract1d_reffile.inc
Labels: documentation, extract_1d

#6175 JP-2074: Update wfss_contam to process multiple orders
  CHANGES.rst
  jwst/regtest/test_nircam_wfss_contam.py
  jwst/wfss_contam/observations.py
  jwst/wfss_contam/sens1d.py
  jwst/wfss_contam/wfss_contam.py
  jwst/wfss_contam/wfss_contam_step.py
Labels: Wide Field Slitless Spec (WFSS), wfss_contam

#6179 JP-1739: Remove references to stdatamodels.ndmodel
  CHANGES.rst
  jwst/datamodels/__init__.py
  jwst/extract_1d/apply_apcorr.py
  jwst/extract_1d/extract.py
  jwst/linearity/tests/test_linearity.py
  jwst/photom/photom.py
Labels: datamodels

#6207 JP-2173: Add wfss_contam step to calwebb_spec2
  CHANGES.rst
  docs/conf.py
  jwst/pipeline/calwebb_spec2.py
  jwst/wfss_contam/wfss_contam_step.py
Labels: spec2 pipeline, wfss_contam

#6210 JP-2174: wfss_contam step docs
  CHANGES.rst
  docs/jwst/data_products/product_types.rst
  docs/jwst/package_index.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/wfss_contam/arguments.rst
  docs/jwst/wfss_contam/description.rst
  docs/jwst/wfss_contam/index.rst
  docs/jwst/wfss_contam/reference_files.rst
  jwst/regtest/test_nircam_wfss_contam.py
Labels: documentation, wfss_contam

#6212 JP-2198: Handle MIRI LRS SRCTYPE keyword in extract_1d
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
Labels: bug, extract_1d

#6213 JP-2166: Add NOUTPUTS to DarkModel schema
  CHANGES.rst
  docs/jwst/references_general/dark_selection.inc
  docs/jwst/references_general/dark_specific.inc
  jwst/datamodels/schemas/dark.schema.yaml
  jwst/datamodels/schemas/keyword_noutputs.schema.yaml
Labels: dark_current, datamodels, reference files

#6215 JP-2201: Fix test collection failure with astropy main branch
  CHANGES.rst
  jwst/associations/pool.py
Labels: associations

#6072 AL-552: Tests and step code needed to change to accommodate for new parameter in `ramp_fit`.
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
  setup.cfg
Labels: ramp_fitting

#6228 JP-1932: Update DARK model schemas to use uint32 for DQ
  CHANGES.rst
  jwst/datamodels/dark.py
  jwst/datamodels/darkMIRI.py
  jwst/datamodels/schemas/dark.schema.yaml
Labels: datamodels, reference files

#6206 JP-2172: Fix issue with non-finite aperture positions
  CHANGES.rst
  jwst/source_catalog/_wcs_helpers.py
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#6232 JP-2200: Add new MIRI Coron PATTTYPE values
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels, keywords

#6233 JP-2211: Fix wfss_contam handling of filter names
  CHANGES.rst
  jwst/wfss_contam/wfss_contam.py
Labels: Wide Field Slitless Spec (WFSS), wfss_contam

#6101 JP-2051: WFS combine align dithers and Update Refine
  CHANGES.rst
  docs/jwst/wfs_combine/arguments.rst
  docs/jwst/wfs_combine/main.rst
  jwst/wfs_combine/tests/test_wfs_combine.py
  jwst/wfs_combine/tests/test_wfs_combine_step.py
  jwst/wfs_combine/wfs_combine.py
  jwst/wfs_combine/wfs_combine_step.py
Labels: wfs_combine

#6243 JP-2103 : Update slit.source_x(y)pos (NRS FS mode) after computing them in wavecorr
  CHANGES.rst
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
Labels: NIRSPEC, wavecorr

#6093 Cube build stage3 - JP-2096
  CHANGES.rst
  jwst/cube_build/blot_cube.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_cloud.py
  jwst/cube_build/cube_cloud_quick.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/cube_overlap.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky.c
  jwst/cube_build/src/cube_utils.c
  jwst/cube_build/tests/test_configuration.py
  setup.py
Labels: cube_build

#6246 JP-2120: Increase test coverage for ImageModel through Extract1dStep
  jwst/extract_1d/extract.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
Labels: extract_1d, regression_testing

#6252 JP-2152: Add an upper tweak threshold to tweakreg
  CHANGES.rst
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg

#6251 JP-2152: Refactor resample_variance_array to use less memory
  CHANGES.rst
  jwst/resample/resample.py
  jwst/resample/tests/test_resample_step.py
Labels: resample
