Repository spacetelescope/jwst, pull requests merged in 2021-04, with the labels that each got.

#5927 JP-1949: MOS 0-sized bounding box extraction bug
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs

#5872 JP-1887: refactor OLS ramp fitting.
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: ramp_fitting

#5925 JP-1962: Data models for new NIRISS SOSS ref files
  CHANGES.rst
  jwst/datamodels/__init__.py
  jwst/datamodels/schemas/speckernel.schema.yaml
  jwst/datamodels/schemas/specprofile.schema.yaml
  jwst/datamodels/schemas/specprofilesingle.schema.yaml
  jwst/datamodels/schemas/spectrace.schema.yaml
  jwst/datamodels/schemas/spectracesingle.schema.yaml
  jwst/datamodels/schemas/spectracetable.schema.yaml
  jwst/datamodels/schemas/wavemap.schema.yaml
  jwst/datamodels/schemas/wavemapsingle.schema.yaml
  jwst/datamodels/speckernel.py
  jwst/datamodels/specprofile.py
  jwst/datamodels/spectrace.py
  jwst/datamodels/wavemap.py
Labels: NIRISS SOSS, datamodels, reference files

#5926 JP-1929: Added code to do refpix correction for NIR subarrays using 4 readout amplifiers
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/reference_pixels.py
Labels: refpix

#5939 JP-2033: Logic to send no open slits data to error message
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs

#5937 JP-2032: Fix bug introduced when adding 4-amp subarray processing in refpix step
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/reference_pixels.py
Labels: bug, refpix

#5942 Fix insecure interpolation in Jenkinsfile
  JenkinsfileRT
Labels: regression_testing

#5941 Propagate variance arrays into SlitModel used as input for ResampleSpecStep
  CHANGES.rst
  jwst/resample/resample_spec_step.py
  jwst/resample/tests/test_resample_step.py
Labels: resample_spec

#5948 JP-2022: Fix flat field crash when given slit with single pixel wavelength range
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs

#5947 JP-2031: Add FULLP to NIRCam SUBARRAY enum
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_psubarray.schema.yaml
  jwst/datamodels/schemas/subarray.schema.yaml
Labels: datamodels

#5946 JP-2002: Update ASN rules for TSGRISM with PUPIL=CLEAR
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
Labels: associations

#5951 JP-2035: Ramp fit ols gls sep
  CHANGES.rst
  jwst/ramp_fitting/gls_fit.py
  jwst/ramp_fitting/ols_fit.py
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/utils.py
Labels: ramp_fitting

#5929 JP-1829: Fix resample_spec output size from input images crossing RA=0
  CHANGES.rst
  jwst/assign_mtwcs/tests/test_mtwcs.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/regtest/test_nircam_image.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/tests/test_resample_step.py
Labels: resample_spec

#5901 JP-2004: Update documentation deprecate primary use of CFG files
  CHANGES.rst
  docs/jwst/associations/asn_from_list.rst
  docs/jwst/associations/jwst_conventions.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/overview.rst
  docs/jwst/associations/technote_sdp_workflow.rst
  docs/jwst/cube_build/arguments.rst
  docs/jwst/cube_build/examples.rst
  docs/jwst/cube_build/main.rst
  docs/jwst/data_products/product_types.rst
  docs/jwst/introduction.rst
  docs/jwst/pipeline/calwebb_ami3.rst
  docs/jwst/pipeline/calwebb_coron3.rst
  docs/jwst/pipeline/calwebb_dark.rst
  docs/jwst/pipeline/calwebb_detector1.rst
  docs/jwst/pipeline/calwebb_guider.rst
  docs/jwst/pipeline/calwebb_image2.rst
  docs/jwst/pipeline/calwebb_image3.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  docs/jwst/pipeline/calwebb_tso3.rst
  docs/jwst/pipeline/calwebb_wfs-image2.rst
  docs/jwst/pipeline/calwebb_wfs-image3.rst
  docs/jwst/pipeline/main.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/srctype/description.rst
  docs/jwst/stpipe/call_via_call.rst
  docs/jwst/stpipe/call_via_run.rst
  docs/jwst/stpipe/config_asdf.rst
  docs/jwst/stpipe/config_cfg.rst
  docs/jwst/stpipe/devel_io_design.rst
  docs/jwst/stpipe/devel_pipeline.rst
  docs/jwst/stpipe/devel_step.rst
  docs/jwst/stpipe/user_pipeline.rst
  docs/jwst/stpipe/user_step.rst
  jwst/stpipe/integration.py
  jwst/wfs_combine/wfs_combine_step.py
Labels: documentation

#5956 Add segm to list of data products
  CHANGES.rst
  docs/jwst/introduction.rst
Labels: documentation

#5822 JP-1845: Update outlier_detection to explicitly handle non-dithered data
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/tests/test_outlier_detection.py
Labels: outlier_detection

#5954 JP-824: Add option to save combined background image
  CHANGES.rst
  docs/jwst/background_step/arguments.rst
  docs/jwst/background_step/description.rst
  jwst/background/background_step.py
  jwst/background/background_sub.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
Labels: background

#5970 Update NIRISS SOSS tso3 regression test
  jwst/regtest/test_niriss_soss.py
Labels: NIRISS SOSS, regression_testing

#5967 Jp-2046: Refpix subarray 4amp tests
  CHANGES.rst
  jwst/refpix/tests/test_refpix.py
  jwst/regtest/test_nircam_subarray_4amp.py
Labels: refpix, regression_testing, tests

#5958 JP-2045: Use Python 3.9 for SDP CI and regtests
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/publish-to-pypi.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  jwst/stpipe/tests/test_config.py
Labels: infrastructure, regression_testing

#5953 JP-2036: refactor `fit_next_segment`
  jwst/ramp_fitting/ols_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting

#5969 Speed up NRS IFU footprint computation
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/assign_wcs/util.py
Labels: NIRSPEC, assign_wcs, cube_build

#5915 JP-1885 Changes for when there are only three and four good groups for jump detection
  CHANGES.rst
  docs/jwst/jump/description.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_detect_jumps.py
  jwst/jump/tests/test_jump_step.py
  jwst/jump/tests/test_twopoint_difference.py
  jwst/jump/twopoint_difference.py
Labels: jump

#5978 Algorithm for clipping rectangles to rectangular windows
  .gitignore
  CHANGES.rst
  jwst/lib/src/winclip.c
  jwst/lib/tests/test_winclip.py
  pyproject.toml
  setup.py
  tox.ini
Labels: Wide Field Slitless Spec (WFSS)

#5984 Fix C compiler compatibility issues with winclip
  jwst/lib/src/winclip.c
Labels: Wide Field Slitless Spec (WFSS)

#5996 JP-2063: Compute aperture-corrected total fluxes and magnitudes for all sources
  CHANGES.rst
  docs/jwst/source_catalog/main.rst
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#5997 JP-1611: Calculate photometric errors using resampled total-error array
  CHANGES.rst
  docs/jwst/source_catalog/main.rst
  jwst/source_catalog/source_catalog.py
  jwst/source_catalog/source_catalog_step.py
Labels: source catalog
