Repository spacetelescope/jwst, pull requests merged in 2021-01, with the labels that each got.

#5570 JP-1540: Fix bugs in wavecorr
  CHANGES.rst
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
Labels: NIRSPEC MSA, wavecorr

#5553 Fix distortion reffile schema and unit test
  CHANGES.rst
  jwst/assign_wcs/tests/test_schemas.py
  jwst/datamodels/schemas/distortion.schema.yaml
  jwst/datamodels/wcs_ref_models.py
Labels: assign_wcs, reference files

#5585 JP-1743: Update FILETYPE keyword in standard products
  jwst/combine_1d/combine_1d_step.py
  jwst/cube_build/cube_build_step.py
  jwst/extract_1d/extract_1d_step.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/pipeline/calwebb_ami3.py
  jwst/pipeline/calwebb_coron3.py
  jwst/pipeline/calwebb_dark.py
  jwst/pipeline/calwebb_detector1.py
  jwst/pipeline/calwebb_guider.py
  jwst/pipeline/calwebb_image2.py
  jwst/pipeline/calwebb_spec2.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
Labels: keywords

#5587 Update cube_build weight_power default value
  jwst/cube_build/cube_build_step.py
  jwst/pipeline/cube_build.cfg
Labels: cube_build

#5589 JP-1819: Update spec2pipeline docs
  docs/jwst/pipeline/calwebb_spec2.rst
Labels: documentation

#5588 JP-1622: Allow one combine1d extension per order in output
  CHANGES.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/tests/test_dq.py
  jwst/datamodels/__init__.py
  jwst/datamodels/multicombinedspec.py
  jwst/datamodels/schemas/combinedspec.schema.yaml
  jwst/datamodels/schemas/combinedspectable.schema.yaml
  jwst/datamodels/schemas/multicombinedspec.schema.yaml
  jwst/datamodels/schemas/multispec.schema.yaml
  jwst/datamodels/schemas/spec.schema.yaml
  jwst/datamodels/schemas/spectable.schema.yaml
Labels: combine_1d

#5593 Fix internal_cal cubes for NIRSpec Lamp exposures
  jwst/cube_build/cube_build_wcs_util.py
Labels: cube_build

#5594 Fix bug in latest extract_1d update
  jwst/extract_1d/extract.py
Labels: extract_1d

#5592 Remove unused private method from outlier detection steps
  jwst/outlier_detection/outlier_detection_scaled_step.py
  jwst/outlier_detection/outlier_detection_stack_step.py
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection

#5584 JP-1407 Update MIRI LRS-Fixedslit along-slit-nod backgrounds strategies
  CHANGES.rst
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/product_utils.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/mega_pool.csv
  jwst/associations/tests/data/pool_028_mir_lrsfs_nods.csv
  jwst/associations/tests/data/pool_029_mir_lrsfs_nonod.csv
  jwst/associations/tests/data/pool_030_mir_lrs_nods_bkg.csv
  jwst/associations/tests/data/pool_031_mir_lrs_nonod_bkg.csv
  jwst/associations/tests/test_main.py
  jwst/regtest/test_associations_standards.py
Labels: associations, task

#5598 Tweak wavelength preselection, add some comments
  CHANGES.rst
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_cloud.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#5615 Fix wavelength tolerance for non-linear solutions
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#5616 JP-1846: Populate X/YREF_SCI keywords for all TSO
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_set_telescope_pointing.py
  jwst/regtest/test_nircam_tsimg.py
Labels: set_telescope_pointing

#5555 Update Reset step docs
  docs/jwst/reset/description.rst
Labels: reset

#5603 fix for running cube build in spec2 on a list of files
  CHANGES.rst
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_step.py
Labels: cube_build, spec2 pipeline

#5599 fix wavelength when building internal_cal for NIRSpec lamp exposures
  jwst/cube_build/cube_overlap.py
Labels: cube_build

#5618 JP-1848: Schema updates for new and modified keywords
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/referencefile.schema.yaml
Labels: datamodels, keywords

#5620 JP-1407 Update MIRI LRS-Fixedslit along-slit-nod backgrounds strategies try 2
  CHANGES.rst
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/product_utils.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/mega_pool.csv
  jwst/associations/tests/data/pool_028_mir_lrsfs_nods.csv
  jwst/associations/tests/data/pool_029_mir_lrsfs_nonod.csv
  jwst/associations/tests/data/pool_030_mir_lrs_nods_bkg.csv
  jwst/associations/tests/data/pool_031_mir_lrs_nonod_bkg.csv
  jwst/associations/tests/test_main.py
  jwst/regtest/test_associations_standards.py
Labels: associations, task

#5601 JP-1694: fix outlier detection
  CHANGES.rst
  jwst/flatfield/flat_field.py
  jwst/outlier_detection/outlier_detection.py
Labels: outlier_detection

#5635 JWSTDMS-410 Asn_Lv2NRSLAMPSpectral: Break out the negative cases
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
  jwst/lib/tests/test_engdb_mock.py
Labels: associations, bug, sdp

#5637 Update CHANGES.rst and README.md for 0.18.2 release
  CHANGES.rst
  README.md
Labels: Release

#5577 TST: Allow skip and cancel CI
  .github/workflows/ci.yml
Labels: testing

#5644 JP-1622: Combine1D should output separate extensions for each spectral order
  CHANGES.rst
  jwst/combine_1d/combine1d.py
Labels: combine_1d

#5645 Move association-related code from Step to JwstStep
  jwst/associations/association.py
  jwst/associations/lib/rules_level3_base.py
  jwst/datamodels/container.py
  jwst/stpipe/format_template.py
  jwst/stpipe/jwst.py
  jwst/stpipe/step.py
  jwst/stpipe/tests/test_format_template.py
Labels: stpipe

#5648 Add hook to finalize Step results
  jwst/stpipe/jwst.py
  jwst/stpipe/step.py
Labels: stpipe

#5650 Move class_property module into stpipe
  jwst/stpipe/class_property.py
  jwst/stpipe/pipeline.py
  jwst/stpipe/step.py
Labels: stpipe

#5654 JP-1831: white_light incorrectly rejecting int_times table for multi-segment data
  CHANGES.rst
  jwst/white_light/white_light.py
Labels: white_light

#5653 JP-1860: Fix ramp_fit counting of segments
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
Labels: bug, ramp_fitting

#5657 JP-1873: Fix set_telescope_pointing TSO logic
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_pipe_utils.py
Labels: set_telescope_pointing, time series observations (TSO)

#5662 Fix premature closing of file in apcorr reffile tests
  jwst/extract_1d/tests/test_apply_apcorr_ifu.py
Labels: apcorr, testing

#5669 JP-1875: Make _get_wcs_values_from_siaf function public for JSDP use
  CHANGES.rst
  jwst/lib/engdb_tools.py
  jwst/lib/set_telescope_pointing.py
Labels: set_telescope_pointing

#5670 JP-1877: Update keyword_readpatt schema with new MIRI readout patterns
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_preadpatt.schema.yaml
  jwst/datamodels/schemas/keyword_readpatt.schema.yaml
Labels: datamodels

#5671 JP-1878: Update srctype Step with new default SRCTYPE for NRS_FIXEDSLIT
  CHANGES.rst
  docs/jwst/srctype/description.rst
  jwst/srctype/srctype.py
  jwst/srctype/tests/test_srctype.py
Labels: NIRSPEC, source_type

#5682 JP-1667: Update documentation for optimal weighting in ramp_fitting Pt. 2
  CHANGES.rst
  docs/jwst/ramp_fitting/description.rst
Labels: ramp_fitting

#5684 Unpin requirements-sdp.txt for post B7.7 development
  requirements-sdp.txt
Labels: packaging, testing

#5666 Improve code for computing VA scale and offsets
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/fits_generator/templates/level1b_schematic.template
  jwst/fits_generator/templates/velocity_aberration_correction.gen.inc
  jwst/lib/set_velocity_aberration.py
  jwst/lib/tests/test_velocity_aberration.py
Labels: velocity_aberration

#5686 JP-1667: Typo in documentation math
  docs/jwst/ramp_fitting/description.rst
Labels: ramp_fitting

#5680 Add test docstring reporting via conftest plugin
  jwst/conftest.py
Labels: testing
