Repository spacetelescope/jwst, pull requests merged in 2021-06, with the labels that each got.

#6090 JP-2068: Fix invalid ECSV test data headers
  jwst/lib/tests/data/calc_deltas_truth.ecsv
  jwst/lib/tests/data/v1_calc_truth.ecsv
  jwst/lib/tests/test_pointing_summary.py
  jwst/lib/tests/test_v1_calculate.py
Labels: set_telescope_pointing

#6094 JP-2040: ModelContainer improvements
  CHANGES.rst
  jwst/datamodels/container.py
  jwst/datamodels/schemas/container.schema.yaml
  jwst/master_background/master_background_step.py
  jwst/model_blender/blendmeta.py
  jwst/outlier_detection/outlier_detection.py
  jwst/pipeline/calwebb_spec3.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_utils.py
Labels: datamodels, resample

#6098 JP-1785: Remove instances of sys.path from jwst
  CHANGES.rst
  jwst/associations/registry.py
  jwst/associations/tests/data/asn_rules_set1.py
  jwst/associations/tests/data/asn_rules_set2.py
  jwst/associations/tests/data/dms_rules.py
  jwst/associations/tests/data/rules_basic.py
  jwst/associations/tests/data/rules_level3_set1.py
  jwst/associations/tests/data/rules_level3_set2.py
  jwst/associations/tests/test_registry.py
  jwst/stpipe/tests/notebooks/find_all_suffixes.ipynb
  jwst/stpipe/utilities.py
Labels: Python3, testing

#6117 JP-2112 : assign_mtwcs should work on science asn_exptype only
  jwst/assign_mtwcs/moving_target_wcs.py
  jwst/datamodels/container.py
  jwst/datamodels/tests/test_models.py
Labels: assign_mtwcs, spec3 pipeline

#6114 JP-2118 Asn_Lv2WFSS: Add instrument constraint
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
Labels: associations, bug, sdp

#6102 JP-2085: Remove attached tweakreg catalog from datamodel
  CHANGES.rst
  jwst/regtest/test_nircam_image.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, tweakreg catalog

#6120 JP-2128: Switch default interpolation method in blot to poly5 instead of linear
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
Labels: outlier_detection

#6119 Revert removal of ramp_fit code to stcal
  CHANGES.rst
  jwst/ramp_fitting/gls_fit.py
  jwst/ramp_fitting/ols_fit.py
  jwst/ramp_fitting/ramp_fit.py
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
  jwst/ramp_fitting/utils.py
  setup.cfg
Labels: ramp_fitting

#6124 Update CHANGES and README for 1.2.1 release
  CHANGES.rst
  README.md
Labels: Release

#6125 Open CHANGES for 1.2.2 development
  CHANGES.rst
  README.md
Labels: Release

#6129 JP-2125 Update moving target schema to match b7.8 keyword schema
  CHANGES.rst
  jwst/datamodels/schemas/moving_target.schema.yaml
  jwst/lib/set_telescope_pointing.py
  jwst/regtest/test_migrate_data.py
  scripts/migrate_data
Labels: bug, datamodels, sdp

#6127 JP-2134: Speed up CI by a factor of 2
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  jwst/regtest/test_nircam_mtimage.py
  tox.ini
Labels: testing

#6128 JP-2132: Fix AMI pupil phases sign error
  CHANGES.rst
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
  jwst/ami/tests/test_ami_analyze.py
  jwst/ami/utils.py
Labels: ami_analyze

#6135 Add back and use "CALCULATED" for ENGQLPTG
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/lib/set_telescope_pointing.py
Labels: datamodels, sdp, set_telescope_pointing

#6136 Open up CHANGES.rst for 1.2.4 development
  CHANGES.rst
  README.md
Labels: Release

#6131 JP-2104: Do not consider GROUP candidates for WFS&C observations
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
Labels: associations

#6137 Only cancel duplicate CI on PRs, not merges into master
  .github/workflows/cancel_workflows.yml
Labels: infrastructure

#6147 JP-2135: Update status of NRC_GRISM Stage 2 processing.
  docs/jwst/associations/level2_asn_rules.rst
Labels: documentation, task

#6155 Unpin requirements-sdp.txt
  .github/workflows/ci.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-sdp.txt
  setup.cfg
Labels: regression_testing, testing

#6146 Switch default interpolation method in blot back to linear
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
Labels: outlier_detection

#6157 Change names of NIRCam TS setpointing regression tests
  jwst/regtest/test_nircam_tsgrism.py
  jwst/regtest/test_nircam_tsimg.py
Labels: regression_testing

#6138 fix option to create channel cubes - JP 2105
  CHANGES.rst
  jwst/cube_build/cube_build.py
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#6159 JP-1395: Remove emmision.cfg
  jwst/lib/suffix.py
  jwst/pipeline/emission.cfg
  jwst/pipeline/outlier_detection_stack.cfg
Labels: emission

#6166 Remove references to stspec
  docs/jwst/stpipe/user_pipeline.rst
  docs/jwst/stpipe/user_step.rst
Labels: documentation

#6156 JP-1951 Clarify aspects of the Association documentation
  docs/jwst/associations/jwst_conventions.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/level3_asn_technical.rst
  docs/jwst/associations/overview.rst
  docs/jwst/associations/technote_sdp_workflow.rst
  docs/jwst/datamodels/models.rst
Labels: associations, documentation
