Repository spacetelescope/jwst, pull requests merged in 2022-03, with the labels that each got.

#6746 Formalize the mkpool utility
  CHANGES.rst
  docs/jwst/associations/asn_make_pool.rst
  docs/jwst/associations/commands.rst
  docs/jwst/associations/overview.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/mkpool.py
  jwst/associations/pool.py
  jwst/associations/tests/test_mkpool.py
  scripts/asn_make_pool
Labels: associations, documentation

#6749 JP-2536 Reset model updates
  CHANGES.rst
  jwst/datamodels/schemas/keyword_nints.schema.yaml
  jwst/datamodels/schemas/reset.schema.yaml
  jwst/reset/reset_sub.py
  jwst/reset/tests/test_reset_sub.py
Labels: reset, datamodels, schemas

#6756 Update numpy version
  setup.cfg
Labels: installation, dependencies

#6737 JP-2071: Update ramp_fit to toggle one-group slope calculations
  CHANGES.rst
  docs/jwst/ramp_fitting/arguments.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
Labels: ramp_fitting

#6739 JP-2284 Residual Fringe correction using astropy for fitting + other improvements needed to support change
  CHANGES.rst
  jwst/residual_fringe/fitter.py
  jwst/residual_fringe/residual_fringe.py
  jwst/residual_fringe/residual_fringe_step.py
  jwst/residual_fringe/tests/edge_col.fits
  jwst/residual_fringe/tests/good_col.fits
  jwst/residual_fringe/tests/test_background_fit.py
  jwst/residual_fringe/tests/test_configuration.py
  jwst/residual_fringe/utils.py
  setup.cfg
Labels: residual_fringe

#6763 Add pupil to NIRCam distortion reffile selection criteria
  docs/jwst/references_general/distortion_reffile.rst
Labels: documentation, reference files

#6752 Drop references to transform-1.2.0 from datamodel schemas
  CHANGES.rst
  jwst/datamodels/schemas/camera.schema.yaml
  jwst/datamodels/schemas/collimator.schema.yaml
  jwst/datamodels/schemas/disperser.schema.yaml
  jwst/datamodels/schemas/distortion.schema.yaml
  jwst/datamodels/schemas/distortion_mrs.schema.yaml
  jwst/datamodels/schemas/fore.schema.yaml
  jwst/datamodels/schemas/fpa.schema.yaml
  jwst/datamodels/schemas/ifufore.schema.yaml
  jwst/datamodels/schemas/ifupost.schema.yaml
  jwst/datamodels/schemas/ifuslicer.schema.yaml
  jwst/datamodels/schemas/msa.schema.yaml
  jwst/datamodels/schemas/ote.schema.yaml
  jwst/datamodels/schemas/specwcs.schema.yaml
  jwst/datamodels/schemas/specwcs_nircam_grism.schema.yaml
  jwst/datamodels/schemas/specwcs_niriss_grism.schema.yaml
  jwst/datamodels/schemas/wavecorr.schema.yaml
  setup.cfg
Labels: datamodels, schemas

#6765 JP-2526: Fix kdtree memory issues on Linux systems
  CHANGES.rst
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#6766 Fix sharpness and roundness to use source centroid instead of peak
  CHANGES.rst
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#6768 Fix scipy.ndimage.filters deprecation
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/refpix/irs2_subtract_reference.py
Labels: refpix, no-changelog-entry-needed

#6758 JP-1353: Improve memory performance of detector1 pipeline
  CHANGES.rst
  jwst/pipeline/calwebb_detector1.py
Labels: detector1

#6769 Add keyword p_readpa to reset model
  CHANGES.rst
  jwst/datamodels/schemas/reset.schema.yaml
Labels: reset, datamodels, reference files

#6767 JP-2530 Further restrict default models that can be updated
  CHANGES.rst
  jwst/datamodels/tests/test_open.py
  jwst/datamodels/util.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/test_set_telescope_pointing.py
  scripts/set_telescope_pointing.py
Labels: bug, sdp, set_telescope_pointing

#6771 Residual fringe regression test
  CHANGES.rst
  jwst/regtest/test_miri_residual_fringe.py
Labels: residual_fringe, regression-test

#6732 Fix IFU x1d error propagation
  CHANGES.rst
  docs/jwst/extract_1d/description.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d

#6774 JP-2553 updated keyword_preadpatt schema with FASTGRPAVG options
  jwst/datamodels/schemas/keyword_preadpatt.schema.yaml
Labels: datamodels, keywords

#6773 Fix failing resample unit test
  jwst/resample/tests/test_resample_step.py
Labels: resample, no-changelog-entry-needed, tests

#6776 JP-2555 update rscd model to take FASTR1, SLOWR1
  CHANGES.rst
  jwst/datamodels/schemas/rscd.schema.yaml
Labels: rscd, datamodels

#6777 JP-2027: Fix horizontal centering of resampled MIRI-LRS spectra
  CHANGES.rst
  jwst/resample/resample_spec.py
Labels: bug, resample_spec

#6778 JP-2561 Add option --force-level1bmodel
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  scripts/set_telescope_pointing.py
Labels: bug, sdp, set_telescope_pointing

#6747 JP-2083: Re-design algorithm for NIRspec output WCS for resample step
  CHANGES.rst
  jwst/datamodels/schemas/slitmeta.schema.yaml
  jwst/resample/resample_spec.py
  jwst/resample/tests/test_resample_step.py
Labels: NIRSPEC, wcs, resample_spec

#6780 JP-2083: Fix issues with resampling multi-slit observations
  CHANGES.rst
  jwst/resample/resample_spec.py
Labels: bug, NIRSPEC, resample_spec
