Repository spacetelescope/jwst, pull requests merged in 2022-12, with the labels that each got.

#7054 use `ruff` in place of `flake8`
  CHANGES.rst
  jwst/pipeline/tests/helpers.py
  pyproject.toml
  setup.cfg
  tox.ini
Labels: pipeline, testing, installation

#7371 Replace getch with readchar in okify_regtests
  scripts/okify_regtests
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7372 (JP-3007) Add keywords for source RA and Dec for WFSS extractions.
  CHANGES.rst
  jwst/extract_2d/grisms.py
  jwst/extract_2d/tests/test_grisms.py
Labels: extract_2d, testing, keywords, wfss

#7375 JP-3009: Add cleanups for files left behind while running tests
  jwst/associations/tests/test_level3_wfscmb.py
  jwst/outlier_detection/tests/test_outlier_detection.py
Labels: associations, outlier_detection, testing, no-changelog-entry-needed

#7377 make tests requiring `opencv` conditional
  jwst/jump/tests/test_jump_step.py
  setup.cfg
Labels: jump, testing, installation, no-changelog-entry-needed

#7363 JP-2988: Update ramp_fit tests for change in saturation flag propagation
  CHANGES.rst
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
  setup.cfg
Labels: ramp_fitting, testing, installation

#7369 JP-2998 Extract1D using custom json files
  CHANGES.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/references_general/extract1d_reffile.inc
  jwst/extract_1d/extract.py
Labels: extract_1d, documentation

#7374 JP-2900 Redux : Sort combine1d wavelength array prior to creation of spectral wcs
  CHANGES.rst
  jwst/combine_1d/combine1d.py
Labels: combine_1d

#7378 expand CI matrix to test more Python versions
  .github/workflows/ci.yml
Labels: testing, no-changelog-entry-needed, automation

#7343 JP-2912: Store offsets for WFSS source contamination correction in subarray metadata
  CHANGES.rst
  jwst/wfss_contam/disperse.py
  jwst/wfss_contam/observations.py
  jwst/wfss_contam/wfss_contam.py
Labels: Wide Field Slitless Spec (WFSS), wfss_contam

#7379 JP-2969: Fix MOS handling of source IDs
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs, NIRSPEC, NIRSPEC MSA

#7380 JP-3020 Pin PRD versions for tests that are not testing changes in PRD
  CHANGES.rst
  README.md
  jwst/lib/tests/test_siafdb.py
  jwst/regtest/test_stp_jw00697013.py
Labels: testing, documentation, set_telescope_pointing, regression_testing

#6945 JP-2807: Update ATOCA algorithm
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/datamodels/__init__.py
  jwst/datamodels/schemas/sosswavegrid.schema.yaml
  jwst/datamodels/sosswavegrid.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/soss_extract/atoca.py
  jwst/extract_1d/soss_extract/atoca_utils.py
  jwst/extract_1d/soss_extract/soss_boxextract.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/extract_1d/soss_extract/soss_solver.py
  jwst/regtest/test_niriss_soss.py
Labels: extract_1d, datamodels, NIRISS, documentation, regression_testing

#7382 consolidate duplicated job blocks into `include:` in initial test matrix
  .github/workflows/ci.yml
Labels: testing, no-changelog-entry-needed, automation

#7370 Fix associations ListCategory enum bug
  CHANGES.rst
  jwst/associations/lib/process_list.py
  jwst/associations/registry.py
Labels: associations

#7392 Update deprecation notice to name the CRDS_PATH variable appropriately
  CHANGES.rst
  docs/jwst/user_documentation/pub_deprecation.rst
Labels: documentation

#7394 rebase on top of documentation commits pushed to release branches
  CHANGES.rst
  CITATION.cff
  README.md
Labels: documentation

#7391 JP-3019: Remove code trimming zero-valued cube planes
  CHANGES.rst
  docs/jwst/cube_build/main.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build, MIRI MRS, NIRSpec IFU, documentation

#7389 JP-3014: Updating CI tests for new NaN values for invalid data in STCAL ramp fitting.
  CHANGES.rst
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
Labels: ramp_fitting, testing

#7399 Rollback stpipe version in setup
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7397 JP-2671 Update slit model to include var_flat
  CHANGES.rst
  jwst/datamodels/slit.py
Labels: datamodels

#7400 Rollforward stpipe version in setup
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7402 Use log instead of print in tweakreg
  jwst/tweakreg/tweakreg_step.py
Labels: enhancement, tweakreg, no-changelog-entry-needed

#7407 JP-3034: Change import for photutils CircularAnnulus
  CHANGES.rst
  jwst/outlier_detection/outlier_detection_scaled.py
Labels: outlier_detection

#7408 Fix incorrect deallocation attempts of unallocated memory in cube builder
  CHANGES.rst
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
  jwst/cube_build/src/cube_utils.c
Labels: bug, cube_build

#7325 fix deprecation warnings introduced by Pytest `7.2`
  CHANGES.rst
  jwst/associations/tests/helpers.py
  jwst/conftest.py
Labels: associations, testing

#7405 JP-2013 Fix NIRSpec IFU NOD background subtract and include leakcal in the Level2 associations
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
Labels: bug, associations

#7373 JP-2921: Add FITS WCS keywords to WFSS mode
  CHANGES.rst
  docs/jwst/assign_wcs/main.rst
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/tests/test_nircam.py
  jwst/assign_wcs/tests/test_niriss.py
  jwst/assign_wcs/util.py
  jwst/extract_2d/tests/test_grisms.py
Labels: assign_wcs, extract_2d, NIRISS, NIRCAM, testing, documentation

#7410 JP-3028 Do not clobber reprocessing lists when Level 2 rules are operating on 'c' type candidates
  CHANGES.rst
  jwst/associations/generate.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/main.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: bug, associations, sdp, regression_testing

#7411 run coverage in parallel
  .github/workflows/ci.yml
Labels: testing, no-changelog-entry-needed, automation

#7414 test opencv functionality separately
  .github/workflows/ci.yml
  jwst/jump/tests/test_jump_step.py
  setup.cfg
  tox.ini
Labels: jump, testing, installation, no-changelog-entry-needed, automation

#7403 replace usages of `np.int()` with `int()`
  CHANGES.rst
  jwst/extract_1d/soss_extract/soss_centroids.py
  jwst/extract_1d/soss_extract/soss_utils.py
Labels: extract_1d, NIRISS SOSS

#7413 Update NIRSpec MOS regtests with flight data
  jwst/regtest/test_nirspec_masterbackground.py
  jwst/regtest/test_nirspec_mos_spec2.py
Labels: NIRSPEC MSA, no-changelog-entry-needed, regression_testing

#7415 update reference values for approximation test after GWCS SIP fit change
  jwst/assign_wcs/tests/test_wcs.py
  setup.cfg
Labels: assign_wcs, testing, installation, no-changelog-entry-needed

#7412 Merge the two update_wcsinfo functions into one
  CHANGES.rst
  jwst/assign_wcs/util.py
Labels: assign_wcs

#7417 Pin tweakwcs version to 0.8.1 and update tweakreg unit test
  CHANGES.rst
  jwst/tweakreg/tests/test_multichip_jwst.py
  setup.cfg
Labels: tweakreg, testing, installation, tests

#7416 release procedures for JWST `1.9.0` / DMS build B9.1rc1
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: documentation, installation, no-changelog-entry-needed
