Repository spacetelescope/jwst, pull requests merged in 2022-10, with the labels that each got.

#7051 JP-2681 add residual_fringe to calwebb_spec2 pipeline
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/residual_fringe/main.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/pipeline/calwebb_spec2.py
  jwst/regtest/test_miri_residual_fringe.py
  jwst/residual_fringe/residual_fringe_step.py
  jwst/residual_fringe/tests/test_configuration.py
Labels: pipeline, datamodels, MIRI, testing, spec2 pipeline, documentation, regression_testing, residual_fringe

#7056 JP-2940 Return non-zero status from the set_telescope_pointing command-line when an error occurs
  CHANGES.rst
  jwst/lib/set_telescope_pointing_cmdline.py
  scripts/set_telescope_pointing.py
Labels: bug, sdp, set_telescope_pointing

#7055 JP-2679: Update docs to reflect background subtraction update to acc…
  CHANGES.rst
  docs/jwst/background_step/description.rst
Labels: documentation

#7039 JP-2645 - Snowball and Shower flagging in Jump
  CHANGES.rst
  docs/jwst/jump/arguments.rst
  docs/jwst/jump/description.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_jump_step.py
  setup.cfg
Labels: jump, testing, documentation, installation

#7059 release `1.8.0`
  CHANGES.rst
  CITATION.cff
  requirements-sdp.txt
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7060 Requirements check
  .github/workflows/publish-to-pypi.yml
Labels: no-changelog-entry-needed, automation

#7062 JP-2946: Update NOUTPUTS allowed values
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
  jwst/datamodels/schemas/keyword_noutputs.schema.yaml
Labels: datamodels, keywords

#7063 JP-2970 Allow XML_DATA usage to override PRD specification
  CHANGES.rst
  jwst/lib/siafdb.py
  jwst/lib/tests/test_siafdb.py
Labels: bug, testing, sdp, set_telescope_pointing

#7058 JP-2932: Adjust rotation convention of IFUalign for MIRI
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build, MIRI MRS

#7057 Change to new asdf resource entry point
  CHANGES.rst
  jwst/datamodels/extension.py
  jwst/datamodels/integration.py
  jwst/transforms/integration.py
  setup.cfg
Labels: datamodels, transforms, installation

#7061 JP-2909: Expanding Sequence Number Field
  CHANGES.rst
  docs/jwst/associations/jwst_conventions.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/tests/test_asn_names.py
  jwst/associations/tests/test_dms.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: associations, testing, documentation

#7071 Fix handling of ASN directory path by the ModelContainer
  CHANGES.rst
  jwst/datamodels/container.py
Labels: bug, datamodels

#7295 JP-2971 Make the GWCSDrizzle.outcon attribute a property with setter
  CHANGES.rst
  docs/jwst/data_products/science_products.rst
  jwst/resample/gwcs_drizzle.py
Labels: bug, resample, documentation, drizzle

#7064 metadata updates for release `1.8.1` (DMS build `B9.0rc2`)
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: documentation, installation, no-changelog-entry-needed

#7300 Add note about source catalog pixel indexing
  docs/jwst/source_catalog/main.rst
  jwst/source_catalog/source_catalog.py
Labels: source catalog, documentation, no-changelog-entry-needed

#7301 Revert "JP-2940 Return non-zero status from the set_telescope_pointin…
  CHANGES.rst
  jwst/lib/set_telescope_pointing_cmdline.py
  scripts/set_telescope_pointing.py
Labels: bug, sdp, set_telescope_pointing

#7302 update metadata for `1.8.2` release
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed

#7311 Update README to include SDP version numbers
  CHANGES.rst
  README.md
Labels: no-changelog-entry-needed

#7068 JP-2910: Moving associations dump from info to debug.
  CHANGES.rst
  jwst/associations/main.py
Labels: associations

#7306 JP 2571: Fix bug in NIRSpec 3d drizzle
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: bug, cube_build, NIRSpec IFU

#7317 JP-2975 Update MIRI Imager Filteroffset schema
  CHANGES.rst
  jwst/datamodels/schemas/filteroffset.schema.yaml
Labels: datamodels

#7320 update actions versions
  .github/workflows/cancel_workflows.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
Labels: testing, no-changelog-entry-needed, automation

#7312 JP-2982: Fix extract_2d to skip zero-length cutouts
  CHANGES.rst
  jwst/assign_wcs/util.py
  jwst/extract_2d/grisms.py
Labels: assign_wcs, extract_2d, wfss

#7321 JP-2931: Guard against nearly identical points in nirspec resampled WCS
  CHANGES.rst
  jwst/resample/resample_spec.py
Labels: resample, wcs, resample_spec
