Repository spacetelescope/jwst, pull requests merged in 2022-08, with the labels that each got.

#6954 JP-2707: Fix excessive zeroes in resampled variance
  CHANGES.rst
  jwst/resample/resample.py
Labels: bug, resample, error propagation, resample_spec

#6953 Add details on when crds environmentals be defined
  docs/jwst/datamodels/models.rst
  docs/jwst/introduction.rst
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/resample/arguments.rst
  docs/jwst/stpipe/parameter_files.rst
  docs/jwst/stpipe/user_step.rst
Labels: documentation, crds interface, no-changelog-entry-needed

#6960 JP-2797: MRS sigma-clipped master background fix
  CHANGES.rst
  jwst/master_background/master_background_step.py
Labels: 8.1 patch, master_background

#6959 JP-2672: Remove trailing dash from end of full subchannel listing
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#6940 Mask NON_SCIENCE pixels when calculating the detection threshold
  CHANGES.rst
  jwst/tweakreg/tweakreg_catalog.py
Labels: tweakreg catalog, tweakreg, 8.1 patch

#6955 Refactor code for updating FITS WCS and increase SIP accuracy
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: enhancement, tweakreg

#6966 Require drizzle>=1.13.6
  setup.cfg
Labels: :fire:, installation, no-changelog-entry-needed

#6930 JP-2677: Copy int_times keywords to output spectrum extensions for SOSS ATOCA
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/pipeline/calwebb_tso3.py
Labels: extract_1d, pipeline, tso3 pipeline

#6967 Revert Fourier Transform code to avoid Poppy's recently updated sign convention (JP-2618)
  CHANGES.rst
  jwst/ami/instrument_data.py
  jwst/ami/matrix_dft.py
  jwst/ami/utils.py
Labels: ami, ami_analyze

#6938 JP-2687: Allow alignment of a single image/group to Gaia bypassing first alignment stage
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg, 8.1 patch

#6971 JP-2654 JP-2662: Fix bug in NIRSpec IFU DQ flagging and handling of moving target exposures
  CHANGES.rst
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: cube_build, 8.1 patch

#6969 Update template
  .github/pull_request_template.md
Labels: no-changelog-entry-needed, automation

#6972 Revert "JP-2654 JP-2662: Fix bug in NIRSpec IFU DQ flagging and handling of moving target exposures"
  CHANGES.rst
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: cube_build

#6974 JP-2814: Exclude pixels flagged with DO_NOT_USE from source finding
  CHANGES.rst
  jwst/tweakreg/tweakreg_catalog.py
Labels: bug, tweakreg catalog, tweakreg

#6976 JP-2811 Update wcs naxis3 when removing wavelength planes from cube
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build, 8.1 patch

#6981 JP-2654 JP-2662 Fix bug in NIRSpec IFU DQ flagging and handling of moving target exposures (new try)
  CHANGES.rst
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: bug, cube_build, NIRSpec IFU

#6946 JP-2686: Support user-supplied reference files for stage 2 of WCS alignment
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_step.py
Labels: enhancement, tweakreg, documentation, 8.1 patch

#6979 Fix some errors and typos in the change log
  CHANGES.rst
Labels: no-changelog-entry-needed

#6978 add citation and zenodo badge
  CITATION.cff
  README.md
Labels: documentation, no-changelog-entry-needed

#6980 JP-2808: Fix handling of SRCTYPE in master background
  CHANGES.rst
  jwst/master_background/master_background_step.py
Labels: NIRSpec IFU, master background, master_background

#6986 pin `jsonschema` below `4.10.0` to fix issues with unit and regression tests
  CHANGES.rst
  setup.cfg
Labels: bug, installation

#6988 update citation with Citation File Format
  CITATION.cff
Labels: no-changelog-entry-needed

#6990 Fix equality of floats comparisons in telescope pointing test
  jwst/lib/tests/test_set_telescope_pointing.py
Labels: testing, no-changelog-entry-needed

#6949 JP-2669: Updating tests due to new STCAL behavior for NaNs in rateints product.
  CHANGES.rst
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
Labels: ramp_fitting, testing

#6943 JP-2693: Flag groups do_not_use after detected ramp jumps
  CHANGES.rst
  docs/jwst/jump/arguments.rst
  docs/jwst/jump/description.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing, documentation

#6989 JP-2803: Propagate asn keywords to resample output products for level 2 processing
  CHANGES.rst
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
Labels: resample

#6991 pin `asdf` to newest patch version to fix dependency for newest `jsonschema` release
  CHANGES.rst
  setup.cfg
Labels: bug, installation

#6994 JP-2595: Update error propagation docs
  CHANGES.rst
  docs/jwst/error_propagation/main.rst
Labels: documentation, error propagation

#6983 JP-2816: Update outlier docs
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection.rst
  jwst/datamodels/container.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/resample/resample.py
Labels: outlier_detection, resample, datamodels, documentation

#6996 JP-2055: remove timeconversion and related scripts
  CHANGES.rst
  jwst/lib/tests/test_utc_to_tdb.py
  jwst/lib/utc_to_tdb.py
  jwst/tests/test_infrastructure.py
  jwst/timeconversion/README.txt
  jwst/timeconversion/__init__.py
  jwst/timeconversion/time_conversion.py
  scripts/set_bary_helio_times.py
  scripts/utc_to_bary.py
  setup.cfg
Labels: timeconversion, testing, installation, package library

#7000 Add an ORCID to CITATION.cff
  CITATION.cff
Labels: no-changelog-entry-needed

#6964 JP-2819: Populate wavelength extension for MIRI LRS slitless
  CHANGES.rst
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/util.py
Labels: assign_wcs

#7006 Update code to use tweakwcs 0.8.0
  CHANGES.rst
  jwst/tweakreg/tests/test_multichip_jwst.py
  jwst/tweakreg/tweakreg_step.py
  setup.cfg
Labels: tweakreg, testing, installation, dependencies

#6987 JP-2678: Expose additional parameters in TweakRegStep.
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_step.py
Labels: enhancement, tweakreg, documentation

#7002 JP-2859 Bug fix for cube_build when user changes input spatial scale to use for IFU cube
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: cube_build, 8.1 patch

#7009 JP-2863: Add BACKGROUND to MIRI PATTTYPE list
  CHANGES.rst
  jwst/datamodels/schemas/core.schema.yaml
Labels: datamodels, 8.1 patch

#7003 Expose tweakreg_catalog params in tweakreg
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, documentation, 8.1 patch

#6803 JP-2375: NIRISS V3 of CONF files
  CHANGES.rst
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/tests/test_niriss.py
  jwst/assign_wcs/tests/test_wfss.py
  jwst/assign_wcs/util.py
  jwst/background/tests/test_background.py
  jwst/extract_2d/grisms.py
  jwst/transforms/models.py
Labels: assign_wcs, background, extract_2d, transforms, NIRISS, testing, Wide Field Slitless Spec (WFSS), 8.1 patch

#7005 JP-2819: Bugfix - ensure wavelength array is of equivalent shape to data array
  CHANGES.rst
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/util.py
Labels: assign_wcs, MIRI LRS, 8.1 patch
