Repository spacetelescope/jwst, pull requests merged in 2022-02, with the labels that each got.

#6699 JP-2494: Change association 'asn_pool' to include file extension
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_level3_basics.py
Labels: associations

#6695 JP-2497: Create valid lamp paths with lamp<->filter equivalency
  CHANGES.rst
  jwst/associations/lib/dms_base.py
Labels: associations

#6700 JP-2509 Update COARSE algorithm to use FGS1 exclusively
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
Labels: bug, set_telescope_pointing

#6712 prepare 1.4.3 changelog
  CHANGES.rst
  README.md
  setup.cfg
Labels: Release

#6715 JP-2266: Clarify ERR calculations in ramp_fit docs
  CHANGES.rst
  docs/jwst/ramp_fitting/description.rst
Labels: ramp_fitting, documentation

#6719 Update scipy and numpy intersphinx inventory URLs
  docs/conf.py
Labels: documentation, installation

#6718 JP-2502 NIRSpec Cube Build DQ flag bug fix
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
Labels: cube_build

#6720 Add ability to override source type in Source Type step (JP-2155)
  jwst/srctype/srctype.py
  jwst/srctype/srctype_step.py
  jwst/srctype/tests/test_srctype.py
Labels: source_type

#6709 JP-2508: Exclude NRC_TSGRISM + module B exposures from association creation
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3.py
Labels: associations

#6725 Update srctype docs per JP-2155 and change log
  CHANGES.rst
  docs/jwst/srctype/arguments.rst
  docs/jwst/srctype/description.rst
Labels: documentation, source_type

#6722 JP-2515: Workaround for excessive align_refs logging for MIRI coronagraphy
  CHANGES.rst
  jwst/coron/median_replace_img.py
Labels: align_refs

#6728 JP-2516: Add catch for no data case in MRS Extract1D statistics
  CHANGES.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS, NIRSpec IFU

#6733 JP-2524: Enable use of mnemonic DQ codes in skymatch "dqbits" param
  CHANGES.rst
  jwst/cube_skymatch/cube_skymatch_step.py
  jwst/skymatch/skymatch_step.py
Labels: enhancement, skymatch, cube_skymatch

#6726 JP-2387: Update skymatch step docs for clarity
  CHANGES.rst
  docs/jwst/skymatch/README.rst
  docs/jwst/skymatch/arguments.rst
  docs/jwst/skymatch/description.rst
  docs/jwst/skymatch/index.rst
  docs/jwst/skymatch/reference_files.rst
  jwst/skymatch/skymatch.py
Labels: skymatch, documentation

#6736 JP-2524: Add skymatch BGKMETH keyword and fix flag mnemonics lookup
  CHANGES.rst
  jwst/cube_skymatch/cube_skymatch_step.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/skymatch/skymatch_step.py
Labels: enhancement, skymatch, datamodels

#6735 JP-2519 Update COARSE handling of FGS, psyiaf importing, model opening, and removal of stale code
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/siafdb.py
  jwst/lib/tests/data/add_wcs_method_full_nosiafdb.fits
  jwst/lib/tests/data/add_wcs_method_full_siafdb.fits
  jwst/lib/tests/data/tforms_coarse_tr_202111_any-1.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_any-2.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_any-None.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_guider1-1.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_guider1-2.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_guider1-None.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_guider2-1.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_guider2-2.asdf
  jwst/lib/tests/data/tforms_coarse_tr_202111_guider2-None.asdf
  jwst/lib/tests/test_set_telescope_pointing.py
  jwst/lib/tests/test_stp_ngas.py
  scripts/set_telescope_pointing.py
Labels: enhancement, set_telescope_pointing

#6714 Add references for drizzle algorithm
  docs/jwst/resample/main.rst
Labels: resample, documentation, no-changelog-entry-needed, resample_spec

#6743 Add relevant asdf development to development requirements.
  requirements-dev.txt
Labels: ASDF, no-changelog-entry-needed

#6741 Repair miri and nircam setpointing tests to use actual mock engineering database
  jwst/lib/tests/engdb_mock.py
  jwst/regtest/test_miri_setpointing.py
  jwst/regtest/test_nircam_tsimg.py
Labels: regression_testing

#6738 Add jump tests for future debugging (JP-2381)
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, tests

#6745 JP-2514: Bug in extract_1d, processing 3D input data with dim1 of length 1.
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d
