Repository spacetelescope/jwst, pull requests merged in 2022-06, with the labels that each got.

#6870 JP-2624: Update ami_average for different size inputs
  CHANGES.rst
  docs/jwst/ami_average/description.rst
  jwst/ami/ami_analyze.py
  jwst/ami/ami_average.py
  jwst/ami/lg_model.py
  jwst/ami/nrm_core.py
  jwst/ami/utils.py
  jwst/regtest/test_niriss_ami3.py
Labels: ami_analyze, ami_average

#6871 xfail NIRCam grism tests until ref files are fixed
  jwst/assign_wcs/tests/test_nircam.py
Labels: tests

#6872 JP-2610: Refpix documentation update (with rebase)
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/reference_pixels.py
  jwst/refpix/refpix_step.py
Labels: refpix, documentation

#6876 Add asdf-standard to dev requirements
  requirements-dev.txt
Labels: testing, no-changelog-entry-needed, regression_testing

#6877 JP-2606: Catch two more SOSS errors raised.
  CHANGES.rst
  jwst/extract_1d/soss_extract/soss_extract.py
Labels: extract_1d, NIRISS SOSS

#6879 Add a MIRI coron3 regression test
  jwst/regtest/test_miri_coron3.py
Labels: regression_testing

#6866 JP-2604: Update ref file schemas with current CRDS selectors
  CHANGES.rst
  docs/jwst/references_general/apcorr_selection.inc
  docs/jwst/references_general/cubepar_selection.inc
  docs/jwst/references_general/extract1d_selection.inc
  docs/jwst/references_general/ifufore_reffile.rst
  docs/jwst/references_general/ifupost_reffile.rst
  docs/jwst/references_general/ifuslicer_reffile.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/references_general/sflat_selection.inc
  jwst/datamodels/schemas/distortion.schema.yaml
  jwst/datamodels/schemas/extract1difu.schema.yaml
  jwst/datamodels/schemas/flat.schema.yaml
  jwst/datamodels/schemas/ifucubepars.schema.yaml
  jwst/datamodels/schemas/ifufore.schema.yaml
  jwst/datamodels/schemas/ifupost.schema.yaml
  jwst/datamodels/schemas/ifuslicer.schema.yaml
  jwst/datamodels/schemas/keyword_lampmode.schema.yaml
  jwst/datamodels/schemas/keyword_lampstate.schema.yaml
  jwst/datamodels/schemas/keyword_tsovisit.schema.yaml
  jwst/datamodels/schemas/mask.schema.yaml
  jwst/datamodels/schemas/miri_resolution.schema.yaml
  jwst/datamodels/schemas/nirspec_flat.schema.yaml
  jwst/datamodels/schemas/nirspec_ifucubepars.schema.yaml
  jwst/datamodels/schemas/nrsifu_apcorr.schema.yaml
  jwst/datamodels/schemas/pixelarea.schema.yaml
  jwst/datamodels/schemas/specprofile.schema.yaml
  jwst/datamodels/schemas/spectrace.schema.yaml
  jwst/datamodels/schemas/specwcs.schema.yaml
  jwst/datamodels/schemas/tsophot.schema.yaml
  jwst/datamodels/schemas/wavemap.schema.yaml
  jwst/datamodels/tests/test_schema_against_crds.py
  setup.cfg
Labels: datamodels

#6869 Fix SIAF default handling for missing SIAF values using pysiaf
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/siafdb.py
Labels: bug, set_telescope_pointing

#6874 Reduce memory usage in skymatch
  CHANGES.rst
  jwst/datamodels/container.py
  jwst/skymatch/skyimage.py
  jwst/skymatch/skymatch.py
  jwst/skymatch/skymatch_step.py
Labels: enhancement, skymatch

#6881 Update pointing tests for new SIAF content
  jwst/lib/tests/data/add_wcs_method_full_nosiafdb.fits
  jwst/lib/tests/data/test_from_models_service.ecsv
  jwst/lib/tests/data/test_over_time_service.ecsv
  jwst/lib/tests/test_siafdb.py
Labels: tests

#6873 Implement MRS cross-artifact algorithm in MRS straylight correction
  CHANGES.rst
  docs/jwst/references_general/mrsxartcorr_format.inc
  docs/jwst/references_general/mrsxartcorr_reffile.inc
  docs/jwst/references_general/mrsxartcorr_selection.inc
  docs/jwst/references_general/references_general.rst
  docs/jwst/straylight/arguments.rst
  docs/jwst/straylight/main.rst
  docs/jwst/straylight/reference_files.rst
  jwst/datamodels/mrsxartcorr.py
  jwst/datamodels/schemas/miri_mrsxartcorr.schema.yaml
  jwst/straylight/__init__.py
  jwst/straylight/src/calc_xart.c
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
  jwst/straylight/tests/test_straylight.py
  jwst/straylight/tests/test_straylight_step.py
  setup.py
Labels: straylight, MIRI MRS

#6862 JP-2594 Explain about CRDS PUB
  CHANGES.rst
  README.md
  docs/jwst/introduction.rst
Labels: documentation

#6882 JP-2016: Flat_field step should ignore flatfield pixels with NO_FLAT_FIELD DQ bit set
  CHANGES.rst
  jwst/flatfield/flat_field.py
Labels: flatfield

#6884 JP-2123: Update ami_analyze arguments docs
  CHANGES.rst
  docs/jwst/ami_analyze/description.rst
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
Labels: documentation, ami_analyze

#6885 JP-2647 Fixed bug in selecting values from cubepars reference file
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#6889 JP-2650: Fix SourceCatalogStep bug with input filename
  CHANGES.rst
  jwst/source_catalog/source_catalog_step.py
Labels: source catalog

#6878 JP-2632: Change suffix for Lv3_Image members with imaging exp_types and background member_exptype
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
Labels: associations

#6894 JP-2655 release `1.5.3`
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: no-changelog-entry-needed

#6891 JP-2387: A couple tweaks to the skymatch docs
  CHANGES.rst
  docs/jwst/skymatch/arguments.rst
  jwst/skymatch/skymatch.py
Labels: skymatch, documentation

#6896 JP-2562: Skip tweakreg step when multiple matches to a single reference source are detected
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: enhancement, tweakreg

#6892 JP-2653: Fix IFU variance propagation in extract_1d
  CHANGES.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS

#6890 copy changelog workflow from `asdf`
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed

#6898 JP-2562: Fix code for processing exceptions in tweakreg
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg

#6901 JP-2611: Update saturation handling of NO_SAT_CHECK
  CHANGES.rst
  docs/jwst/saturation/description.rst
  jwst/saturation/saturation.py
Labels: saturation, documentation, IRS2 readout

#6900 JP-2657: Add unit test for better coverage of recent jump detection code updat…
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing, no-changelog-entry-needed

#6902 update setup to use latest stcal release
  setup.cfg
Labels: installation, no-changelog-entry-needed

#6880 JP-2623: Multiprocessing failure in ramp fitting.
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
Labels: ramp_fitting, multiprocessing

#6903 Reset requirements-sdp to post-release (empty) state
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#6886 JP-2626: Add check to all lv3_asns to prevent single-obs group candidates
  CHANGES.rst
  jwst/associations/lib/rules_level3_base.py
Labels: associations
