Repository spacetelescope/jwst, pull requests merged in 2022-05, with the labels that each got.

#6819 Issue warning and exit gracefully if reference file data is missing
  jwst/source_catalog/source_catalog_step.py
  jwst/source_catalog/tests/test_source_catalog.py
Labels: source catalog

#6816 Add scikit-image to dependencies
  CHANGES.rst
  setup.cfg
Labels: source catalog, installation

#6812 JP-2579: Add NIRSpec lamp processing info to spec2 pipeline description
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec2.rst
Labels: NIRSPEC, documentation, lamp

#6820 Update cube defaults to drizzle, and documentation accordingly
  CHANGES.rst
  docs/jwst/cube_build/main.rst
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/tests/test_cube_build_step.py
  jwst/mrs_imatch/mrs_imatch_step.py
Labels: cube_build

#6823 Fix README DMS build table entries
  README.md
Labels: installation

#6826 JP-2590: Fix cube_build for case with weight=drizzle and coord_system=internal_cal
  CHANGES.rst
  jwst/cube_build/cube_build_step.py
Labels: bug, cube_build

#6825 JP-2593: Add more keywords to flat schema
  CHANGES.rst
  jwst/datamodels/schemas/flat.schema.yaml
Labels: datamodels, reference files

#6827 JP-2590: Implement drizzle core wrapper for Single type cubes used by mrs_imatch
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build, mrs_imatch

#6831 JP-2597: Fix call to filteroffset in assign_wcs
  CHANGES.rst
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/tests/test_wcs.py
Labels: bug, assign_wcs, MIRI, NIRISS, NIRCAM

#6828 Prepare master branch for 1.5.0 release
  CHANGES.rst
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: Release

#6830 Update saturation step docs for charge migration
  CHANGES.rst
  docs/jwst/saturation/arguments.rst
  docs/jwst/saturation/description.rst
Labels: saturation, documentation

#6834 JP-2588: Fix typos in cube_build docs
  docs/jwst/cube_build/arguments.rst
Labels: cube_build, documentation

#6786 JP-2567: Fix MRS spectral tearing in multiband cubes
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build, MIRI MRS

#6836 JP-2603: Replace infinite values with NaNs to complete SOSS processing
  CHANGES.rst
  jwst/extract_1d/soss_extract/soss_centroids.py
Labels: extract_1d, NIRISS SOSS

#6835 JP-2343: Add CRDS context log message to JwstStep
  CHANGES.rst
  jwst/stpipe/core.py
Labels: logging

#6839 Add pupil and filter to filteroffset schema to support niriss
  CHANGES.rst
  jwst/datamodels/schemas/filteroffset.schema.yaml
Labels: datamodels, NIRISS, reference files

#6838 JP-2569: Change fitgeom default value from general to rshift
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, documentation

#6840 JP-2603: Exit SOSS Extract_1D gracefully for F277W data, avoid SUBSTRIP96 bug
  CHANGES.rst
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/pipeline/calwebb_spec2.py
Labels: extract_1d, NIRISS SOSS

#6841 JP-2596: Eliminate duplicate copies in dark step
  CHANGES.rst
  jwst/dark_current/dark_current_step.py
Labels: dark_current

#6842 Update SIAF unit test for recent pysiaf release
  CHANGES.rst
  jwst/lib/tests/test_siafdb.py
Labels: tests

#6782 JP-374: Use ZEROFRAME for Saturated Ramps.
  CHANGES.rst
  jwst/linearity/linearity.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/refpix/reference_pixels.py
  jwst/refpix/tests/test_refpix.py
  jwst/saturation/saturation.py
  jwst/saturation/tests/test_saturation.py
  jwst/superbias/bias_sub.py
  jwst/superbias/tests/test_bias_sub.py
  requirements-sdp.txt
  setup.cfg
Labels: enhancement, linearity, ramp_fitting, refpix, saturation, superbias, zeroframe

#6845 JP-2581: allow multiprocessing for jump detection
  CHANGES.rst
  jwst/jump/jump.py
  jwst/jump/tests/test_detect_jumps.py
  requirements-sdp.txt
  setup.cfg
Labels: jump, multiprocessing

#6824 Remove broken link to STScI logo
  docs/_static/stsci_logo.png
Labels: documentation

#6849 Open for post 1.5.1 development
  CHANGES.rst
  requirements-sdp.txt
Labels: Release

#6851 JP-2613: ZEROFRAME is all zeros after the linearity step
  CHANGES.rst
  jwst/linearity/linearity.py
Labels: bug, linearity, zeroframe

#6852 JP-2614: Fix ramp_fit to copy int_times content
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
Labels: bug, ramp_fitting

#6854 JP-2603: SOSS errors for negative infinity, spline fit
  CHANGES.rst
  jwst/extract_1d/soss_extract/soss_centroids.py
  jwst/extract_1d/soss_extract/soss_extract.py
Labels: extract_1d, NIRISS SOSS

#6861 JP-2587 Check spec2 data is IFUImageModel for straylight step
  CHANGES.rst
  jwst/straylight/straylight_step.py
  jwst/straylight/tests/test_straylight_step.py
Labels: straylight, spec2 pipeline

#6860 JP-2612: Speed up algorithm for computing sampling wavelengths
  CHANGES.rst
  jwst/resample/resample_spec.py
Labels: enhancement, resample_spec

#6865 Update README and change log
  CHANGES.rst
  README.md
Labels: documentation, installation

#6863 JP-2603: Catch None return from SOSS F277W in Level3
  CHANGES.rst
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/calwebb_tso3.py
Labels: extract_1d, NIRISS SOSS
