Repository spacetelescope/jwst, pull requests merged in 2022-09, with the labels that each got.

#7011 prepare for 1.7.0 release
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: documentation, installation, no-changelog-entry-needed

#7012 Update NIRISS WFSS regtest with in-flight data
  jwst/regtest/test_niriss_wfss.py
Labels: NIRISS, Wide Field Slitless Spec (WFSS), no-changelog-entry-needed, regression_testing

#7014 Add ORCID for Thomas Williams
  CITATION.cff
Labels: installation, no-changelog-entry-needed

#7019 JP-2866: Fix photom bug for NIRSpec FS data
  CHANGES.rst
  jwst/photom/photom.py
Labels: bug, photom, NIRSpec FS

#7010 JP-2861: Refactor Asn_Lv2WFSS to better descriminate what direct images should be used
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/tests/data/pool_032_nircam_wfss.csv
  jwst/regtest/test_associations_standards.py
Labels: bug, associations, NIRCAM, testing, Wide Field Slitless Spec (WFSS), sdp, regression_testing

#7025 JP-2865 Add retries and timeout parameters to engineering access calls
  CHANGES.rst
  jwst/lib/engdb_direct.py
  jwst/lib/engdb_mast.py
  jwst/lib/engdb_tools.py
  jwst/lib/tests/data/test_from_models_mast.ecsv
  jwst/lib/tests/data/test_over_time_mast.ecsv
  jwst/lib/tests/test_engdb_tools.py
Labels: testing, engdb_tools

#7026 JP-2865 Update HTTP status list to include 4xx issues
  CHANGES.rst
  jwst/lib/engdb_direct.py
  jwst/lib/engdb_lib.py
  jwst/lib/engdb_mast.py
Labels: task, engdb_tools

#7027 Fix failing assign_wcs test due to gwcs changes
  jwst/assign_wcs/tests/test_wcs.py
Labels: assign_wcs, testing, no-changelog-entry-needed

#7013 JP-2899: Fix pedestal residual in MRS straylight
  CHANGES.rst
  docs/jwst/straylight/main.rst
  jwst/straylight/straylight.py
Labels: straylight, documentation

#7028 JP-2906: Fix wcs attribute names in wfss_contam step
  CHANGES.rst
  jwst/wfss_contam/disperse.py
  jwst/wfss_contam/observations.py
Labels: Wide Field Slitless Spec (WFSS), wfss_contam

#7023 Remove min_gaia and rename gaia->abs parameters
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_step.py
Labels: bug, enhancement, tweakreg, documentation

#7029 Fix failing regression test due to gaia->abs name changes
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
Labels: NIRCAM, documentation, regression_testing, tests, regression-test

#7030 Fix test_sip_approx test for gwcs>=0.18.2
  jwst/assign_wcs/tests/test_wcs.py
  setup.cfg
Labels: assign_wcs, testing, installation, no-changelog-entry-needed

#7031 prepare for 1.7.1 release
  CHANGES.rst
  README.md
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed

#7032 start post 1.7.1 development
  CHANGES.rst
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#7035 Touch weekly cron test setup
  .github/workflows/ci_cron.yml
Labels: testing, no-changelog-entry-needed

#7036 Fix crashes in assign WCS due to uncaught SIP convergence exceptions
  CHANGES.rst
  jwst/assign_wcs/assign_wcs_step.py
Labels: bug, assign_wcs

#7040 prepare for release 1.7.2
  CHANGES.rst
  README.md
  requirements-sdp.txt
Labels: no-changelog-entry-needed

#7041 starting 1.7.3 development
  CHANGES.rst
  requirements-sdp.txt
Labels: no-changelog-entry-needed

#7044 JP-2913: Fix the coron median replace algorithm
  CHANGES.rst
  jwst/coron/median_replace_img.py
  jwst/regtest/test_nircam_coron3.py
Labels: bug, NIRCAM, align_refs, coron3 pipeline, regression_testing

#7037 Modify default parameters for FITS SIP fitting in the assign_wcs
  CHANGES.rst
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/tests/test_wcs.py
Labels: enhancement, assign_wcs, testing

#7038 Relax SIP fitting parameters in the tweakreg step
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: enhancement, tweakreg

#7045 check whether `requirements-sdp.txt` is empty before publishing to PyPI
  .github/workflows/publish-to-pypi.yml
Labels: enhancement, no-changelog-entry-needed, automation

#6942 JP-2694: reset input model after Source Catalog Step
  CHANGES.rst
  jwst/source_catalog/source_catalog.py
  jwst/source_catalog/source_catalog_step.py
  jwst/source_catalog/tests/test_source_catalog.py
Labels: source catalog, testing

#7033 JP-2627: Fixes to pixel scale in resample and photometry keywords
  CHANGES.rst
  jwst/resample/resample.py
  jwst/resample/resample_step.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing

#7008 JP-2038: Enforcing no path data in association files and expanding documentation
  CHANGES.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/overview.rst
  docs/jwst/introduction.rst
  docs/jwst/stpipe/devel_io_design.rst
  docs/jwst/stpipe/devel_step.rst
  jwst/associations/association.py
  jwst/associations/tests/data/asn_level2_bad_path.json
  jwst/associations/tests/test_asn_names.py
Labels: associations, testing, documentation

#7048 fix definition of pixel ratio
  CHANGES.rst
  jwst/resample/resample_step.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing

#7046 JP-2917: Master_background reopens files from asn_table, potentially ignoring input datamodels
  CHANGES.rst
  jwst/datamodels/container.py
  jwst/datamodels/schemas/core.schema.yaml
  jwst/master_background/master_background_step.py
  jwst/master_background/tests/test_master_background.py
Labels: datamodels, testing, master background, master_background

#7047 JP-2918: Fix bad resampled frames for NRS MOS
  CHANGES.rst
  jwst/regtest/test_migrate_data.py
  jwst/resample/resample_spec.py
Labels: bug, NIRSPEC MSA, resample_spec, NIRSpec FS

#7049 JP-2679: Update bkg_subtract to handle 3D coronagraphic data
  CHANGES.rst
  jwst/background/background_sub.py
  jwst/background/subtract_images.py
  jwst/regtest/test_miri_coron_rateint.py
Labels: background, MIRI, coron3 pipeline, regression_testing

#7042 Update WCS (or slit metadata) after image (or spectrum) resampling.
  CHANGES.rst
  jwst/resample/resample.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
Labels: resample
