Repository spacetelescope/jwst, pull requests merged in 2023-01, with the labels that each got.

#7418 JP-3037 Modify entrypoint functions to not return anything unless failure
  CHANGES.rst
  jwst/associations/asn_from_list.py
  jwst/associations/main.py
  jwst/associations/tests/test_asn_from_list.py
  jwst/associations/tests/test_case.py
  jwst/associations/tests/test_exposerr.py
  jwst/associations/tests/test_io.py
  jwst/associations/tests/test_level2_candidates.py
  jwst/associations/tests/test_level3_candidates.py
  jwst/associations/tests/test_level3_duplicate.py
  jwst/associations/tests/test_level3_wfscmb.py
  jwst/associations/tests/test_main.py
  jwst/associations/tests/test_wfss.py
  jwst/regtest/test_associations_sdp_pools.py
  jwst/regtest/test_associations_standards.py
  setup.cfg
Labels: bug, associations, testing, Wide Field Slitless Spec (WFSS), installation, sdp, regression_testing

#7420 pin `scipy` below `1.10.0`
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7422 update version of `conda` used in Jenkins environment
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#7421 remove references to pub server
  CHANGES.rst
  docs/jwst/user_documentation/reference_files_crds.rst
Labels: documentation

#7427 JP-3043 user option to select wavelength range of IFU cube not working for NIRSpec
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#7431 JP-2928: Update MIRI coron3 test with flight data
  jwst/regtest/test_miri_coron3.py
Labels: MIRI, coron3 pipeline, no-changelog-entry-needed, regression_testing

#7432 JP-2928: Update regtests to use flight data (NRS_FS)
  CHANGES.rst
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_fs_spec3.py
Labels: NIRSPEC, spec2 pipeline, spec3 pipeline, regression_testing, regression-test

#7434 JP-2928: Update NIRISS AMI3 regtest with flight data
  jwst/regtest/test_niriss_ami3.py
Labels: ami3 pipeline, no-changelog-entry-needed, regression_testing

#7435 Pin BayesicFitting to < 3.1.0
  CHANGES.rst
  setup.cfg
Labels: installation

#7433 JP-2928: Update FGS image2 test with flight data
  CHANGES.rst
  jwst/regtest/test_fgs_image2.py
Labels: FGS, image2 pipeline, regression_testing, regression-test

#7426 JP-2013 NIRSpec leakcal and nodded exposures
  CHANGES.rst
  docs/jwst/imprint/description.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  jwst/imprint/imprint_step.py
  jwst/imprint/tests/test_imprint.py
  jwst/pipeline/calwebb_spec2.py
Labels: imprint, pipeline, testing, spec2 pipeline, documentation

#7384 changes for `tox>=4.0` release
  .github/workflows/ci.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, automation

#7440 JP-3081 NIRSpec Imprints improvement - constrain by observation number
  CHANGES.rst
  jwst/imprint/imprint_step.py
Labels: imprint, B9.1 patch candidate

#7438 JP-3079 Ensure all imprint exposures are include in associations
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/main.py
  jwst/associations/tests/test_main.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: bug, associations, testing, regression_testing, B9.1 patch candidate

#7445 uncomment MacOS in Jenkins
  JenkinsfileRT
Labels: no-changelog-entry-needed, regression_testing, automation

#7448 Clean up change log and README for B9.1 and 9.1.1 releases
  CHANGES.rst
  README.md
Labels: documentation, no-changelog-entry-needed
