Repository spacetelescope/jwst, pull requests merged in 2023-11, with the labels that each got.

#8042 drop python 3.12 support
  .github/workflows/ci.yml
  CHANGES.rst
  setup.cfg
Labels: testing, installation, automation

#8031 use `--props` instead of `--build` in `okify_regtests`
  jwst/scripts/okify_regtests.py
Labels: no-changelog-entry-needed, regression_testing

#8012 JP-3442: Improve image group name construction
  CHANGES.rst
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, testing

#8057 Add warning in README regarding python 3.12
  README.md
Labels: documentation, no-changelog-entry-needed

#8060 JP-3458: Removing cases CI tests to be moved to STCAL.
  CHANGES.rst
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
Labels: ramp_fitting, testing

#8059 Numpy 2.0 compat: signed/unsigned conversion in context and mask utilities
  CHANGES.rst
  jwst/resample/resample_utils.py
Labels: resample

#8038 JP-3451: Include zero-valued pixels in difference calculation
  CHANGES.rst
  jwst/extract_1d/soss_extract/atoca_utils.py
Labels: extract_1d, NIRISS SOSS

#8075 JP-3466 Remove the CRDS PUB notices througout the documentation
  CHANGES.rst
  docs/index.rst
  docs/jwst/user_documentation/reference_files_crds.rst
Labels: documentation

#8066 Make meta data flexible for photutils changes
  CHANGES.rst
  jwst/source_catalog/source_catalog.py
Labels: source catalog

#8081 JP-3223: Extract_2d 'slit_name' parameter fails for NRS_MSASPEC slits
  CHANGES.rst
  docs/jwst/extract_2d/main.rst
  jwst/extract_2d/nirspec.py
Labels: extract_2d, NIRSPEC, NIRSPEC MSA, documentation

#8080 JP-3469: Replace nanmedian with masked array median in ifu_autocen
  CHANGES.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS, NIRSpec IFU

#8033 JP-3456 - Replace use of `scipy.signal.medfilt` in outlier detection
  CHANGES.rst
  jwst/outlier_detection/outlier_detection_ifu.py
  jwst/outlier_detection/tests/test_medfilt.py
  setup.cfg
Labels: outlier_detection, testing, installation

#8001 Cube Build fix if no valid data on array
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#8051 replace utcnow to avoid deprecation warnings in python 3.12
  CHANGES.rst
  jwst/associations/association.py
  jwst/scripts/migrate_data.py
  jwst/stpipe/tests/test_config.py
Labels: associations, stpipe, testing

#8101 JP-3471 improve Step.spec attribute formating in docs
  CHANGES.rst
  docs/conf.py
  docs/jwst/mrs_imatch/index.rst
  docs/jwst/mrs_imatch/mrs_imatch_step.rst
  docs/jwst/skymatch/index.rst
  docs/jwst/skymatch/region.rst
  docs/jwst/skymatch/skyimage.rst
  docs/jwst/skymatch/skymatch.rst
  docs/jwst/skymatch/skymatch_step.rst
  docs/jwst/skymatch/skystatistics.rst
  docs/jwst/tweakreg/astrometric_utils.rst
  docs/jwst/tweakreg/index.rst
  docs/jwst/tweakreg/tweakreg_catalog.rst
  docs/jwst/tweakreg/tweakreg_step.rst
  docs/jwst/tweakreg/utils.rst
  jwst/tweakreg/astrometric_utils.py
Labels: tweakreg, documentation

#8095 Remove the use of `pkg_resources`
  .gitignore
  CHANGES.rst
  jwst/__init__.py
  jwst/associations/pool.py
  pyproject.toml
Labels: associations, installation

#8096 JP-3455: Updated MIRI imager photom step
  CHANGES.rst
  jwst/photom/miri_imager.py
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
Labels: photom, MIRI, testing, MIRI IMAGER
