Repository spacetelescope/jwst, pull requests merged in 2023-03, with the labels that each got.

#7474 include `opencv-python` in instructions to generate SDP requirements
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#7477 pull metadata for patch release `1.9.5` into `master`
  CHANGES.rst
  CITATION.cff
  README.md
Labels: documentation, no-changelog-entry-needed

#7479 (JP-3015) Undersampling_correction step
  CHANGES.rst
  docs/jwst/package_index.rst
  docs/jwst/undersampling_correction/arguments.rst
  docs/jwst/undersampling_correction/description.rst
  docs/jwst/undersampling_correction/index.rst
  docs/jwst/undersampling_correction/reference_files.rst
  jwst/lib/suffix.py
  jwst/pipeline/calwebb_detector1.py
  jwst/step.py
  jwst/stpipe/integration.py
  jwst/undersampling_correction/__init__.py
  jwst/undersampling_correction/tests/test_undersampling_correction.py
  jwst/undersampling_correction/undersampling_correction.py
  jwst/undersampling_correction/undersampling_correction_step.py
  setup.cfg
Labels: pipeline, stpipe, testing, documentation, installation, detector1, undersampling_correction

#7480 remove upper pins on spacetelescope projects
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7485 JP-3112 Ensure matched exposures generated by list of candidates continue processing
  CHANGES.rst
  jwst/associations/lib/constraint.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/main.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: bug, associations, sdp, regression_testing

#7487 add SDP extras to `requirements-sdp.txt`
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#7490 update metadata for `1.9.6` release
  CHANGES.rst
  CITATION.cff
  README.md
Labels: documentation, no-changelog-entry-needed

#7486 JP_3100 move straylight before flat fielding
  CHANGES.rst
  jwst/pipeline/calwebb_spec2.py
Labels: pipeline, MIRI MRS, spec2 pipeline, Software Affected: calwebb_spec2

#7471 JP-3106: Fix input NaNs in residual fringe
  CHANGES.rst
  jwst/residual_fringe/residual_fringe.py
Labels: MIRI MRS, residual_fringe

#7475 Switch to using `dqflags` originating from `stdatamodels`
  CHANGES.rst
  jwst/coron/align_refs_step.py
  jwst/resample/resample_utils.py
  setup.cfg
Labels: resample, coron3 pipeline, installation

#7481 Update outlier_detection step description
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection.rst
Labels: documentation

#7497 Fix logic in MIRI LRS spec3 regtest
  jwst/regtest/test_miri_lrs_slit_spec3.py
Labels: MIRI, spec3 pipeline, no-changelog-entry-needed, regression_testing, regression-test

#7493 JP-3128: Fix memory leaks in C code
  CHANGES.rst
  jwst/cube_build/src/blot_median.c
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
  jwst/lib/src/winclip.c
  jwst/straylight/src/calc_xart.c
Labels: bug, cube_build, straylight

#7496 Bugfix for failing security checks
  CHANGES.rst
  jwst/lib/engdb_mast.py
  jwst/tweakreg/astrometric_utils.py
Labels: tweakreg, engdb_tools

#7492 JP-3127: Fix bounding box in MRS TSO observations
  CHANGES.rst
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/tests/test_miri.py
Labels: assign_wcs, MIRI, MIRI MRS, tso

#7484 (JP-3029) Update ramp fitting to calculate separate readnoise variance
  CHANGES.rst
  docs/jwst/ramp_fitting/appendix.rst
  docs/jwst/ramp_fitting/description.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting, testing, documentation

#7494 JP-3129: Fix WCS correction validation
  CHANGES.rst
  jwst/tweakreg/tests/test_multichip_jwst.py
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg, testing

#7500 Various doc fixes
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection.rst
  docs/jwst/outlier_detection/outlier_detection_spec.rst
  docs/jwst/ramp_fitting/description.rst
  jwst/lib/engdb_tools.py
Labels: documentation, engdb_tools

#7501 JP-3141: Add undersampling_correction call to calwebb_detector1 pipeline
  CHANGES.rst
  jwst/pipeline/calwebb_detector1.py
Labels: pipeline, detector1, undersampling_correction

#7489 use Python 3.11 in Jenkins job
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#7503 JP-3092: Updated DMS build map in README
  README.md
Labels: documentation, no-changelog-entry-needed

#7502 regtests: install main branch commit of `stcal` and `stdatamodels`
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#7504 fix MacOS job syntax error
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#7498 use OpenAstronomy workflows and move MacOS jobs to schedule
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
Labels: testing, no-changelog-entry-needed, automation

#7506 JP-3144 Remove extra reprocessing of existing associations
  CHANGES.rst
  jwst/associations/lib/process_list.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, regression_testing

#7509 (JP-3138) Add regtest for calwebb_detector1 for undersampling correction
  CHANGES.rst
  jwst/regtest/test_niriss_image.py
Labels: NIRISS, regression_testing, undersampling_correction

#7508 JP-3147 Treat PSF exposures as science for Level 2 association processing
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, regression_testing

#7511 JP-3159: Update surface brightness unit strings for astropy unit parsing
  CHANGES.rst
  jwst/extract_1d/extract.py
Labels: extract_1d

#7507 JP-3148: Trap source catalog errors in tweakreg
  CHANGES.rst
  jwst/tweakreg/tweakreg_catalog.py
Labels: tweakreg

#7478 JP-2622 Find extended Snowballs and Showers
  CHANGES.rst
  docs/jwst/jump/arguments.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_jump_step.py
Labels: jump, testing, documentation

#7519 use Python 3.9 in non-devdeps regression tests
  JenkinsfileRT
Labels: no-changelog-entry-needed, regression_testing, automation

#7512 JP-3101: Fill TARG_RA/DEC with RA/DEC_REF if empty at end of set_telescope_pointing
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
Labels: set_telescope_pointing

#7513 JP-3160: Fix a crash on absolute catalog alignment failure
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg

#7518 (JP-3126) Clarify text in Jump docs
  CHANGES.rst
  docs/jwst/jump/arguments.rst
Labels: documentation
