Repository spacetelescope/jwst, pull requests merged in 2023-10, with the labels that each got.

#7987 release metadata for `1.12.2`
  CHANGES.rst
  CITATION.cff
  README.md
  setup.cfg
Labels: documentation, installation, no-changelog-entry-needed

#7990 JP-3433: pixel_replace doc updates
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/pixel_replace/main.rst
Labels: documentation, pixel replacement

#7991 JP-3430: Updates for FilterOffset docs
  CHANGES.rst
  docs/jwst/references_general/filteroffset_reffile.rst
Labels: documentation, reference files

#7992 update metadata for `1.12.3`
  CHANGES.rst
  CITATION.cff
  README.md
  setup.cfg
Labels: documentation, installation, no-changelog-entry-needed

#7998 keep cube build input models open to allow reading wcs
  CHANGES.rst
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/tests/test_cube_build_step.py
Labels: cube_build, testing

#8002 Update README for B10.0 version info
  README.md
Labels: documentation, no-changelog-entry-needed

#8006 metadata for patch release
  CHANGES.rst
  CITATION.cff
  README.md
  setup.cfg
Labels: documentation, installation, no-changelog-entry-needed

#8004 enable dependabot
  .github/dependabot.yml
Labels: no-changelog-entry-needed, automation

#8005 JP-3440: Revert change clobbering extra pixels near bad reference pixels
  CHANGES.rst
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/tests/test_clobber_ref.py
Labels: refpix, testing

#7997 JP-3438: Allow custom grouping of models
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/datamodels/container.py
  jwst/datamodels/tests/data/association_group_id.json
  jwst/datamodels/tests/data/headers.fits
  jwst/datamodels/tests/test_model_container.py
Labels: datamodels, testing, documentation

#8010 release metadata for `1.12.5` (DMS `B10.0.1`)
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed

#8015 astropy wheel is built nightly, not weekly
  requirements-dev-thirdparty.txt
Labels: installation, no-changelog-entry-needed

#8025 wipe requirements-sdp.txt on main branch
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#8018 increase asdf upper pin
  CHANGES.rst
  setup.cfg
Labels: installation

#8013 allow for slow github mac runners
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing, no-changelog-entry-needed

#8032 Fix CI for `3.x` now using python 3.12 and add python 3.12 tests to CI
  .github/workflows/ci.yml
Labels: testing, no-changelog-entry-needed, automation

#8026 limit regression test result search to jwst files
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#7894 JP-3035: Fix computation of the photometric keywords PIXAR_* and scale resampled intensities according to actual pixel scale ratio.
  CHANGES.rst
  docs/jwst/resample/arguments.rst
  jwst/model_blender/blendmeta.py
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_step.py
  jwst/resample/tests/test_resample_step.py
Labels: bug, resample, testing, documentation
