Repository spacetelescope/jwst, pull requests merged in 2023-07, with the labels that each got.

#7684 JP-3254: Update extract_2d docs for WFSS
  CHANGES.rst
  docs/jwst/extract_2d/main.rst
Labels: documentation

#7683 JP-3285: Allow negative angles in engineering format. Add support for angle units
  CHANGES.rst
  jwst/scripts/adjust_wcs.py
  jwst/tweakreg/utils.py
Labels: tweakreg, scripts

#7694 Fix some minor formatting typos in associations docs
  CHANGES.rst
  docs/jwst/associations/association_reference.rst
  docs/jwst/associations/overview.rst
Labels: associations, documentation

#7696 remove mistune pin and increase minimum sphinx-asdf version
  CHANGES.rst
  setup.cfg
Labels: installation

#7709 JP-3300: Update spec2 docs on order of operations for SOSS
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec2.rst
Labels: spec2 pipeline, documentation, NIRISS SOSS

#7723 Trap divide-by-zero in jump step
  CHANGES.rst
  jwst/jump/jump.py
Labels: bug, jump

#7685 JP-3157: Removal of NRS IRS2 intermittently bad pixels
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/tests/test_rm_intermittent_badpix.py
Labels: enhancement, refpix, testing, documentation

#7581 test against pre-built binaries of `scipy` and `numpy`
  .github/workflows/ci.yml
  jwst/lib/tests/test_siafdb.py
  requirements-dev.txt
  tox.ini
Labels: testing, installation, no-changelog-entry-needed, automation

#7731 Refpix bug fix
  CHANGES.rst
  docs/jwst/refpix/arguments.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/refpix_step.py
  jwst/refpix/tests/test_rm_intermittent_badpix.py
Labels: bug, refpix, testing, documentation, IRS2 readout

#7752 Modify `test_flatfield_step_interface` step to not interfere with other tests
  CHANGES.rst
  jwst/flatfield/tests/test_flatfield.py
Labels: flatfield, testing

#7660 remove uses of stdatamodels.jwst.datamodels.schema
  CHANGES.rst
  jwst/datamodels/__init__.py
  jwst/scripts/move_wcs.py
  jwst/scripts/schemadoc.py
Labels: datamodels

#7714 Write user provided x1d background expanded to 2d if save_background=True
  CHANGES.rst
  jwst/master_background/master_background_step.py
Labels: master background, master_background

#7774 JP-3317: Use same logic for resample limits for SCI, ERR, and VAR* images
  CHANGES.rst
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_utils.py
Labels: bug, resample, resample_spec

#7772 Run pixel_replace before finalizing cal output in calwebb_spec2
  CHANGES.rst
  jwst/pipeline/calwebb_spec2.py
Labels: pipeline, spec2 pipeline, pixel replacement
