Repository spacetelescope/jwst, pull requests merged in 2023-05, with the labels that each got.

#7576 add a table of failing unit tests to the CI workflow summary page
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
Labels: testing, no-changelog-entry-needed, automation

#7580 Fix errors in change log
  CHANGES.rst
Labels: documentation, no-changelog-entry-needed

#7569 JP- 3163 nirspec for Point Source data saved in surface brightness
  CHANGES.rst
  docs/jwst/cube_build/main.rst
  docs/jwst/photom/main.rst
  jwst/extract_1d/ifu.py
  jwst/photom/photom.py
Labels: extract_1d, photom, NIRSpec IFU, documentation

#7556 JP-3219: Update ASN rules for NRC SW coronagraphy
  CHANGES.rst
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/product_utils.py
  jwst/associations/lib/prune.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/lib/tests/test_diff.py
  jwst/associations/main.py
  jwst/associations/tests/test_level3_duplicate.py
  jwst/associations/tests/test_main.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, testing, regression_testing, coronagraphy

#7582 JP-3111: Add MIRI segmented dark subtraction test
  jwst/regtest/test_miri_dark.py
Labels: MIRI, no-changelog-entry-needed, regression_testing

#7559 JP-3047 Change how NIRSpec wavelengths are set in ifucube
  CHANGES.rst
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
Labels: cube_build

#7583 JP-3098 switch order of precedence between PATTTYPE and SRCTYAPT in the srctype step
  CHANGES.rst
  jwst/srctype/srctype.py
  jwst/srctype/tests/test_srctype.py
Labels: testing, source_type, source type

#7587 JP-3234: Mask NaN values for background subtraction of "robust mean"
  CHANGES.rst
  jwst/background/background_sub.py
Labels: background, wfss

#7018 JP-2113: Update NIRCam WFSS transforms to v.4 from GRISMCONF files
  CHANGES.rst
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/tests/test_wfss.py
  jwst/extract_2d/grisms.py
  jwst/extract_2d/tests/test_grisms.py
  requirements-max.txt
  setup.cfg
Labels: assign_wcs, extract_2d, NIRCAM, testing, Wide Field Slitless Spec (WFSS), installation

#7584 JP 3231: address warnings in tests
  jwst/assign_wcs/pointing.py
  jwst/datamodels/__init__.py
  jwst/datamodels/drizproduct.py
  jwst/datamodels/multiprod.py
  jwst/datamodels/ramp.py
  jwst/datamodels/tests/test_api.py
  jwst/residual_fringe/fitter.py
  setup.cfg
Labels: assign_wcs, datamodels, testing, installation, no-changelog-entry-needed, residual_fringe

#7573 JP-3227: Add analog of HST's tweakback tool
  CHANGES.rst
  jwst/tweakreg/tests/test_utils.py
  jwst/tweakreg/utils.py
Labels: enhancement, tweakreg, testing, New Feature

#7591 fix import in tweakback
  CHANGES.rst
  jwst/tweakreg/tests/test_utils.py
  jwst/tweakreg/utils.py
Labels: tweakreg, testing

#7593 Update calwebb_spec2 docs processing order
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec2.rst
Labels: straylight, spec2 pipeline, documentation
