Repository spacetelescope/jwst, pull requests merged in 2023-02, with the labels that each got.

#7449 JP-2821 Correct WCS determination for aperture MIRIM_TAMRS
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/siafdb.py
  jwst/lib/tests/test_set_telescope_pointing.py
  jwst/lib/tests/test_siafdb.py
Labels: bug, testing, set_telescope_pointing

#7450 Fix typo in SOSS transform schema
  CHANGES.rst
  jwst/transforms/resources/manifests/jwst_transforms-0.7.0.yaml
Labels: transforms, NIRISS SOSS

#7453 Fix the regtests
  jwst/datamodels/tests/test_api.py
Labels: datamodels, testing, no-changelog-entry-needed

#7454 Revert "Fix typo in SOSS transform schema (#7450)"
  CHANGES.rst
  jwst/transforms/resources/manifests/jwst_transforms-0.7.0.yaml
Labels: no-changelog-entry-needed

#7456 Properly fix niriss soss schema not found warning
  CHANGES.rst
  jwst/transforms/converters/jwst_models.py
  jwst/transforms/converters/tests/data/__init__.py
  jwst/transforms/converters/tests/data/niriss_soss.asdf
  jwst/transforms/converters/tests/test_models.py
  jwst/transforms/resources/manifests/jwst_transforms-0.7.0.yaml
Labels: transforms, NIRISS, testing

#7457 Refactor `minimum_deps` script
  CHANGES.rst
  jwst/scripts/minimum_deps.py
  setup.cfg
Labels: installation

#7430 JP-2813: Allow adjustments of imaging WCS in CAL-like data models
  CHANGES.rst
  docs/jwst/tweakreg/index.rst
  docs/jwst/tweakreg/utils.rst
  jwst/assign_wcs/pointing.py
  jwst/scripts/adjust_wcs.py
  jwst/scripts/tests/test_scripts.py
  jwst/tweakreg/tests/data/nrcb1-wcs.asdf
  jwst/tweakreg/tests/test_utils.py
  jwst/tweakreg/utils.py
  setup.cfg
Labels: enhancement, assign_wcs, tweakreg, testing, documentation, wcs, scripts, installation

#7451 JP-3083: Fix photom handling of NRS FS source types
  CHANGES.rst
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
  jwst/pipeline/calwebb_spec2.py
Labels: photom, pipeline, testing, spec2 pipeline, NIRSPEC MSA, NIRSpec FS

#7442 JP-3078: Add support custom reference WCS for the resample step
  CHANGES.rst
  docs/jwst/resample/arguments.rst
  jwst/regtest/test_miri_lrs_slit_spec3.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing, spec3 pipeline, documentation, regression_testing, resample_spec

#7462 Use astropy nightly build in devdeps Jenkins job
  requirements-dev.txt
Labels: installation, no-changelog-entry-needed

#7461 JP-3077: Change the Computation in Ramps with only One Good Group in the 0th Group
  CHANGES.rst
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting, testing

#7455 JP-3087: Fix zeroing of NaNs in straylight
  CHANGES.rst
  jwst/straylight/straylight.py
Labels: straylight, MIRI MRS

#7465 pin `stdatamodels` to new release
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7466 JP-3095: Fix extract_1d usage of use_source_posn param
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/references_general/extract1d_reffile.inc
  jwst/extract_1d/extract.py
Labels: extract_1d, documentation

#7464 JP-3084: Separate photometric calibration factors for point vs. uniform use
  CHANGES.rst
  jwst/photom/photom.py
Labels: photom

#7463 use `minimum_dependencies` package instead of script
  CHANGES.rst
  jwst/scripts/minimum_deps.py
  setup.cfg
  tox.ini
Labels: testing, installation

#7467 pin `stdatamodels` to new release
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7447 JP-2862: Push DO_NOT_USE flags to groupdq array from mask
  CHANGES.rst
  jwst/dq_init/dq_initialization.py
Labels: dq_init
