Repository spacetelescope/jwst, pull requests merged in 2023-06, with the labels that each got.

#7599 close files in tests and before raising exception in get_open_msa_slits
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/associations/tests/test_mkpool.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/residual_fringe/tests/test_background_fit.py
Labels: assign_wcs, associations, outlier_detection, NIRSPEC, testing, residual_fringe

#7592 JP-3229: <Fix a bug> added the user-supplied flat reference file to the log
  CHANGES.rst
  jwst/flatfield/flat_field_step.py
Labels: flatfield

#7596 [CI] run `pip list` after installing override requirements in Jenkins
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#7604 Revert "JP-3229: <Fix a bug> added the user-supplied flat reference file to the log"
  CHANGES.rst
  jwst/flatfield/flat_field_step.py
Labels: flatfield

#7606 JP-3229: update ref file logging in flat_field step
  CHANGES.rst
  jwst/flatfield/flat_field_step.py
Labels: flatfield

#7598 JP-3119: Add special refpix treatment for NIRSpec "edgeless" subarrays
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/reference_pixels.py
Labels: refpix, documentation

#7607 Remove uses and references to deprecated `jwst.datamodels.DataModel`
  CHANGES.rst
  docs/jwst/stpipe/devel_io_design.rst
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/util.py
  jwst/barshadow/bar_shadow.py
  jwst/combine_1d/combine1d.py
  jwst/extract_1d/apply_apcorr.py
  jwst/extract_1d/tests/test_apply_apcorr_nonifu.py
  jwst/flatfield/flat_field.py
  jwst/gain_scale/gain_scale.py
  jwst/lib/pipe_utils.py
  jwst/lib/pointing_summary.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/v1_calculate.py
  jwst/lib/wcs_utils.py
  jwst/master_background/expand_to_2d.py
  jwst/master_background/master_background_step.py
  jwst/model_blender/blendmeta.py
  jwst/pathloss/pathloss.py
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
  jwst/pipeline/calwebb_coron3.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_spec3.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/stpipe/tests/test_crds.py
Labels: assign_wcs, combine_1d, extract_1d, flatfield, photom, pipeline, resample, stpipe, NIRSPEC, NIRISS, FGS, NIRCAM, testing, coron3 pipeline, spec2 pipeline, spec3 pipeline, documentation, path loss, gain_scale, bar shadow, master_background

#7608 [CI] bump max version of `stdatamodels`
  requirements-max.txt
Labels: installation, no-changelog-entry-needed

#7600 JP-3224 MRS time dependent Photom correction
  CHANGES.rst
  docs/jwst/photom/Model_summary.png
  docs/jwst/photom/arguments.rst
  docs/jwst/photom/main.rst
  docs/jwst/references_general/photom_reffile.inc
  jwst/photom/miri_mrs.py
  jwst/photom/photom.py
  jwst/photom/photom_step.py
Labels: photom, MIRI, MIRI MRS, documentation

#7590 Jp-3207 ifu outlier detection
  CHANGES.rst
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/outlier_detection/outlier_detection.rst
  docs/jwst/outlier_detection/outlier_detection_ifu.rst
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_ifu.py
  jwst/outlier_detection/outlier_detection_step.py
  setup.cfg
Labels: enhancement, outlier_detection, MIRI MRS, NIRSpec IFU, documentation, installation

#7594 JP-3011+JP-3113: IFU Extract1d updates
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
  jwst/residual_fringe/utils.py
Labels: extract_1d, MIRI MRS, NIRSpec IFU, documentation, residual_fringe

#7611 JP-2916: Add Gaia DR3 to available catalogs in tweakreg
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/astrometric_utils.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, documentation

#7613 metadata updates for `1.11.0` release
  CHANGES.rst
  CITATION.cff
  README.md
Labels: documentation, no-changelog-entry-needed

#7615 Update skipped/xfailed unit tests
  jwst/assign_wcs/tests/test_nircam.py
  jwst/flatfield/tests/test_flatfield.py
  jwst/jump/tests/test_detect_jumps.py
  jwst/regtest/test_migrate_data.py
Labels: no-changelog-entry-needed, tests

#7612 JP-3242: Proper Handling of Timing for Final Slope Computation for only 0th Good Group Ramps
  CHANGES.rst
  jwst/ramp_fitting/tests/test_ramp_fit.py
  jwst/ramp_fitting/tests/test_ramp_fit_cases.py
  jwst/ramp_fitting/tests/test_ramp_fit_step.py
Labels: ramp_fitting, testing

#7617 Fix some warnings
  jwst/ami/tests/test_ami_analyze.py
  jwst/resample/resample_utils.py
  jwst/scripts/pointing_summary.py
  setup.cfg
Labels: ami, resample, testing, installation, no-changelog-entry-needed

#7619 JP-3268: Fix pixel_replace step status error
  CHANGES.rst
  jwst/pixel_replace/pixel_replace_step.py
Labels: bug, pixel replacement

#7621 Point to latest release of stcal
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7609 JP-3243 Sigma clip Jump Detection
  CHANGES.rst
  docs/jwst/jump/arguments.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing, documentation

#7657 fix stdatamodels datamodels link in documentation
  docs/conf.py
  docs/jwst/user_documentation/datamodels.rst
Labels: documentation, no-changelog-entry-needed

#7669 Prepare for 1.11.1 release
  README.md
  requirements-max.txt
Labels: documentation, installation, no-changelog-entry-needed

#7614 JP-3225: Gaia proper motions enabled
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/astrometric_utils.py
  jwst/tweakreg/tests/test_amutils.py
Labels: tweakreg, testing, documentation

#7672 fix more missing links to stdatamodels docs
  CHANGES.rst
  docs/getting_started/quickstart.rst
  docs/jwst/associations/overview.rst
  docs/jwst/model_blender/main.rst
  docs/jwst/stpipe/user_step.rst
  docs/jwst/user_documentation/datamodels.rst
Labels: documentation
