Repository spacetelescope/jwst, pull requests merged in 2024-01, with the labels that each got.

#8161 Update README to exclude Python 3.12 from supported versions.
  README.md
Labels: documentation, no-changelog-entry-needed

#8173 Update metadata for 1.13.3
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed

#8175 Reset requirements-sdp.txt after release
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#8178 fixed docstring typo; testing PR workflow
  CHANGES.rst
  docs/jwst/user_documentation/reference_files_crds.rst
Labels: documentation

#8171 JP-3501: Turn off emicorr by default
  CHANGES.rst
  jwst/emicorr/emicorr_step.py
Labels: MIRI, emicorr

#8177 JP-3503: Update outlier detection docs
  CHANGES.rst
  docs/jwst/outlier_detection/arguments.rst
Labels: outlier_detection, documentation

#8180 JP-3504: Bugfix for MRS 1d residual fringe correction
  CHANGES.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS, residual_fringe

#8158 Update sregion at the end of TweakRegStep
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg

#8190 JP-3228: Remove 'grow' param from outlier_detection
  CHANGES.rst
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection

#8196 remove sphinx-asdf requirement
  CHANGES.rst
  docs/conf.py
  pyproject.toml
Labels: documentation, installation

#8200 Update RTD installation instructions
  CHANGES.rst
  docs/getting_started/install.rst
  docs/getting_started/quickstart.rst
Labels: documentation, installation

#8189 JP-3088 updated bunit_data for the top multislit model
  CHANGES.rst
  jwst/photom/photom.py
Labels: photom

#8197 JP-3510: Use all groups to flag bad IRS2 reference pixels
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/refpix_step.py
  jwst/refpix/tests/test_clobber_ref.py
  jwst/refpix/tests/test_flag_bad_refpix.py
  jwst/refpix/tests/test_rm_intermittent_badpix.py
Labels: refpix, NIRSPEC, testing, documentation, IRS2 readout

#8207 JP-3238: Include dispersion factor in PHOTOM correction for NRC grism
  CHANGES.rst
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
Labels: photom, NIRCAM, testing, Wide Field Slitless Spec (WFSS)

#8199 JP-3509: Cut cube collapse for autocentroiding short of 26 microns
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS, documentation, MRS

#8203 JP-2259: Tweakreg source finding
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
  jwst/regtest/test_niriss_sourcefind.py
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_catalog.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, NIRISS, NIRCAM, testing, documentation, regression_testing

#8211 require photutils 1.5+
  CHANGES.rst
  pyproject.toml
Labels: installation

#8216 Update min version of tweakwcs to 0.8.6
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8222 metadata for `1.13.4`
  CHANGES.rst
  CITATION.cff
  README.md
  jwst/emicorr/emicorr_step.py
Labels: documentation, no-changelog-entry-needed

#8220 Add a warning message in Log to cube_build if not valid data is found on detector
  CHANGES.rst
  jwst/cube_build/ifu_cube.py
Labels: cube_build

#8224 switch to sphinx rtd theme
  CHANGES.rst
  docs/_static/stsci_pri_combo_mark_white.png
  docs/conf.py
  pyproject.toml
Labels: documentation, installation

#8245 update regtest conftest for pytest 8
  jwst/regtest/conftest.py
Labels: testing, no-changelog-entry-needed, regression_testing, automation
