Repository spacetelescope/jwst, pull requests merged in 2024-09, with the labels that each got.

#8747 JP-3727: changed psfalign product from quadmodel to cubemodel
  CHANGES.rst
  docs/jwst/pipeline/calwebb_coron3.rst
  jwst/coron/imageregistration.py
  jwst/coron/klip.py
  jwst/coron/tests/test_coron.py
Labels: testing, coron3 pipeline, documentation

#8683 JP-3690: Switch from ModelContainer to ModelLibrary for image3 pipeline
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/pipeline/calwebb_image3.rst
  docs/jwst/skymatch/arguments.rst
  docs/jwst/tweakreg/README.rst
  jwst/assign_mtwcs/assign_mtwcs_step.py
  jwst/assign_mtwcs/moving_target_wcs.py
  jwst/assign_mtwcs/tests/test_mtwcs.py
  jwst/datamodels/__init__.py
  jwst/datamodels/library.py
  jwst/datamodels/tests/test_library.py
  jwst/lib/exposure_types.py
  jwst/outlier_detection/imaging.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/spec.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/outlier_detection/utils.py
  jwst/pipeline/calwebb_coron3.py
  jwst/pipeline/calwebb_image3.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/tests/test_calwebb_image3.py
  jwst/regtest/test_niriss_image.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
  jwst/skymatch/skymatch_step.py
  jwst/skymatch/tests/test_skymatch.py
  jwst/stpipe/core.py
  jwst/stpipe/utilities.py
  jwst/tweakreg/tests/test_multichip_jwst.py
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: source catalog, outlier_detection, pipeline, resample, skymatch, tweakreg, stpipe, datamodels, NIRISS, NIRCAM, testing, exp_to_source, image3 pipeline, coron3 pipeline, spec3 pipeline, documentation, installation, assign_mtwcs, regression_testing, automation

#8730 Update regression tests to remove missing files from tests
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_nircam_subarray_4amp.py
Labels: MIRI, NIRCAM, no-changelog-entry-needed, regression_testing

#8557 JP-3570: Match NaNs and DO_NOT_USE flags
  CHANGES.rst
  jwst/cube_build/cube_build_step.py
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_flatfield.py
  jwst/lib/basic_utils.py
  jwst/lib/pipe_utils.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/outlier_detection/ifu.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/outlier_detection/utils.py
  jwst/pathloss/pathloss.py
  jwst/photom/photom.py
  jwst/regtest/test_nirspec_image2.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
Labels: cube_build, flatfield, outlier_detection, photom, resample, NIRSPEC, testing, image2 pipeline, path loss, regression_testing

#8670 update pull request checklist
  .github/pull_request_template.md
Labels: no-changelog-entry-needed, automation

#8760 JP-3729: log version and crds context at end of step/pipeline runs
  CHANGES.rst
  jwst/stpipe/core.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing

#8758 JP-3730: Re-enable saving of blot models during outlier detection
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/outlier_detection/outlier_detection_spec.rst
  jwst/outlier_detection/imaging.py
  jwst/outlier_detection/spec.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/outlier_detection/utils.py
Labels: outlier_detection, testing, documentation

#8768 Revert "JP-3729: log version and crds context at end of step/pipeline runs"
  CHANGES.rst
  jwst/stpipe/core.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing, no-changelog-entry-needed

#8752 JP-3731: Update association path warning message.
  CHANGES.rst
  jwst/associations/association.py
Labels: associations

#8769 JP-3729: report jwst version at end of Step.run
  CHANGES.rst
  jwst/stpipe/core.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing

#8745 JP-3654: NSClean subarray speedup
  CHANGES.rst
  docs/jwst/nsclean/main.rst
  jwst/nsclean/lib.py
  jwst/nsclean/nsclean.py
Labels: documentation, nsclean

#8771 JP-3738: Subtract pedestal dark for MIRI MRS when constructing selfcal minimum
  CHANGES.rst
  docs/jwst/badpix_selfcal/description.rst
  jwst/badpix_selfcal/badpix_selfcal_step.py
Labels: MIRI, documentation, badpix_selfcal

#8697 JP-3669: 'OLS' Conditional Read Noise Recalculation for CHARGELOSS
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

#8777 JP-3743: Make outlier detection respect weights for in-memory models
  CHANGES.rst
  jwst/outlier_detection/imaging.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/outlier_detection/utils.py
  jwst/regtest/test_nircam_mtimage.py
Labels: outlier_detection, NIRCAM, testing, regression_testing

#8759 JP-3701: Blend models
  CHANGES.rst
  docs/jwst/model_blender/blender_rules.rst
  docs/jwst/model_blender/index.rst
  docs/jwst/model_blender/main.rst
  jwst/cube_build/ifu_cube.py
  jwst/model_blender/__init__.py
  jwst/model_blender/_schemautil.py
  jwst/model_blender/_tablebuilder.py
  jwst/model_blender/blender.py
  jwst/model_blender/blendmeta.py
  jwst/model_blender/blendrules.py
  jwst/model_blender/rules.py
  jwst/model_blender/tests/test_blend.py
  jwst/model_blender/textutil.py
  jwst/pipeline/calwebb_coron3.py
  jwst/resample/resample.py
Labels: cube_build, pipeline, resample, testing, coron3 pipeline, documentation

#8784 rename variable to silence sonarscan
  jwst/model_blender/_schemautil.py
Labels: no-changelog-entry-needed

#8744 JP-3551: Exclude overlapping background candidates
  CHANGES.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/tests/data/pool_024b_nirspec_fss_nods.csv
  jwst/associations/tests/data/pool_024c_nirspec_fss_nods.csv
  jwst/associations/tests/test_level2_background.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, NIRSPEC, testing, regression_testing

#8792 Fixed filename conflicts in badpix_selfcal test
  jwst/regtest/test_miri_mrs_badpix_selfcal.py
Labels: MIRI, no-changelog-entry-needed, regression_testing

#8797 allow stdatamodels 2.1.0
  CHANGES.rst
  pyproject.toml
Labels: installation

#8717 adjust tolerances for coron registration
  CHANGES.rst
  jwst/coron/imageregistration.py
  jwst/regtest/test_miri_coron3.py
  jwst/regtest/test_nircam_coron3.py
Labels: MIRI, NIRCAM, coron3 pipeline, regression_testing

#8765 JP-3733 remove setting pixel_replace.save to True in calwebb_spec3
  CHANGES.rst
  jwst/pipeline/calwebb_spec3.py
Labels: pipeline, spec3 pipeline, Software Affected: calwebb_spec3

#8789 JP-3489: Update association expname docs
  CHANGES.rst
  docs/jwst/associations/association_api.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/level3_asn_technical.rst
  docs/jwst/associations/overview.rst
  jwst/associations/asn_from_list.py
  jwst/associations/association.py
Labels: associations, documentation

#8786 JP-3667: Run nsclean step on imprint and background association members
  CHANGES.rst
  docs/jwst/nsclean/main.rst
  jwst/pipeline/calwebb_spec2.py
Labels: pipeline, NIRSPEC, spec2 pipeline, documentation, nsclean

#8805 Fix output collisions in clean_flicker_noise tests
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_nirspec_irs2_detector1.py
Labels: NIRSPEC, MIRI, NIRISS, NIRCAM, detector1, no-changelog-entry-needed, regression_testing

#8808 pin `stcal>=1.9.0,<1.10.0`
  CHANGES.rst
  pyproject.toml
Labels: installation

#8631 JP-3658: JWST Accommodation of the Ramp Fitting Likelihood Algorithm
  CHANGES.rst
  docs/jwst/ramp_fitting/description.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: pipeline, ramp_fitting, documentation, detector1

#8731 JP-3593: 2nd group saturation part 2
  CHANGES.rst
  docs/jwst/saturation/arguments.rst
  docs/jwst/saturation/description.rst
  jwst/saturation/saturation.py
  jwst/saturation/saturation_step.py
  jwst/saturation/tests/test_saturation.py
Labels: saturation, testing, documentation

#8798 JP-3305: New association candidate type to group mosaic tiles across targets
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, regression_testing

#8807 Update citations file for build 11.1
  CITATION.cff
Labels: no-changelog-entry-needed

#8793 Rebase nrs deepcopy
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/clean_flicker_noise/clean_flicker_noise.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/ifu_cube.py
  jwst/flatfield/flat_field.py
  jwst/master_background/expand_to_2d.py
  jwst/msaflagopen/msaflag_open.py
  jwst/pathloss/pathloss.py
  jwst/photom/photom.py
  jwst/pixel_replace/pixel_replace.py
Labels: assign_wcs, cube_build, flatfield, photom, NIRSPEC, path loss, msa_flagging, master_background

#8809 JP-3667: Add safeguards for NSClean on background/imprint members
  CHANGES.rst
  jwst/pipeline/calwebb_spec2.py
Labels: pipeline, spec2 pipeline, nsclean

#8720 JP-3364 allow wcs shifts for IFU individual exposures in cube_build
  CHANGES.rst
  docs/jwst/cube_build/arguments.rst
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/ifuoffset.schema.yaml
  jwst/cube_build/tests/test_configuration.py
  jwst/cube_build/tests/test_offset.py
Labels: cube_build, testing, documentation

#8676 JP-3695: Clean up unnecessary copies
  CHANGES.rst
  docs/jwst/emicorr/arguments.rst
  jwst/charge_migration/charge_migration.py
  jwst/charge_migration/charge_migration_step.py
  jwst/dark_current/dark_current_step.py
  jwst/dq_init/dq_init_step.py
  jwst/dq_init/dq_initialization.py
  jwst/emicorr/emicorr.py
  jwst/emicorr/emicorr_step.py
  jwst/emicorr/tests/test_emicorr.py
  jwst/firstframe/firstframe_step.py
  jwst/firstframe/firstframe_sub.py
  jwst/firstframe/tests/test_firstframe.py
  jwst/gain_scale/gain_scale.py
  jwst/gain_scale/gain_scale_step.py
  jwst/gain_scale/tests/test_gain_scale.py
  jwst/group_scale/group_scale.py
  jwst/group_scale/group_scale_step.py
  jwst/ipc/ipc_corr.py
  jwst/ipc/ipc_step.py
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/lastframe/lastframe_step.py
  jwst/lastframe/lastframe_sub.py
  jwst/lastframe/tests/test_lastframe.py
  jwst/linearity/linearity.py
  jwst/linearity/linearity_step.py
  jwst/persistence/persistence_step.py
  jwst/pipeline/calwebb_detector1.py
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/refpix_step.py
  jwst/regtest/test_miri_image.py
  jwst/reset/reset_step.py
  jwst/reset/reset_sub.py
  jwst/reset/tests/test_reset_sub.py
  jwst/rscd/rscd_step.py
  jwst/rscd/rscd_sub.py
  jwst/rscd/tests/test_rscd.py
  jwst/saturation/saturation.py
  jwst/saturation/saturation_step.py
  jwst/stpipe/core.py
  jwst/superbias/bias_sub.py
  jwst/superbias/superbias_step.py
  jwst/superbias/tests/test_bias_sub.py
Labels: dark_current, dq_init, ipc, jump, lastframe, linearity, persistence, pipeline, ramp_fitting, refpix, reset, rscd, saturation, superbias, stpipe, MIRI, testing, documentation, group_scale, gain_scale, firstframe, detector1, regression_testing

#8763 JP-3588: Use Pastasoss datamodel for NIRISS SOSS transform solution
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/soss_extract/atoca_utils.py
  jwst/extract_1d/soss_extract/pastasoss.py
  jwst/extract_1d/soss_extract/soss_boxextract.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/extract_1d/soss_extract/soss_solver.py
Labels: extract_1d, documentation, NIRISS SOSS

#8812 Update coron tests for numpy 2 compatibility
  jwst/coron/tests/test_coron.py
Labels: testing, coron3 pipeline, no-changelog-entry-needed

#8810 update metadata for release `1.16.0`
  CHANGES.rst
  README.md
Labels: documentation, no-changelog-entry-needed

#8671 use `towncrier` to handle changelog entries
  .github/pull_request_template.md
  .github/workflows/changelog.yml
  .readthedocs.yaml
  CHANGES.rst
  changes/.gitkeep
  changes/8671.docs.rst
  docs/rtd_environment.yaml
  pyproject.toml
Labels: documentation, installation, automation

#8210 switch default branch name to main in docs/ci
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/tests_devdeps.yml
  CONTRIBUTING.md
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  changes/8210.general.rst
  docs/getting_started/contributing.rst
  docs/getting_started/install.rst
  docs/jwst/stpipe/cfg_deprecation.rst
Labels: testing, documentation, regression_testing, automation

#8824 [docs] add new steps to pull request checklist as change fragment types
  .github/pull_request_template.md
Labels: no-changelog-entry-needed, automation

#8827 add CI check that `CHANGES.rst` is not modified
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, automation

#8825 Remove unnecessary test after pastasoss inclusion
  jwst/regtest/test_niriss_soss.py
Labels: NIRISS, no-changelog-entry-needed, regression_testing

#8817 Fix clean_flicker_noise test for system differences
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
Labels: testing, no-changelog-entry-needed

#8761 JP-3728: Deprecate `Step.__call__`
  changes/8761.stpipe.rst
  jwst/extract_2d/tests/test_grisms.py
  jwst/stpipe/core.py
  jwst/stpipe/tests/test_step.py
  jwst/tweakreg/tests/test_tweakreg.py
Labels: extract_2d, tweakreg, stpipe, testing

#8811 Speed up regtests by reorganizing test_nirspec_ifu_spec3
  jwst/regtest/test_nirspec_ifu_spec3.py
  jwst/regtest/test_nirspec_ifu_spec3_pixelreplace.py
Labels: NIRSPEC, spec3 pipeline, no-changelog-entry-needed, regression_testing

#8782 JP-3741: Faster temporary file I/O for outlier detection in on-disk mode
  changes/8782.outlier_detection.0.rst
  changes/8782.outlier_detection.1.rst
  changes/8782.resample.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  jwst/outlier_detection/_fileio.py
  jwst/outlier_detection/coron.py
  jwst/outlier_detection/imaging.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/spec.py
  jwst/outlier_detection/tests/test_algorithms.py
  jwst/outlier_detection/tests/test_fileio.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/outlier_detection/tests/test_utils.py
  jwst/outlier_detection/tso.py
  jwst/outlier_detection/utils.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/resample/resample.py
Labels: outlier_detection, resample, NIRSPEC, testing, coron3 pipeline, spec3 pipeline, documentation, regression_testing

#8787 JP-3763: Fix crash combining full and subarray for background
  changes/8787.background.rst
  jwst/background/background_sub.py
  jwst/background/tests/test_background.py
Labels: background, testing
