Repository spacetelescope/jwst, pull requests merged in 2024-11, with the labels that each got.

#8909 remove schema_editor
  changes/8909.scripts.rst
  jwst/datamodels/__init__.py
  jwst/regtest/test_schema_editor.py
  jwst/scripts/schema_editor.py
  jwst/scripts/tests/test_scripts.py
  pyproject.toml
Labels: datamodels, testing, installation, regression_testing

#8927 JP-2928, JP-3792: MIRI LRS master background
  changes/8927.combine_1d.rst
  changes/8927.master_background.rst
  changes/8927.pipeline.rst
  jwst/combine_1d/combine1d.py
  jwst/lib/suffix.py
  jwst/master_background/master_background_step.py
  jwst/regtest/test_miri_lrs_dedicated_mbkg.py
  jwst/regtest/test_miri_lrs_masterbg_user.py
  jwst/regtest/test_miri_lrs_nod_masterbg.py
Labels: combine_1d, MIRI, regression_testing, master_background

#8922 JP-2928: Update remaining NIRSpec FS and BOTS pre-flight data
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
Labels: NIRSPEC, spec2 pipeline, no-changelog-entry-needed, regression_testing

#8925 JP-2928: Update data for MIRI dark pipeline tests
  jwst/regtest/test_miri_dark.py
Labels: MIRI, no-changelog-entry-needed, regression_testing

#8936 JP-2928: Update MIRI MRS test data
  jwst/regtest/test_miri_mrs_dedicated_mbkg.py
  jwst/regtest/test_miri_mrs_nod_masterbg.py
  jwst/regtest/test_miri_mrs_tso.py
Labels: MIRI, no-changelog-entry-needed, regression_testing

#8956 Update dependencies in requirements-sdp.txt
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#8960 Update changelog and README to reflect patch release
  CHANGES.rst
  README.md
  jwst/resample/resample_spec.py
Labels: resample, documentation, installation, no-changelog-entry-needed

#8958 don't store empty columns in HDRTAB
  changes/8958.general.rst
  jwst/model_blender/_tablebuilder.py
  jwst/model_blender/tests/test_blend.py
Labels: testing

#8947 JP-3798: Transfer datamodel wcsinfo during Spec2Pipeline MOS+FS processing
  changes/8947.pipeline.rst
  jwst/pipeline/calwebb_spec2.py
  jwst/regtest/test_nirspec_mos_movingtarget.py
Labels: pipeline, NIRSPEC, spec2 pipeline, NIRSPEC MSA, regression_testing

#8932 JP-3746: Improve background combination for NIRSpec MOS master background
  changes/8932.master_background.rst
  docs/jwst/combine_1d/arguments.rst
  docs/jwst/master_background/arguments.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/combine_1d_step.py
  jwst/combine_1d/tests/test_dq_err.py
  jwst/master_background/master_background_mos_step.py
  jwst/master_background/master_background_step.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_master_background.py
  jwst/master_background/tests/test_master_background_mos.py
  jwst/regtest/test_nirspec_masterbackground.py
Labels: combine_1d, NIRSPEC, testing, documentation, regression_testing, master_background

#8971 restructure test_miri_mrs_badpix_selfcal_bkg to allow it to be okified
  jwst/regtest/test_miri_mrs_badpix_selfcal.py
Labels: MIRI, no-changelog-entry-needed, regression_testing

#8952 JP-3799: First frame bright
  changes/8952.firstframe.rst
  docs/jwst/firstframe/arguments.rst
  jwst/firstframe/firstframe_step.py
  jwst/firstframe/firstframe_sub.py
  jwst/firstframe/tests/test_firstframe.py
Labels: testing, documentation, firstframe

#8953 unskip a regression test
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ami, ramp_fitting, NIRCAM, testing, Wide Field Slitless Spec (WFSS), no-changelog-entry-needed, regression_testing

#8931 JP-3771: Add Multiprocessing Regression Tests for Ramp and Jump Steps
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_niriss_image.py
Labels: MIRI, NIRISS, no-changelog-entry-needed, regression_testing

#8976 Cleanup validationwarning
  jwst/refpix/irs2_subtract_reference.py
  jwst/residual_fringe/tests/test_configuration.py
  pyproject.toml
Labels: refpix, testing, installation, no-changelog-entry-needed, residual_fringe

#8973 in Badpixel_self cal add log message on number of pixels flagged
  jwst/badpix_selfcal/badpix_selfcal_step.py
Labels: no-changelog-entry-needed, badpix_selfcal

#8977 Remove testing statement to ignore import failure
  jwst/lib/tests/test_siafdb.py
Labels: testing, installation, no-changelog-entry-needed, tests

#8946 JP- 3778 Allow the RSCD correction to work on segmented TSO data
  changes/8946.rscd.rst
  jwst/regtest/test_miri_lrs_slitless.py
  jwst/rscd/rscd_sub.py
  jwst/rscd/tests/test_rscd.py
Labels: rscd, MIRI, testing, regression_testing
