Repository spacetelescope/jwst, pull requests merged in 2024-05, with the labels that each got.

#8456 limit rotation test to 10x the angular repeatability
  jwst/assign_wcs/tests/test_niriss.py
Labels: assign_wcs, NIRISS, testing, no-changelog-entry-needed

#8455 add workflow dispatch trigger to ci
  .github/workflows/ci.yml
Labels: testing, no-changelog-entry-needed, automation

#8445 JP-3605: Change default value for abs_separation in the tweakreg step
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, documentation

#8374 JP-3436 Empty wavelength array in s2d products
  CHANGES.rst
  jwst/regtest/test_miri_lrs_slit_spec3.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/regtest/test_nirspec_mos_spec3.py
  jwst/resample/resample_spec_step.py
Labels: resample, NIRSPEC, MIRI, spec3 pipeline, regression_testing, resample_spec

#8462 ensure extension modules are present in built wheel
  .github/workflows/build.yml
  setup.py
Labels: installation, no-changelog-entry-needed, automation

#8433 JP-3601: Fix background interval edge case
  CHANGES.rst
  jwst/extract_1d/extract1d.py
  jwst/extract_1d/tests/test_extract_src_flux.py
  jwst/extract_1d/tests/test_fit_background_model.py
Labels: extract_1d, testing

#8437 JP-3569: Update variance handling in resample step
  CHANGES.rst
  docs/jwst/resample/main.rst
  jwst/resample/resample.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing, documentation

#8451 allow ami_analyze step to run on cal files
  CHANGES.rst
  jwst/ami/ami_analyze.py
  jwst/regtest/test_niriss_ami3.py
Labels: ami, NIRISS, ami3 pipeline, regression_testing

#8416 JP-2075: fixed flux scaling issues in wfss_contam
  CHANGES.rst
  jwst/wfss_contam/disperse.py
  jwst/wfss_contam/observations.py
  jwst/wfss_contam/tests/__init__.py
  jwst/wfss_contam/tests/data/__init__.py
  jwst/wfss_contam/tests/data/grism_wcs.asdf
  jwst/wfss_contam/tests/data/segmentation_wcs.asdf
  jwst/wfss_contam/tests/test_observations.py
Labels: testing, Wide Field Slitless Spec (WFSS), wfss_contam

#8453 JP-3609: Change treatment of MIRI MRS values with no photom info
  CHANGES.rst
  jwst/photom/photom.py
Labels: photom, MIRI MRS

#8461 JP-3612: Fix MOS background slit source position
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
Labels: assign_wcs, NIRSPEC, testing

#8466 clarify checklist in PR template
  .github/pull_request_template.md
Labels: no-changelog-entry-needed, automation

#8463 JP-3613: Update error arrays to match NaN in data
  CHANGES.rst
  jwst/flatfield/flat_field.py
  jwst/regtest/test_nirspec_steps_spec2.py
Labels: flatfield, NIRSPEC, spec2 pipeline, regression_testing

#8449 JP-3595: handling for NIRCam GRISM Time Series Pointing offset SR
  CHANGES.rst
  docs/jwst/extract_2d/main.rst
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/tests/test_nircam.py
  jwst/extract_2d/grisms.py
  jwst/extract_2d/tests/test_grisms.py
  jwst/regtest/test_nircam_tsgrism.py
Labels: assign_wcs, extract_2d, NIRCAM, testing, documentation, regression_testing

#8450 JP-3604: Fix possible crashes in the alignment to abs catalog
  CHANGES.rst
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg

#8470 JP-3616: Fix NIRSpec FS spec3 slit name
  CHANGES.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/tests/test_extract_1d_step.py
Labels: extract_1d, testing

#8428 remove calls to Step.closeout in tests
  jwst/stpipe/tests/test_saving.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing, no-changelog-entry-needed

#8477 Regression test for JP-3604
  CHANGES.rst
  jwst/regtest/test_niriss_image.py
Labels: tweakreg, NIRISS, regression_testing

#8481 adding tests for changes in JP-3311 and minor fixes
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_spec.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/regtest/test_miri_lrs_slit_spec3.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
Labels: outlier_detection, resample, NIRSPEC, MIRI, testing, spec3 pipeline, regression_testing, resample_spec

#8424 JP-3603: reorder tweakreg to reduce iterations through models
  CHANGES.rst
  jwst/assign_wcs/util.py
  jwst/datamodels/container.py
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: assign_wcs, tweakreg, datamodels, testing

#8489 Fix failure in niriss tweakreg test
  jwst/regtest/test_niriss_image.py
Labels: NIRISS, no-changelog-entry-needed, regression_testing, regression-test

#8487 JP-3625: Switch to IRAF starfinder default
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tweakreg_catalog.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, documentation

#8490 JP-3614: relaxed tolerance for coron unit test
  jwst/coron/tests/test_coron.py
Labels: testing, coron3 pipeline, no-changelog-entry-needed

#8457 JP-3470: Add ifu covariance scaling to extract1d
  CHANGES.rst
  docs/jwst/extract_1d/arguments.rst
  docs/jwst/extract_1d/description.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS, NIRSpec IFU, documentation

#8355 JP-3121: Updating JWST Ramp Fit Code to Work with New C Extension
  CHANGES.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting, testing

#8503 JP-3632: Change the Spec of Ramp Fitting to Select Algorithm
  CHANGES.rst
  docs/jwst/ramp_fitting/arguments.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting, documentation

#8505 bump `stcal` to recent `1.7.1` release
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8488 JP-3281: Change resampling defaults to NaN padding instead of INDEF
  CHANGES.rst
  docs/jwst/resample/arguments.rst
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_step.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing, documentation

#8409 JP-3566 Move pixel replace before resample/cube build
  CHANGES.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/calwebb_tso3.py
  jwst/pixel_replace/pixel_replace.py
  jwst/pixel_replace/pixel_replace_step.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
  jwst/regtest/test_miri_lrs_slitless.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_ifu_spec3.py
Labels: pipeline, NIRSPEC, MIRI, spec2 pipeline, spec3 pipeline, documentation, tso3 pipeline, regression_testing, pixel replacement

#8515 JP-3637: Add error propagation during IFU annular background subtraction
  CHANGES.rst
  jwst/extract_1d/ifu.py
Labels: extract_1d, MIRI MRS, NIRSpec IFU

#8473 JP-3584: Use rolling window median for TSO outlier detection
  CHANGES.rst
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/outlier_detection/index.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/outlier_detection/outlier_detection_step.rst
  docs/jwst/outlier_detection/outlier_detection_tso.rst
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/outlier_detection_tso.py
  jwst/outlier_detection/tests/test_algorithms.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/pipeline/calwebb_tso3.py
Labels: outlier_detection, pipeline, MIRI, testing, documentation, tso3 pipeline, regression_testing

#8511 JP-3624: Fix a source of errors in resampled spec WCS
  CHANGES.rst
  jwst/resample/resample_spec.py
Labels: resample, MIRI LRS, resample_spec

#8442 JP-2922: Use new source_id syntax for level-3 products
  CHANGES.rst
  docs/jwst/data_products/file_naming.rst
  docs/jwst/data_products/msa_metadata.rst
  docs/jwst/exp_to_source/main.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/associations/lib/rules_level3_base.py
  jwst/exp_to_source/exp_to_source.py
  jwst/msaflagopen/tests/test_msa_open.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/pipeline/calwebb_spec3.py
  jwst/regtest/test_niriss_wfss.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/regtest/test_nirspec_mos_spec2.py
  jwst/regtest/test_nirspec_mos_spec3.py
  jwst/resample/tests/test_resample_step.py
Labels: assign_wcs, associations, outlier_detection, pipeline, resample, NIRSPEC, NIRISS, testing, exp_to_source, spec2 pipeline, spec3 pipeline, NIRSPEC MSA, documentation, Wide Field Slitless Spec (WFSS), msa_flagging, regression_testing
