Repository spacetelescope/jwst, pull requests merged in 2024-06, with the labels that each got.

#8528 JP-3500 Create WFSS Pure-Parallel associations
  CHANGES.rst
  jwst/associations/lib/constraint.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/data/pool_034_wfss_parallel.csv
  jwst/associations/tests/test_constraints.py
  jwst/regtest/test_associations_standards.py
Labels: associations, testing, Wide Field Slitless Spec (WFSS), regression_testing

#8476 Add a check for separation and tolerance in tweakreg
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_niriss_image.py
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, NIRISS, testing, documentation, regression_testing

#8533 JP-2922: Minor fixes for MSA source names
  CHANGES.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/master_background/master_background_mos_step.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_nirspec_corrections.py
Labels: assign_wcs, NIRSPEC, testing, master_background

#8508 JP-3629: Add new non-header keywords in local pool generator
  CHANGES.rst
  jwst/associations/mkpool.py
  jwst/associations/tests/test_mkpool.py
Labels: associations, testing

#8520 JP-3641: Fix error propagation for combine_1d
  CHANGES.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/tests/test_dq_err.py
Labels: combine_1d, testing, spec3 pipeline

#8530 JP-3642: Fix aperture correction to variance arrays
  CHANGES.rst
  jwst/extract_1d/apply_apcorr.py
Labels: extract_1d, apcorr

#8532 JP-3643: Add background error propagation for non-IFU spectral extraction
  CHANGES.rst
  jwst/extract_1d/extract1d.py
Labels: extract_1d

#8539 remove name_format usage in wfs_combine
  jwst/wfs_combine/wfs_combine_step.py
Labels: wfs_combine, no-changelog-entry-needed

#8376 JP-3330: Add NIRSpec wavelength corrections to slit WCS
  CHANGES.rst
  docs/jwst/pathloss/description.rst
  docs/jwst/wavecorr/description.rst
  jwst/flatfield/flat_field.py
  jwst/lib/tests/test_wcs_utils.py
  jwst/lib/wcs_utils.py
  jwst/pathloss/pathloss.py
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
Labels: flatfield, NIRSPEC, testing, spec2 pipeline, documentation, path loss, wavecorr

#8543 Fix MIRI LRS spec3 regtest setup
  jwst/regtest/test_miri_lrs_slit_spec3.py
Labels: MIRI, spec3 pipeline, no-changelog-entry-needed, regression_testing, regression-test

#8529 JP-3567: SIP coefficient accuracy and consistency
  CHANGES.rst
  docs/jwst/assign_wcs/arguments.rst
  docs/jwst/assign_wcs/main.rst
  docs/jwst/tweakreg/README.rst
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/tests/test_wcs.py
  jwst/assign_wcs/util.py
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: assign_wcs, tweakreg, testing, image2 pipeline, image3 pipeline, documentation

#8537 JP-3173: Add NIRSpec optical path constraints for TSO associations
  CHANGES.rst
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/tests/data/pool_021_tso.csv
  jwst/associations/tests/data/pool_022_tso_noflag.csv
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, NIRSPEC, testing, regression_testing, tso

#8504 JP-3447: Interpolate errors for replaced pixels
  CHANGES.rst
  docs/jwst/pixel_replace/arguments.rst
  docs/jwst/pixel_replace/main.rst
  docs/jwst/pixel_replace/reference_files.rst
  jwst/pipeline/calwebb_spec3.py
  jwst/pixel_replace/pixel_replace.py
  jwst/pixel_replace/tests/__init__.py
  jwst/pixel_replace/tests/test_pixel_replace.py
Labels: pipeline, NIRSPEC, MIRI, testing, spec2 pipeline, spec3 pipeline, documentation, tso3 pipeline, pixel replacement

#8546 JP-2682: Discontinue use of drizpars reference file
  CHANGES.rst
  docs/jwst/references_general/drizpars_reffile.inc
  docs/jwst/references_general/drizpars_selection.inc
  docs/jwst/references_general/references_general.rst
  docs/jwst/resample/main.rst
  docs/jwst/resample/reference_files.rst
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
Labels: resample, documentation, reference files, resample_spec

#8542 use stpipe.crds_client.reference_uri_to_cache_path
  jwst/msaflagopen/msaflagopen_step.py
  jwst/wavecorr/tests/test_wavecorr.py
Labels: testing, msa_flagging, wavecorr, no-changelog-entry-needed

#8556 Update README for B10.2 install in Ops
  README.md
Labels: installation, no-changelog-entry-needed

#8555 JP-3584-bugfix: fixed failed save for intermediate (median) files
  jwst/outlier_detection/outlier_detection_tso.py
  jwst/regtest/test_miri_lrs_slitless.py
Labels: outlier_detection, no-changelog-entry-needed, regression_testing

#8547 JP-3653: Nsclean speedup
  CHANGES.rst
  jwst/nsclean/lib.py
Labels: NIRSPEC, nsclean

#8553 JP-3635: Account for pixel area ratio in outlier detection blotting
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/resample/resample.py
  jwst/resample/tests/test_resample_step.py
Labels: outlier_detection, resample, NIRCAM, testing, regression_testing

#8549 Add check for uncalibrated filters for NIRISS SOSS
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
Labels: associations, NIRISS SOSS

#8500 JP-3581: badpix_selfcal step
  CHANGES.rst
  docs/jwst/badpix_selfcal/arguments.rst
  docs/jwst/badpix_selfcal/description.rst
  docs/jwst/badpix_selfcal/index.rst
  docs/jwst/badpix_selfcal/reference_files.rst
  docs/jwst/package_index.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  jwst/badpix_selfcal/__init__.py
  jwst/badpix_selfcal/badpix_selfcal.py
  jwst/badpix_selfcal/badpix_selfcal_step.py
  jwst/badpix_selfcal/tests/__init__.py
  jwst/badpix_selfcal/tests/test_badpix_selfcal.py
  jwst/lib/suffix.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/tests/test_calwebb_spec2.py
  jwst/regtest/test_miri_mrs_badpix_selfcal.py
  jwst/step.py
  jwst/stpipe/integration.py
Labels: pipeline, stpipe, MIRI, testing, MIRI MRS, spec2 pipeline, NIRSpec IFU, documentation, regression_testing, master_background, badpix_selfcal

#8565 pin numpy<2
  CHANGES.rst
  pyproject.toml
Labels: installation, infrastructure

#8467 JP-3102: NIRSpec combined MOS/FS processing
  CHANGES.rst
  docs/jwst/data_products/msa_metadata.rst
  docs/jwst/exp_to_source/main.rst
  docs/jwst/flatfield/main.rst
  docs/jwst/master_background/description.rst
  docs/jwst/nsclean/main.rst
  docs/jwst/photom/main.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/pipeline/calwebb_spec3.rst
  docs/jwst/wavecorr/description.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/data/msa_fs_configuration.fits
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/exp_to_source/exp_to_source.py
  jwst/exp_to_source/tests/test_exp_to_source.py
  jwst/extract_1d/extract.py
  jwst/extract_2d/nirspec.py
  jwst/extract_2d/tests/test_nirspec.py
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_flatfield.py
  jwst/lib/wcs_utils.py
  jwst/master_background/expand_to_2d.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_nirspec_corrections.py
  jwst/nsclean/nsclean.py
  jwst/photom/photom.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_spec3.py
  jwst/regtest/test_nirspec_mos_fs_spec2.py
  jwst/regtest/test_nirspec_mos_fs_spec3.py
  jwst/srctype/srctype.py
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
Labels: assign_wcs, extract_1d, extract_2d, flatfield, photom, pipeline, NIRSPEC, testing, exp_to_source, spec2 pipeline, spec3 pipeline, documentation, wavecorr, regression_testing, master_background, source type

#8574 remove requirements-max.txt
  JenkinsfileRT
  requirements-max.txt
Labels: installation, no-changelog-entry-needed, regression_testing, automation

#8568 remove end in ami log messages
  jwst/ami/leastsqnrm.py
  jwst/ami/nrm_core.py
Labels: ami, no-changelog-entry-needed

#8585 Do not set conda version in Jenkinsfile(s)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: no-changelog-entry-needed, regression_testing, automation

#8475 JP-3618: Add intermediate LRS slit wcs reference frame
  CHANGES.rst
  jwst/assign_wcs/miri.py
Labels: assign_wcs, MIRI, MIRI LRS

#8577 unpin stsci.imagestats
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8586 JP-3660: extract1d _coalesce_bounds fix
  CHANGES.rst
  jwst/extract_1d/extract1d.py
Labels: extract_1d

#8582 Update MIRI MRS background documentation table
  CHANGES.rst
  docs/jwst/background_subtraction/main.rst
Labels: MIRI MRS, documentation

#8575 JP-3662: skip photom step for SOSS full-frame non-TSO exposure
  CHANGES.rst
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
  jwst/pipeline/calwebb_spec2.py
Labels: photom, pipeline, testing, spec2 pipeline, NIRISS SOSS

#8592 increase stdatamodels and stpipe versions
  CHANGES.rst
  pyproject.toml
Labels: installation

#8583 JP-3665: fix calwebb_tso3 failures for SOSS data in FULL subarray
  CHANGES.rst
  jwst/pipeline/calwebb_tso3.py
Labels: pipeline, NIRISS SOSS, tso3 pipeline

#8598 bump GWCS pin to `>=0.21.0,<0.23.0`
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8595 remove unused nlow nhigh parameters from outlier detection
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/outlier_detection/outlier_detection_tso.rst
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection, documentation, no-changelog-entry-needed

#8593 JP-3593: Fix 2nd/3rd group saturation for NIRSpec IRS2
  CHANGES.rst
  docs/jwst/saturation/description.rst
  jwst/saturation/saturation.py
  jwst/saturation/tests/test_saturation.py
Labels: saturation, NIRSPEC, testing, documentation, IRS2 readout

#8597 JP-3523: Use zero background instead of NaN background where undefined
  CHANGES.rst
  jwst/master_background/expand_to_2d.py
Labels: MIRI MRS, NIRSpec IFU, master_background

#8569 JP-3648: Move NIRSpec FS point source position assignment out of wavecorr
  CHANGES.rst
  docs/jwst/extract_2d/main.rst
  docs/jwst/wavecorr/description.rst
  jwst/extract_2d/nirspec.py
  jwst/extract_2d/tests/test_nirspec.py
  jwst/srctype/srctype.py
  jwst/srctype/tests/test_srctype.py
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
  jwst/wavecorr/wavecorr_step.py
Labels: extract_2d, NIRSPEC, testing, spec2 pipeline, documentation, wavecorr, regression_testing, source type, NIRSpec FS

#8602 Revert "remove unused nlow nhigh parameters from outlier detection"
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/outlier_detection/outlier_detection_tso.rst
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection, documentation, no-changelog-entry-needed

#8603 deprecate nlow nhigh, fix incorrect spec values in docs
  CHANGES.rst
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/outlier_detection/outlier_detection_tso.rst
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection, documentation

#8607 JP-3671: make OLS_C the default algorithm for ramp fitting
  CHANGES.rst
  docs/jwst/ramp_fitting/arguments.rst
  jwst/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting, documentation

#8604 release metadata for B11.0rc1
  CHANGES.rst
  CITATION.cff
  README.md
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed

#8566 Pin numpy<2.0 in 1.14.0 release branch, to allow RTD to build
  pyproject.toml
Labels: documentation, installation, no-changelog-entry-needed, infrastructure

#8615 fix ruff style check
  jwst/lib/engdb_direct.py
  tox.ini
Labels: testing, engdb_tools, no-changelog-entry-needed
