Repository spacetelescope/jwst, pull requests merged in 2024-08, with the labels that each got.

#8686 Reset 'seen' flag in log watcher after check
  jwst/tests/helpers.py
Labels: testing, no-changelog-entry-needed

#8675 JP-3696: Ensure EMICORR correction is never NaN
  CHANGES.rst
  jwst/emicorr/emicorr.py
Labels: MIRI, emicorr

#8660 replace usage of `copy_arrays=True` with `memmap=False`
  CHANGES.rst
  jwst/lib/set_telescope_pointing.py
Labels: no-changelog-entry-needed

#8663 Remove stsci.image dependency
  CHANGES.rst
  pyproject.toml
Labels: installation

#8691 don't build for python 3.13
  .github/workflows/build.yml
Labels: no-changelog-entry-needed, automation

#8693 update test to allow easier deprecation of `ignore_version_mismatch`
  jwst/assign_wcs/tests/test_schemas.py
Labels: assign_wcs, testing, no-changelog-entry-needed

#8702 [SCSB-169] add user input to specify `CRDS_CONTEXT`
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation

#8703 [SCSB-170] pin Python<3.13
  .github/workflows/build.yml
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, automation

#8706 update dep for stcal to released version
  CHANGES.rst
  pyproject.toml
Labels: installation

#8701 TST: Use photutils nightly wheel
  requirements-dev-thirdparty.txt
Labels: installation, no-changelog-entry-needed

#8700 Documentation typo
  docs/jwst/data_products/guidestar_products.rst
Labels: documentation, no-changelog-entry-needed

#8713 bump stpipe
  CHANGES.rst
  pyproject.toml
Labels: installation

#8696 Update log messages containing newlines
  jwst/ami/leastsqnrm.py
  jwst/assign_wcs/assign_wcs_step.py
  jwst/associations/association.py
  jwst/dark_current/dark_current_step.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract1d.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/tests/stp_v1.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pixel_replace/pixel_replace_step.py
  jwst/scripts/adjust_wcs.py
  jwst/scripts/set_telescope_pointing.py
  jwst/scripts/v1_calculate.py
  jwst/tweakreg/tweakreg_step.py
Labels: ami, assign_wcs, associations, dark_current, extract_1d, pipeline, tweakreg, testing, spec2 pipeline, no-changelog-entry-needed

#8699 JP-3702: Fix filenames for level3 NIRSpec
  CHANGES.rst
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_level3_product_names.py
Labels: associations, NIRSPEC, testing

#8716 Add changelog to docs
  CHANGES.rst
  docs/index.rst
  docs/jwst/changes.rst
Labels: documentation

#8727 JP-3547: Fix MIRI array sizing for multiple inputs and pixel ratio != 1
  CHANGES.rst
  jwst/resample/resample_spec.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, MIRI, testing

#8735 JP-3719: Fix names for intermediate spectral outlier detection files
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection_spec.rst
  jwst/outlier_detection/imaging.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/spec.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/tests/test_resample_step.py
Labels: outlier_detection, resample, testing, documentation

#8728 JP-3649 Fix cube build error when called from mrs_imatch and add deprecated warning for mrs_imatch
  CHANGES.rst
  docs/jwst/mrs_imatch/description.rst
  jwst/cube_build/ifu_cube.py
  jwst/mrs_imatch/mrs_imatch_step.py
  jwst/mrs_imatch/tests/test_configuration.py
Labels: cube_build, MIRI, testing, documentation, mrs_imatch
