Repository spacetelescope/jwst, pull requests merged in 2024-12, with the labels that each got.

#8982 update test for numpy 2 compatibility
  jwst/lib/tests/test_engdb_mast.py
Labels: testing, no-changelog-entry-needed, run devdeps tests

#8966 bump asdf upper pin
  changes/8966.general.rst
  pyproject.toml
Labels: installation

#8890 JP-3677: Add maximum_shower_amplitude parameter to jump step
  changes/8890.jump.rst
  docs/jwst/jump/arguments.rst
  docs/jwst/jump/description.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
Labels: jump, documentation

#8970 avoid file clobbering in okify
  jwst/scripts/okify_regtests.py
Labels: no-changelog-entry-needed

#8847 JP-3598: The ResampleSpecStep and Extract1DStep within MasterBackgroundMosStep are inaccessible
  changes/8847.master_background.rst
  docs/jwst/master_background/description.rst
  jwst/master_background/master_background_mos_step.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_master_background_mos.py
Labels: NIRSPEC, testing, documentation, master background, master_background

#8978 JP-3664: Fix shuttrid negative values under numpy 2
  changes/8978.assign_wcs.rst
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs, NIRSPEC

#8846 JP-3718: Improve AMI observable averaging, error calculations
  changes/8846.ami.rst
  docs/jwst/ami_analyze/description.rst
  docs/jwst/pipeline/calwebb_ami3.rst
  jwst/ami/ami_analyze_step.py
  jwst/ami/instrument_data.py
  jwst/ami/leastsqnrm.py
  jwst/ami/lg_model.py
  jwst/ami/oifits.py
  jwst/ami/tests/test_ami_interface.py
  jwst/ami/utils.py
Labels: ami, testing, documentation, installation

#8957 remove `okify_regtests` script (moved to `ci_watson`)
  changes/8957.general.rst
  jwst/scripts/tests/test_scripts.py
  pyproject.toml
Labels: testing, installation

#9002 Update MIRI MRS spec3 regtest for new cube defaults
  jwst/regtest/test_miri_mrs_spec3.py
Labels: MIRI, spec3 pipeline, no-changelog-entry-needed, regression_testing

#8987 [CI] set default CRDS context to `jwst-edit`
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/contexts.yml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation

#8961 JP-3753: Refactor extract1d
  changes/8961.extract_1d.rst
  docs/jwst/extract_1d/arguments.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/extract_1d/extract1d_api.rst
  docs/jwst/extract_1d/index.rst
  docs/jwst/extract_1d/reference_image.rst
  docs/jwst/references_general/extract1d_reffile.inc
  jwst/datamodels/container.py
  jwst/datamodels/tests/test_model_container.py
  jwst/extract_1d/apply_apcorr.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract1d.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/ifu.py
  jwst/extract_1d/tests/conftest.py
  jwst/extract_1d/tests/test_expected_skips.py
  jwst/extract_1d/tests/test_extract.py
  jwst/extract_1d/tests/test_extract_1d_step.py
  jwst/extract_1d/tests/test_extract_src_flux.py
  jwst/extract_1d/tests/test_fit_background_model.py
  jwst/extract_1d/tests/test_ifu_image_ref.py
  jwst/pixel_replace/pixel_replace_step.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
  jwst/regtest/test_nirspec_bots_extract1d.py
Labels: extract_1d, datamodels, NIRSPEC, MIRI, testing, spec2 pipeline, documentation, regression_testing

#8974 JP-3739: Update NRM geometry, affine distortion use
  changes/8974.ami.rst
  docs/jwst/ami_analyze/description.rst
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
  jwst/ami/find_affine2d_parameters.py
  jwst/ami/instrument_data.py
  jwst/ami/leastsqnrm.py
  jwst/ami/lg_model.py
  jwst/ami/mask_definition_ami.py
  jwst/ami/mask_definitions.py
  jwst/ami/nrm_core.py
  jwst/ami/oifits.py
  jwst/ami/tests/test_ami_interface.py
Labels: ami, testing, documentation, installation

#8983 JP-3745: Fixed SUBSTRIP96 flux drop
  changes/8983.extract_1d.rst
  jwst/extract_1d/soss_extract/soss_extract.py
Labels: extract_1d

#8963 Make sure bounding box is attached as order F
  changes/8963.assign_wcs.rst
  jwst/assign_wcs/fgs.py
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/assign_wcs/util.py
  jwst/barshadow/bar_shadow.py
  jwst/extract_2d/grisms.py
Labels: assign_wcs, extract_2d, MIRI, NIRISS, FGS, NIRCAM, bar shadow

#9009 rename pytest plugin to pytest_jwst include in wheel
  pyproject.toml
  pytest_jwst/__init__.py
  pytest_jwst/plugin.py
Labels: installation, no-changelog-entry-needed

#9010 pin stcal to commit
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8990 JP-1136: Compute scaling for WFSS background subtraction using error-weighted mean
  changes/8990.background.rst
  docs/jwst/background_step/arguments.rst
  docs/jwst/background_step/description.rst
  jwst/background/background_step.py
  jwst/background/background_sub.py
  jwst/background/background_sub_wfss.py
  jwst/background/tests/conftest.py
  jwst/background/tests/test_background.py
  jwst/background/tests/test_background_wfss.py
Labels: background, testing, documentation, Wide Field Slitless Spec (WFSS), regression_testing

#8554 AL-852: GWCS inverse transform should respect its bounding box
  changes/8554.assign_wcs.rst
  changes/8554.resample.rst
  changes/8554.skymatch.rst
  jwst/assign_wcs/miri.py
  jwst/assign_wcs/util.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
  jwst/resample/tests/test_utils.py
  jwst/skymatch/skyimage.py
  jwst/tweakreg/tests/test_multichip_jwst.py
  pyproject.toml
Labels: assign_wcs, outlier_detection, resample, skymatch, tweakreg, MIRI, testing, installation

#9021 update minimum deps
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8726 JP-3622 Update refpix step for NIR detectors to use convolution kernel
  changes/8726.refpix.rst
  docs/jwst/refpix/arguments.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/optimized_convolution.py
  jwst/refpix/reference_pixels.py
  jwst/refpix/refpix_step.py
  jwst/refpix/tests/test_optimized_convolution.py
  jwst/refpix/tests/test_refpix.py
  jwst/regtest/test_nircam_image.py
Labels: refpix, NIRCAM, testing, documentation, regression_testing

#9025 Prepare for post-1.17.0 development
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed

#9019 JP-3784: Fix off-nominal pixel_replace and cube_build output names
  changes/9019.pixel_replace.rst
  jwst/cube_build/data_types.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/tests/test_cube_build_step.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pixel_replace/pixel_replace.py
  jwst/pixel_replace/pixel_replace_step.py
  jwst/pixel_replace/tests/test_pixel_replace.py
  jwst/stpipe/tests/test_utilities.py
  jwst/stpipe/utilities.py
Labels: cube_build, pipeline, stpipe, testing, spec3 pipeline

#9027 Add suffix for SIRS refpix output so it can be okified
  jwst/regtest/test_nircam_image.py
Labels: NIRCAM, no-changelog-entry-needed, regression_testing

#9037 Bugfix for SIRS reference pixel subtraction
  changes/9037.refpix.rst
  jwst/refpix/refpix_step.py
  jwst/regtest/test_nircam_image.py
Labels: refpix, NIRCAM, regression_testing
