Repository spacetelescope/jwst, pull requests merged in 2024-07, with the labels that each got.

#8617 add `1.14.1` release to README table
  README.md
Labels: documentation, no-changelog-entry-needed

#8623 minor fixes to outlier detection tso unit test
  jwst/outlier_detection/tests/test_outlier_detection.py
Labels: outlier_detection, testing, no-changelog-entry-needed

#8629 metadata for release `1.15.1` (`B11.0rc2`)
  CHANGES.rst
  CITATION.cff
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed

#8627 add Brett Graham to citation
  CITATION.cff
Labels: no-changelog-entry-needed

#8600 JP-3631: remove direct setting of self.skip within calibration steps
  CHANGES.rst
  jwst/cube_build/cube_build_step.py
  jwst/master_background/master_background_mos_step.py
  jwst/master_background/master_background_step.py
  jwst/master_background/nirspec_utils.py
  jwst/master_background/tests/test_nirspec_corrections.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pixel_replace/pixel_replace_step.py
  jwst/stpipe/__init__.py
  jwst/stpipe/core.py
  jwst/stpipe/tests/test_utilities.py
  jwst/stpipe/utilities.py
  jwst/tweakreg/tweakreg_step.py
Labels: cube_build, pipeline, tweakreg, stpipe, NIRSPEC, testing, spec2 pipeline, spec3 pipeline, regression_testing, master_background

#8633 RTD: Restore tags for all branches
  .readthedocs.yaml
Labels: documentation, no-changelog-entry-needed

#8642 Adding version information to the landing page
  docs/index.rst
Labels: documentation, no-changelog-entry-needed

#8628 refactor msa fail/nofail and association duplicate tests to not use caplog
  jwst/associations/tests/test_level3_duplicate.py
  jwst/regtest/test_nirspec_exceptions.py
  jwst/tests/helpers.py
Labels: associations, NIRSPEC, testing, no-changelog-entry-needed, regression_testing

#8645 JP-3687: fix outlier_detection failures when run outside pipeline
  CHANGES.rst
  jwst/outlier_detection/outlier_detection.py
Labels: outlier_detection

#8630 Remove some unused modules
  jwst/associations/asn_edit.py
  jwst/associations/association.py
  jwst/associations/pool.py
  jwst/fits_generator/main.py
  jwst/fits_generator/objects.py
  jwst/fits_generator/template.py
Labels: associations, fits_generator, no-changelog-entry-needed

#8644 RTD: Clear the dirty git index flag
  .readthedocs.yaml
Labels: documentation, no-changelog-entry-needed

#8619 remove non-working or out-dated scripts
  CHANGES.rst
  jwst/scripts/assign_wcs.py
  jwst/scripts/coron.py
  jwst/scripts/cube_build.py
  jwst/scripts/dark_current.py
  jwst/scripts/data_generate.py
  jwst/scripts/dqinit.py
  jwst/scripts/flatfieldcorr.py
  jwst/scripts/fringecorr.py
  jwst/scripts/ipc.py
  jwst/scripts/jump.py
  jwst/scripts/linearitycorr.py
  jwst/scripts/make_header.py
  jwst/scripts/outlier_detection.py
  jwst/scripts/persistencecorr.py
  jwst/scripts/photomcorr.py
  jwst/scripts/rampfitcorr.py
  jwst/scripts/refpix.py
  jwst/scripts/resample.py
  jwst/scripts/saturationcorr.py
  jwst/scripts/straylight.py
  jwst/scripts/superbias.py
  jwst/scripts/tests/test_scripts.py
Labels: testing, coron3 pipeline

#8620 JP-3634: Fix for custom WCS unit test
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing, no-changelog-entry-needed

#8658 docs(README): link CRDS PUB
  README.md
Labels: documentation, no-changelog-entry-needed

#8652 lint `jwst/fits_generator` and `jwst/associations`
  jwst/associations/asn_gather.py
  jwst/associations/generator/generate.py
  jwst/associations/lib/association_rules.py
  jwst/associations/lib/constraint.py
  jwst/associations/lib/diff.py
  jwst/associations/lib/dms_base.py
  jwst/associations/lib/lv2_v1_to_v2.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level2b.py
  jwst/associations/lib/rules_level3.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/lib/update_path.py
  jwst/associations/tests/data/asn_rules_set1.py
  jwst/associations/tests/data/asn_rules_set2.py
  jwst/associations/tests/data/dms_rules.py
  jwst/associations/tests/data/rules_basic.py
  jwst/associations/tests/data/rules_level3_set1.py
  jwst/associations/tests/data/rules_level3_set2.py
  jwst/associations/tests/helpers.py
  jwst/associations/tests/test_asn_names.py
  jwst/associations/tests/test_associations.py
  jwst/associations/tests/test_level3_basics.py
  jwst/associations/tests/test_level3_duplicate.py
  jwst/associations/tests/test_level3_wfscmb.py
  jwst/associations/tests/test_pool.py
  jwst/associations/tests/test_process_list.py
  jwst/associations/tests/test_registry.py
  jwst/fits_generator/input_file_types.py
  jwst/fits_generator/main.py
  jwst/fits_generator/objects.py
  jwst/fits_generator/proposalparser.py
  jwst/fits_generator/template.py
  jwst/fits_generator/verifiers.py
  pyproject.toml
Labels: associations, fits_generator, testing, installation, no-changelog-entry-needed

#8659 unlink deleted scripts from build metadata
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8653 JP-3312 Support Update from RHEL7 to RHEL9
  jwst/regtest/test_miri_image.py
Labels: MIRI, no-changelog-entry-needed, regression_testing

#8609 JP-3657: Part 1 of a NIRSpec BOTS speedup
  CHANGES.rst
  jwst/extract_1d/apply_apcorr.py
  jwst/extract_1d/extract.py
Labels: extract_1d, NIRSPEC

#8624 JP-3668: Move tweakreg into stcal
  CHANGES.rst
  docs/jwst/tweakreg/README.rst
  docs/jwst/tweakreg/astrometric_utils.rst
  docs/jwst/tweakreg/index.rst
  jwst/assign_wcs/assign_wcs_step.py
  jwst/assign_wcs/util.py
  jwst/resample/resample.py
  jwst/resample/resample_utils.py
  jwst/tweakreg/astrometric_utils.py
  jwst/tweakreg/tests/test_amutils.py
  jwst/tweakreg/tests/test_multichip_jwst.py
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tests/test_utils.py
  jwst/tweakreg/tweakreg_step.py
  jwst/tweakreg/utils.py
  pyproject.toml
Labels: assign_wcs, cube_build, resample, tweakreg, testing, documentation, installation

#8527 [SCSB-155] build with Numpy 2.0
  CHANGES.rst
  pyproject.toml
Labels: installation, run devdeps tests

#8677 fix bug in AmiAverageStep spec that prevents step creation
  CHANGES.rst
  jwst/ami/ami_average_step.py
  jwst/ami/tests/test_ami_average.py
Labels: ami, testing

#8643 JP-3628: Revise coron3 alignment step
  CHANGES.rst
  docs/jwst/align_refs/description.rst
  jwst/coron/imageregistration.py
  jwst/coron/tests/test_coron.py
Labels: testing, coron3 pipeline, documentation

#8613 Outlier detection refactoring
  CHANGES.rst
  docs/jwst/outlier_detection/index.rst
  docs/jwst/outlier_detection/outlier_detection_coron.rst
  docs/jwst/outlier_detection/outlier_detection_ifu.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/outlier_detection/outlier_detection_spec.rst
  docs/jwst/outlier_detection/outlier_detection_step.rst
  docs/jwst/outlier_detection/outlier_detection_tso.rst
  jwst/badpix_selfcal/badpix_selfcal.py
  jwst/outlier_detection/_fileio.py
  jwst/outlier_detection/coron.py
  jwst/outlier_detection/ifu.py
  jwst/outlier_detection/imaging.py
  jwst/outlier_detection/outlier_detection.py
  jwst/outlier_detection/outlier_detection_ifu.py
  jwst/outlier_detection/outlier_detection_spec.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/outlier_detection/outlier_detection_tso.py
  jwst/outlier_detection/spec.py
  jwst/outlier_detection/tests/test_algorithms.py
  jwst/outlier_detection/tests/test_outlier_detection.py
  jwst/outlier_detection/tso.py
  jwst/outlier_detection/utils.py
  jwst/pipeline/calwebb_coron3.py
  jwst/pipeline/calwebb_image3.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/calwebb_tso3.py
  jwst/resample/resample.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_spec_step.py
  jwst/resample/resample_step.py
  jwst/resample/tests/test_resample_step.py
  pyproject.toml
Labels: outlier_detection, pipeline, resample, testing, image3 pipeline, coron3 pipeline, spec3 pipeline, documentation, tso3 pipeline, installation
