Repository spacetelescope/jwst, pull requests merged in 2024-02, with the labels that each got.

#8251 Silence resample test warning by using non-zero data
  jwst/resample/tests/test_resample_step.py
Labels: testing, no-changelog-entry-needed

#8261 JP-3532: MRS 1d residual fringe treatment of negative values
  CHANGES.rst
  jwst/residual_fringe/utils.py
Labels: MIRI MRS, residual_fringe

#8225 JP-3325: bypass extract1d for SOSS observations in FULL subarray
  CHANGES.rst
  docs/jwst/references_general/drizpars_reffile.inc
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/tests/test_expected_skips.py
  jwst/photom/photom.py
  jwst/photom/photom_step.py
  jwst/photom/tests/test_photom.py
Labels: extract_1d, photom, resample, testing, documentation, NIRISS SOSS

#8187 JP-3247: Retrieve pixel area from AREA reference file
  CHANGES.rst
  docs/jwst/photom/main.rst
  jwst/photom/photom.py
Labels: photom, documentation

#8266 remove unused test data files
  jwst/datamodels/tests/data/nircam_abvega_offset.asdf
  jwst/datamodels/tests/data/nonstandard_primary_array.schema.json
  jwst/datamodels/tests/data/nonstandard_primary_array.schema.yaml
  jwst/datamodels/tests/data/sip.fits
Labels: datamodels, NIRCAM, testing, no-changelog-entry-needed

#8271 Release metadata for 1.13.4
  CHANGES.rst
  CITATION.cff
  README.md
Labels: documentation, no-changelog-entry-needed

#8263 JP-3488 Input files to outlier_detection accidentally deleted
  CHANGES.rst
  jwst/outlier_detection/outlier_detection_step.py
Labels: outlier_detection

#8272 JP-3223: Extract_2d 'slit_name' parameter fails for NRS_MSASPEC slits
  CHANGES.rst
  jwst/extract_2d/nirspec.py
Labels: extract_2d, NIRSPEC, NIRSPEC MSA

#8265 JP-3499: Handle too much masked data for NIRISS SOSS extractions in extract_1d
  CHANGES.rst
  jwst/extract_1d/soss_extract/atoca.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/regtest/test_niriss_soss.py
Labels: extract_1d, NIRISS, testing, NIRISS SOSS, regression_testing

#8276 Update stcal requirement to 1.6.0
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8191 Fix: models_grouped always return opened data models
  CHANGES.rst
  jwst/datamodels/container.py
Labels: bug, datamodels

#8159 Use the same iscale value for resampling science data and variance arrays
  CHANGES.rst
  jwst/resample/resample.py
Labels: resample

#8277 Fix NIRISS imaging regression test
  jwst/regtest/test_niriss_image.py
Labels: NIRISS, no-changelog-entry-needed, regression_testing

#8267 use tuple of exception classes instead of `or`
  jwst/photom/photom.py
Labels: photom, no-changelog-entry-needed

#8253 JP-3525: Update jump and ramp_fitting docs to merge with stcal docs
  CHANGES.rst
  docs/conf.py
  docs/jwst/jump/arguments.rst
  docs/jwst/jump/description.rst
  docs/jwst/ramp_fitting/appendix.rst
  docs/jwst/ramp_fitting/arguments.rst
  docs/jwst/ramp_fitting/description.rst
Labels: jump, ramp_fitting, documentation

#8172 Add `SlicedLowLevelWCS` support to `reproject` and fix a bug
  CHANGES.rst
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
  jwst/resample/tests/test_utils.py
Labels: resample, testing

#8227 JP-3290 Isolate candidate processing into their own pools
  CHANGES.rst
  jwst/associations/__init__.py
  jwst/associations/association.py
  jwst/associations/generator/__init__.py
  jwst/associations/generator/generate.py
  jwst/associations/generator/generate_per_candidate.py
  jwst/associations/generator/generate_per_pool.py
  jwst/associations/lib/constraint.py
  jwst/associations/lib/process_list.py
  jwst/associations/lib/utilities.py
  jwst/associations/main.py
  jwst/associations/tests/test_asn_names.py
  jwst/associations/tests/test_constraints.py
  jwst/associations/tests/test_io.py
  jwst/associations/tests/test_level2_background.py
  jwst/associations/tests/test_level3_duplicate.py
  jwst/associations/tests/test_level3_spectrographic.py
  jwst/associations/tests/test_level3_wfs.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, testing, regression_testing

#8309 Convert tweakreg segmentation connectivity to integer
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg, no-changelog-entry-needed

#8291 JP-3539: replace all instances of deprecated scipy interp2d
  CHANGES.rst
  jwst/extract_1d/apply_apcorr.py
Labels: extract_1d

#8308 Suppress warnings about NaNs in input data from TweakRegStep
  CHANGES.rst
  jwst/source_catalog/detection.py
  jwst/tweakreg/tweakreg_catalog.py
Labels: source catalog, tweakreg

#8255 Add option to preserve reference pixels after IRS2 processing
  CHANGES.rst
  docs/jwst/refpix/arguments.rst
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/refpix_step.py
  jwst/refpix/tests/test_refpix.py
Labels: refpix, testing, documentation

#8312 JP-3423: fixed array shape mismatch in pixel_replace mingrad algorithm
  CHANGES.rst
  jwst/pixel_replace/pixel_replace.py
Labels: NIRSPEC, pixel replacement
