Repository spacetelescope/jwst, pull requests merged in 2024-03, with the labels that each got.

#8322 increase stdatamodels pins
  CHANGES.rst
  pyproject.toml
Labels: installation

#8319 Delete jump step unit test that has been moved to STCAL
  CHANGES.rst
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing

#8321 JP-3540: remove migrate_data and move_wcs scripts
  CHANGES.rst
  jwst/scripts/migrate_data.py
  jwst/scripts/move_wcs.py
  jwst/scripts/tests/test_scripts.py
  pyproject.toml
Labels: testing, installation

#8143 JP-3437: Address alternating column noise for NIRSpec IRS2
  CHANGES.rst
  docs/jwst/refpix/description.rst
  jwst/refpix/irs2_subtract_reference.py
  jwst/refpix/reference_pixels.py
  jwst/refpix/refpix_step.py
  jwst/refpix/tests/test_refpix.py
Labels: jump, refpix, NIRSPEC, testing, documentation, installation, IRS2 readout

#8328 pin pytest <8.1
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#8326 JP-3553: Update background step handling of multi-ints exposures
  CHANGES.rst
  jwst/background/background_sub.py
  jwst/regtest/test_miri_coron_image2.py
  jwst/regtest/test_miri_coron_rateint.py
Labels: background, MIRI, image2 pipeline, coron3 pipeline, regression_testing, regression-test

#8324 replace check_memory_allocation in resample
  CHANGES.rst
  jwst/resample/resample.py
Labels: resample, infrastructure

#8325 import bytes2human directly from stdatamodels
  jwst/lib/basic_utils.py
  jwst/resample/resample.py
Labels: resample, no-changelog-entry-needed

#8285 JP-2090: Update set_velocity_aberration to use DataModel
  CHANGES.rst
  jwst/lib/set_velocity_aberration.py
  jwst/lib/tests/test_velocity_aberration.py
  jwst/scripts/set_velocity_aberration.py
  jwst/scripts/tests/test_argparsers.py
Labels: testing, set_velocity_aberration

#8212 JP-3465: Use TMEASURE in resample step
  CHANGES.rst
  docs/jwst/resample/arguments.rst
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/resample/tests/test_resample_step.py
  jwst/resample/tests/test_utils.py
Labels: resample, testing, documentation

#8292 JP-3492 LRS spectral images contain pixels with NaN values and DQ = 0
  CHANGES.rst
  jwst/lib/basic_utils.py
  jwst/pathloss/pathloss.py
Labels: path loss

#8337 bump gwcs pins
  CHANGES.rst
  pyproject.toml
Labels: installation

#8336 JP-3560: Updating CHARGELOSS Flagging
  CHANGES.rst
  jwst/charge_migration/charge_migration.py
  jwst/charge_migration/tests/test_charge_migration.py
Labels: testing, charge_migration

#8294 JP-3088 fix bunit_data and bunit_err for MOS data products
  CHANGES.rst
  jwst/exp_to_source/exp_to_source.py
Labels: exp_to_source

#8334 JP-3541: fixed tweakreg step KeyError due to empty gaia catalog
  CHANGES.rst
  jwst/tweakreg/astrometric_utils.py
  jwst/tweakreg/tests/test_amutils.py
Labels: tweakreg, testing

#8302 JP-3463: Add average_dark_current handling to dark_current step
  CHANGES.rst
  docs/jwst/dark_current/arguments.rst
  jwst/dark_current/dark_current_step.py
  jwst/dark_current/tests/test_dark_sub.py
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/regtest/test_miri_image.py
Labels: dark_current, ramp_fitting, MIRI, testing, documentation, regression_testing

#8278 Jp-3169 store aperture location in FITS header
  CHANGES.rst
  docs/jwst/extract_1d/description.rst
  jwst/extract_1d/extract.py
Labels: extract_1d, documentation

#8364 Remove tophat kernel as an available option for resample kernel
  CHANGES.rst
  docs/jwst/outlier_detection/arguments.rst
  docs/jwst/resample/arguments.rst
  jwst/resample/gwcs_drizzle.py
  jwst/resample/resample.py
  pyproject.toml
Labels: outlier_detection, resample, documentation, installation

#8356 JP-3534 update to Sky Match docs
  CHANGES.rst
  docs/jwst/skymatch/arguments.rst
Labels: documentation

#8350 update load_local_pkg exclude regex with regtest pattern
  jwst/stpipe/utilities.py
Labels: stpipe, no-changelog-entry-needed, tests

#8359 JP-3445: Exclude NINTS=1 from SOSS TSO3 associations
  CHANGES.rst
  jwst/associations/lib/rules_level3.py
  jwst/associations/tests/data/pool_034_tso_nints_one.csv
Labels: associations, testing, NIRISS SOSS, tso3 pipeline

#8347 Remove upper pytest pin, switch globals use to fixture in stpipe test
  jwst/stpipe/tests/test_crds.py
  pyproject.toml
Labels: stpipe, testing, installation, no-changelog-entry-needed

#8305 JP-2943:Level_3 error: cannot reshape array in image3 pipeline
  CHANGES.rst
  jwst/resample/resample.py
Labels: resample

#8270 JP-3533 Update emicorr to run on FAST mode MIRI data
  CHANGES.rst
  docs/jwst/emicorr/arguments.rst
  jwst/emicorr/emicorr.py
  jwst/emicorr/emicorr_step.py
  jwst/emicorr/tests/test_emicorr.py
Labels: testing, documentation, emicorr

#8360 JP-3527 Update to docs for IFU outlier detection
  CHANGES.rst
  docs/jwst/outlier_detection/outlier_detection_ifu.rst
  jwst/outlier_detection/outlier_detection_ifu.py
Labels: outlier_detection, documentation

#8375 Fix bug in emicorr logic for finding matching ref file info
  CHANGES.rst
  jwst/emicorr/emicorr.py
Labels: emicorr

#8371 JP-3352 update residual fringe documentation
  CHANGES.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/residual_fringe/main.rst
Labels: documentation, residual_fringe

#8304 JP-3550: Jump multi int
  CHANGES.rst
  docs/jwst/jump/arguments.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
  jwst/jump/tests/test_detect_jumps.py
Labels: jump, testing, documentation

#8303 JP-3562: Extend snowball core
  CHANGES.rst
  docs/jwst/jump/arguments.rst
  jwst/jump/jump.py
  jwst/jump/jump_step.py
Labels: jump, documentation

#8320 JP-3546: fix deprecations and improve warning filtering
  CHANGES.rst
  jwst/ami/instrument_data.py
  jwst/associations/lib/rules_level2_base.py
  jwst/background/background_sub.py
  jwst/datamodels/tests/test_model_container.py
  jwst/extract_1d/apply_apcorr.py
  jwst/extract_1d/soss_extract/atoca.py
  jwst/extract_1d/soss_extract/soss_centroids.py
  jwst/photom/photom.py
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/regtest/test_nircam_coron3.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_step.py
  jwst/resample/resample_utils.py
  jwst/stpipe/tests/test_step.py
  jwst/tweakreg/tweakreg_catalog.py
  jwst/wfs_combine/wfs_combine.py
  pyproject.toml
Labels: ami, associations, background, extract_1d, photom, ramp_fitting, resample, tweakreg, wfs_combine, stpipe, datamodels, NIRCAM, testing, coron3 pipeline, installation, regression_testing

#8365 [SCSB-145] require Python 3.10
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  JenkinsfileRT
  README.md
  docs/getting_started/install.rst
  pyproject.toml
Labels: testing, documentation, installation, no-changelog-entry-needed, regression_testing, automation

#8380 update metadata for 1.14.0
  CHANGES.rst
  CITATION.cff
  README.md
  pyproject.toml
Labels: documentation, installation, no-changelog-entry-needed, run devdeps tests

#7862 JP-3153: post-commissioning AMI3 updates
  CHANGES.rst
  docs/jwst/ami_analyze/description.rst
  docs/jwst/ami_average/description.rst
  docs/jwst/ami_normalize/description.rst
  docs/jwst/data_products/product_types.rst
  docs/jwst/data_products/science_products.rst
  docs/jwst/pipeline/calwebb_ami3.rst
  docs/jwst/references_general/nrm_reffile.inc
  docs/jwst/references_general/nrm_selection.inc
  docs/jwst/references_general/references_general.rst
  jwst/ami/__init__.py
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
  jwst/ami/ami_average.py
  jwst/ami/ami_average_step.py
  jwst/ami/ami_normalize.py
  jwst/ami/ami_normalize_step.py
  jwst/ami/analyticnrm2.py
  jwst/ami/bp_fix.py
  jwst/ami/find_affine2d_parameters.py
  jwst/ami/hexee.py
  jwst/ami/hextransformee.py
  jwst/ami/instrument_data.py
  jwst/ami/leastsqnrm.py
  jwst/ami/lg_model.py
  jwst/ami/mask_definitions.py
  jwst/ami/matrix_dft.py
  jwst/ami/nrm_core.py
  jwst/ami/oifits.py
  jwst/ami/tests/test_ami_analyze.py
  jwst/ami/tests/test_ami_interface.py
  jwst/ami/tests/test_ami_leastsqnrm.py
  jwst/ami/tests/test_ami_utils.py
  jwst/ami/utils.py
  jwst/ami/webb_psf.py
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/lib/suffix.py
  jwst/pipeline/calwebb_ami3.py
  jwst/regtest/test_niriss_ami3.py
  pyproject.toml
Labels: ami, associations, cube_build, pipeline, NIRISS, testing, ami3 pipeline, documentation, installation, regression_testing, automation, update webbpsf data

#8391 fix issues flagged by SonarQube
  jwst/ami/lg_model.py
  jwst/ami/oifits.py
  jwst/ami/utils.py
Labels: ami, no-changelog-entry-needed

#8396 update metadata for release
  CHANGES.rst
  CITATION.cff
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed
