Repository spacetelescope/jwst, pull requests merged in 2025-05, with the labels that each got.

#9418 Shared utilities for saving multiple spectra in a flat format
  jwst/datamodels/utils/__init__.py
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
Labels: datamodels, testing, installation, no-changelog-entry-needed

#9427 JP-3862: Fix Path methods issue found by sonarscan
  jwst/associations/tests/make_headers.py
Labels: associations, testing, no-changelog-entry-needed

#9423 Follow up of JP-3917: Apply code style rules to lib
  .ruff.toml
  jwst/lib/catalog_utils.py
  jwst/lib/engdb_lib.py
  jwst/lib/suffix.py
Labels: engdb_tools, no-changelog-entry-needed

#9408 DOC: Fix association doc references, general doc updates
  docs/conf.py
  docs/jwst/associations/asn_from_list.rst
  docs/jwst/associations/asn_generate.rst
  docs/jwst/associations/association.rst
  docs/jwst/associations/association_reference.rst
  docs/jwst/associations/design.rst
  docs/jwst/associations/generator.rst
  docs/jwst/associations/index.rst
  docs/jwst/associations/jwst_conventions.rst
  docs/jwst/associations/level2_asn_rules.rst
  docs/jwst/associations/level2_asn_technical.rst
  docs/jwst/associations/level3_asn_rules.rst
  docs/jwst/associations/level3_asn_technical.rst
  docs/jwst/associations/overview.rst
  docs/jwst/associations/pool.rst
  docs/jwst/associations/registry.rst
  docs/jwst/associations/technote_sdp_workflow.rst
Labels: associations, documentation, no-changelog-entry-needed

#9263 JP-3810: Add tests, fix bugs, remove unused code for AMI module
  changes/9263.ami.rst
  docs/jwst/ami_average/description.rst
  jwst/ami/ami_analyze_step.py
  jwst/ami/ami_average_step.py
  jwst/ami/ami_normalize.py
  jwst/ami/ami_normalize_step.py
  jwst/ami/analyticnrm2.py
  jwst/ami/bp_fix.py
  jwst/ami/find_affine2d_parameters.py
  jwst/ami/hexee.py
  jwst/ami/hextransformee.py
  jwst/ami/instrument_data.py
  jwst/ami/leastsqnrm.py
  jwst/ami/lg_model.py
  jwst/ami/mask_definition_ami.py
  jwst/ami/matrix_dft.py
  jwst/ami/nrm_consts.py
  jwst/ami/nrm_core.py
  jwst/ami/tests/conftest.py
  jwst/ami/tests/test_ami_analyze.py
  jwst/ami/tests/test_ami_average.py
  jwst/ami/tests/test_ami_interface.py
  jwst/ami/tests/test_ami_leastsqnrm.py
  jwst/ami/tests/test_ami_normalize.py
  jwst/ami/tests/test_ami_utils.py
  jwst/ami/tests/test_analyticnrm2.py
  jwst/ami/tests/test_bp_fix.py
  jwst/ami/tests/test_find_affine2d_parameters.py
  jwst/ami/tests/test_hextransformee.py
  jwst/ami/tests/test_instrument_data.py
  jwst/ami/tests/test_leastsqnrm.py
  jwst/ami/tests/test_lg_model.py
  jwst/ami/tests/test_mask_definition_ami.py
  jwst/ami/tests/test_matrix_dft.py
  jwst/ami/tests/test_nrm_core.py
  jwst/ami/tests/test_utils.py
  jwst/ami/utils.py
  pyproject.toml
Labels: ami, testing, documentation, installation

#9413 JP-3988: Enhance the table reports for STFITSDiff
  jwst/regtest/st_fitsdiff.py
  jwst/scripts/stfitsdiff.py
Labels: no-changelog-entry-needed, regression_testing

#9419 JP-3986 - Add tests for persistence step
  jwst/persistence/tests/test_persistence.py
  jwst/regtest/test_nircam_persistence.py
Labels: persistence, NIRCAM, testing, no-changelog-entry-needed, regression_testing

#9390 JP-3861: Persistence style updates
  .pre-commit-config.yaml
  .ruff.toml
  jwst/persistence/__init__.py
  jwst/persistence/persistence.py
  jwst/persistence/persistence_step.py
  jwst/persistence/tests/__init__.py
  jwst/persistence/tests/test_persistence.py
Labels: persistence, testing, no-changelog-entry-needed

#9431 JP-3941: Refactor white_light to get correct time stamps and spectral orders for NIRISS
  changes/9431.white_light.rst
  jwst/white_light/tests/test_white_light.py
  jwst/white_light/white_light.py
Labels: testing, white_light

#9433 JP-3775: Expand usage of resource_tracker for benchmarking
  jwst/regtest/test_miri_coron3.py
  jwst/regtest/test_miri_coron_image2.py
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
  jwst/regtest/test_miri_lrs_slit_spec3.py
  jwst/regtest/test_miri_lrs_slitless.py
  jwst/regtest/test_miri_mrs_spec2.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/regtest/test_miri_mrs_tso.py
  jwst/regtest/test_nircam_dhs.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_nircam_tsgrism.py
  jwst/regtest/test_nircam_tsimg.py
  jwst/regtest/test_nircam_wfss_contam.py
  jwst/regtest/test_nircam_wfss_spec2.py
  jwst/regtest/test_niriss_ami3.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_niriss_soss.py
  jwst/regtest/test_niriss_wfss.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_ifu_spec3.py
  jwst/regtest/test_nirspec_irs2_detector1.py
  jwst/regtest/test_nirspec_mos_fs_spec2.py
  jwst/regtest/test_nirspec_mos_fs_spec3.py
  jwst/regtest/test_nirspec_mos_spec2.py
Labels: NIRSPEC, MIRI, NIRISS, NIRCAM, image2 pipeline, coron3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, Wide Field Slitless Spec (WFSS), detector1, no-changelog-entry-needed, regression_testing

#9414 JP-3908: Incorporate stfitsdiff into regression tests
  changes/9414.general.rst
  jwst/regtest/regtestdata.py
  jwst/regtest/st_fitsdiff.py
  jwst/regtest/test_fgs_image2.py
  jwst/regtest/test_fgs_image3.py
  jwst/regtest/test_miri_coron3.py
  jwst/regtest/test_miri_cubebuild.py
  jwst/regtest/test_miri_dark.py
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_miri_lrs_dedicated_mbkg.py
  jwst/regtest/test_miri_lrs_masterbg_user.py
  jwst/regtest/test_miri_lrs_nod_masterbg.py
  jwst/regtest/test_miri_lrs_optimal_extraction.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
  jwst/regtest/test_miri_lrs_slit_spec3.py
  jwst/regtest/test_miri_lrs_slitless.py
  jwst/regtest/test_miri_mrs_badpix_selfcal.py
  jwst/regtest/test_miri_mrs_dedicated_mbkg.py
  jwst/regtest/test_miri_mrs_extract1d.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/regtest/test_miri_mrs_spec3_moving_target.py
  jwst/regtest/test_miri_mrs_straylight.py
  jwst/regtest/test_miri_mrs_tso.py
  jwst/regtest/test_miri_residual_fringe.py
  jwst/regtest/test_miri_setpointing.py
  jwst/regtest/test_miri_spectral_leak.py
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_nircam_dhs.py
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_nircam_mtimage.py
  jwst/regtest/test_nircam_subarray_4amp.py
  jwst/regtest/test_nircam_tsgrism.py
  jwst/regtest/test_nircam_tsimg.py
  jwst/regtest/test_nircam_wfs.py
  jwst/regtest/test_nircam_wfss_spec2.py
  jwst/regtest/test_niriss_ami3.py
  jwst/regtest/test_niriss_image.py
  jwst/regtest/test_niriss_soss.py
  jwst/regtest/test_niriss_wfss.py
  jwst/regtest/test_nirspec_bots_extract1d.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_fs_spec3.py
  jwst/regtest/test_nirspec_fs_spec3_moving_target.py
  jwst/regtest/test_nirspec_ifu_internal_cal.py
  jwst/regtest/test_nirspec_ifu_spec3_moving_target.py
  jwst/regtest/test_nirspec_image2.py
  jwst/regtest/test_nirspec_irs2_detector1.py
  jwst/regtest/test_nirspec_lamp_fs_spec2.py
  jwst/regtest/test_nirspec_lamp_ifu_spec2.py
  jwst/regtest/test_nirspec_masterbackground.py
  jwst/regtest/test_nirspec_mos_fs_spec2.py
  jwst/regtest/test_nirspec_mos_fs_spec3.py
  jwst/regtest/test_nirspec_mos_movingtarget.py
  jwst/regtest/test_nirspec_mos_spec2.py
  jwst/regtest/test_nirspec_mos_spec2_steps.py
  jwst/regtest/test_nirspec_mos_spec3.py
  jwst/regtest/test_nirspec_steps_spec2.py
  jwst/regtest/test_nirspec_verify.py
Labels: NIRSPEC, MIRI, NIRISS, FGS, NIRCAM, image2 pipeline, image3 pipeline, coron3 pipeline, spec2 pipeline, spec3 pipeline, ami3 pipeline, Wide Field Slitless Spec (WFSS), detector1, regression_testing

#9442 JP-3776: Improve AmiAnalyze memory usage
  changes/9442.ami.rst
  jwst/ami/nrm_core.py
  jwst/ami/oifits.py
Labels: ami

#9429 JP-3949: Subclass CRDS to take advantage of lazy-loading of metadata
  changes/9429.stpipe.rst
  jwst/datamodels/container.py
  jwst/datamodels/library.py
  jwst/datamodels/tests/test_library.py
  jwst/stpipe/core.py
  jwst/stpipe/tests/data/single_member_miri_asn.json
  jwst/stpipe/tests/test_step.py
Labels: stpipe, datamodels, MIRI, testing, documentation

#9432 JP-3861: Style formats for the coron package
  .pre-commit-config.yaml
  .ruff.toml
  docs/jwst/align_refs/description.rst
  docs/jwst/klip/description.rst
  jwst/coron/__init__.py
  jwst/coron/align_refs_step.py
  jwst/coron/hlsp.py
  jwst/coron/hlsp_step.py
  jwst/coron/imageregistration.py
  jwst/coron/klip.py
  jwst/coron/klip_step.py
  jwst/coron/median_replace_img.py
  jwst/coron/stack_refs.py
  jwst/coron/stack_refs_step.py
  jwst/coron/tests/test_coron.py
Labels: testing, coron3 pipeline, documentation, no-changelog-entry-needed

#9445 JP-3939: Add BJD_TDB to white light output table
  changes/9445.white_light.rst
  jwst/white_light/tests/test_white_light.py
  jwst/white_light/white_light.py
Labels: testing, white_light

#9458 TST: xpass is now a failure
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed

#9453 Separate nsclean tests from standard runs
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_mos_spec2.py
Labels: NIRSPEC, spec2 pipeline, no-changelog-entry-needed, regression_testing

#9457 Fix style in dark_current
  .pre-commit-config.yaml
  .ruff.toml
  jwst/dark_current/__init__.py
  jwst/dark_current/dark_current_step.py
Labels: dark_current, documentation, no-changelog-entry-needed

#9441 JP-3810 followup: small clean-up tasks in AMI module
  jwst/ami/analyticnrm2.py
  jwst/ami/hextransformee.py
  jwst/ami/tests/test_analyticnrm2.py
  jwst/ami/tests/test_matrix_dft.py
Labels: ami, testing, no-changelog-entry-needed

#9478 Fix refpix log messages
  changes/9478.refpix.rst
  jwst/refpix/refpix_step.py
Labels: refpix

#9474 JP-3917: Style fix for mrs_imatch
  .pre-commit-config.yaml
  .ruff.toml
  jwst/mrs_imatch/__init__.py
  jwst/mrs_imatch/mrs_imatch_step.py
  jwst/mrs_imatch/tests/test_apply_background.py
  jwst/mrs_imatch/tests/test_configuration.py
Labels: testing, mrs_imatch, no-changelog-entry-needed

#9466 Photom style
  .pre-commit-config.yaml
  .ruff.toml
  jwst/photom/__init__.py
  jwst/photom/miri_imager.py
  jwst/photom/miri_mrs.py
  jwst/photom/photom.py
  jwst/photom/photom_step.py
  jwst/photom/tests/__init__.py
  jwst/photom/tests/test_photom.py
Labels: photom, MIRI, testing, no-changelog-entry-needed

#9477 adding missing argument irs2_mean_subtraction to refpix documentation
  docs/jwst/refpix/arguments.rst
Labels: refpix, documentation, no-changelog-entry-needed

#9473 adding max and min values for files a and b in table comparison
  jwst/regtest/st_fitsdiff.py
Labels: no-changelog-entry-needed, regression_testing

#9476 JP-3857 Fringe Step code style changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/fringe/__init__.py
  jwst/fringe/fringe.py
  jwst/fringe/fringe_step.py
Labels: fringe, no-changelog-entry-needed

#9468 JP-3906: Support extrapolation of dark files to match arbitrary science input size
  changes/9468.dark_current.rst
  docs/jwst/dark_current/description.rst
  docs/jwst/references_general/dark_reffile.inc
  jwst/dark_current/dark_current_step.py
  jwst/dark_current/tests/test_dark_sub.py
Labels: dark_current, testing, documentation

#9484 Added ATOCA description to extract1d RtD page
  docs/jwst/extract_1d/description.rst
Labels: documentation, no-changelog-entry-needed

#9497 Replace mentions of WebbPSF with STPSF
  docs/jwst/extract_1d/description.rst
  jwst/ami/lg_model.py
  jwst/extract_1d/soss_extract/atoca_utils.py
Labels: ami, extract_1d, documentation, no-changelog-entry-needed

#9491 JP-4016: Fix crashes when max grid size is reached by ATOCA
  changes/9491.extract_1d.rst
  jwst/extract_1d/soss_extract/atoca_utils.py
  jwst/extract_1d/soss_extract/tests/test_atoca_utils.py
Labels: extract_1d, testing

#9430 JP-3841: Flat spectral table for TSO
  changes/9430.combine_1d.rst
  changes/9430.extract_1d.rst
  changes/9430.photom.rst
  changes/9430.white_light.rst
  docs/jwst/data_products/science_products.rst
  docs/jwst/extract_1d/description.rst
  jwst/combine_1d/combine1d.py
  jwst/combine_1d/combine_1d_step.py
  jwst/datamodels/utils/flat_multispec.py
  jwst/datamodels/utils/tests/test_flat_multispec.py
  jwst/datamodels/utils/tso_multispec.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/ifu.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/extract_1d/tests/conftest.py
  jwst/extract_1d/tests/test_extract.py
  jwst/extract_1d/tests/test_extract_1d_step.py
  jwst/photom/photom.py
  jwst/photom/photom_step.py
  jwst/photom/tests/test_photom.py
  jwst/pipeline/calwebb_tso3.py
  jwst/regtest/test_nircam_tsgrism.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/white_light/tests/test_white_light.py
  jwst/white_light/white_light.py
Labels: combine_1d, extract_1d, photom, pipeline, datamodels, NIRSPEC, NIRCAM, testing, documentation, tso3 pipeline, white_light, installation, regression_testing

#9485 JP-3837: Allow NIRCam image to match subarray in photom table
  changes/9485.photom.rst
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
Labels: photom, testing, installation
