Repository spacetelescope/jwst, pull requests merged in 2025-09, with the labels that each got.

#9778 JP-4102: Fix Potential Memory Leak and Remove Unused Code in Cube Build
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_sky_driz.c
Labels: cube_build, no-changelog-entry-needed

#9787 TST: Remove pyerfa-dev install in devdeps
  requirements-dev-thirdparty.txt
  tox.ini
Labels: testing, installation, no-changelog-entry-needed, run extra tests

#9803 drop opencv direct dependency
  changes/9803.general.rst
  pyproject.toml
Labels: installation

#9800 TST: Pin ci-watson normally
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed

#9805 Deprecate save_bsub
  changes/9805.pipeline.rst
  docs/jwst/data_products/science_products.rst
  docs/jwst/pipeline/calwebb_image2.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/stpipe/user_pipeline.rst
  jwst/pipeline/calwebb_image2.py
  jwst/pipeline/calwebb_spec2.py
  jwst/pipeline/tests/test_calwebb_image2.py
  jwst/pipeline/tests/test_calwebb_spec2.py
  jwst/regtest/test_miri_lrs_slit_spec2.py
Labels: pipeline, MIRI, testing, image2 pipeline, spec2 pipeline, documentation, regression_testing

#9736 JP-3887: Add support for time dependent photometry corrections
  changes/9736.photom.rst
  docs/jwst/photom/Model_summary.png
  docs/jwst/photom/arguments.rst
  docs/jwst/photom/main.rst
  jwst/photom/miri_imager.py
  jwst/photom/miri_mrs.py
  jwst/photom/photom.py
  jwst/photom/photom_step.py
  jwst/photom/tests/test_photom.py
  jwst/photom/tests/test_time_dependence.py
  jwst/photom/time_dependence.py
  jwst/regtest/test_miri_mrs_tso.py
Labels: photom, MIRI, testing, documentation, installation, regression_testing

#9820 increase asdf upper pin
  pyproject.toml
Labels: installation, no-changelog-entry-needed, run extra tests

#9840 pin python<3.14
  changes/9840.general.rst
  pyproject.toml
Labels: installation

#9830 Add regression test for wfss_contam step for NIRISS
  jwst/regtest/test_niriss_wfss_contam.py
Labels: NIRISS, Wide Field Slitless Spec (WFSS), no-changelog-entry-needed, regression_testing

#9821 JP-3665: Graceful exit in tso3 for NIRISS SOSS FULL data
  changes/9821.pipeline.rst
  jwst/extract_1d/tests/helpers.py
  jwst/extract_1d/tests/test_expected_skips.py
  jwst/pipeline/calwebb_tso3.py
  jwst/pipeline/tests/test_calwebb_tso3.py
  jwst/regtest/test_niriss_soss_full.py
  jwst/white_light/tests/test_white_light.py
  jwst/white_light/white_light_step.py
Labels: extract_1d, pipeline, NIRISS, testing, tso3 pipeline, white_light, regression_testing

#9839 DOC: Fix broken refs in static change log
  CHANGES.rst
Labels: no-changelog-entry-needed, allow-manual-changelog-edit

#9783 JP-4095: Fix velocity correction in WCS inverse
  changes/9783.assign_wcs.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
Labels: assign_wcs, NIRSPEC, NIRISS, testing

#9670 JP-1866: Remove references to logcfg
  changes/9670.stpipe.rst
  docs/jwst/stpipe/call_via_call.rst
  docs/jwst/stpipe/index.rst
  docs/jwst/stpipe/user_logging.rst
  docs/jwst/stpipe/user_pipeline.rst
  docs/jwst/stpipe/user_step.rst
  docs/jwst/user_documentation/logging.rst
  docs/jwst/user_documentation/running_pipeline_python.rst
  jwst/pipeline/tests/test_calwebb_image2.py
  jwst/pipeline/tests/test_calwebb_image3.py
  jwst/pipeline/tests/test_calwebb_spec2.py
Labels: pipeline, testing, image2 pipeline, image3 pipeline, spec2 pipeline, documentation, installation

#9881 add py.warnings to stpipe loggers
  jwst/ami/tests/test_ami_average.py
  jwst/outlier_detection/tests/conftest.py
  jwst/pipeline/tests/test_calwebb_image2.py
  jwst/pipeline/tests/test_calwebb_spec2.py
  jwst/regtest/test_miri_mrs_spec3.py
  jwst/resample/tests/test_resample_step.py
  jwst/stpipe/core.py
  jwst/tests/helpers.py
  jwst/tests/test_helpers.py
Labels: ami, outlier_detection, pipeline, resample, stpipe, MIRI, testing, image2 pipeline, spec2 pipeline, spec3 pipeline, no-changelog-entry-needed, regression_testing

#9870 TST: Remove unused folder_copy in regtest
  jwst/regtest/conftest.py
Labels: associations, no-changelog-entry-needed, regression_testing

#9859 DOC: Fix broken refs for ModelContainer
  docs/jwst/associations/overview.rst
  docs/jwst/user_documentation/datamodels.rst
  jwst/datamodels/container.py
Labels: datamodels, documentation, no-changelog-entry-needed
