Repository spacetelescope/jwst, pull requests merged in 2025-07, with the labels that each got.

#9616 Update logging unit test
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing, no-changelog-entry-needed

#9614 Use actual target id instead of placeholder for WFSS level 3 associations
  jwst/associations/lib/rules_level3_base.py
  jwst/pipeline/calwebb_spec3.py
Labels: associations, pipeline, spec3 pipeline, no-changelog-entry-needed

#9597 JP-3968: Restore ModelContainer to docs, add ModelLibrary and SourceModelContainer to docs
  docs/jwst/user_documentation/datamodels.rst
  jwst/datamodels/library.py
Labels: datamodels, documentation, no-changelog-entry-needed

#9590 JP-1497: Pass datamodel open kwargs through ModelContainer
  changes/9590.datamodels.rst
  jwst/datamodels/container.py
  jwst/datamodels/tests/test_model_container.py
Labels: datamodels, testing

#9568 JP-3919: Background step documentation needs updates
  docs/index.rst
  docs/jwst/background_step/index.rst
  docs/jwst/background_subtraction/arguments.rst
  docs/jwst/background_subtraction/description.rst
  docs/jwst/background_subtraction/index.rst
  docs/jwst/background_subtraction/reference_files.rst
  docs/jwst/data_products/science_products.rst
  docs/jwst/master_background/arguments.rst
  docs/jwst/master_background/description.rst
  docs/jwst/package_index.rst
  docs/jwst/pipeline/calwebb_image2.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/pipeline/calwebb_wfs-image2.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/user_documentation/background_subtraction_methods/index.rst
  docs/jwst/user_documentation/background_subtraction_methods/main.rst
  jwst/pipeline/calwebb_image2.py
Labels: pipeline, image2 pipeline, documentation, no-changelog-entry-needed

#9550 TST: Remove pyargs from toxenv
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  jwst/charge_migration/tests/__init__.py
  jwst/skymatch/tests/__init__.py
  tox.ini
Labels: skymatch, testing, installation, no-changelog-entry-needed, automation

#9570 JP-3950: Use read_metadata to avoid unnecessary load/save in image3 with on_disk=True
  changes/9570.pipeline.rst
  jwst/assign_mtwcs/moving_target_wcs.py
  jwst/datamodels/library.py
  jwst/datamodels/tests/test_library.py
  jwst/lib/exposure_types.py
  jwst/lib/tests/test_exposure_types.py
  jwst/outlier_detection/outlier_detection_step.py
  jwst/pipeline/calwebb_image3.py
  jwst/resample/resample_utils.py
Labels: outlier_detection, pipeline, resample, datamodels, testing, image3 pipeline, assign_mtwcs

#9603 JP-4043: Handle subarray data in background step for wfss data
  changes/9603.background.rst
  jwst/background/background_sub_wfss.py
  jwst/background/tests/test_background_wfss.py
  jwst/lib/reffile_utils.py
  jwst/lib/tests/test_reffile_utils.py
Labels: background, testing, Wide Field Slitless Spec (WFSS)

#9626 Remove python upper pin
  .github/workflows/ci.yml
  .github/workflows/tests_devdeps.yml
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, automation, run devdeps tests

#9628 Backport PR #9550 on branch release/1.19.x (TST: Remove pyargs from toxenv)
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  jwst/charge_migration/tests/__init__.py
  jwst/skymatch/tests/__init__.py
  tox.ini
Labels: skymatch, testing, installation, no-changelog-entry-needed, automation

#9635 Backport PR #9568 on branch release/1.19.x (JP-3919: Background step documentation needs updates)
  docs/index.rst
  docs/jwst/background_step/index.rst
  docs/jwst/background_subtraction/arguments.rst
  docs/jwst/background_subtraction/description.rst
  docs/jwst/background_subtraction/index.rst
  docs/jwst/background_subtraction/reference_files.rst
  docs/jwst/data_products/science_products.rst
  docs/jwst/master_background/arguments.rst
  docs/jwst/master_background/description.rst
  docs/jwst/package_index.rst
  docs/jwst/pipeline/calwebb_image2.rst
  docs/jwst/pipeline/calwebb_spec2.rst
  docs/jwst/pipeline/calwebb_wfs-image2.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/user_documentation/background_subtraction_methods/index.rst
  docs/jwst/user_documentation/background_subtraction_methods/main.rst
  jwst/pipeline/calwebb_image2.py
Labels: pipeline, image2 pipeline, documentation, no-changelog-entry-needed

#9637 Backport PR #9626 on branch release/1.19.x (Remove python upper pin)
  .github/workflows/ci.yml
  .github/workflows/tests_devdeps.yml
  pyproject.toml
Labels: testing, installation, automation

#9638 Backport PR #9584 on branch release/1.19.x (JP-3864: Move to unified bkg reftype for wfss)
  changes/9584.background.rst
  docs/jwst/background_subtraction/reference_files.rst
  docs/jwst/references_general/bkg_reffile.inc
  docs/jwst/references_general/bkg_selection.inc
  docs/jwst/references_general/explain_rmaps.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/references_general/wfssbkg_reffile.inc
  jwst/background/background_step.py
Labels: background, documentation

#9640 Backport PR #9621 on branch release/1.19.x (JP-3992: Generate convex hull S_REGION for Level 3 WFSS spectral products)
  changes/9621.pipeline.rst
  jwst/extract_1d/tests/conftest.py
  jwst/pipeline/calwebb_spec3.py
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: extract_1d, pipeline, testing, spec3 pipeline, installation

#9650 JP-3948: Use wavelengthrange reference file information in white light step
  changes/9650.white_light.rst
  docs/jwst/references_general/pars-darkpipeline_reffile.inc
  docs/jwst/references_general/pars-whitelightstep_reffile.inc
  docs/jwst/white_light/description.rst
  docs/jwst/white_light/reference_files.rst
  jwst/white_light/tests/test_white_light.py
  jwst/white_light/white_light.py
  jwst/white_light/white_light_step.py
Labels: testing, documentation, white_light

#9660 TST: Fix tox for pyargs (try 2)
  tox.ini
Labels: testing, no-changelog-entry-needed

#9663 TST: Allow devdeps and cron to run on labeled PR and backport PR when labeled
  .github/workflows/ci_cron.yml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation

#9658 JP-3995: Clarify standalone bkg_subtract input
  docs/jwst/background_subtraction/description.rst
Labels: documentation, no-changelog-entry-needed

#9672 JP-4067: Fix white_light crash on repeated time stamps
  changes/9672.white_light.rst
  jwst/white_light/tests/test_white_light.py
  jwst/white_light/white_light.py
Labels: testing, white_light

#9667 Test update following WFSS FITS unit change
  jwst/datamodels/utils/tests/test_wfss_multispec.py
Labels: datamodels, testing, Wide Field Slitless Spec (WFSS), installation, no-changelog-entry-needed

#9673 Backport PR #9667 on branch release/1.19.x (Test update following WFSS FITS unit change)
  jwst/datamodels/utils/tests/test_wfss_multispec.py
Labels: datamodels, testing, Wide Field Slitless Spec (WFSS), installation, no-changelog-entry-needed

#9674 Backport PR #9659 on branch release/1.19.x (JP-4060: Catch NRS imaging edge case)
  changes/9659.assign_wcs.rst
  jwst/assign_wcs/assign_wcs.py
  jwst/assign_wcs/tests/test_nirspec.py
Labels: assign_wcs, NIRSPEC, testing, no-changelog-entry-needed

#9669 STY: Apply flake8 to test modules and fix most violations
  .ruff.toml
  jwst/ami/tests/test_lg_model.py
  jwst/ami/tests/test_nrm_core.py
  jwst/ami/tests/test_utils.py
  jwst/assign_wcs/tests/test_nirspec.py
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/cube_build/tests/test_configuration.py
  jwst/emicorr/tests/test_emicorr.py
  jwst/extract_1d/tests/test_extract_1d_step.py
  jwst/ipc/tests/test_ipc_corr.py
  jwst/ipc/tests/test_x_irs2.py
  jwst/pathloss/tests/test_pathloss_step.py
  jwst/pipeline/tests/test_calwebb_spec3.py
  jwst/regtest/test_associations_sdp_pools.py
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nirspec_brightobj.py
  jwst/regtest/test_nirspec_fs_spec2.py
  jwst/regtest/test_nirspec_ifu_internal_cal.py
  jwst/regtest/test_nirspec_ifu_spec2.py
  jwst/regtest/test_nirspec_ifu_spec3.py
  jwst/regtest/test_nirspec_ifu_spec3_emsm.py
  jwst/regtest/test_nirspec_ifu_spec3_moving_target.py
  jwst/regtest/test_nirspec_ifu_spec3_pixelreplace.py
  jwst/regtest/test_nirspec_masterbackground.py
  jwst/regtest/test_nirspec_steps_spec2.py
  jwst/regtest/test_nirspec_wcs.py
  jwst/stpipe/tests/test_step.py
  jwst/tso_photometry/tests/test_tso_photometry.py
  jwst/wavecorr/tests/test_wavecorr.py
Labels: ami, assign_wcs, cube_build, extract_1d, ipc, pipeline, stpipe, NIRSPEC, MIRI, testing, spec2 pipeline, spec3 pipeline, path loss, tso_photometry, wavecorr, no-changelog-entry-needed, regression_testing

#9665 TST: Add linkcheck to CI
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  README.md
  docs/conf.py
  docs/jwst/assign_wcs/asdf-howto.rst
  docs/jwst/assign_wcs/main.rst
  docs/jwst/background_subtraction/description.rst
  docs/jwst/data_products/product_types.rst
  docs/jwst/data_products/science_products.rst
  docs/jwst/data_products/stages.rst
  docs/jwst/mrs_imatch/description.rst
  docs/jwst/outlier_detection/outlier_detection_imaging.rst
  docs/jwst/refpix/description.rst
  docs/jwst/resample/main.rst
  docs/jwst/skymatch/description.rst
  docs/jwst/source_catalog/main.rst
  docs/jwst/tweakreg/README.rst
  jwst/associations/lib/rules_level3.py
  tox.ini
Labels: associations, testing, documentation, no-changelog-entry-needed, automation

#9661 TST: Remove unused tox flags and outdated comment
  pyproject.toml
  tox.ini
Labels: testing, installation, no-changelog-entry-needed, run devdeps tests, run scheduled tests

#9691 Unit test source catalog against specific values
  jwst/source_catalog/tests/test_source_catalog.py
Labels: source catalog, testing

#9220 JP-2546: Refactor wfss_contam to support multiprocessing and decrease runtime
  changes/9220.wfss_contam.rst
  docs/jwst/wfss_contam/arguments.rst
  jwst/assign_wcs/nircam.py
  jwst/assign_wcs/niriss.py
  jwst/regtest/test_nircam_wfss_contam.py
  jwst/wfss_contam/disperse.py
  jwst/wfss_contam/observations.py
  jwst/wfss_contam/tests/conftest.py
  jwst/wfss_contam/tests/test_disperse.py
  jwst/wfss_contam/tests/test_observations.py
  jwst/wfss_contam/tests/test_wfss_contam.py
  jwst/wfss_contam/tests/test_wfss_contam_step.py
  jwst/wfss_contam/wfss_contam.py
  jwst/wfss_contam/wfss_contam_step.py
Labels: assign_wcs, NIRISS, NIRCAM, testing, documentation, Wide Field Slitless Spec (WFSS), installation, regression_testing, wfss_contam

#9701 JP-3943: Fix unit handling for orientation column when iraf is selected finder
  jwst/source_catalog/tests/test_source_catalog.py
  jwst/tweakreg/tweakreg_catalog.py
Labels: source catalog, tweakreg, testing, no-changelog-entry-needed

#9704 remove uncommon datamodels.open usage
  jwst/regtest/test_stfitsdiff.py
  jwst/stpipe/tests/steps/__init__.py
  jwst/stpipe/tests/test_step.py
Labels: stpipe, testing, no-changelog-entry-needed, regression_testing

#9607 JP-3516: Fix duplicate association removal
  changes/9607.associations.rst
  changes/README.rst
  jwst/associations/lib/prune.py
  jwst/associations/lib/tests/test_prune.py
  jwst/regtest/test_associations_sdp_pools.py
Labels: associations, testing, regression_testing
