Repository spacetelescope/jwst, pull requests merged in 2025-04, with the labels that each got.

#9354 Metadata for 1.18.0rc2
  CHANGES.rst
  README.md
  changes/9301.tweakreg.rst
  changes/9326.barshadow.rst
  changes/9337.resample.rst
  changes/9338.ramp_fitting.rst
Labels: documentation, no-changelog-entry-needed, allow-manual-changelog-edit

#8943 JP-3795: Target group association fixes
  changes/8943.associations.rst
  jwst/associations/lib/rules_level2_base.py
  jwst/associations/lib/rules_level3_base.py
  jwst/associations/tests/test_level3_product_names.py
  jwst/associations/tests/test_level3_spectrographic.py
Labels: associations, testing

#9254 JP-3630: Add slit-specific processing metadata
  changes/9254.barshadow.rst
  changes/9254.pathloss.rst
  changes/9254.wavecorr.rst
  docs/jwst/barshadow/description.rst
  docs/jwst/pathloss/description.rst
  docs/jwst/wavecorr/description.rst
  jwst/barshadow/bar_shadow.py
  jwst/barshadow/tests/test_barshadow_step.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/tests/test_extract.py
  jwst/pathloss/pathloss.py
  jwst/pathloss/tests/test_pathloss_step.py
  jwst/wavecorr/tests/test_wavecorr.py
  jwst/wavecorr/wavecorr.py
Labels: extract_1d, testing, documentation, path loss, wavecorr, bar shadow

#9275 JP-3857 rscd code style updates
  .pre-commit-config.yaml
  .ruff.toml
  docs/jwst/references_general/rscd_reffile.inc
  docs/jwst/rscd/description.rst
  jwst/rscd/__init__.py
  jwst/rscd/rscd_step.py
  jwst/rscd/rscd_sub.py
Labels: rscd, documentation, no-changelog-entry-needed

#9355 Small update to outlier_detection docs
  docs/jwst/outlier_detection/main.rst
Labels: documentation, no-changelog-entry-needed

#9332 JP-3871 and JP-3676: Removes "OLS" and "GLS" Code from Ramp Fitting
  changes/9332.ramp_fitting.rst
  docs/jwst/ramp_fitting/arguments.rst
  docs/jwst/ramp_fitting/description.rst
  jwst/ramp_fitting/ramp_fit_step.py
  jwst/ramp_fitting/tests/check_gls_stats.py
  jwst/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting, testing, documentation

#9361 JP-3978: Allow unequal number of target and psf exposures in calwebb_ami3
  changes/9361.pipeline.rst
  jwst/pipeline/calwebb_ami3.py
Labels: pipeline, ramp_fitting, testing, ami3 pipeline, documentation, Software Affected: calwebb_ami3

#9363 Backport PR #9361 on branch release/1.18.x (JP-3978: Allow unequal number of target and psf exposures in calwebb_ami3)
  changes/9361.pipeline.rst
  jwst/pipeline/calwebb_ami3.py
Labels: pipeline, ramp_fitting, testing, ami3 pipeline, documentation, no-changelog-entry-needed, Software Affected: calwebb_ami3

#9366 TST: Delete unused jwst/lib/tests/stp_v1.py
  jwst/lib/tests/stp_v1.py
Labels: testing, no-changelog-entry-needed

#9334 JP-3958: Provide subarray to WFSS spec2 association for image member name generation
  changes/9334.associations.rst
  jwst/associations/lib/rules_level2b.py
Labels: associations

#9367 Revert addition of G004 from PR 9276
  .ruff.toml
Labels: no-changelog-entry-needed

#9364 JP-3912: Modify some tests for steps that are skipped by default
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise_step.py
  jwst/emicorr/tests/test_emicorr.py
Labels: testing, no-changelog-entry-needed

#9370 update readme for new regtests
  README.md
Labels: documentation, no-changelog-entry-needed

#9373 JP-3912: Fix imatch test
  jwst/mrs_imatch/tests/test_configuration.py
Labels: testing, mrs_imatch, no-changelog-entry-needed

#9375 Revert "Backport PR #9301 on branch release/1.18.x (JP-3686: Test using source catalog output as tweakreg abs_refcat)"
  docs/jwst/tweakreg/README.rst
  jwst/regtest/test_nircam_align_to_gaia.py
  jwst/tweakreg/tweakreg_step.py
Labels: tweakreg, NIRCAM, documentation, regression_testing

#9379 Metadata release 1.18.0 (sdp)
  requirements-sdp.txt
Labels: installation, no-changelog-entry-needed, allow-manual-changelog-edit

#9357 JP-3775: Test ci_watson resource_tracker implementation
  jwst/regtest/test_miri_image.py
  jwst/regtest/test_nircam_coron3.py
  jwst/regtest/test_niriss_soss.py
  jwst/regtest/test_nirspec_mos_spec3.py
  pyproject.toml
Labels: pipeline, NIRSPEC, MIRI, NIRISS, NIRCAM, coron3 pipeline, spec3 pipeline, ami3 pipeline, documentation, installation, no-changelog-entry-needed, regression_testing

#9376 JP-3982: numpy 2.3.0 accommodation
  changes/9376.background.rst
  changes/9376.clean_flicker_noise.rst
  jwst/background/background_sub_wfss.py
  jwst/clean_flicker_noise/clean_flicker_noise.py
  jwst/regtest/test_niriss_soss.py
Labels: background, NIRISS, Wide Field Slitless Spec (WFSS), regression_testing

#9283 JP-3917: Apply code style rules to lib
  .pre-commit-config.yaml
  .ruff.toml
  changes/9283.pipeline.rst
  jwst/lib/__init__.py
  jwst/lib/basic_utils.py
  jwst/lib/catalog_utils.py
  jwst/lib/dispaxis.py
  jwst/lib/engdb_direct.py
  jwst/lib/engdb_lib.py
  jwst/lib/engdb_mast.py
  jwst/lib/engdb_tools.py
  jwst/lib/exposure_types.py
  jwst/lib/file_utils.py
  jwst/lib/pipe_utils.py
  jwst/lib/pointing_summary.py
  jwst/lib/progress.py
  jwst/lib/reffile_utils.py
  jwst/lib/set_telescope_pointing.py
  jwst/lib/set_velocity_aberration.py
  jwst/lib/siafdb.py
  jwst/lib/signal_slot.py
  jwst/lib/suffix.py
  jwst/lib/tests/test_pipe_utils.py
  jwst/lib/v1_calculate.py
  jwst/lib/wcs_utils.py
Labels: testing, engdb_tools

#9382 MNT: Forward-port of PR 9374 and PR 9379 (Metadata release 1.18.0)
  CHANGES.rst
  CITATION.cff
  README.md
  changes/9326.barshadow.rst
  changes/9337.resample.rst
  changes/9338.ramp_fitting.rst
  requirements-sdp.txt
Labels: documentation, installation, no-changelog-entry-needed, allow-manual-changelog-edit

#9386 remove `requirements-sdp.txt`
  .github/dependabot.yml
  .github/workflows/build.yml
  requirements-sdp.txt
  tox.ini
Labels: testing, installation, no-changelog-entry-needed, automation

#9389 BUG: Fix is_nrs_msaspec_flatlamp and remove redundant if-else in gs_position_acq
  jwst/lib/exposure_types.py
  jwst/lib/set_telescope_pointing.py
Labels: bug, no-changelog-entry-needed

#9388 JP-3982: Ignore fitsdiffs for atoca spectra
  jwst/regtest/test_niriss_soss.py
Labels: NIRISS, no-changelog-entry-needed, regression_testing

#9356 JP-3956: Fix error propagation for inverse steps (photom, flatfield)
  changes/9356.flatfield.rst
  changes/9356.photom.rst
  docs/jwst/flatfield/arguments.rst
  docs/jwst/photom/arguments.rst
  jwst/flatfield/flat_field.py
  jwst/flatfield/tests/test_clean_wl.py
  jwst/flatfield/tests/test_combine_fast_slow.py
  jwst/flatfield/tests/test_flatfield.py
  jwst/flatfield/tests/test_interpolate_flat.py
  jwst/photom/photom.py
  jwst/photom/tests/test_photom.py
Labels: bug, flatfield, photom, testing, documentation

#9359 JP-3858 background
  .pre-commit-config.yaml
  .ruff.toml
  jwst/background/__init__.py
  jwst/background/background_step.py
  jwst/background/background_sub.py
  jwst/background/background_sub_wfss.py
  jwst/background/subtract_images.py
  jwst/background/tests/conftest.py
Labels: background, testing, Wide Field Slitless Spec (WFSS), no-changelog-entry-needed

#9378 JP-3905 add option to save shower model in straylight step for MIRI MRS data
  changes/9378.straylight.rst
  docs/jwst/straylight/arguments.rst
  jwst/regtest/test_miri_mrs_straylight.py
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
  jwst/straylight/tests/test_straylight.py
  jwst/straylight/tests/test_straylight_step.py
Labels: straylight, MIRI, testing, documentation, regression_testing

#9395 JP-3855 Update code style for spectral_leak step
  .pre-commit-config.yaml
  .ruff.toml
  jwst/spectral_leak/__init__.py
  jwst/spectral_leak/spectral_leak.py
  jwst/spectral_leak/spectral_leak_step.py
Labels: no-changelog-entry-needed, spectral_leak

#9302 JP-3916: Accounting for bias in group 2 saturation flagging
  changes/9302.saturation.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/saturation/description.rst
  docs/jwst/saturation/reference_files.rst
  jwst/saturation/saturation.py
  jwst/saturation/saturation_step.py
  jwst/saturation/tests/test_saturation.py
Labels: saturation, testing, documentation, installation

#9403 Update docs to reflect correct definition for pixel scale ratio
  changes/9403.resample.rst
  docs/jwst/resample/arguments.rst
  jwst/assign_wcs/util.py
  jwst/resample/resample_spec.py
  jwst/resample/resample_step.py
Labels: assign_wcs, resample, documentation

#9410 JP-3952: Fix log message for assign_wcs get_open_slits
  jwst/assign_wcs/nirspec.py
Labels: assign_wcs, NIRSPEC, no-changelog-entry-needed

#9347 JP-3857 cube build code style changes
  .pre-commit-config.yaml
  .ruff.toml
  changes/9347.cube_build.rst
  jwst/cube_build/__init__.py
  jwst/cube_build/blot_cube_build.py
  jwst/cube_build/coord.py
  jwst/cube_build/cube_build.py
  jwst/cube_build/cube_build_io_util.py
  jwst/cube_build/cube_build_step.py
  jwst/cube_build/cube_build_wcs_util.py
  jwst/cube_build/cube_internal_cal.py
  jwst/cube_build/data_types.py
  jwst/cube_build/file_table.py
  jwst/cube_build/ifu_cube.py
  jwst/cube_build/instrument_defaults.py
  jwst/cube_build/src/blot_median.c
  jwst/cube_build/src/cube_dq_utils.c
  jwst/cube_build/src/cube_match_internal.c
  jwst/cube_build/src/cube_match_sky_driz.c
  jwst/cube_build/src/cube_match_sky_pointcloud.c
  jwst/cube_build/src/cube_utils.c
  jwst/cube_build/tests/test_configuration.py
  jwst/cube_build/tests/test_cube_build_step.py
  jwst/cube_build/tests/test_miri_cubepars.py
  jwst/cube_build/tests/test_nirspec_cubepars.py
  jwst/cube_build/tests/test_wcs.py
Labels: cube_build, NIRSPEC, MIRI, testing

#9405 JP-3857 Saturation code style changes
  .pre-commit-config.yaml
  .ruff.toml
  jwst/saturation/__init__.py
  jwst/saturation/saturation.py
  jwst/saturation/saturation_step.py
  jwst/saturation/x_irs2.py
Labels: saturation, no-changelog-entry-needed

#9407 JP-3857_straylight_code_style
  .pre-commit-config.yaml
  .ruff.toml
  jwst/straylight/__init__.py
  jwst/straylight/straylight.py
  jwst/straylight/straylight_step.py
Labels: straylight, no-changelog-entry-needed

#9416 JP-3989 cube build bug
  jwst/cube_build/cube_build.py
Labels: cube_build, no-changelog-entry-needed

#9422 [SCSB-205] `project.license.file` -> `project.license-files`
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#9421 Set stpipe dependence to github main
  pyproject.toml
Labels: stpipe, installation, no-changelog-entry-needed, dependencies, Software Affected: stpipe

#9412 Fix logging message in NIRSpec assign_wcs and turn all invalid interval warning into error
  changes/9412.msaflagopen.rst
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/msaflagopen/msaflag_open.py
  jwst/msaflagopen/tests/test_msa_open.py
  pyproject.toml
Labels: assign_wcs, NIRSPEC, testing, msa_flagging, installation

#9290 JP-3858-scripts
  .pre-commit-config.yaml
  .ruff.toml
  jwst/scripts/__init__.py
  jwst/scripts/adjust_wcs.py
  jwst/scripts/asn_edit.py
  jwst/scripts/asn_gather.py
  jwst/scripts/asn_make_pool.py
  jwst/scripts/collect_pipeline_cfgs.py
  jwst/scripts/pointing_summary.py
  jwst/scripts/schemadoc.py
  jwst/scripts/set_telescope_pointing.py
  jwst/scripts/set_velocity_aberration.py
  jwst/scripts/stfitsdiff.py
  jwst/scripts/v1_calculate.py
  jwst/scripts/world_coords.py
  pyproject.toml
Labels: FGS, scripts, installation, no-changelog-entry-needed
