Repository spacetelescope/jwst, pull requests merged in 2025-01, with the labels that each got.

#9040 Update CRDS cache workflow usage to reduce random failures
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/contexts.yml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation

#9036 JP-3834: Update default values for the source finding in tweakreg to match the algorithm
  changes/9036.tweakreg.rst
  docs/jwst/tweakreg/README.rst
  jwst/tweakreg/tests/test_tweakreg.py
  jwst/tweakreg/tweakreg_step.py
Labels: bug, tweakreg, testing, documentation

#9043 Metadata updates for 1.17.1
  CHANGES.rst
  CITATION.cff
  README.md
  changes/9036.tweakreg.rst
  changes/9037.refpix.rst
  requirements-sdp.txt
Labels: documentation, installation

#8965 Fix GWCS failures due to the API spring cleaning PR
  changes/8965.assign_wcs.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_wcs.py
  pyproject.toml
Labels: assign_wcs, tweakreg, NIRSPEC, testing, installation, run devdeps tests

#9052 JP-3822: restructure outlier detection unit tests
  jwst/outlier_detection/tests/test_outlier_detection.py
Labels: no-changelog-entry-needed

#9022 JP-3794: Add trace-based extraction option for NIRSpec
  changes/9022.extract_1d.rst
  docs/jwst/extract_1d/arguments.rst
  docs/jwst/extract_1d/description.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/tests/conftest.py
  jwst/extract_1d/tests/test_expected_skips.py
  jwst/extract_1d/tests/test_extract.py
  jwst/extract_1d/tests/test_extract_1d_step.py
  jwst/regtest/test_nirspec_bots_extract1d.py
Labels: extract_1d, NIRSPEC, testing, documentation, regression_testing

#9055 Update CODEOWNERS and remove unused files
  .github/CODEOWNERS
  CODEOWNERS.txt
  JenkinsfileRT
  JenkinsfileRT_dev
  jwst/regtest/regtestdata.py
Labels: no-changelog-entry-needed, regression_testing, automation

#9065 Update MRS photom documentation
  docs/jwst/references_general/photom_reffile.inc
Labels: documentation, no-changelog-entry-needed

#9066 JP-3840: Include gwcs install warning and stasis install details
  README.md
Labels: documentation, no-changelog-entry-needed

#9069 Fix extract_1d unit test failure under numpy 2
  jwst/extract_1d/tests/conftest.py
Labels: extract_1d, testing, no-changelog-entry-needed

#9053 JP-1649: Add option for user-defined sky levels in skymatch
  changes/9053.skymatch.rst
  docs/jwst/skymatch/arguments.rst
  docs/jwst/skymatch/description.rst
  jwst/skymatch/skymatch.py
  jwst/skymatch/skymatch_step.py
  jwst/skymatch/skystatistics.py
  jwst/skymatch/tests/test_skymatch.py
Labels: skymatch, testing, documentation

#9078 JP-3838: Update README description of CRDS setup
  README.md
  docs/getting_started/quickstart.rst
  docs/jwst/user_documentation/reference_files_crds.rst
Labels: documentation, no-changelog-entry-needed

#9000 JP-3755: Remove unused options and add unit tests to SOSS extraction algorithm
  changes/9000.extract_1d.rst
  docs/jwst/extract_1d/description.rst
  jwst/extract_1d/soss_extract/atoca.py
  jwst/extract_1d/soss_extract/atoca_utils.py
  jwst/extract_1d/soss_extract/pastasoss.py
  jwst/extract_1d/soss_extract/soss_boxextract.py
  jwst/extract_1d/soss_extract/soss_centroids.py
  jwst/extract_1d/soss_extract/soss_extract.py
  jwst/extract_1d/soss_extract/soss_syscor.py
  jwst/extract_1d/soss_extract/soss_utils.py
  jwst/extract_1d/soss_extract/tests/__init__.py
  jwst/extract_1d/soss_extract/tests/conftest.py
  jwst/extract_1d/soss_extract/tests/test_atoca.py
  jwst/extract_1d/soss_extract/tests/test_atoca_utils.py
  jwst/extract_1d/soss_extract/tests/test_pastasoss.py
  jwst/extract_1d/soss_extract/tests/test_soss_boxextract.py
  jwst/extract_1d/soss_extract/tests/test_soss_extract.py
  jwst/extract_1d/soss_extract/tests/test_soss_syscor.py
  jwst/regtest/test_niriss_soss.py
Labels: extract_1d, NIRISS, testing, documentation, regression_testing

#9084 remove no longer needed warning filter
  jwst/assign_wcs/tests/test_schemas.py
Labels: assign_wcs, testing, no-changelog-entry-needed

#9064 JP-3829: Add flat handling to clean_flicker_noise
  changes/9064.clean_flicker_noise.rst
  docs/jwst/clean_flicker_noise/arguments.rst
  docs/jwst/clean_flicker_noise/main.rst
  docs/jwst/references_general/references_general.rst
  docs/jwst/user_documentation/parameters.rst
  jwst/clean_flicker_noise/clean_flicker_noise.py
  jwst/clean_flicker_noise/clean_flicker_noise_step.py
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise.py
  jwst/clean_flicker_noise/tests/test_clean_flicker_noise_step.py
  jwst/nsclean/nsclean_step.py
  jwst/tests/helpers.py
Labels: testing, documentation

#9101 Convert np.int to int for logging in numpy 2
  jwst/clean_flicker_noise/clean_flicker_noise.py
Labels: no-changelog-entry-needed

#8718 JP-3664: Testing changes for numpy 2.0 compatibility
  changes/8718.general.rst
  pyproject.toml
Labels: coron3 pipeline, installation, run devdeps tests

#9081 JP-3769: Style rules example case
  .pre-commit-config.yaml
  .ruff.toml
  CONTRIBUTING.md
  README.md
  changes/9081.general.rst
  docs/jwst/ami_analyze/ami_test.rst
  jwst/ami/__init__.py
  jwst/ami/ami_analyze.py
  jwst/ami/ami_analyze_step.py
  jwst/ami/ami_average.py
  jwst/ami/ami_average_step.py
  jwst/ami/ami_normalize.py
  jwst/ami/ami_normalize_step.py
  jwst/ami/analyticnrm2.py
  jwst/ami/bp_fix.py
  jwst/ami/find_affine2d_parameters.py
  jwst/ami/hexee.py
  jwst/ami/hextransformee.py
  jwst/ami/instrument_data.py
  jwst/ami/leastsqnrm.py
  jwst/ami/lg_model.py
  jwst/ami/mask_definition_ami.py
  jwst/ami/matrix_dft.py
  jwst/ami/nrm_consts.py
  jwst/ami/nrm_core.py
  jwst/ami/oifits.py
  jwst/ami/tests/test_ami_analyze.py
  jwst/ami/tests/test_ami_utils.py
  jwst/ami/utils.py
  jwst/conftest.py
  pyproject.toml
  setup.py
Labels: ami, dq_init, testing, documentation, installation

#9102 Fix msa frame transform for opaque images
  changes/9102.assign_wcs.rst
  jwst/assign_wcs/nirspec.py
  jwst/assign_wcs/tests/test_nirspec.py
Labels: assign_wcs, NIRSPEC, testing

#9106 build sdist with python 3.13 (point to workflow fork)
  .github/workflows/build.yml
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, automation

#9108 Move mypy type hint checking into pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  jwst/badpix_selfcal/badpix_selfcal.py
  pyproject.toml
  tox.ini
Labels: testing, documentation, installation, no-changelog-entry-needed, automation

#9107 JP-3862: Apply code style to pixel_replace module
  .pre-commit-config.yaml
  .ruff.toml
  jwst/pixel_replace/__init__.py
  jwst/pixel_replace/pixel_replace.py
  jwst/pixel_replace/pixel_replace_step.py
Labels: no-changelog-entry-needed

#9115 Remove unused .flake8 config file
  .flake8
Labels: no-changelog-entry-needed

#9112 Fix sonar scan failures on AMI changes
  jwst/ami/ami_analyze_step.py
Labels: ami, no-changelog-entry-needed

#8967 JP-251: Optimal extraction support for MIRI LRS
  changes/8967.extract_1d.rst
  docs/jwst/extract_1d/arguments.rst
  docs/jwst/extract_1d/description.rst
  docs/jwst/extract_1d/extract1d_api.rst
  docs/jwst/extract_1d/reference_files.rst
  docs/jwst/references_general/psf_reffile.inc
  docs/jwst/references_general/references_general.rst
  jwst/extract_1d/extract.py
  jwst/extract_1d/extract1d.py
  jwst/extract_1d/extract_1d_step.py
  jwst/extract_1d/psf_profile.py
  jwst/extract_1d/source_location.py
  jwst/extract_1d/tests/conftest.py
  jwst/extract_1d/tests/test_extract.py
  jwst/extract_1d/tests/test_extract_1d_step.py
  jwst/extract_1d/tests/test_psf_profile.py
  jwst/extract_1d/tests/test_source_location.py
  jwst/pipeline/calwebb_spec3.py
  jwst/regtest/test_miri_lrs_optimal_extraction.py
  jwst/resample/resample_spec_step.py
  pyproject.toml
Labels: extract_1d, pipeline, resample, datamodels, NIRSPEC, MIRI, testing, spec2 pipeline, spec3 pipeline, documentation, installation, regression_testing

#9114 JP-3859: Apply code style to clean_flicker_noise and nsclean
  .pre-commit-config.yaml
  .ruff.toml
  jwst/clean_flicker_noise/__init__.py
  jwst/clean_flicker_noise/clean_flicker_noise.py
  jwst/clean_flicker_noise/clean_flicker_noise_step.py
  jwst/clean_flicker_noise/lib.py
  jwst/nsclean/__init__.py
  jwst/nsclean/nsclean_step.py
Labels: no-changelog-entry-needed

#9116 drop support for python 3.10
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .ruff.toml
  changes/9116.general.rst
  docs/getting_started/install.rst
  pyproject.toml
Labels: testing, documentation, installation, automation
