Repository spacetelescope/jwst, pull requests merged in 2025-08, with the labels that each got.

#9741 Deprecate compute_va_effects and compute_va_effects_vector in favor of stcal version
  changes/9741.set_telescope_pointing.rst
  jwst/lib/set_telescope_pointing.py
  jwst/lib/set_velocity_aberration.py
  jwst/lib/tests/test_velocity_aberration.py
Labels: testing

#9745 move linkcheck to cron
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
Labels: no-changelog-entry-needed, run scheduled tests

#9760 Update drizzle pin with new release version
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#9731 JP-4082: Fix flux scaling in wfss_contam for NIRCam
  changes/9731.wfss_contam.rst
  jwst/wfss_contam/disperse.py
  jwst/wfss_contam/observations.py
  jwst/wfss_contam/tests/test_disperse.py
  jwst/wfss_contam/tests/test_observations.py
  jwst/wfss_contam/wfss_contam.py
Labels: testing, Wide Field Slitless Spec (WFSS), wfss_contam

#9749 DOC: Fix refs in tweakwcs, replace array_like with array-like
  docs/jwst/tweakreg/README.rst
  docs/jwst/tweakreg/index.rst
  docs/jwst/tweakreg/tweakreg_catalog.rst
  docs/jwst/tweakreg/tweakreg_step.rst
  docs/jwst/tweakreg/utils.rst
  jwst/clean_flicker_noise/lib.py
  jwst/extract_1d/soss_extract/atoca.py
  jwst/skymatch/skymatch_step.py
  jwst/tweakreg/tweakreg_catalog.py
  jwst/tweakreg/tweakreg_step.py
  jwst/tweakreg/utils.py
Labels: extract_1d, skymatch, tweakreg, documentation, no-changelog-entry-needed

#9772 JP-3673: Update background-subtraction intermediate products for WFSS
  changes/9772.background.rst
  jwst/background/background_step.py
  jwst/background/background_sub_wfss.py
  jwst/background/tests/test_background.py
  jwst/background/tests/test_background_soss.py
  jwst/background/tests/test_background_wfss.py
Labels: background, testing, Wide Field Slitless Spec (WFSS), installation
