Repository spacetelescope/jwst, pull requests merged in 2025-06, with the labels that each got.

#9512 coverage: omit config[-3].py files
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#9500 stfitsdiff bug in comparison of header keywords and comments
  jwst/regtest/st_fitsdiff.py
Labels: no-changelog-entry-needed, regression_testing

#9510 JP-3940: Change EMIcorr default algorithm
  changes/9510.emicorr.rst
  docs/jwst/emicorr/arguments.rst
  jwst/emicorr/emicorr_step.py
Labels: documentation

#9509 JP-3765: Add regression tests for likelihood algorithm
  jwst/regtest/test_nircam_image.py
  jwst/regtest/test_niriss_image.py
Labels: NIRISS, NIRCAM, no-changelog-entry-needed, regression_testing

#9518 Ignore WCS computation warning in regtest
  jwst/regtest/test_miri_mrs_spec2.py
Labels: MIRI, spec2 pipeline, no-changelog-entry-needed, regression_testing

#9525 Catch divide by zero warning
  jwst/source_catalog/source_catalog.py
Labels: source catalog, no-changelog-entry-needed

#9529 Backport PR #9501 on branch release/1.18.x (JP-3116: Use duplication checking to prevent undesirable associations in DMS operations)
  changes/9501.associations.rst
  jwst/associations/generator/generate_per_candidate.py
Labels: associations, no-changelog-entry-needed, regression_testing

#9528 Backport PR #9507: JP-4021: Fix a bug where insufficient valid background pixels case was not caught for WFSS background step
  changes/9507.background.rst
  jwst/background/background_sub_wfss.py
  jwst/background/tests/test_background_wfss.py
Labels: background, testing, Wide Field Slitless Spec (WFSS), no-changelog-entry-needed

#9517 JP-3707: Expose options to disable var and context computation in resample
  changes/9517.resample.rst
  docs/jwst/resample/arguments.rst
  jwst/resample/resample.py
  jwst/resample/resample_step.py
  jwst/resample/tests/test_resample_step.py
Labels: resample, testing, documentation

#9523 JP-3825: Implement background subtraction from reference file for NIS_SOSS
  changes/9523.background.rst
  docs/jwst/background_step/arguments.rst
  docs/jwst/background_step/description.rst
  jwst/background/background_step.py
  jwst/background/background_sub_soss.py
  jwst/background/tests/test_background_soss.py
  jwst/pipeline/calwebb_spec2.py
  jwst/regtest/test_niriss_soss.py
Labels: background, pipeline, NIRISS, testing, spec2 pipeline, documentation, installation, regression_testing

#9522 JP-4024: Set negative NIRSpec flat fields to NaN and DNU
  changes/9522.flatfield.rst
  jwst/flatfield/flat_field.py
Labels: flatfield

#9545 Fix importing fixtures across subfolders
  .github/workflows/ci.yml
  jwst/combine_1d/tests/test_combine1d.py
  jwst/datamodels/utils/tests/__init__.py
  jwst/datamodels/utils/tests/test_wfss_multispec.py
  jwst/datamodels/utils/tests/wfss_helpers.py
  jwst/extract_1d/tests/conftest.py
  jwst/pipeline/tests/test_calwebb_spec3.py
Labels: combine_1d, extract_1d, pipeline, datamodels, testing, spec3 pipeline, Wide Field Slitless Spec (WFSS), no-changelog-entry-needed, automation

#9531 Add unit tests for the ipc package
  jwst/ipc/tests/test_ipc_corr.py
  jwst/ipc/tests/test_x_irs2.py
Labels: ipc, testing, no-changelog-entry-needed, tests

#9565 remove description of non-working logging configuration
  changes/9565.docs.rst
  docs/jwst/stpipe/user_logging.rst
Labels: documentation

#9560 Move AMI pointing info out of .ami and into .guidestar
  changes/9560.ami.rst
  jwst/ami/oifits.py
  jwst/ami/tests/conftest.py
  jwst/ami/tests/test_ami_analyze.py
Labels: ami, testing, installation

#9563 JP-3898: Move pub server deprecation to historical footnote
  docs/index.rst
  docs/jwst/user_documentation/pub_deprecation.rst
  docs/jwst/user_documentation/reference_files_crds.rst
Labels: documentation, no-changelog-entry-needed

#9573 Revert to FITSDiff for regtest comparisons
  jwst/regtest/st_fitsdiff.py
  jwst/scripts/stfitsdiff.py
Labels: no-changelog-entry-needed, regression_testing

#9569 JP-3861: IPC style updates
  .pre-commit-config.yaml
  .ruff.toml
  changes/9569.general.rst
  jwst/ipc/__init__.py
  jwst/ipc/ipc_corr.py
  jwst/ipc/ipc_step.py
  jwst/ipc/tests/test_ipc_corr.py
  jwst/ipc/tests/test_x_irs2.py
  jwst/ipc/x_irs2.py
Labels: ipc, testing

#9567 Consolidate group_id creation and use read_metadata to make group_id in ModelLibrary
  jwst/datamodels/container.py
  jwst/datamodels/library.py
  jwst/datamodels/tests/test_library.py
  jwst/datamodels/utils/__init__.py
  jwst/datamodels/utils/group_id.py
  jwst/extract_1d/extract.py
  jwst/extract_1d/tests/conftest.py
Labels: extract_1d, datamodels, testing, no-changelog-entry-needed

#9582 Temporary python upper pin to avoid logging failures
  .github/workflows/ci.yml
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, automation

#9595 add upper pin to drizzle
  pyproject.toml
Labels: installation, no-changelog-entry-needed
